[2022-08-26 16:32] anjakefala commented on #1494
Oh wow, this is tricky.

 How do you tell the difference between a full filename with `.` and [multiple suffixes](https://github.com/saulpw/visidata/pull/1493/commits/6d26df4a601fe2e3fb62b95fcadb4e59300cdff0)?

[2022-08-26 19:15] geekscrapy commented on #1494
How do you determine which sheet type to open it as? If you have a file named abc.123.csv, it is always opened with the CSV sheet right? So the same sort of logic could be applied?

[2022-08-28 16:54] frosencrantz opened #1497 "[alt-shift- ] The open-memos keyboard shortcut doesn't work"
**Small description**
The open-memos keyboard shortcut doesn't work

**Expected result**
The open-memos keyboard shortcut would open the memo sheet.

**Actual result with screenshot**
https://asciinema.org/a/iFDKQSKcR6Sn9XTPsRCb3hb2f

**Steps to reproduce with sample data and a .vd**

`vd` then press `Alt+Shift+M`  VisiData is calling it `Alt+Shift+M`, while the shortcut is called `Alt+M`

**Addit

[2022-08-28 21:55] anjakefala commented on #1497
Nice find! `Alt+Shift+<keystroke>` not working as expected is the bug. `open-memos` is our only one in this category for now.

[2022-08-28 22:14] anjakefala commented on #1497
The culprit is `vd.prettykeys`. Essentially, this line https://github.com/saulpw/visidata/blob/03a2325902e9c905ee2873b692028930462550f5/visidata/keys.py#L77 results in the ignoring of `Shift+` in a `Shift+<keystroke` for `Alt+` and `Ctrl+`. What is left to decide is whether to support `Alt+Shift+`. If we do, then that is where I change the code.

(@saulpw)

[2022-08-28 23:24] #1497 closed, assigned to nobody

[2022-08-28 23:52] anjakefala commented on #1497
Thanks @frosencrantz! =) We fixed this just in time for `v2.10`.

[2022-08-31 01:38] ryanprior opened #1499 "Test fails in Guix build: file missing from distribution tarball?"
**Steps to reproduce**
1. Check out my [updated Visidata 2.10 package for Guix](https://github.com/ryanprior/guix/blob/update-guix-2.10/gnu/packages/spreadsheet.scm#L86-L119)
2. Run `pre-inst-env guix build visidata`

**Expected result**
Package build should complete with no errors.

**Actual result with screenshot**
During the test phase, pytest errors out complaining that it can't find a necessa

[2022-08-31 01:55] saulpw commented on #1457
Hi @joe-opensrc, I believe this is implemented more or less how you wanted.  Let me know if this works for you!

[2022-08-31 04:12] saulpw commented on #1494
Thanks for the report, @geekscrapy!  I agree with you, and I've added some tests to make sure `.foo` `foo.` and `foo` also work as expected (name is entire filename, there is no suffix indicating filetype).

[2022-08-31 04:12] #1494 closed, assigned to nobody

[2022-08-31 04:20] saulpw commented on #1324
Thanks for the suggestion, @rduivenvoorde, I think this would be really neat!  It doesn't sound too difficult, and @frosencrantz is right, it's perfect for a plugin.  I don't have time myself to make it happen, but if you start to pull it together and need guidance, stop by the IRC or Discord chat and we'll help you out!

Kondo'ing this for now.

[2022-08-31 04:20] #1324 closed, assigned to nobody

[2022-09-01 00:48] LiamKearn opened #1866 "brew formula for vdsql"
As the title says, I'd guess we can't use `saulpw/homebrew-vd` since thats a different org/user on github.

[2022-09-01 02:48] anjakefala commented on #1866
`saulpw` is the creator / main maintainor of `visidata`! Brews for the plugins is a very interesting idea.

Also, @saulpw maybe https://github.com/saulpw/homebrew-vd should move to be underneath the `visidata` org?

[2022-09-01 03:19] LiamKearn commented on #1866
Yup I figured based on commits! I was commenting along the lines of it might not be a good idea to host this orgs plugins on @saulpw's personal tap since that might confuse people looking for src.

`visidata` org?

Agreed here, If this was done it's probably a wise idea to look into homebrew to see if it supports aliasing a tap prior since we don't want to cut off people using `saulpw/homebrew-vd`

[2022-09-01 03:22] LiamKearn commented on #1866
While we're discussing brew would we open to adding a HEAD to vd formulae? (build from head).

[2022-09-01 03:28] anjakefala commented on #1866
I had no idea this was a thing! Of course! Either open a PR or open an issue in that repo. I will be updating the tap soon for VisiData v2.10, and can incorporate that in then.

[2022-09-01 03:29] saulpw commented on #1866
The repo has already been moved; github maintains a redirect for it.  saulpw/visidata should be the only VisiData repo that's hasn't been moved already.

And yes, let's add a brew tap for vdsql!  Feel free to submit and/or review a PR on the existing repo, and we'll merge it once it seems to work.

[2022-09-01 03:30] LiamKearn commented on #1866
Awesome, I'll have a look after work, no promises haven't worked with python env stuff in a hot minute. Thanks!

[2022-09-01 05:43] anjakefala commented on #1866
@LiamKearn If you decide not to work on it, even if you open an issue in `homebrew-vd` that would be helpful!

[2022-09-03 16:05] frosencrantz commented on #1497
Thanks @anjakefala!  I tried to quickly report the problem so it could be fixed before for 2.10, glad it helped.

[2022-09-05 17:40] anjakefala commented on #1499
This is due to this line: https://github.com/saulpw/visidata/blob/9c0922d083768fbc52bf97d21124f84421b46506/visidata/tests/test_commands.py#L117 in the tests!

On top of packaging it, I want to adjust how it is located. That relative path is a bit spicy. It might make sense to put a sample data file for `visidata.tests` in `visidata/tests` itself.

[2022-09-06 07:07] daviewales opened #1507 "Date comparison gives wrong result from custom date"
**Small description**

I have a sample CSV file (attached) with dates in `%d%m%Y` format (`31012022`).
I converted these to proper dates using `z@`.
Then I tried to find all the dates after July 2021, using the following:

`=date(2021, 7, 1) <= dates`

However, this gives me the _opposite_ boolean values to what I was expecting!

|dates       |date\(2021, 7, 1\) <= dates|
|------------|-----------

[2022-09-07 15:33] anjakefala commented on #1499
From @ryanprior :

    FileNotFoundError: [Errno 2] No such file or directory: 'tests/jetsam.csv'

[2022-09-07 19:39] jakemayfield opened #1512 "Open path or URL in a cell?"
Is there a hotkey or command I can run to quickly open up a path or url that is the value in a cell in VisiData? Thanks!

[2022-09-07 20:57] anjakefala commented on #1512
In v2.10, a `Links` Sheet was added to the html loader: https://github.com/saulpw/visidata/discussions/1424#discussioncomment-3292976

Files linked to could be loaded in VisiData with `Enter`.

This does not generally exist for other loader types, so it would be a feature request. I think the current process if `zY` (copy to clipboard), then `o` and `Ctrl+V`.

There is a "memo" command which allow

[2022-09-07 22:17] saulpw commented on #1512
@jakemayfield I have a `z Ctrl+O` in my own visidatarc that launches an external web-browser on the link in the cell, but haven't had need myself yet for the functionality you're asking about.  I think @anjakefala is on the right track, though I would use `zy` to copy into the local VisiData clipboard, and then `Ctrl+Y` to paste that into the `o` input line.  `zyo Ctrl+Y Enter` is a bit of a handf

[2022-09-07 23:44] anjakefala commented on #1512
Oh, clever! This can be macro'd!

**Edit**: Nevermind, it cannot be macro'd. `Ctrl+Y` does not work with macro-ing. It saved my input in the macro.

Press `m`, then do `zyo Ctrl+Y Enter` and then press `m` again. Assign this command to the keystroke of your choice (you can use e.g. `1`, `2`, etc). Then you can use that keystroke to open the url as a sheet in VisiData. This is using VisiData's inte

[2022-09-07 23:50] anjakefala opened #1513 "[v2.10 develop] Fix `macro-record` and `repeat-`"
Pressing `m` (`macro-record`) results in the following exception:

[code]

This is due to the switch from `CommandLog` to `CommandLogJsonl` for our default cmdlog.

Macros (and perhaps other features) are decorated with `CommandLog.api`. `CommandLogJsonl` and `CommandLog` are not actually related in inheritance, so functions marked with `CommandLog.api` will not be usable by `CommandLogJsonl`.

In

[2022-09-08 04:49] #1512 closed, assigned to nobody

[2022-09-08 04:52] anjakefala commented on #1512
I ended up adding `zo` which does what you asked for! Should be part of the next release. =)

[2022-09-08 06:36] geekscrapy commented on #804
Hey @saulpw , I just attempted to do a `freeze-col` and it doesn't look like `color_working` is working (🫢). I see the following (`vd --config=/dev/null`)

![image](https://user-images.githubusercontent.com/11225502/189051623-5f5d981a-e4b2-412c-8af9-46d11ed5be33.png)

[2022-09-09 05:07] saulpw commented on #804
Thanks for the note, @geekscrapy!  Should be fixed now (again).

[2022-09-09 06:12] daviewales commented on #1431
This issue is because [tempfile.NamedTemporaryFile](https://docs.python.org/3/library/tempfile.html#tempfile.NamedTemporaryFile) creates _and opens_ the temporary file.
Windows refuses to read or open a file which is already open in another process.

The relevant code is here:
https://github.com/saulpw/visidata/blob/388035c36b8e1dee470323c6775ed95d6783956e/visidata/clipboard.py#L44

[code]

To mak

[2022-09-09 11:59] daviewales commented on #1431
I've got something working on Windows. However, I've had a [Chesterton's Fence](https://en.wikipedia.org/wiki/Wikipedia:Chesterton's_fence) style thought.
What if we just pipe the value directly into `stdin`, without writing to a file at all?
Is there a particular reason why we need to write to a temporary file?

Thoughts @anjakefala @saulpw?

[2022-09-10 02:26] saulpw commented on #1431
I believe there was a reason why it has to be written to a tempfile, but I don't recall why; it may have been because I didn't understand the semantics of NamedTemporaryFile :)  We can certainly try it and see if it seems to work.  Can you submit a PR?

[2022-09-10 04:34] saulpw commented on #1507
Thanks @daviewales !  This was a typo/cut-n-paste error in the date class itself, that literally only affected `<=` (seemingly, anyway).  Sorry for getting it wrong.

[2022-09-10 05:00] daviewales commented on #1431
Will do. Juggling two children under 3, but a PR is definitely coming!

[2022-09-10 06:23] saulpw commented on #1471
Hey @reagle, I made a `pw22_noload_on_push` branch with a fix that might work for your case.  Would you mind testing it out?

[2022-09-10 10:58] daviewales commented on #1507
Thank you @saulpw! Don't apologise!

[2022-09-10 13:09] daviewales commented on #1431
There are two clipboard functions, one for copying individual values, and one for copying selected rows.
I've fixed both to work on Windows.

For syscopyValues, you can choose from #1518, which reuses the open file rather than re-opening an already open file, or #1519, which writes directly to the clipboard copy command stdin, without using a file at all.

For syscopyCells, I couldn't use either o

[2022-09-10 14:04] geekscrapy commented on #1431
FWIW When things / solutions settle, let me know and I'll give it a spin on Mac if you haven't already 👍

[2022-09-10 20:45] daviewales commented on #1431
Thanks @geekscrapy. I've tested both PRs on Mac, but more tests and eyeballs are appreciated. I'm not planning to make any more changes for now.

[2022-09-11 23:37] #1491 closed, assigned to nobody

[2022-09-11 23:52] #1499 closed, assigned to anjakefala

[2022-09-12 00:55] ryanprior commented on #1499
All working now, thank you @anjakefala 🙏🏻

[2022-09-12 04:18] #1513 closed, assigned to nobody

[2022-09-12 15:28] reagle commented on #1471
I don't see it on github, maybe I'm not looking in the right place?

https://github.com/saulpw/visidata/branches/active

[2022-09-12 15:43] anjakefala commented on #1471
@reagle, it was just pushed!

[2022-09-12 15:56] reagle commented on #1471
Am I suppose to configure something? Do I have to install first? When I run vd from bin/vd on test files, they aren't getting shortcuts.

    ❯ bin/vd tests/xlsx*.vd
     ~/tmp/visidata  pw22_noload_on_push

![SCR-20220912-gjk](https://user-images.githubusercontent.com/596814/189700355-a3434bda-dd2c-4dc7-a7de-58c6a239096b.png)

[2022-09-12 16:14] anjakefala commented on #1471
Yes, you would need to ensure the VisiData code being imported is from the branch.

Did you originally install VisiData with `pip`? If so, it is quite simple.

`pip3 install git+https://github.com/saulpw/visidata.git@pw22_noload_on_push`

or

[code]

^ This would result in your VisiData installation shifting to whatever is on the branch you have checked out.

You can also try `export PYTHONPATH=/t

[2022-09-13 09:25] joe-opensrc commented on #1457
Hi @saulpw,

excellent, thank you!
...and apologies for not getting back sooner.

I tested branch `v.2.10dev` (via `pip install -U git+file ...`) and it worked as intended :)

I just updated to `tag:v2.10` though, and I have a suspicion that the `array_base` setting might have now disappeared from the repo?

[2022-09-13 18:19] anjakefala commented on #1457
Re-opened to investigate this! Thanks for letting us know.

[2022-09-14 00:27] anjakefala commented on #1457
@joe-opensrc Was `array_base` part of `v2.10dev`? I cannot find it ever existing! It may have been missed.

[2022-09-14 00:29] anjakefala commented on #1457
I can add it if it was missing. It is just important to clarify if it was forgotten, or kept out/removed for a reason. =)

[2022-09-14 07:57] joe-opensrc commented on #1457
@anjakefala Thanks for looking; a bit confused here also :D
Possibly it was missed?
The python-lib METADATA file contains: `Download-URL: https://github.com/saulpw/visidata/tarball/2.10dev`
So I must have installed from there at somepoint?

[2022-09-15 13:10] reagle commented on #1471
@anjakefala, thanks for the pip command. @saulpw, it is working as I expected. Thank you.

![SCR-20220915-cpa](https://user-images.githubusercontent.com/596814/190412082-fc4bf427-4964-4064-a66a-5038391e6ab4.png)

[2022-09-15 13:10] #1471 closed, assigned to nobody

[2022-09-15 22:37] frosencrantz opened #1527 "[DirSheet] `Enter` no longer opens a file from the DirSheet"
**Small description**
`Enter` no longer opens a file from the DirSheet

**Expected result**
`Enter` opens the file in the current row.

**Actual result with screenshot**
https://asciinema.org/a/Uqck07yZJFLhoTfqEkv3Rw7vQ

**Steps to reproduce with sample data and a .vd**

[code]
Hit enter on a row for a data file, it doesn't open the file, but does a `pyobj-row`

**Additional context**
Please inclu

[2022-09-16 00:18] anjakefala opened #1529 "Exception with `entry_points().get('visidata.plugins', [])` upon startup"
### Discussed in https://github.com/saulpw/visidata/discussions/1528

<div type='discussions-op-text'>

<sup>Originally posted by **jsdealy** September 15, 2022</sup>
I may be doing something stupid, but my attempts to install have continually just produced this:

[code]
I'm running Arch Linux.

Assistance would be greatly appreciated, thank you! </div>

[2022-09-16 00:20] anjakefala commented on #1529
@jsdealy What is your version of VisiData and your version of `importlib-metadata`?

[2022-09-16 00:23] anjakefala commented on #1529
While we debug, if you set

[code]

in a `~/.visidatarc` that block of code will not execute, and you should have a working VisiData.

[2022-09-16 00:28] anjakefala commented on #1529
I bet this is exactly what is going on: https://github.com/pypa/twine/issues/774#issuecomment-880348230

From the thread:

...     print(dist._path)
...     print('metadata length', len(dist.metadata()))

[2022-09-16 00:28] jdttt commented on #1529
Visidata version: 2.10.1-1
`importlib-metadata` version: 4.8.3

[2022-09-16 00:29] anjakefala commented on #1529
@jsdealy, would you mind investigating and reporting back?

@saulpw I propose we monitor for this exception, not autoload plugins if it comes out, and print out a helpful warning.

[2022-09-16 00:34] jdttt commented on #1529
Here's what that produced:

[code]

[2022-09-16 00:37] anjakefala commented on #1529
This person is also encountering that: https://github.com/pypa/twine/issues/774#issuecomment-886657451

I cannot reproduce that error, I bet it has to do with versions of `importlib_metadata`... I am not quite sure how to do this post-Python 3.10.

[2022-09-16 00:42] jdttt commented on #1529
Removing `/usr/lib/python3.10/site-packages/protobuf-4.21.5-py3.10-linux-x86_64.egg/EGG-INFO` and reinstalling visidata has me up and running.

Thank you for such quick and useful assistance. Hope that this is useful in preventing similar hiccups for others.

[2022-09-16 00:46] #1529 closed, assigned to anjakefala

[2022-09-16 00:47] anjakefala commented on #1529
@jsdealy What was the magic to identify the problematic package?

[2022-09-16 00:52] jdttt commented on #1529
I just followed the instructions you gave (or that the person you quoted gave) for using python to search my importlib-metadata distributions for one with name `None`. Only one path was identified, and I axed it.

[2022-09-16 01:01] saulpw commented on #1529
I agree, please tag this issue in an inline comment.

[2022-09-16 05:12] saulpw commented on #1527
Thanks @frosencrantz, nice catch.  We'll issue another patch release shortly.

[2022-09-16 05:12] #1527 closed, assigned to nobody

[2022-09-17 17:12] frosencrantz commented on #1527
Thanks @saulpw, works great now.

I found this bug partly because of another commit https://github.com/saulpw/visidata/commit/3fb5bc746d95a13989a08559e362c4b845f672a6  has changed the default sheet that comes up when multiple inputs are provide on the command line.   I'll follow up on the original request https://github.com/saulpw/visidata/issues/1471

[2022-09-17 17:38] frosencrantz commented on #1471
@saulpw and @anjakefala I think this last commit https://github.com/saulpw/visidata/commit/3fb5bc746d95a13989a08559e362c4b845f672a6 has changed the default sheet that comes up when multiple inputs are provide on the command line.  It was a recent change, I haven't confirmed it was this commit, but this looks like it is it.

I have a tool that save data in a directory, and then starts VisiData with

[2022-09-17 17:57] saulpw commented on #1471
Yes, the first file on the CLI should be shown as the top sheet.  We'll restore the previous behavior soon.

[2022-09-17 22:42] saulpw commented on #1471
Should be fixed now, @frosencrantz.

[2022-09-18 04:00] #1431 closed, assigned to daviewales

[2022-09-18 07:08] saulpw commented on #1452
Thanks for the report, @frosencrantz.  Should be fixed now.

[2022-09-18 07:08] #1452 closed, assigned to nobody

[2022-09-18 07:25] #1507 closed, assigned to nobody

[2022-09-18 07:28] saulpw commented on #1457
There is `options.incr_base` but it is used for the incr commands, and not for this.  We opted for going with the fmtstrs as per the original wish.  No `options.array_base` exists.

[2022-09-18 07:28] #1457 closed, assigned to anjakefala

[2022-09-18 16:52] frosencrantz commented on #1471
Thanks for the quick response, @saulpw!

[2022-09-20 14:54] WizzardUU opened #1532 "Possible Memory Leak"
I noticed some odd behavior and am wondering if anyone else can recreate this (maybe on other distros):

Memory usage increases with time, without any interaction. It seems not related to data as having only a directory listing loaded (vd) and having several tsv files loaded (vd a.tsv b.tsv c.tsv) had the same increase rate of about 1 MB per 80 to 120 seconds. One time I could let it rise to 3 GB.

[2022-09-21 07:01] spren9er opened #1534 "Open files and listing subdirectories via `vds3` plugin not working anymore"
**Small description**

When using visidata with S3 via `vds3` plugin, `Enter` command is not listing subdirectories or opening a file anymore. Instead, it shows a metadata overview (`name`, `type`, `size`, `modtime`) of current subdirectory or file. This only happens with visidata version 2.10.1. In previous versions it worked fine.

**Expected result**

- Opening a S3 directory should display con

[2022-09-23 01:17] tekumara opened #1536 "Show current row number on status line"
It would be nice to be able to show the current row number on the status line, to quickly figure out where in a sheet one is.
That is, if it's not already possible.

[2022-09-23 01:27] tekumara opened #1537 "Bookmarks"
When navigating around a large file I'd like to be able to set bookmarks on rows so I can easily return to them.

[2022-09-23 01:27] saulpw commented on #1536
Hi @tekumara, try adding this to your visidatarc:

    options.disp_rstatus_fmt += '  {sheet.cursorRowIndex}/{sheet.nRows}'

You can, of course, configure this to include any information about the sheet that's available.

[2022-09-23 01:27] #1536 closed, assigned to nobody

[2022-09-23 01:45] saulpw commented on #1537
Thanks for the suggestion, @tekumara!  I'd like this too.

[2022-09-23 02:54] saulpw commented on #1534
Hi @spren9er, thanks for bringing it to our attention.  We'll fix it soon.

[2022-09-23 02:58] ajkerrigan commented on #1534
Thanks for the report here, I'm going to track it separately since it's most likely something funky I did that's just coming to light now.

[2022-09-23 03:40] ajkerrigan commented on #1534
There's an update [here](https://github.com/ajkerrigan/visidata-plugins/blob/b0ad8c0865acbac6c2b986d6d5488f61476f829b/plugins/vds3.py) which I believe will work around this issue. There are some updates in the area of packaging coming separately, but this seemed worth a hotfix. Let me know if it gets you back up and running or if you continue to have trouble. Thanks!

Note: For the moment, updatin

[2022-09-26 06:04] spren9er commented on #1534
Great, above fix works on my machine!
Thanks!

[2022-09-26 06:04] #1534 closed, assigned to nobody

[2022-09-26 06:20] geekscrapy opened #1540 "[zo] Give feedback when a file or URL is not found in the cell value"
New users (and me when I have a few z related `open-cell-XYZ` commands 🙃) may get confused at the purpose of `zo`, when it is usually `zENTER` they want.

I propose the change, whereby a status is given to the user to tell them that a `file` or `URL` wasn't found (and therefore nothing happens). Also maybe suggest they want `zENTER`?

[2022-09-27 08:49] geekscrapy opened #1541 "[freq-sheet] Ability to add an aggregator column to the freq-sheet without regenerating"
I often have a situation where I generate a freq sheet, start working with the data and realise I want another aggregated field. This feature would allow me to add a new aggregated column to the freq sheet without navigating away from the already edited, sorted etc. freq-sheet.

[2022-09-29 14:03] geekscrapy opened #1544 "[v2.11dev] incorrect column widths when binary data is used"
**Small description**

When using the following command to expand base64 data, some binary data causes misaligned column boundaries.

**Expected result**
For the column boundaries to line up. Previously this was the case

**Actual result with screenshot**
![image](https://user-images.githubusercontent.com/11225502/193052380-116ca854-fd95-4a16-959a-f5c5b5b9566c.png)

**Steps to reproduce with sampl

[2022-09-30 23:07] saulpw commented on #1532
Thanks for filing this issue, @WizzardUU.  VisiData shouldn't be doing anything in its idle state, and definitely shouldn't be using increasing memory during that time.

[2022-10-01 05:06] saulpw commented on #1532
So, there might still be a memory leak which we should look into, but the above change should stop it from doing anything at all when idling.  This hopefully stems the memory leak too.

[2022-10-01 05:07] saulpw commented on #1541
Here you go, @geekscrapy, with `addcol-aggr`.

[2022-10-01 05:07] #1541 closed, assigned to nobody

[2022-10-01 05:23] geekscrapy commented on #1541
Wow, thanks @saulpw

[2022-10-01 17:15] frosencrantz opened #1546 "[input paste] Stack trace pasting via Ctrl+Y a Path into input"
**Small description**
Stack trace pasting via Ctrl+Y a Path into input

**Expected result**
Path is inserted into the input

**Actual result with screenshot**
https://asciinema.org/a/BgHT9ekrhojlwRuRhCV1qQLK7

[code]

**Steps to reproduce with sample data and a .vd**
Open a file: `vd benchmark.csv`
Then: `Shift+S` `c` `source` `zy`  `o` `Ctrl-Y`

- Goto SheetsSheet
- goto source column
-  and yank

[2022-10-02 22:44] frosencrantz opened #1547 "[sqlite] `SqliteIndexSheet` is not `precious`"
**Small description**
`SqliteIndexSheet` is not `precious`

**Expected result**
`SqliteIndexSheet` is  `precious` and it will show up in the `sheets-all` `SheetsSheet`

**Actual result with screenshot**
When I `q` from a `SqliteIndexSheet`
https://asciinema.org/a/FhCoHauY6qBOqW7JfUJglekLP

**Steps to reproduce with sample data and a .vd**
[code]
`q` from page SqliteIndexSheet, then `gS` to get `sh

[2022-10-03 01:36] dancromartie commented on #1384
Actually, much later, I've realized you can achieve this with something like:

[code]
assuming `melt_session.vd` is a saved session where you ran a melt command.

[2022-10-03 01:37] #1384 closed, assigned to nobody

[2022-10-03 02:36] saulpw commented on #1384
Wow, sorry we never responded to this, @dancromartie!  That May was a really busy month and I guess it just got lost.  But I've definitely been thinking about it, because it was part of the inspiration for the new `.vdx` format, which is just a list of commands (and their inputs, if they have any).  Saving and replaying `.vdx` works already, but it should be very straightforward to add a CLI optio

[2022-10-03 06:15] rbratslaver opened #1549 "Does there exist a Slack community?"
Hi - thanks for creating this awesome tool. I was wondering if you'd consider starting a Slack community where VisiData  users could share tips and learn together.

Thanks,
Roman

[2022-10-03 06:37] saulpw commented on #1549
Hi @rbratslaver!   There is a Discord you can join at [visidata.org/chat](https://visidata.org/chat).

[2022-10-03 13:33] dancromartie commented on #1384
No worries at all! I was doing my intro dive into Visidata back then, and it was more of a question rather than a legitimate pain point. Yesterday, getting back into it, I was wondering if I could script the making of frequency tables, or sorting a CSV, or deleting one column, without using `pandas` (just a for-fun comparison). I had thought about trying the `xsv` tool by burntsushi, but then I th

[2022-10-03 15:01] saulpw commented on #1384
Yes, it's very new, not even released yet, so you'd have to install from the `develop` branch on github.  Or you can wait for the next release :)

[2022-10-03 15:52] #1549 closed, assigned to nobody

[2022-10-03 18:55] dancromartie commented on #1384
Ok, I'll keep an eye out for upcoming releases - thank you! (Btw, really enjoying Visidata lately! Makes my work much easier)

[2022-10-05 02:07] jkerhin opened #1550 "Crash with importlib-metadata > 5.0 ('EntryPoints' object has no attribute 'get')"
**Small description**
Visidata is using the `.get()` method on the output of `importlib.entry_points()`. According to the authors, the `.get()` method was deprecated functionality, removed in version 5.0.0 (latest version). Discussion thread: https://github.com/python/importlib_metadata/issues/409

The call that throws the error is this one: https://github.com/saulpw/visidata/blob/develop/visidata

[2022-10-05 02:29] jkerhin commented on #1550
Since I am not using any plugins, I can work around this in my local environment by just commenting out the block in `setup.py` that does the plugin loading.

I'm not at all familiar with `entrypoints-metadata`, and unfortunately am not able to identify a proper solution. It looks like the `EntryPoints` class can be iterated through, and each `EntryPoint` supports the `in` operator.

This _may_ wo

[2022-10-05 02:37] anjakefala commented on #1550
Oh, thank you so much @jkerhin for letting me know. =( `importlib-metadata` is more finicky than I would like.

The good news is that for future releases of VisiData, if anything goes wrong at any point with `importlib-metadata`, this feature will just get skipped instead of crashing. You can also do `options.plugins_autoload = False` in a ~/.visidatarc. It will do the same thing as commenting out

[2022-10-05 06:04] #1550 closed, assigned to nobody

[2022-10-05 06:04] anjakefala commented on #1550
This fix will be in the next patched release of VisiData. This gave us the nudge to push out the patch. Again, thanks so much for letting us know!

[2022-10-06 05:48] anjakefala commented on #1546
@saulpw has fixed this! =) Will be in the next patch release.

[2022-10-06 05:48] #1546 closed, assigned to nobody

[2022-10-06 05:50] anjakefala commented on #1547
This is now fixed on `develop`! It will be in the next patch release.

Thank you for all of the bug reports. =))

[2022-10-06 05:50] #1547 closed, assigned to nobody

[2022-10-06 17:42] datadavev opened #1552 "visidata fails to start with `importlib_metadata` >=5.0"
**Small description**
With current stable visidata, startup fails with error:
[code]

**Expected result**

App should start with a resource listing

**Additional context**
Pinning `importlib_metadata` to <5.0 provides an immediate fix. Longer term fix is to update `settings.py` around line 378.

[2022-10-06 17:51] anjakefala commented on #1552
Thanks for letting us know @datadavev! We have a fix ready for release soon: https://github.com/saulpw/visidata/issues/1550 That issue also contains some other workarounds that do not require you to fiddle with your environment.

If you would like a headstart on the fix, feel free to install the `develop` branch:

`pip3 install git+https://github.com/saulpw/visidata.git`

[2022-10-06 17:51] #1552 closed, assigned to nobody

[2022-10-06 17:55] geekscrapy opened #1553 "[mouse] Error: getmouse() returned ERR"
**Small description**
I get the following "bomb out" with no stacktrace (even with --debug) when "slinging" the trackpad mouse up or down.

**Expected result**
To not crash, or give a stacktrace

**Actual result with screenshot**
This just gets printed once returned to the cli: `Error: getmouse() returned ERR`

**Steps to reproduce with sample data and a .vd**
Open a file with more rows than can b

[2022-10-06 19:55] dat-linux opened #1554 "AttributeError: 'EntryPoints' object has no attribute 'get' - Ubuntu / pip installer with Python 3.10"
**Small description**
Trying to run the "vd" command

**Expected result**
The vd shell

**Actual result**
Traceback (most recent call last):
  File "/home/.cari/venv/visidata/2.10.1/bin/vd", line 6, in <module>
    visidata.main.vd_cli()
  File "/home/.cari/venv/visidata/2.10.1/lib/python3.10/site-packages/visidata/main.py", line 350, in vd_cli
    rc = main_vd()
  File "/home/.cari/venv/visidata/

[2022-10-06 20:27] frosencrantz opened #1555 "[sqlite] Selecting table from the CLI not working"
**Small description**
Selecting a sqlite table from the CLI is not working

**Expected result**
Go directly to a sqlite table from the CLI args.

**Actual result with screenshot**

https://asciinema.org/a/oizQ0C2Wmz8D9XOrUesiU69Sq

**Steps to reproduce with sample data and a .vd**

[code]

**Additional context**
Please include the version of VisiData. latest develop version

[2022-10-06 21:05] anjakefala commented on #1554
Thanks for letting us know! Check here for the workaround! https://github.com/saulpw/visidata/issues/1550

We will be releasing a patch release with the fix very soon. =)

[2022-10-06 21:05] #1554 closed, assigned to nobody

[2022-10-07 06:48] anjakefala commented on #1553
Hey @geekscrapy!

We are not quite sure what is going on, but we just made sure all of the `vd.parseMouse()` calls (the only function which calls `getmouse()`) were in `try`/`except` blocks. https://github.com/saulpw/visidata/commit/c4e2a43bf46278708f14b071e5175ed3ba372485

Could you pull `develop` and check it out?

[2022-10-07 07:56] geekscrapy commented on #1553
Yea it's very odd. It happens in both my terminals. Same bash -l session though

I'll test with a generic bash session and see if it's any env variables messing it up

~~Sorry forgot to say, yea this is in the current commit too~~

I'll try with the new commit

[2022-10-07 08:51] geekscrapy commented on #1553
OK, so, when using the latest commit (c4e2a43bf46278708f14b071e5175ed3ba372485) it works fine (no error, no stacktrace, its like the issue does not exist), but bc39516261516343aefe1bde9e5728fe5b76afd7 crashes for me.

Anything you want me to try to get the stacktrace?

[2022-10-08 06:16] #1555 closed, assigned to nobody

[2022-10-08 06:17] anjakefala commented on #1555
Thank you @frosencrantz! Just in time for the patch. I need to add an automatic test for that one. :grimacing: What a cursed feature. Do you use it?

[2022-10-08 17:24] zachvalenta opened #1557 "2.10.2 unavailable in PyPI"
<img width="1728" alt="Screen Shot 2022-10-08 at 1 21 43 PM" src="https://user-images.githubusercontent.com/11388735/194719825-b3e6cdeb-da92-4370-aa62-6e47cdf113a9.png">

I installed the dev branch of Visidata to get around [1550](https://github.com/saulpw/visidata/issues/1550).

[code]

When I saw [bugfix for 1500](https://github.com/saulpw/visidata/commit/39cbe730f28b42d6e80ace3ae24fc812c6f8a567

[2022-10-08 17:28] anjakefala commented on #1557
`v2.10.2` is not actually released, yet! The `stable` branch reflects the released version. `develop` is the in-development version.

We are planning to release [very soon](https://github.com/saulpw/visidata/pull/1551). =)

[2022-10-08 17:32] anjakefala commented on #1557
If you do not want to wait, you can always install from github!

`pip3 install git+https://github.com/saulpw/visidata.git` should do the trick.

[2022-10-08 17:36] zachvalenta commented on #1557
Gotcha, good to hear.

I just worked around by reinstalling from dev:
[code]

[2022-10-08 17:36] #1557 closed, assigned to nobody

[2022-10-08 17:56] anjakefala commented on #1550
VisiData v2.10.2 has been released with all of the fixes for this issue. =)

[2022-10-08 17:56] anjakefala commented on #1557
Aaaand, it is now in PyPi. =))

[2022-10-09 00:22] anjakefala commented on #1544
First of all, thanks for such a clear reproduction!

![Screenshot from 2022-10-08 17-14-01](https://user-images.githubusercontent.com/7489659/194731881-d3de9ed9-9348-41dd-a505-7973a3be31ce.png)

I could not reproduce it. =( If you can catch a commit where you are not seeing the mis-alignment, could you try `git bisect` to see if you can find an origin commit? This might be Mac specific.

[2022-10-09 00:23] anjakefala commented on #1553
We are okay with just having the silent failure! Thanks for the offer and for checking the fix. =)

[2022-10-09 00:23] #1553 closed, assigned to nobody

[2022-10-09 00:23] #1540 closed, assigned to nobody

[2022-10-09 02:08] geekscrapy commented on #1544
Hey, just looking at the data output, it seems like there is a mismatch in the way the data is displayed.

If we take a look at the first converted line (note the spaces):
Mine: `qfA•`
Yours: `qf A •`

Is this something to do with the bytes that vd considers printable?

[2022-10-09 15:04] dat-linux commented on #1554
That's fixed it on update, thanks.

[2022-10-09 18:28] frosencrantz commented on #1547
@anjakefala Thank you.  I was hitting this one a bit recently. I would go into a table, but not get back to the index sheet.

It made me think it would be useful if there was a **parent** command, that would take you to the parent of the data in the sheet you are viewing.  So for a file it would take you to the directory of the file, for a SQLite table it would take you to the index sheet. I don't

[2022-10-09 18:40] frosencrantz commented on #1555
@anjakefala that's why I rushed the bug report. I could see you were prepping.  Thanks for fixing it quickly! Especially for a non favorite feature of yours. I have been using it recently.  Simonw has these https://github.com/dogsheep utilities that are great at making SQLite databases, but they end up with a lot of tables, so it is useful to be able to jump into the ones of interest.

I'm always

[2022-10-09 18:44] frosencrantz commented on #1555
And thank you for doing all these recent releases, @anjakefala! :heart: Also, is has been great to see that the GitHub actions have been mostly green 💚 for a while now.

[2022-10-09 20:49] frosencrantz commented on #1553
Thanks for fixing this @anjakefala.   Thanks for reporting this @geekscrapy!
I was seeing this also, but wasn't quite sure what the cause was.  I'll report back if I see it again.

[2022-10-10 02:09] GiulioCentorame opened #1559 "Ignore comment lines on delimiter-separated files"
Hi there,
In the current version, visidata loads delimited files by including the comment lines at the beginning as the first column:
![Screenshot from 2022-10-10 12-03-56](https://user-images.githubusercontent.com/46871438/194790490-ce7e2bc7-fb6b-4ace-b6ef-fad016793d5e.png)

I think it would be useful to ignore those by default, as they are still relatively common in some delimiter-separated file

[2022-10-10 02:12] anjakefala commented on #1559
Yes!

You can use `--skip N` to denote how the *#N* rows of the file that you want skipped.

[2022-10-10 03:18] saulpw commented on #1559
@anjakefala That will only work if the number of lines at the start of the file is a fixed number.  I'm guessing @GiulioCentorame might have a variable number of lines, and I'm wondering if we couldn't provide a `skip_prefix` option or a `skip_regex' option..

[2022-10-10 03:44] anjakefala commented on #1559
That is not a bad idea!

[2022-10-10 04:02] geekscrapy commented on #1559
`skip-regex` sounds like a great idea!

I might also use it to prefilter certain rows from input 👍

Question though, how would this work for non-line separated rows like JSON or XML?

[2022-10-10 04:54] GiulioCentorame commented on #1559
Yes, that is the scenario I have encountered most commonly. The first few lines depend on the command that generated it, so the n of lines varies.

[2022-10-10 20:29] anjakefala commented on #1559
I think if I were to implement this, I would first try to implement it for **SequenceSheet**s: https://github.com/saulpw/visidata/blob/2cf8721ae10e46892fc7e385f68d953e084933d8/visidata/sheets.py#L935

**SequenceSheets** have rowtypes which are Python `iterators`, so I should be able to dip into `row[0]` for the `skip_regex`. It would not matter what the datasource is like.

**SequenceSheet** forma

[2022-10-10 21:48] saulpw commented on #1559
@anjakefala interesting idea.  I was thinking of putting it on `visidata.Path` when reading text files, so that it could apply to any text loader.

[2022-10-11 02:29] saulpw commented on #1547
Hi @frosencrantz, the 'parent' command is called `open-source` (we could certainly rename this to `open-parent` which might be a better name too).  This command is unbound, though I've toyed with the idea of binding it to `\`` (backtick), which is semantically similar to its usage in DarkDraw.  All derived sheets have a source/parent sheet; the source of a loaded data sheet is its Path, which is n

[2022-10-11 03:05] geekscrapy commented on #1559
I don't really, comment was more of a consideration

[2022-10-11 13:39] Rockgecko opened #1560 "Installing additional loader dependencies via Homebrew"
**Small description**
Unable to open a parquet file
Running in iTerm2 on MacOS Monterey 12.6
Visidata version: 2.8
(Python 3.10 installed using pyenv)
Command used:
`vd -f pandas test.parquet`

Tried also manually installing pandas using
`python -m pip install pandas`
and
`pip install pandas`
(both success with message `successfully installed pandas-1.5.0` but I still get the same error)

**Expect

[2022-10-11 14:56] anjakefala commented on #1560
@Rockgecko Did you install VisiData originally via Homebrew?

Ah! You did!

VisiData does not come preinstalled with every dependency for every format (then there would be too many installs). When you install VisiData via Homebrew, you have to ensure the dependency is installed in the appropriate Homebrew environmment. Let me grab the syntax.

[2022-10-11 14:59] anjakefala commented on #1560
`/opt/homebrew/Cellar/visidata/2.8/libexec/bin/pip3 install pandas`

[2022-10-11 15:10] Rockgecko commented on #1560
Yes, I did install with homebrew.
`brew install saulpw/vd/visidata`

Great, I've now installed pandas (and pyarrow) using your command and this is now working, thank you for the speedy response! Sorry if this is stated somewhere in the docs - I did try to search but could not see anything.

[2022-10-11 15:10] #1560 closed, assigned to nobody

[2022-10-11 15:33] anjakefala commented on #1560
@Rockgecko I will add it to https://github.com/visidata/homebrew-vd at least!

[2022-10-11 20:50] frosencrantz commented on #1559
There is a CSV module https://github.com/alan-turing-institute/CleverCSV that looks like it can handle these leading comments, and other issues with poorly formatted CSV.  It is supposed to be able to be a drop-in replacement for the builtin csv module.  Would it be useful to change the default CSV loader to be able to take an option that allows it to specify alternative modules?  I’ve been intere

[2022-10-11 21:58] saulpw commented on #1559
If it's truly a drop-in replacement, I wonder if you could add something to `.visidatarc` that does something like `import clevercsv as csv`, such that VisiData would just use it?  It might be as simple as that, or it might require a bit of extra code, but it should definitely be possible.

[2022-10-12 22:21] frosencrantz commented on #1559
I wasn't able to verify your suggestion to add the import to my .visidatarc file, I'll try when I have some time.
CleverCSV comes with a CLI tool that will read a bad CSV file and convert it to a good one, this tool doesn't remove leading comment lines.  I was wrong, I now think CleverCSV will not do this sort of clean up.

[2022-10-13 14:07] WizzardUU commented on #1532
Just wanted to confirm, that the change (v2.10.2) did work for me. Memory is stable, CPU load is down to Zero. Thanks.

[2022-10-13 15:37] #1532 closed, assigned to nobody

[2022-10-15 18:44] frosencrantz opened #1567 "[unzip-http] Extract to file traces."
**Small description**
Trying to extract a file from a zip file causes it to return a traceback

**Expected result**
File extracted from zip file.

**Actual result with screenshot**
[code]

https://asciinema.org/a/Jv7Iaw3VUE3WeyP48dkdXAQsv

**Steps to reproduce with sample data and a .vd**
Open remote zip file, try to extract file with 'x' command.  Other extract commands fail also.
[code]

I tried

[2022-10-15 18:53] frosencrantz opened #1568 "[sqlite/addcol-incr] addcol-incr column shows only null values in dup-selected sheet"
**Small description**
In a SQLite sheet, addcol-incr `i`, then select some rows, then `"` dup-select.  New sheet has the column but only with null values.

**Expected result**
The incr column would have the values from the original sheet.

**Actual result with screenshot**

https://asciinema.org/a/xIcI3lNiGpYtQGdlM765gOKFU

**Steps to reproduce with sample data and a .vd**

[code]
Then  `i` `,` `"

[2022-10-16 16:43] frosencrantz commented on #1547
Thanks for the reply @saulpw .  I wasn't aware of the `open-source` command.  That is very close to what I want.  It would have helped with this issue.  It helps with a common problem I have where I've filtered down a couple levels how to get back along my tracks to take a different path without quiting.

I still think there is a use for a a `parent` command for the database itself, or when openin

[2022-10-19 10:35] GiulioCentorame commented on #1559
Upon reflecting on it, I do not think that using a `skip_regex` flag would be of great use, as I could just almost universally `grep -v` the file and it would probably be reasonably quick even for a few MB. Personally, I would probably prefer a default behaviour editable with a flag (e.g., [R's read.table()](https://www.rdocumentation.org/packages/utils/versions/3.6.2/topics/read.table)) or just d

[2022-10-20 05:31] geekscrapy opened #1569 "[macros] General issues"
**Small description**
A couple of bugs I noted when looking at using macros:

- [x] `macro-record` record, is always recorded as the first command in the macro file. This means that if the macro is invoked, it starts capturing until stopped with `m` (at which point the user is asked to provide a command name).
- [x] Reload of `gm` sheet does not populate
- [x] [feature] Allow deletion of a macro v

[2022-10-21 03:55] farzadmf opened #1570 "Docs on how to customize colors in the user interface"
**Small description**

Hi, sorry, I don't have any steps to reproduce or something like that.

I'm looking for documentation on how to customize colors; I've seen things here and there, and I see a lot of links going to [docs/colors](https://www.visidata.org/docs/colors), but that page unfortunately seems to be the only page missing from the docs.

Can you please point me to where I can find docs

[2022-10-21 20:43] kunliugithub opened #1571 "v2.10.2 repeats part of filename suffix"
Create a file say a.diff.csv

In v2.10.2 of vd, open the directory the file resides in. I am seeing a.diff.diff.csv rather than a.diff.csv

[2022-10-22 20:26] frosencrantz commented on #1570
@farzadmf the colors are specified by the options, see https://www.visidata.org/docs/customize/

Also, these might help:
- https://github.com/saulpw/visidata/issues/290
- https://github.com/saulpw/visidata/discussions/1205
- https://github.com/saulpw/visidata/discussions/1093

[2022-10-24 06:33] anjakefala commented on #1571
This is a wild bug, @kunliugithub, thanks for the heads up!

This bug originated in v2.10.1. This is the commit it originated in: 3ffb5ea4c002bee1dc57f612209507f5d8a53a87.

[2022-10-24 06:44] anjakefala commented on #1571
The problem is that `.diff.csv` are considered "suffixes` *and* `a.diff` is considered the name. So when VisiData splices the name and the suffixes together, you get `a.diff` + `diff.csv`.

Not sure on what the best approach will end up being, but whatever it is should come with tests!

[2022-10-25 02:26] ivanmemruk opened #1572 "How do I show both date *and* time in a date column type"
**Small description**
I store a datetime column into a parquet file using pandas/pyarrow.

**Expected result**
Expect to see date _and_ time when viewing the file in vd.

**Actual result with screenshot**
<img width="124" alt="image" src="https://user-images.githubusercontent.com/1493188/197667373-84a73530-dede-4a5f-9431-6df784cbd859.png">

**Steps to reproduce with sample data and a .vd**
Note th

[2022-10-25 03:08] anjakefala commented on #1572
The **fmtstr** column on the Columns Sheet (`Shift+C`) allows you to specify the formatting for specific columns within that session, without affecting the default for the others. It uses the `strftime` formatting language: https://docs.python.org/3/library/datetime.html

The `--disp-date-fmt` argument can be passed through the commandline to set the formatting for all columns of type TYPE in that

[2022-10-25 20:50] dufferzafar commented on #692
@saulpw Have you thought about this recently? I would be up for implementing such a parent / child data viewer. For eg json etc.

[2022-10-26 23:14] edupont opened #1574 "Additional "describe" aggregators cause a `KeyError`"
**Small description**

The option to add custom aggregators, introduced by [[describe] add options.describe_aggrs #273 · saulpw/visidata@111a508](https://github.com/saulpw/visidata/commit/111a5086355d178a41c4f0e150f37c57f830f6c2), seems to have stopped working since then, causing a `KeyError`.

Reproduction steps use the example from the mentionned commit, but I had the same issue both with librar

[2022-10-27 01:55] midichef opened #1575 "terminal is corrupted when replaying a save that requires confirmation"
**Small description**
When replaying a save, with options.confirm_overwrite=True, if the saved file already exists, the save gets stuck waiting for keyboard confirmation, and the drawing on screen gets corrupted.

**Expected result**
The form to confirm the save will be shown, waiting for the user to confirm the save.

**Actual result with screenshot**
While the form waits for user input, the scre

[2022-10-27 02:57] midichef commented on #1575
On a different version of Ubuntu (22.04.1), with Python 3.10.6, and still Visidata 0.10.2, the behavior is different.
The terminal is not corrupted. But when a key pressed by the user in response to the form, the response varies. Sometimes the key is received by the form to confirm or disconfirm the save. Other times it is interpreted by visidata as a command: ```y``` ```(copy-row)``` or ```n``` `

[2022-10-27 10:44] lakaiii opened #1865 "bigquery - AttributeError: 'IbisTableIndexSheet' object has no attribute 'sheet_type'"
visidata v2.10.2

python 3.8.12

[code]
How to reproduce:

1. open `vdsql bigquery://bigquery-public-data`

2. select first dataset `america_health_rankings` by hitting "Enter"

second, third, fourth dataset also did not work for me
->

AttributeError: 'IbisTableIndexSheet' object has no attribute 'sheet_type'

[2022-10-27 17:25] anjakefala commented on #1865
I appreciate you filing an issue!

Could you paste the full stacktrace?

[2022-10-27 19:22] lakaiii commented on #1865
Of course, sorry I was not aware that I could access the stacktrace in Visidata. But of course it's possible. Great tool!

[code]

[2022-10-27 19:22] saulpw commented on #1865
Thanks @lakaiii !  Should be fixed now.

[2022-10-27 19:23] lakaiii commented on #1865
That was quick.

[2022-10-27 19:41] lakaiii commented on #1865
May not have fixed it - but I can wait ;-)

took the following steps:

 1. Installed vdsql from git to point at `vdsql @ git+https://github.com/visidata/vdsql.git@257336271b3e9b0fdefc3e32bd7b1cb296e2fc62`

2.    open vdsql bigquery://bigquery-public-data ##  (two slashes before the project name - is that OK? I saw three elswhere)

3.  select first dataset america_health_rankings by hitting "Enter"

[2022-10-27 22:51] midichef opened #1576 "[json] saving a file discards columns that contain only null values"
**Small description**
When I save a JSON file that has a column containing only null values, the column is lost.

**Expected result**
When I load this JSON file and save it, I expect the save process to preserve nulls_column.
[code]

**Actual result**
The saved file is instead:
[code]

**Steps to reproduce with sample data and a .vd**
Create a file "input.json" containing:
[code]

In the same dire

[2022-10-29 01:12] leeand00 opened #1577 "cmdlog does not record choices from menu"
**Small description**
Was inner joining a few sheets together and recording a cmdlog when I found that there was an issue playing them back.

**Expected result**
Expected that play back from the command log would play as usual, but it did not, it stopped with the error message...

sheets| no choice made | replay aborted during join-selected | merge selected sheets with visible columns from all, ke

[2022-11-01 01:17] anjakefala opened #1864 "Vdsql was unable to open a `.db` file"
[code]

Ibis 3.2.0

[2022-11-01 02:07] saulpw commented on #1864
Hm, this is very weird. What's up with the `--sqlite` option, though?  That shouldn't do anything..

[2022-11-04 21:42] pigmonkey opened #1583 "ZSH completion fails with invalid option definition"
I'm using v2.10.2 installed via the [latest Arch package](https://archlinux.org/packages/community/any/visidata/). Visidata shell completion in my ZSH is currently broken.

[code]

[2022-11-04 21:43] pigmonkey commented on #1583
Here is the shell completion file that was installed by the Arch package.

[code]

[2022-11-05 03:04] saulpw commented on #1583
Hi @pigmonkey, thanks for the report.  This feature was added in #1455.  @Freed-Wu, can you figure out what's going wrong, and fix it if needed?

[2022-11-05 12:09] adriafarres commented on #1583
@pigmonkey I ran into the same issue. A temporary workaround is to disable the completion until a new version is released:

[code]

[2022-11-05 12:40] Freed-Wu commented on #1583
Please wait <https://github.com/saulpw/visidata/pull/1584>

[2022-11-05 16:19] frosencrantz opened #1585 "Python 3.11 released add new github actions to test"
### Discussed in https://github.com/saulpw/visidata/discussions/1580

<div type='discussions-op-text'>

<sup>Originally posted by **frosencrantz** October 29, 2022</sup>
Python 3.11 has been released with speed improvements and builtin toml support: https://docs.python.org/3/whatsnew/3.11.html

- The github actions  need updating to use 3.11: https://github.com/saulpw/visidata/blob/develop/.github

[2022-11-05 16:20] frosencrantz opened #1586 "Update README to point to GitHub Actions status rather than CircleCI"
### Discussed in https://github.com/saulpw/visidata/discussions/1580

<div type='discussions-op-text'>

<sup>Originally posted by **frosencrantz** October 29, 2022</sup>

   - Also, should the top level README.md file point at the GitHub action rather than the circleci link?

[2022-11-05 16:22] frosencrantz opened #1587 "Python 3.11 released with builtin toml support."
### Discussed in https://github.com/saulpw/visidata/discussions/1580

<div type='discussions-op-text'>

<sup>Originally posted by **frosencrantz** October 29, 2022</sup>
Python 3.11 has been released with speed improvements and builtin toml support: https://docs.python.org/3/whatsnew/3.11.html

- Sounds like VisiData should add support for toml, too.
</div>

Since Python has builtin support for TO

[2022-11-05 16:31] frosencrantz opened #1863 "Possible issue with requirements"
### Discussed in https://github.com/saulpw/visidata/discussions/1579

<div type='discussions-op-text'>

<sup>Originally posted by **frosencrantz** October 29, 2022</sup>

I did try using `vdsql` but had a couple issues.

1. Installation caused me issues.  `pip install` got into some infinite loop that took a while to resolve.  This might just be my environment, but it did slow me down for a while.

[2022-11-05 16:31] frosencrantz opened #1862 "[limits] `z"` command changes the generated SQL unexpectedly"
### Discussed in https://github.com/saulpw/visidata/discussions/1579

<div type='discussions-op-text'>

<sup>Originally posted by **frosencrantz** October 29, 2022</sup>

Since discussions are not setup on https://github.com/visidata/vdsql, I take it they should happen here.
One big question I have is what library is converting between python and SQL functions?  That is brilliant!

I did try using

[2022-11-05 16:32] frosencrantz opened #1861 "Hiding a column that is referenced by a generated column causes stack trace."
### Discussed in https://github.com/saulpw/visidata/discussions/1579

<div type='discussions-op-text'>

<sup>Originally posted by **frosencrantz** October 29, 2022</sup>

Since discussions are not setup on https://github.com/visidata/vdsql, I take it they should happen here.
One big question I have is what library is converting between python and SQL functions?  That is brilliant!

I did try using

[2022-11-05 18:58] pigmonkey commented on #1583
Thanks. The change in #1584 does fix it for me.

[2022-11-05 23:54] #1583 closed, assigned to nobody

[2022-11-06 01:11] saulpw commented on #1574
Thanks for the report, @edupont!  Should be fixed now.

[2022-11-06 01:11] #1574 closed, assigned to nobody

[2022-11-07 13:31] LaPingvino commented on #1587
Visidata has a relatively low baseline Python version it still supports. It would take some time for 3.11 to be broadly adopted before this can be feasibly considered I think.

[2022-11-07 13:39] LaPingvino opened #1589 "Structured data to SQLite JSON fields"
As it is, when saving e.g. a jsonl file with structured contents in one of its fields to SQLite, it is saved the same way the interface shows the data. This is hard to work with. As SQLite has native JSON support, I think it's more useful to (add the - option to) save structured data fields as JSON.

[2022-11-07 22:48] ming-codes opened #1590 "Binding double keypress"
**Small description**

[code]

Attempt to bind double key presses doesn't seem to work. But this somehow works for the built in `gg` command?

**Expected result**

`dd` to cut row

[2022-11-08 02:56] saulpw commented on #1590
Hi @ming-codes, this is because `g` is a prefix whereas `d` is not.  You can add custom prefixes (to `vd.allPrefixes`) if you really want to do this, but it might have unexpected consequences.   (And you won't be able to do `cut-cell` with a single `d`; how could it know when you're pressing `d` if you want to `cut-cell` or if it should wait to see if you want to `cut-row` with `dd`?)

[2022-11-08 02:57] #1590 closed, assigned to nobody

[2022-11-08 06:31] #1585 closed, assigned to nobody

[2022-11-08 06:31] #1586 closed, assigned to nobody

[2022-11-08 06:31] anjakefala commented on #1586
Thank you for opening these!

[2022-11-10 15:04] icp1994 opened #1591 "Permission issue for system-wide installation via pypi source"
In the [visidata pypi source tarball](https://pypi.org/project/visidata/#files), the files under the egg-info folder have the following permission structure:
[code]
As these don't have read permissions for non-owner/group, when built and installed system-wide it yields a permission error for standard users (`pkg_resources` needs read access)
[code]
I checked some other packages and their egg-info

[2022-11-10 15:18] icp1994 commented on #1591
Relevant I suppose: https://github.com/scrapy/scrapy/issues/377

[2022-11-10 20:37] iainelder opened #1592 "How do I import a custom module?"
**Small description**

I have in my working folder a file called stackstatus.py. I can import the module when I run the Python interpreter in my virtual environment by running `import stackstatus`.

I can't import `stackstatus` when running Visidata in the same virtual environment.

**Expected result**

I expect to be able to do the same in Visidata, but I can't get it to work.

I type `g^X` as do

[2022-11-10 20:59] anjakefala commented on #1592
Hi @iainelder!

I would recommend adding the Python module's contents to a `~/.visidatarc`. That will then get imported into the VisiData session everytime you run VisiData, by default.

[2022-11-10 21:24] anjakefala commented on #1592
Also, is your PYTHONPATH set to include the location with `mymodule.py`? You could try `export PYTHONPATH=/location/to/module.py:$PYTHONPATH`, and seeing if that allows you to import it in VisiData with `gCtrl+X`.

[2022-11-10 21:57] saulpw commented on #1592
Yes, @anjakefala is right, if you add `import stackstatus` to your `.visidatarc` it should import the same as in any Python REPL.

[2022-11-10 22:15] iainelder commented on #1592
Thanks for the suggestions. I got it working with the PYTHONPATH environment variable.

I use Poetry to manage my virtual environment.

When I start Visidata like this, I get the error I reported.

[code]

When I start Visidata like this, I set the PYTHONPATH to include the working folder in the module search path. This works!

[code]

I tried setting `import stackstatus` in a file called `~/.visi

[2022-11-10 22:42] saulpw commented on #1592
If you do `poetry run python -c 'import stackstatus'`, does that work?  VisiData is just calling `exec()` on `.visidatarc` so it should work the same.

[2022-11-10 22:44] iainelder commented on #1592
It appears to work with `python -c` as well. The command has no output and Bash shows error code 0.

[code]

[2022-11-10 22:49] anjakefala commented on #1592
@iainelder I actually was not able to reproduce.

I put a `foo.py` in my current directory, and I was able to import it using `g^X` without any custom PYTHONPATH shenanigans. My default PYTHONPATH, though is `.`.

[2022-11-10 22:51] anjakefala commented on #1592
Update, even when I fiddled with my $PYTHONPATH to a completely different directory, I was still able to import the file in the current directory with `g^X`. I wonder if there is something finicky going on with `poetry`'s shell. (I do not use `poetry`, I use `conda`).

[2022-11-10 22:57] iainelder commented on #1592
It turns out that my default PYTHONPATH is not set. Would that matter?

This gives no output:

[code]

[2022-11-10 23:33] anjakefala commented on #1592
It is hard to tell! Because I cannot reproduce (even with `unset`ting my `PYTHONPATH`), it is hard to say.

I do not think it would hurt to have `PYTHONPATH=.` in your environment by default. If you do have that set, do things just work? Do you know about what `poetry` does with your environment?

I can set aside time at another point to take a look with `poetry`. For the sake of this issue, do yo

[2022-11-10 23:52] iainelder commented on #1592
For the sake of the issue, setting PYTHONPATH explicitly in the command works for me.

I'm happy to close it as resolved before you spend any more  time on this.

It's highly likely that I've done something weird to my Python installation that even I don't know how to reproduce.

I'll be rebuilding my system soon so my problem may just disappear.

If I have the same problem after the rebuild I'll

[2022-11-10 23:52] #1592 closed, assigned to nobody

[2022-11-11 04:06] anjakefala commented on #1591
Hm, weird. These are files that are generated by `setup.py`. Every file in VisiData seems to have appropriate permissions.

I will make sure to add `chmod a+rX` to our deployment process.

[2022-11-11 04:17] anjakefala commented on #1029
This bug has not come up again for over a year, and I have not been able to reproduce what @cwarden saw, so I think I am going to close this. If anyone runs into it again, please re-open!

[2022-11-11 04:17] #1029 closed, assigned to nobody

[2022-11-11 04:20] anjakefala commented on #1577
Good catch! This bug is happening because the choices menu is opening up as a new sheet, and the choice does not then get recorded as an `input` for the command.

It is on the roadmap to replace the chooser with a modal dialogue instead: https://github.com/saulpw/visidata/issues/1027 I am going to close this issue, since we have a seperate issue recording this behaviour.

[2022-11-11 04:20] #1577 closed, assigned to nobody

[2022-11-11 04:24] anjakefala commented on #1129
#1399 does record that since this issue has been opened, we have added windowing (scanning) as a feature.

Since this issue is over a year old, and I think we have addressed all of the features that we have added to the roadmap, I am going to close this. Please re-open if you have any related questions, or if you want to re-suggest adding something to the roadmap.

Kondo'd.

[2022-11-11 04:24] #1129 closed, assigned to nobody

[2022-11-11 04:31] anjakefala commented on #1184
Commenting to note that since this issue's opening, this feature has been supported for remote `.zip`. Remote `.gz` is not supported yet.

[2022-11-11 05:03] anjakefala commented on #1454
From the looks of this, we are not going to be making further progress on this issue. Please feel free to add any additional bug reports or notes on this error.

Kondo'd.

[2022-11-11 05:03] #1454 closed, assigned to nobody

[2022-11-11 05:05] anjakefala commented on #1572
@ivanmemruk I am going to close this issue as "question answered". =) If you are still unable to get both date and time to show up, please do comment.

[2022-11-11 05:05] #1572 closed, assigned to nobody

[2022-11-12 23:26] frosencrantz commented on #1587
@LaPingvino  that is true about wide spread 3.11 usage.  Visidata can already handle the case where the base modules isn't available.  Also, the 3.11 support according to  [PEP 680](https://peps.python.org/pep-0680) is actually https://github.com/hukkin/tomli.  So there is a backfill available.

[2022-11-13 18:46] frosencrantz commented on #1587
I'll mention that @ajkerrigan  has already created this as a plugin:
 - https://github.com/ajkerrigan/visidata-plugins/blob/master/plugins/vd_toml.py

Wondering if it would be possible to make it standard?

[2022-11-13 20:49] frosencrantz opened #1599 "[html loader] Links found in the columns should be wrapped with canonicalize_url()"
**Small description**
Links found in an html table don't always work when they are relative

**Expected result**
Links in the generated link# columns can be opened directly

**Actual result with screenshot**
Relative paths do not work properly with commands  that open urls like `zo`

**Steps to reproduce with sample data and a .vd**

I had sample data but lost it.  If the fix below doesn't work or

[2022-11-14 04:28] ajkerrigan commented on #1587
@LaPingvino's point seems reasonable there - making it standard would mean taking a conditional dependency on tomli for Python < 3.11 and that feels like "most people" for the time being. That doesn't feel like too big a deal, but it also doesn't feel like a clear win over installing a plugin :shrug: .

(To give credit where it's due @frosencrantz , I believe I only put that plugin together after

[2022-11-15 13:35] Freed-Wu opened #1600 "Support XDG?"
Now visidata install extensions to `~/.visidata` and use `~/.visidatarc`.

Why not use `~/.local/share/visidta` and `~/.config/visidata/config.py` (or other similar filename)?

Refer

- <https://pypi.org/project/appdirs/>, setuptools use it.
- <https://pypi.org/project/platformdirs/> fork from appdirs. black, virtualenv, jupyter_core use it.
- <https://github.com/pytorch/pytorch/blob/master/torch/

[2022-11-15 13:52] ghost opened #1860 "BigQuery TypeError: connect() got an unexpected keyword argument 'database'"
I installed using `pip install ibis-framework[bigquery] vdsql` on  python 3.8 on WSL.

Connecting with `vdsql bigquery:///my-project-name` resulted in a listing of all the datasets within the project. So far so good.

Upon highlighting a dataset, I got the error: `TypeError: connect() got an unexpected keyword argument 'database'`

Installing using `pip install git+https://github.com/visidata/vdsq

[2022-11-15 16:42] anjakefala commented on #1600
Support for XDG does exist: https://github.com/saulpw/visidata/commit/54dd817ede6b200cc3555a438a1c0d9b9cab9eef

I don't know about others and Saul, but I have been using `~/.visidatarc` and `~/.visidata` since the very start of the project, and it would be a -3 for me to switch where the files were located by default at this point. At minimum, all of our old issues where I recommended people updat

[2022-11-15 18:03] joegrover commented on #1864
I'm bumping into the same issue (but without the `--sqlite`). Everything works fine if I rename the file to be a `file.sqlite`, but it just isn't recognizing `.db` as a sqlite file the way that `vd` does and I can't figure out how to tell `vdsql` that the file is a sqlite db.

EDIT:
Well, I'm getting _mostly_ the same issue. My error message is

    AttributeError: module 'ibis' has no attribute '

[2022-11-15 19:19] anjakefala commented on #1864
Hi @joegrover!

The `.db` extension is actually only supported by the unreleased version of Ibis.

You would need to do `pip3 install git+https://github.com/ibis-project/ibis.git`.

And then use `-f ibis`. This stacktrace was some other very weird thing that I have not since reproduced.

[2022-11-16 05:53] Freed-Wu commented on #1600
Oh, it's my fault which don't read the README :smile: And It should also be added to `man vd`. Closed.

[2022-11-16 05:53] #1600 closed, assigned to nobody

[2022-11-16 06:04] Freed-Wu opened #1601 "[DirSheet] Command to go to parent directory"
Now I `vd .` will

[code]

I hope

[code]

So I can press `<CR>` in the first line `..` to go to the parent directory. (Or provide a command to go to parent directory)

TIA!

[2022-11-16 06:16] saulpw commented on #1601
Hi @Freed-Wu, this should work:

[code]

This is bound to the backtick here, but of course you can bind it to any keystroke you want.

[2022-11-16 06:16] #1601 closed, assigned to nobody

[2022-11-16 17:10] linwaytin opened #1602 "[hdf5] array of scalars not displaying properly"
**Small description**
I have a h5 file generated by python (h5py). I assume I can see the data in vd, but a lot empty field showed up (see the screenshot).

**Expected result**
Should be able to see the data.

**Actual result with screenshot**
https://imgur.com/ygtkYqa

**Steps to reproduce with sample data and a .vd**
open with `vd my_data.h5`

[2022-11-16 18:37] anjakefala commented on #1602
@linwaytin It is impossible to debug this without the sample data or script that produced it! =( I cannot reproduce it on my own h5 files.

Can you provide either?

[2022-11-17 01:33] linwaytin commented on #1602
I can give the h5 file, but where can I put it?

[2022-11-17 02:31] saulpw commented on #1602
Create the smallest .h5 file you can, and submit a PR into our `sample_data` directory with that data.  If it's under 10k we'll merge it, otherwise it can just stay in the PR but we'll be able to get it from your branch.

[2022-11-17 17:33] need47 opened #1603 "copy row/cell to system clipboard (Windows + Remote Linux via SecureCRT)"
This is by no means a buy report.

I have read posts here and googled, but I couldn't find a solution. My situation might be unusual. Any clue is appreciated.

I'm on Windows using SecureCRT to connect to a remote Linux machine. Usually, I just select a piece of text with left mouse button. The data is copied to Windows system clipboard and can be pasted into either SecureCRT terminal or Windows a

[2022-11-18 00:57] saulpw commented on #1603
Does Shift+mouse allow you to select?  (Maybe it's Ctrl+ or Alt+mouse on Windows)

[2022-11-18 01:39] need47 commented on #1603
Bingo! It's Shift+mouse. Thanks a lot.

[2022-11-18 01:39] #1603 closed, assigned to nobody

[2022-11-18 14:15] iainelder opened #1606 "Docs:How do I replay cmdlogs on arbitrary files?"
According to https://github.com/saulpw/visidata/issues/572 this has been implemented, but from the comments on the issue I can't figure out how to do it, and I can't find any documentation.

I recorded some actions an Visidata wrote me a cmdlog file whose first few lines look like this:

[code]

It works only on the file names in the "open-file" command. I want it to work on any file with the same

[2022-11-19 18:13] frosencrantz commented on #1587
Thanks for adding the TOML plugin, @ajkerrigan!  Also, happy to hear you use it regularly.

I think over time I've come around in general to the idea that VisiData plugins are the way to extend VisiData further.  It would be useful to build a bigger plugin community.  There are some great ones already, but I wish there was a larger list.  Not sure how to get more people to develop plugins. Better

[2022-11-19 18:28] frosencrantz commented on #1606
I think there is a better example, but here is what I found after a speedy search:
https://github.com/saulpw/visidata/issues/1389#issuecomment-1143639566

on the command line say `input=sheetname` in your `vdj` file use `"{input}"` as sheet name, and VisiData will do the substitution.  I haven't verified this with a vdj file.

[2022-11-19 18:39] frosencrantz opened #1607 "[loading internal files] Stack trace on loading macros file"
**Small description**
When setting `--header` and `-d` flags Visidata crashes on reading macros file.

**Expected result**
No crash

**Actual result with screenshot**
https://asciinema.org/a/GXUDDFvxK4qmwGrHzEMiGwkFv

[code]

**Steps to reproduce with sample data and a .vd**
- Start with a macro files.
- Run: `vd -d " " --header 0 -f tsv ../sample_data/sample.tsv`
- Crash

**Additional context**
P

[2022-11-20 02:10] andycraig opened #1609 "New change_precision plugin"
Hi, I've created a plugin repo here: https://github.com/andycraig/visidata-plugins

There's only one at the moment but letting you know in case you'd like to add it to the list of known plugins.

Creating a plugin was very easy - thank you for designing VisiData to make it so straightforward!

[2022-11-21 12:06] cstork opened #1610 "Documentation: viewtsv fixes"
**Small description**

The link to `viewtsv.py` at the beginning of https://www.visidata.org/docs/viewtsv/ is missing the extension.

At the end of the article it seems that an old name `vdtui` for the utility is used.

Furthermore, it's not clear from the explanations/annotations what purpose `viewtsv` is supposed to serve. How is it different from just opening the tsv-files with `vd`?

[2022-11-22 10:14] cstork opened #1859 "Identifiers need to be quoted in Postgres"
Connecting to Postgres opens the PgTablesSheet successfully and I can navigate to tables with lower-case names.

When trying to access a table with a name that contains upper-case letters I get the error

The reason, I suspect, is that vdsql/ibis does not by default (double)quote identifiers in Postgres. To be sure, all identifiers (schema name, relation name, column name) need to be properly doub

[2022-11-22 11:01] cstork opened #1858 "Postgres schemas, i.e., namespaces, need to modelled"
Postgres has the useful `--postgres-schema` option to specify the namespace it's navigating within. However, that makes is hard (impossible?) to work across namespaces which is not unusual at all in case of PG DBs.

I'd suggest to model the namespace (e.g. Postgres Schema)

  - either explicitly as a column `namespace_name`
  - or more implicitly by supporting a single dot `.` as part of qualified

[2022-11-22 14:36] gunchev opened #1611 "pytests fails without ~/.visidatarc"
**Small description**
Running pytest on 2.10.2 results in FileNotFoundError

**Expected result**
successful tests

**Actual result with screenshot**
    + /usr/bin/pytest-3
    ============================= test session starts ==============================
    platform linux -- Python 3.6.8, pytest-3.4.2, py-1.5.3, pluggy-0.6.0
    rootdir: /builddir/build/BUILD/visidata-2.10.2, inifile:
    coll

[2022-11-22 15:59] anjakefala commented on #1611
Our CI servers currently create the `.visidatarc` as part of the test run. I think my ideal change would be catch the exception and print out, "test run requires `~/.visidatarc`".

That test is running through all of the commands, and `open-config` is one of them.

[2022-11-22 19:12] saulpw commented on #1858
Hey @cstork, this is probably more of an Ibis issue in how it handles Postgres schemas.  I think we should incorporate the schema (and other namespace-like things from other DBs) into the connection URL, and when we list tables in the database in vdsql, only list those in the specified schema.  If no schema is specified, we can either list from the default schema, and/or provide some option to ign

[2022-11-22 20:59] saulpw commented on #1610
Hi @cstork, thanks for reporting these stale bits, they should be fixed now.  It should be cleaned up further to use the actual viewtsv.py code, which has been updated, but it's not critical at the moment.

I'm afraid I don't know how to make its purpose much clearer, though.  As the page says at the top, viewtsv is "great example of a minimal VisiData application".  It's not meant to be a replace

[2022-11-22 20:59] #1610 closed, assigned to nobody

[2022-11-24 08:11] YasserKa opened #1612 "visidata.vd.view_pandas(<df>) showing wrong number"
**Small description**
Stated in title

**Expected result**
Correct number

**Steps to reproduce with sample data and a .vd**
[code]
Shows:
[code]

**Additional context**
saul.pw/VisiData v2.10.2

[2022-11-25 07:24] tdussa opened #1613 "Custom-date column not recognized as numerical value when plotting"
When a column with a custom date format is parsed using the custom-date type, it is correctly converted into a datetime structure.  However, when this data is plotted, it is not recognized as a numerical type.

**Expected result**

"Normal" date fields (those that are interpretable as the standard `type-date` type by pressing `@`) can be plotted as numerical values, both as data columns (on the y

[2022-11-25 14:55] geekscrapy commented on #1613
@tdussa , I think I have got around this quasi bug by converting the date col to epoch (a float) with `.timestamp()`

[2022-11-25 15:39] tdussa commented on #1613
Oooh, interesting idea! I'll try and see how far I get with it.  THX! :)

[2022-11-25 15:48] tdussa commented on #1613
Excellent!  So this turns out to be a viable workaround:
 - Create a derivative column of the custom-format date column by appending a `.timestamp()`
 - Then set the derivative column to type `date` (`@`)

This seems to do the trick. :)

### Addundum:

This workaround also means that the x axis is labeled with complete date strings (e. g., `2022-12-20`), not with the custom-format dates, so it is

[2022-11-28 15:16] iainelder commented on #1606
@frosencrantz, thanks for the suggestion. Sorry for taking so long to get back to you on this.

For my use case the solution is:

* Remove the open-file command from the cmdlog
* Use a blank sheet name for all operations
* Pass the input file at the command line

Here are some silly simple files for testing.

`abc1` is a three-column CSV of all `1`s. `abc2` is has the same shape with all 2s. The c

[2022-11-29 01:12] anjakefala commented on #1606
This is so cool @iainelder, thanks for documenting all of this!

[2022-11-29 10:10] iainelder commented on #1606
Thanks @anjakefala .

I didn't find an example of this use case in the help output or in the [Introduction to Visidata](https://jsvine.github.io/intro-to-visidata/index.html) or in the [Getting Started](https://www.visidata.org/docs/) docs.

Did I miss something?

If not, I think it would be helpful to include it using some more meaningful data.

The ability to replay cmdlogs for me is a compellin

[2022-11-29 14:57] anjakefala commented on #1606
@iainelder I re-opened the issue so we do not forget to update the docs, you are right!

[2022-11-29 15:03] iainelder commented on #1606
I see cmdlogs introduced here:

https://github.com/saulpw/visidata/blob/develop/docs/save-restore.md

Would this be a good place to extend the documentation?

Or would you add a new page to cover the use case?

[2022-11-29 15:07] anjakefala commented on #1606
That would be a great place!

[2022-11-29 15:34] iainelder commented on #1606
The "save and replay" page already has a screencast using [sample.tsv](
https://github.com/saulpw/visidata/blob/develop/sample_data/sample.tsv) that generates a cmdlog.

How about we make a new screencast that

* partitions the file,
* edits the cmdlog as I showed above,
* and runs the cmdlog on each partition?

[2022-11-29 19:06] saulpw commented on #1606
Also, @iainelder, what would be a good root solution to this?  I've added the `.vdx` format, which only omits "commands" to change the sheet when it's different than expected, which should help at least a bit (if not actively changing sheets).  But I'd love to have a stronger mechanism for redoing analysis across multiple data files.

[2022-11-30 19:58] lxcode commented on #1865
Yeah, i have the same issue with vdsql from git — in the pip version, I got

```AttributeError: 'IbisTableIndexSheet' object has no attribute 'sheet_type'```

in the git version I get the same ```TypeError: connect() got an unexpected keyword argument 'host'```

with similar stack trace except with python3.9 on macOS.

(update -- tried a fresh python 3.8, same issue)