[2018-12-10 08:43] #224 closed, assigned to nobody

[2018-12-10 09:16] jtrakk commented on #223
@saulpw I appreciate the invitation and I'm glad to hear it sounds feasible. As much as I would like to give it a shot, I can't dive into it right now due to commitments on other projects. Maybe one day I'll get to play around with visidata's codebase, that'd be fun :-).

[2018-12-11 09:41] paulklemm opened #225 "Check Singularity Image for using Visidata on HPC clusters"
Thank you so much for this tool, it's making my life as a bioinformatician working with genetic data so much easier.

To be able to use it on our HPC cluster I made it into a Singularity image. Singularity is a containerization tool built for HPC where you do not need superuser privileges.

The image is straightforward, can you please check if I installed everything properly as you would expect: h

[2018-12-11 14:57] anjakefala commented on #225
This is so exciting @paulklemm! I was a bioinformatician in my previous life, and I wished visidata existed back then. ^^

On initial glance, everything looks fine. I will take a more detailed look soon. =) Thanks!

[2018-12-11 20:52] aborruso opened #226 "Help wanted: how to use describe sheet to select columns?"
Hi,
I have a very messy sheet, in which I need to delete some columns.
A way that would be very comfortable for this sheet is to open the describe sheet and select some columns (with just a few clicks) based on the count of null values per field.

Is it possible to select columns starting from describe sheet? If yes how to?

Thank you

[2018-12-11 21:07] saulpw commented on #226
Yes, you can use the same select operations on the describe sheet as you can on other sheets.   Then you can use the `g-` operation (inherited from the ColumnsSheet) to hide the columns.  Using `gd` will not work because the DescribeSheet makes a copy of the columns list, excluding the hidden columns.

[2018-12-11 21:16] aborruso commented on #226
Thank you very much

[2018-12-11 21:16] #226 closed, assigned to nobody

[2018-12-12 00:33] anjakefala commented on #225
:wave: @paulklemm

There were only two things that stood out to me:
1. You are installing python3-dateutil using apt instead of pip3! I am curious about why?
2. You are currently installing the dependencies for all of the data format loaders, which may not be necessary depending on your use case. =) Excepting dateutil, every other dependency is optional. You can see a reference here: http://visida

[2018-12-12 00:33] #225 closed, assigned to anjakefala

[2018-12-12 06:36] aborruso commented on #218
I can use g- as #226

[2018-12-12 06:36] #218 closed, assigned to nobody

[2018-12-12 07:02] paulklemm commented on #225
Thanks @anjakefala for looking at the code.

You're right, I will install dateutil with pip3.

For my use case I only need the packages for loading Excel files. I installed the dependencies for other loaders to make the image viable for other users as well.

Thank you guys for developing this great tool, it is heaven-sent. By the way, I found the [Jeremy Singer-Vine VisiData Introduction](https://

[2018-12-12 13:54] aborruso opened #227 "Is it possible to rename fields in bulk via join?"
Hi,
I have a CSV file in which I need to rename in bulk a lot of columns, using a schema I have in an another CSV. This last CSV has this schema:

[code]

If I open columns sheet of my input CSV, I could do a JOIN between this and schema CSV file, using name as join field, and than in the source name field use `g=` and insert `newname`, but I have this error.

![image](https://user-images.githubus

[2018-12-12 16:44] saulpw commented on #227
Hi @aborruso, this is what the `extend` join type is for, to keep the semantics of the the first sheet (make sure the columns sheet is first) when joining.  Try that and see if it solves your problem.

[2018-12-12 16:46] aborruso commented on #227
You are a genius, I'm trying 💯

[2018-12-12 17:04] aborruso commented on #227
GREAT, it works

[2018-12-12 17:04] #227 closed, assigned to nobody

[2018-12-12 17:19] aborruso opened #228 "Some undefined keystroke"
Hi,
I have these undefined keystroke

![image](https://user-images.githubusercontent.com/30607/49886541-37a63d80-fe3a-11e8-8abc-2eb0375076d9.png)

I need to set especially the rename-sheet one. How to do that and fix it?

Thank you

[2018-12-12 21:14] aborruso commented on #228
I want to add that however the space key is always the solution, a very comfortable way to find the command you are searching.

[2018-12-12 23:01] anjakefala commented on #228
Hi @aborruso! =)

From this page: http://visidata.org/docs/customize/

# Creating command aliases for existing commands

   a) To create a global keybinding, add `bindkey(keystroke, longname)` to your .visidatarc.

b) To set the binding for a particular sheet type, add `<Sheet>.bindkey(keystroke, longname)` to your .visidatarc, where `<Sheet>` is a SheetType.

So to set a keystroke for `rename-she

[2018-12-12 23:01] #228 closed, assigned to nobody

[2018-12-13 08:24] aborruso commented on #228
Hi @anjakefala very clear, thank you.

With right click, using vd 1.5 and Linux WSL on Windows I have

![image](https://user-images.githubusercontent.com/30607/49925302-c48fdc00-feb8-11e8-953b-ef2441c4affc.png)

[2018-12-13 08:42] saulpw commented on #228
@aborruso that's interesting...on Linux we get a `BUTTON3_PRESSED` first.  Looks like WSL only gives the RELEASED action.  So that option may not work for you :/

[2018-12-13 09:54] aborruso commented on #228
@saulpw no I have also pressed, but nothing happens

![image](https://user-images.githubusercontent.com/30607/49930688-64ebfd80-fec5-11e8-8585-4fd727700ec1.png)

[2018-12-13 11:31] saulpw commented on #228
That is very weird...do any of the mouse commands work for you?  (left click, scroll-wheel?)

[2018-12-14 08:17] aborruso commented on #228
@saulpw scroll-wheel down works, to scroll down a table

[2018-12-14 08:32] agguser commented on #197
Will there be something like `='#' * int(bin/max(col('bin')) * 20)`?

[2018-12-14 08:36] agguser commented on #223
With this, can "footer rows" (e.g. showing columns' aggregate values like avg, sum) be supported?

[2018-12-14 09:11] saulpw commented on #223
That's a good idea, @agguser.  I'll add it when we get around to updating the draw() code.

[2018-12-14 09:13] saulpw commented on #197
@agguser I don't think I understand...what are you looking to do?

[2018-12-14 09:57] agguser commented on #197
I mean: will visidata support an expression for the list of values in a column (e.g. `col('bin')` would return the list of values in column "bin")?

[2018-12-16 09:53] aborruso opened #229 "Feature request: add option for select behavior"
Hi,
in most of the software I use if I run a selection (visual or programmatically), by default this selection replace the previous one.

Sometime I make errors using vd, because I think that it's a new selection and not an addition (the default in vd).

It would be great to have an option (or a key combination) for `.visidatarc` - something like `options.select_behavior` - to set the way you want

[2018-12-16 10:40] aborruso commented on #221
Very useful the `--force-valid-colnames` option

[2018-12-17 03:58] anjakefala commented on #201
Added to the website: https://github.com/saulpw/visidata.org/commit/6e00fd4d9d3eb2c8194eea4ec3a04de3c7d2ad02

Will be visible the next time the website is deployed. =)

[2018-12-17 03:58] #201 closed, assigned to anjakefala

[2018-12-17 04:03] saulpw commented on #209
When zstd supports the same semantics as other Python stdio (open, encoding, streaming, iterator over lines) it will be very straightforward to add.  Closing this for now, reopen when zstd is ready.

[2018-12-17 04:03] #209 closed, assigned to nobody

[2018-12-17 04:14] anjakefala commented on #208
Closing:
* original issue has been addressed
* the tangential conversation has dropped in activity

=)

[2018-12-17 04:14] #208 closed, assigned to nobody

[2018-12-17 05:30] anjakefala commented on #229
Feature was added in commit https://github.com/saulpw/visidata/commit/c345b127d5f748f8483f05420ff1c84dd2778d29. =)

To use, set `options.bulk_select_clear=True` in your `.visidatarc` or pass `--bulk-select-clear` through the commandline. =)

[2018-12-17 05:30] #229 closed, assigned to nobody

[2018-12-17 06:16] saulpw commented on #197
@agguser It's tricky to make that work with decent performance on large datasets. For aggregating column data I've made new subsheets in the past. If you tell me what kind of expressions you're trying to compute, we can see if there's a way to do what you want.

[2018-12-17 06:21] aborruso commented on #229
Wow, thank you

[2018-12-17 17:12] agguser commented on #197
I usually need "percentage columns" (=x*100/sum(col('x'))).

[2018-12-18 07:24] aborruso opened #231 "Partially off-topic: how to create the dpkg of vd?"
Hi,
for me it's impossible to use the pip way to install vd (not able to solve [this](https://github.com/saulpw/visidata/issues/192#issuecomment-435650576)), the only that works for me is this one http://visidata.org/install/#dpkg.

Now there is the 1.5.1 release and I cannot use it. Is there some README that I can use to build on my own the dpkg of vd?

Thank you

[2018-12-18 13:18] anjakefala commented on #231
Hi!

=D

The issue is that the essence of a debian package is its bureaucracy.

So, It is a little bit convoluted: https://github.com/saulpw/visidata/blob/stable/dev/checklists/release.md#debian . The essence is that you can you use `debuild` along with our debian config stuff here: https://github.com/saulpw/visidata/tree/stable/dev/debian .

You may have to 'update the changelog' but you should h

[2018-12-18 13:24] anjakefala commented on #231
If you have trouble with it, our debian repository will be uploaded sometime in the next while. =) I will leave a message here when it is.

[2018-12-18 13:24] #231 closed, assigned to nobody

[2018-12-18 13:39] aborruso commented on #231
I think it's hard for me, but I'll try, thank you

[2018-12-18 14:02] anjakefala commented on #231
I think so, too. ._.

I will definitely ping you when the debian is publicly ready!

[2018-12-18 14:35] paulklemm opened #232 "I wrote an r package for visidata, rvisidata"
I just want to notify you that I developed a tiny `R` package which can be used to open any `R` data frame in `visidata.` The repo can be found here: [https://github.com/paulklemm/rvisidata](https://github.com/paulklemm/rvisidata). It works really simple and is not really performant by writing the data frame to a temporary file and then opening it with `visidata.` But it works.

Maybe it is useful

[2018-12-18 18:24] saulpw commented on #232
That's awesome, @paulklemm, thanks for sharing!  I'm sure it will be useful to some other R users as well.  Would you like us to put a link to it on the website?

[2018-12-18 19:28] paulklemm commented on #232
Glad you like it!

That would be great 🎉

[2018-12-18 19:34] paulklemm commented on #232
By the way, I'm sure there is a more elegant and efficient way of connecting `Visidata` with `R` through the [reticulate](https://github.com/rstudio/reticulate) package, but I honestly lack the Python skills for that (for now).

I think this implementation will do for now.

[2018-12-18 19:36] anjakefala commented on #232
This is so exciting! =)

I will leave the issue open until it has been added to the website. ^^

[2018-12-19 02:53] anjakefala commented on #232
I have documented it here: https://github.com/saulpw/visidata/commit/0e251670e7fc519d9b216992eb6265c3eaefc01d

Please review. =) @paulklemm

[2018-12-19 06:37] paulklemm commented on #232
Looks good, thanks a lot

[2018-12-19 06:48] aborruso commented on #150
Wow, as @anjakefala has written, now it's possible to do it with 1.5.1 https://github.com/saulpw/visidata/releases/tag/v1.5.1

Thanks!!

[2018-12-19 12:34] anjakefala commented on #232
Awesome.

Thank YOU. =)

[2018-12-19 12:34] #232 closed, assigned to anjakefala

[2018-12-23 10:15] aborruso opened #233 "How to set --csv-quotechar to None?"
Hi,
I have the CSV below and I read it with `vd --csv-delimiter "|" --encoding "ISO-8859-15" input.csv`.

[code]

But I would like to read the `"` I have in the second cell of row two (`"INTERVENTI URGENTI...`), but vd skip it (see the image below).

I think I could use something like `--csv-quotechar ""` or `--csv-quotechar None`, but it seems not the right way.

Thank you

![image](https://user-

[2018-12-23 10:27] aborruso commented on #88
Hi, where can I find the specs of excel-tab, unix, and excel dialects?

For "unix" I have found "The unix_dialect class defines the usual properties of a CSV file generated on UNIX systems, i.e. using '\n' as line terminator and quoting all fields. It is registered with the dialect name 'unix'". It's not complete, but it's something.

Thank you

[2018-12-23 19:01] saulpw commented on #233
Hi @aborruso, use `-f tsv -d '|'`.  The tsv format is much more simple than the csv format, taking only a delimiter and doing no quoting or escaping.

[2018-12-23 19:01] #233 closed, assigned to nobody

[2018-12-23 19:26] aborruso commented on #233
Thanks

[2018-12-23 21:11] saulpw commented on #88
Hi @aborruso, it seems like you've found the right Python documentation for the dialects.  Unfortunately I don't have any better information since we're just passing that parameter along to the Python csv parser.  If you find a more thorough explanation of the dialects, please let us know and we'll include it in our docs too.

[2018-12-23 23:34] saulpw commented on #202
@aborruso did 1.5.1 fix this issue for you?

[2018-12-24 15:48] aborruso commented on #202
@saulpw  I have always the same :(

[code]

[2018-12-26 21:20] aborruso opened #234 "A small edit in man, for zc and zr"
Hi,
in the reference we have "zc and  zr number    move to column/row number".

I would change it in "zc and  zr number    move to column/row number (the number starts from 0)".

Thank you

[2018-12-28 18:59] aborruso opened #235 "A small announcment: a VisiData introductory guide in Italian"
Hi @saulpw and @anjakefala I have written the first release of a **VisiData introductory guide in Italian** :)

I discovered this instrument and I loved it: I think it's important to make it known in my country (and everywhere).

I have put it in a github repo and [this](https://github.com/ondata/guidaVisiData/blob/master/README.md) is the first release of the text.

Tomorrow I will announce it in

[2018-12-28 19:00] aborruso commented on #235
This is the right URL of the guide https://github.com/ondata/guidaVisiData/blob/master/testo/README.md

[2018-12-28 22:12] jsvine commented on #235
Neat! And thank you for the very kind words!

[2018-12-28 23:42] jsvine opened #236 "Possible to specify non-standard .visidatarc/.visidata file location?"
It might be neat/useful to be able to specify, via a`vd` command-line flag, the location of the preferred `.visidatarc` file. Based on this code search, I don't see a way to do it, but it's possible I'm overlooking something obvious: https://github.com/saulpw/visidata/search?utf8=%E2%9C%93&q=loadConfigFile&type=

The same idea, I suppose, for plugins — i.e., if you want to use a custom directory i

[2018-12-29 04:20] saulpw commented on #235
This is awesome, @aborruso!  Thank you so much for using your enthusiasm to spread the word about VisiData.  I think your tutorial turned out really well, too (from what I can read in google translate).

[2018-12-29 07:26] #235 closed, assigned to nobody

[2018-12-29 08:06] saulpw commented on #235
@aborruso, I read through the translated guide, and I thought of a couple of (very minor) points:

- under Pivot Table, maybe it would be good to note that all aggregators on the pivoted column will be created too.
- under Python modules, maybe note that setting the type with `@` and then `=data_immatricolazione.month` would work as well?  So people don't think they have to strftime for such a com

[2018-12-29 10:55] aborruso commented on #235
Hi Saul,

On Sat, 29 Dec 2018 at 09:06, Saul Pwanson <notifications@github.com> wrote:

I had no idea, I'm sorry. How to show them?

It is already written in the text: "NOTA BENE: le funzioni del modulo
datetime sono disponibili in modo nativo per le colonne già impostate (come
tipo) a data. Quanto scritto sopra vale soprattutto come guida al come
precaricare e utilizzare un modulo Python in VisiD

[2018-12-29 11:59] aborruso opened #237 "[Loader] Frictionless Data Packages"
Dear @saulpw ,
this one is a big proposal, I think it's also a great idea (I will seem presumptuous); unfortunately I am not able to help you in a concrete way.

"Data Packages" is the specification core of Open Knowledge Foundation ["Frictionless Data" project](https://frictionlessdata.io/). This spec solve big problems strictly related to structured text files (especially CSV and TSV), as lack o

[2018-12-29 15:11] aborruso opened #238 "Is this the way to unmelt a table?"
Hi,
I have this table that I want to unmelt.

[code]

I'm able to do it in this way:

- set id as key field;
- ad max aggregator to Value;
- select Variable field and click Shift+W.

Is it the right way to do unmelt?

Thank you

[2018-12-29 17:39] saulpw commented on #235
Oh, I missed that NOTE.  And the video is not yet out, probably in another week or two.

As for the Pivot aggregators, I don't know how to show them.  I just thought mentioning them was a good idea so people knew (I guess you didn't even know!).

[2018-12-29 17:42] aborruso commented on #235
I did not understand you, I'm sorry.

I know that I can add, but I understood that they were somehow calculated by default.

Instead you are telling me to point out that it is possible to add them. Now Do I understand you?

[2018-12-29 18:16] saulpw commented on #235
Yes, exactly!  I believe you mention it with the Frequency Table, and it works similarly with Pivot, so it seems like maybe a good idea to mention.

[2018-12-29 18:17] aborruso commented on #235
On Sat, 29 Dec 2018 at 19:16, Saul Pwanson <notifications@github.com> wrote:

I'll do it

--
___________________

Andrea Borruso
website: https://medium.com/tantotanto
38° 7' 48" N, 13° 21' 9" E, EPSG:4326
___________________

"cercare e saper riconoscere chi e cosa,
 in mezzo all’inferno, non è inferno,
e farlo durare, e dargli spazio"

Italo Calvino

[2018-12-29 18:38] jsvine commented on #236
Ah, it looks like specifying the plugins dir *is* possible, via `--visidata-dir`: https://github.com/saulpw/visidata/blob/80f186a37eb09fb6a07f036da2c0e6302b368aed/bin/vd#L49

So maybe the corresponding command-line option for specifying an alternate `.visidatarc` could be `--visidatarc` or maybe `--visidatarc-path`?

[2018-12-29 21:57] aborruso commented on #235
@saulpw I have added an example with avg aggregator

![image](https://user-images.githubusercontent.com/30607/50542421-08732880-0bbd-11e9-8261-f2726b987378.png)

[2018-12-29 21:58] aborruso commented on #235
I have published also a Medium blog post https://medium.com/tantotanto/visidata-il-coltellino-svizzero-per-i-dati-che-probabilmente-non-conosci-2209ffd4fa39

[2018-12-29 22:34] aborruso commented on #139
@saulpw what about this one?

![](https://i.imgur.com/FVrYsvF.gif)

[2018-12-29 22:50] anjakefala commented on #235
This is wonderful! ^^ Happiest of New Years. 😊

[2018-12-29 22:55] anjakefala commented on #238
Yup! This is correct. =) We should add this to the docs.

[2018-12-29 22:55] #238 closed, assigned to nobody

[2018-12-29 23:07] aborruso commented on #238
I have written a very small tutorial in English

“Creating non-numeric pivot tables with VisiData (recipe three)” https://link.medium.com/B9Wxt0xq3S

[2018-12-30 03:29] anjakefala commented on #238
@aborruso This was fun! ^^ Thank you. I love seeing comparisons of workflows side-by-side. =D

[2018-12-30 09:13] saulpw commented on #139
@aborruso Originally we had an animated .gif on the front page but it soon was driving me nuts. So our plan for this is a short video that requires you to press play, so it's not distracting from the start.  Basically what you have here, though I saw another video of yours which showed the keystrokes pressed in a large font, which seems like it might be very useful.  What program do you use to mak

[2018-12-30 09:19] saulpw commented on #236
Yes, good idea!  I like `--visidatarc` (it was my first thought too), but maybe `--config` would be more command-line-like?

[2018-12-30 09:20] aborruso commented on #139
@saulpw in some way I'm the evil, I'm a Windows user :(

The utility I use is [carnac](https://github.com/bfritscher/carnac)

If you need a mp4 video as my last one gif, and adding to it the keystrokes pressed, I can create it in few minutes

[2018-12-30 09:45] saulpw commented on #234
Hmmm..it is 0-based now, but would it be more intuitive if it were 1-based?  (we should probably call it out explicitly either way).

[2018-12-30 09:56] aborruso commented on #234
VisiData in some way is a spreadsheet and the spreadsheet apps is 1-based. For this reason I'm always wrong  with `zr` :)

But 0 or 1 is in some way is the the same, but I would add a note in the doc.

Thank you

[2018-12-31 02:49] #236 closed, assigned to nobody

[2018-12-31 02:52] saulpw commented on #234
If we want to move to 1-based rows/columns in the future, we should also make statusLine (shown with `Ctrl+G`) and row/col numbers in the cmdlog be the same.  There may be other instances that are needed to make it consistent too.

[2018-12-31 02:52] #234 closed, assigned to nobody

[2018-12-31 02:57] saulpw commented on #237
Sure, I like the idea!  This should not be hard for someone familiar with the format to create a loader.  If you know of anyone who would like to collaborate, I'm sure we can get something working in an afternoon (or two at most).

[2018-12-31 14:13] jsvine commented on #236
Awesome, and thanks!

[2019-01-02 22:56] jsvine opened #239 "g* / setValuesFromRegex bug"
It appears there's a bug with `g*` in v1.5.1. Executing that command produces this error: `UnboundLocalError: local variable 'col' referenced before assignment`.

The code at issue appears to be `setValuesFromRegex(...)` in `regex.py`: https://github.com/saulpw/visidata/blob/80f186a37eb09fb6a07f036da2c0e6302b368aed/visidata/regex.py#L52-L57

The bug appears to have been introduced in this commit:

[2019-01-02 23:37] anjakefala commented on #239
(I have missed your beautiful bug reports. 😇 )

Nice catch! We are going to bundle this up for 1.5.2.

[2019-01-02 23:57] anjakefala commented on #239
Okay! The fix is currently on stable. If you would like to pull it in, you can run `pip3 install git+https://github.com/saulpw/visidata.git` as per usual. =D

Thanks for the really thorough bug report. ^^

[2019-01-02 23:57] #239 closed, assigned to nobody

[2019-01-03 00:26] cwarden opened #240 "Exit With Error Status in Batch Mode"
When replaying a CommandLog in batch mode, if an error occurs, the replay is aborted with "replay aborted", but `vd` exits with a status of `0`.  It would be useful to exit with a non-zero exit status.

[2019-01-03 02:44] saulpw commented on #240
Good suggestion, thanks!

[2019-01-03 02:44] #240 closed, assigned to nobody

[2019-01-03 04:00] cwarden commented on #240
Thanks for the quick fix!

[2019-01-03 04:24] jsvine commented on #239
Thanks!

[2019-01-03 04:40] jsvine opened #241 "TypeError: '<' not supported between instances of 'CsvSheet' and 'CsvSheet'"
I encounter the error in the title of this issue when trying to sort by the `origin_sheet` column of the result of an append-join.

It's easy enough to get around by <kbd>=</kbd> + `origin_sheet.name` + <kbd>Enter</kbd>, and then sorting on that new column ... but it also seems like it could be handled natively by giving `CsvSheet` the relevant comparison methods. What do you think?

Minimal examp

[2019-01-03 05:04] saulpw commented on #241
I decided to make BaseSheet sortable by name, and then by id(sheet) (an arbitrary tiebreaker for same-named sheets).  Nice find, @jsvine, thanks for the bug report.

[2019-01-03 06:55] #241 closed, assigned to nobody

[2019-01-03 08:46] #219 closed, assigned to nobody

[2019-01-03 15:03] jsvine commented on #241
Thanks! That fix sounds/looks good.

[2019-01-04 01:06] anjakefala commented on #155
This is currently fixed on develop.  Tables can now be loaded interactively after replaying a vd.

[2019-01-04 01:06] #155 closed, assigned to nobody

[2019-01-05 08:48] saulpw commented on #168
Seems like it should be straightforward, but it's too much of a pain to actually implement.  Anyone who can
wrangle the Python stdlib into getting tracebacks in the right form is welcome to implement this.

[2019-01-05 08:48] #168 closed, assigned to nobody

[2019-01-05 08:49] #169 closed, assigned to nobody

[2019-01-05 21:37] anjakefala commented on #188
Issue has been migrated to: https://github.com/saulpw/visidata.org/issues/7 since the files related to this issue have been moved there.

[2019-01-05 21:37] #188 closed, assigned to nobody

[2019-01-05 21:47] anjakefala commented on #139
Since the source files for visidata.org have been migrated to their own repo, this issue was migrated to that repo.

It can be found at https://github.com/saulpw/visidata.org/issues/8

[2019-01-05 21:47] #139 closed, assigned to nobody

[2019-01-08 07:19] mfortini commented on #192
Same problem here, on Debian (buster/sid) and miniconda:

<pre>
Traceback (most recent call last):
  File "/home/user/miniconda3/bin/vd", line 158, in <module>
    main()
  File "/home/user/miniconda3/bin/vd", line 136, in main
    vdtui.run(*sources)
  File "/home/user/miniconda3/lib/python3.7/site-packages/visidata/vdtui.py", line 2797, in run
    ret = wrapper(cursesMain, sheetlist)
  File "/ho

[2019-01-09 13:09] aborruso commented on #192
@saulpw maybe it's better to keep this issue open. It's seems not strictly related to VD, but it seems a barrier on which it is worth collecting useful elements to bypass it.

[2019-01-09 18:57] anjakefala commented on #192
Hi @aborruso!

Fixing it is not really actionable on our end (as far as I can tell, it seems to be due to an unfortunate mess of differences of the conda python distribution wrt libncurses packages).

Since folks still seem to be able to locate the issue, I would prefer we keep it closed.

I think what we should probably do is collect the information from here into a FAQ or support page of some so

[2019-01-12 00:47] layertwo opened #242 "Renaming local files with spaces (vd file browser) throws UnboundLocalError"
I'm following the Youtube video for manipulating files in a local directory, and when running it against 1.5.1, I'm getting console errors.

I'm intending to replace all the spaces in the filenames, but am unable to perform that action.

Steps:

1. Open directory with files with spaces (note here: I'm doing that via `vd .` since I'm already in the directory.
2. g*
3.  \ (that's space and \)
4. Err

[2019-01-12 01:10] saulpw commented on #242
Yes, this is a known bug in 1.5.1 (has to do with `g*`, not the spaces).  We'll be releasing 1.5.2 soon to correct this issue.

[2019-01-12 23:34] anjakefala commented on #242
Confirmed that bug was fixed in https://github.com/saulpw/visidata/commit/8a72d576ff9d7e99f477c7df062a0f27c107a368 and the fix will be v1.5.2.

[2019-01-12 23:34] #242 closed, assigned to nobody

[2019-01-13 09:58] saulpw commented on #141
Implemented in d4549f9b36e536426ddf0430d57ee827864d642c, and bound to `Ctrl+[` (undo) and `Ctrl+]` (redo).  Must be enabled with `options.undo=True` (or `--undo` from CLI).  Please try this out on the develop branch if you are able.  Should be in next minor release, though not sure about the keybindings.

[2019-01-14 12:01] aborruso opened #243 "Problem with deb version"
Hi,
I have installed it with

[code]

When I use it I have

[code]

[2019-01-14 12:05] aborruso commented on #243
I have no problem with visidata_1.5-1_all.deb

[2019-01-14 17:09] mjsteinbaugh commented on #192
Can confirm that I'm hitting this issue with conda on an Azure VM but then it works fine on my Mac:

[code]

Not sure how to figure this one out but am happy to help debug the issue.

[2019-01-15 00:55] anjakefala commented on #243
Conversation has been moved to here: https://github.com/saulpw/deb-vd/pull/1

[2019-01-16 04:10] anjakefala commented on #243
My current prediction is that this issue is not reflecting a problem with the debian package. I will leave this open until aborruso's problem has been fixed.

[2019-01-16 14:29] aborruso commented on #243
It's not a debian package problem. Thanks to @anjakefala, the problem has been solved https://github.com/saulpw/deb-vd/pull/1

[2019-01-16 14:29] #243 closed, assigned to nobody

[2019-01-17 14:15] paulklemm opened #244 "Histogram for numeric columns"
Is there any way of displaying a histogram for numeric values with `visidata`? I typically plot the histograms of numeric attributes when I get a new data set to see what the distribution is and if there are any outliers.

Ideally the histogram would have a parameter defining the width of each bin.

[2019-01-18 04:41] saulpw commented on #244
Yes!  I've been wanting this too.  But I got stuck on the numeric binning code and never got back to it.  Maybe it's time to clean that up.

The width of each bin, or the number of bins? Does each bin always have the same width, or would you want to specify ranges (like age 18-34, 35-44, 45-54)?

[2019-01-18 06:36] paulklemm commented on #244
Hm, ideally I think it would be either one. (1) Setting the number of bins partitions the range according to the maximum width of equally sized bins. (2) Setting the width of the bin creates enough bins to capture the whole range. My use-case typically is (1), setting the number of bins.

That is very interesting, especially for not normally distributed data. I work a lot with genetic data and her

[2019-01-24 17:38] egwynn opened #245 "Error when editing inside nested object sheet"
When I open a `JSON` file and use `Enter` to dive into a leaf node, `vd` shows me an error if I try to edit it.

### VisiData Version

[code]

**NOTE**: I also reproduced this with `v1.5.2`

### Example JSON file

[code]

[code]

### Command Log

[code]

**NOTE**: The exact key sequence (not entirely captured in the above command log) is:

<kbd>Enter</kbd>, <kbd>Enter</kbd>, <kbd>e</kbd>, <kbd>1</

[2019-01-25 08:15] saulpw commented on #245
Thanks for the report, @egwynn!  It's fixed in develop and will be in the next release.

[2019-01-25 08:15] #245 closed, assigned to nobody

[2019-01-29 10:33] woutervdijke opened #246 "[Loader] .xlsb support"
A xlsb loader would be nice, and probably not that difficult using the [pyxlsb package](https://github.com/wwwiiilll/pyxlsb).

[2019-01-30 04:01] anjakefala commented on #244
Hi @paulklemm!

@saulpw  made a first pass at implementing numeric binning (including date ranges!) in this commit https://github.com/saulpw/visidata/commit/e114f609c4ec366d68387b6b0d85d21bb55ff684. Please note that columns have to be [typed as numeric](http://visidata.org/docs/columns/) (with `#`, `%`, `$` or `@`) in order for them to be numerically binned.

On default, [the following heuristic](

[2019-01-31 09:19] saulpw commented on #246
Hi @woutervdijke, thanks for the suggestion.  I've never seen this format before, could you attach an example .xlsb to this issue?

[2019-01-31 18:01] paulklemm opened #247 "Add command palette"
Often I find myself browsing the (great) `visidata` documentation for the shortcut of the command I want to use because I forgot it again.

One thing that would really help is a command palette like in Sublime Text or Visual Studio Code. One shortcut brings up a search box where one can query basically all commands available in the current context. Showing the keyboard shortcut next to the command

[2019-01-31 18:02] paulklemm commented on #244
Will check it out asap 👍

[2019-01-31 23:06] ghost opened #248 "[pandas develop] add-row error in pandas.DataFrame"
[code]
[code]
`vd -f pandas the.parquet`

Pressing `a` to add a new row raises `TypeError: insert() missing 1 required positional argument: 'value'`

[2019-02-01 01:22] saulpw commented on #247
This is a good idea, @paulklemm.  Do you know about `z Ctrl+H`, which takes you to a sheet of all commands available on the current sheet?  And `g/` which you can use to search that sheet.  It's not quite the same workflow, but I'm wondering how close that gets you to what you want.  What if we improve that workflow (suppose `g Space` to do something similar without going to a separate sheet), and

[2019-02-01 12:24] paulklemm commented on #247
Thanks, the `z Ctrl+H` together with `g/` already is super useful, I wasn't aware of that. Still having something without going to a separate sheet would be nice I think.

[2019-02-01 12:25] paulklemm commented on #244
I tried it and it works like a charm! Thank you so much, this will help me a lot!

[2019-02-02 09:02] saulpw commented on #248
Thanks for the report, @apnewberry.  It appears that several commands will have to be rewritten to work specifically with the pandas.DataFrame.  I have a tentative short-term fix for `add-row`, but [there are several different ways to do it](https://stackoverflow.com/questions/24284342/insert-a-row-to-pandas-dataframe) and I'm not sure which one is the best way for VisiData.  Maybe you know how to

[2019-02-02 20:50] ghost commented on #248
I think pandas doesn't really like to insert rows in arbitrary position, but perhaps

[code]
or the `.append()` solution of https://stackoverflow.com/a/24284515/3346095

[2019-02-06 23:36] azjps opened #249 "External custom loaders"
Hi, is it possible to use a [loader](http://visidata.org/docs/loaders/) which is defined externally, to load a custom/proprietary data format? It'd be sufficient for example to read an import path like `my_foo_library.open_{foo}` from a command-line argument or environment variable.

[2019-02-06 23:41] saulpw commented on #249
Hi @azjps, yes it certainly is!  You would follow the recipe at [visidata.org/docs/loaders](http://visidata.org/docs/loaders/), putting the code into `~/.visidata/vdfoo.py`, and then in your `.visidatarc` file you would put `from vdfoo import open_foo`.  Then you can open `.foo` files just like anything.  Let me know if you have any issues getting this to work for your format.

[2019-02-06 23:50] azjps opened #250 "Use value_counts()/describe()/etc for derived sheets of PandasSheet"
I haven't done timings, but for a medium-sized `pandas.DataFrame` of ~1 million rows, computing a frequency or describe table for a column of a `PandasSheet` takes a significant amount of time (I'd estimate tens of minutes). It would be nice if `pandas/numpy` vectorized operations were used such as `DataFrame.value_counts()` and `DataFrame.describe()`, since this computation should be very fast to

[2019-02-07 00:03] azjps commented on #249
Thanks for the fast response, I confirmed that this works :) Is it possible to customize the location of this file? It would be nice I could distribute this to other users without them having to make similar changes to their `~/.visidata` and `~/.visidatarc`.

[2019-02-07 00:09] saulpw commented on #249
Unfortunately, that's not possible at present.  Are you thinking you would drop the vdfoo.py file into a folder and then visidata would autoload it on startup?  What if that folder were something like  `~/.visidata/autoload`?

[2019-02-07 00:22] azjps commented on #249
For a bit more context, we have a virtualenv which is shared by many users. The most ideal situation would be if its possible to install "extensions" directly to the virtualenv. For an example of an analogous situation: `jupyter labextension install` will install apps by default into `{sys.prefix}/share/jupyter/lab`. That way all users using this virtualenv would all be able to use this custom loa

[2019-02-07 00:31] saulpw commented on #249
Interesting, thanks for sharing your use case.  There is an option `visidata_dir` which can only be set from the command-line (`--visidata-dir`) that sets the dir to use instead of `~/.visidata`.  In conjunction with `--config` which sets the `.visidatarc` file to use, it seems like you could make a small wrapper around `vd` which does what you want.  The only downside is that it would not allow i

[2019-02-07 01:05] azjps commented on #249
Yes, that would be perfect. On v1.5.2 though I don't seem to see a `--config` option:
[code]

[2019-02-07 01:15] saulpw commented on #249
Ah, sorry, that is in `develop`, not released yet.  Will be in the next version.

[2019-02-07 01:15] #249 closed, assigned to nobody

[2019-02-07 21:15] cwarden opened #251 "addcol-new fails in batch mode"
`addcol-new` fails in batch mode:

[code]

Here's the [cmdlog](https://gist.github.com/ada3b87d1eac75efd11ac28f73920af8).

[2019-02-09 02:45] anjakefala opened #252 "After addcol-new, edit-cell shows the incorrect cell being modified (v1.6-dev)"
1. Load sample_data/benchmarks.csv in visidata.
2. Create a new column using `addcol-new` (`za`).
3. Move the cursor to a column to the right of the newly created column.
4. Exec `edit-cell` (`e`).

Notice that the incorrect cell will be visually prompting you for editing. However, after I press enter, the contents written will appear in the correct cell. @saulpw has seen slightly different behavi

[2019-02-09 02:48] anjakefala commented on #252
When validating the fix for this bug, ensure that the case of `addcol-new` on a newly added `add-sheet` works.

Also, check `add-row`, `add-rows`, `rename-col` and `addcol-bulk`.

[2019-02-10 08:09] saulpw commented on #250
Hi @azjps, thanks for the suggestion!  I think it would be great if pandas were better supported.  The current [PandasAdapter](https://github.com/saulpw/visidata/blob/develop/visidata/loaders/_pandas.py) is really just a glorious hack, so I'm glad it's working as well as it is.

It wouldn't be that difficult to make an optimized PandasFreqTable, which would be a little less exciting than the regul

[2019-02-12 04:31] anjakefala commented on #251
Hi @cwarden!

Nice catch! =D

Previously, `addcol-new` used to query for the new column name on the status line. Since 1.5, it instead creates the new column immediately and starts the user off in *edit mode* on the column header.

The issue originated with this change. This can be fixed, and is not a problem, but it would be great to know yours' (and other folks') preference with respect to `addc

[2019-02-12 05:02] anjakefala commented on #252
Commit: https://github.com/saulpw/visidata/commit/0c1ce96a63c4a64dec1efcbca5dc8d4f1cef423a solves this issue. (Commit message references the wrong issue.)

[2019-02-12 05:02] #252 closed, assigned to nobody

[2019-02-12 17:29] cwarden commented on #251
The new behavior feels a little nicer in interactive mode, but it is inconsistent with `addcol-expr`, for example so no objection to reverting to the old behavior.  (I'm now thinking it would be neat to have `addcol-expr` work the same way and calculate the value of the new column for the visible rows as you type the expression.)

[2019-02-13 05:49] saulpw opened #253 "[roadmap] .pkg MacOS installer"
VisiData needs a .dmg that non-terminal-savvy users can download.

- [x] include Python 3.7 and pip for users who don't have python installed
- [x] include reasonable set of dependencies for common loaders
- [x] install with single click
- [ ] application icon on desktop, a small wrapper to pick one or more files and launch a terminal with vd in virtualenv

[2019-02-13 15:28] woutervdijke commented on #246
Sorry, I'm only seeing your reply now @saulpw. I can't attach the file but [I downloaded it from here](https://www.rvo.nl/sites/default/files/2019/01/Voorlopige_labels_okt2018.zip) as a zip file.

Fwiw I was able to convert it to a csv file using the following code:
[code]

[2019-02-19 00:28] qrkourier commented on #192
I'm not able to reproduce the original issue.
[code]

[2019-02-20 07:06] saulpw commented on #246
Thanks @woutervdijke, that was very helpful.  I forked pyxlsb and added an asynchronous .xlsb loader, which is now in develop and will be in the next big release.  Let me know how it works for you!

[2019-02-20 07:06] #246 closed, assigned to nobody

[2019-02-22 03:04] saulpw commented on #168
This might be handy: https://www.oreilly.com/library/view/python-cookbook/0596001673/ch14s05.html

[2019-02-26 08:09] aborruso opened #254 "[roadmap] "snap" Linux installer"
Hi,
today I have discovered [Snaps](https://snapcraft.io/) "a single secure package and auto-update system for Ubuntu, Debian, Arch, Centos, Amazon Linux".

What benefits do snaps bring to Python apps?

- Snaps are easy to discover and install. Millions of users can browse and install snaps graphically in the Snap Store or from the command-line.
- Snaps install and run the same across Linux. They

[2019-02-26 21:59] kovasap opened #255 "Pasting from system clipboard"
Hi all!  I just want to first say that this tool is awesome and I'm super happy to have discovered it!

I have a particular use case that I'm curious if visidata can handle.  I have a text file (or output from some command) that looks like this:

[code]

What I am trying to do is:
(1) select the first three lines and copy them to the system clipboard
(2) paste them so that they fill the first colu

[2019-02-26 22:14] saulpw commented on #255
Thanks @kovasap! I think you want to use `s`elect (or other command) to select the rows; then `gzy` to yank the selected cells in the current column to the clipboard; then `gzp` to paste the clipboard cells to the current column.  Along the way you'll have to use `A` to create a new sheet, `ga` to add blank rows to that sheet, and perhaps `gza` to add additional blank columns to that sheet.

Let m

[2019-02-26 23:00] kovasap commented on #255
This works!  A couple follow up questions I had when doing this:

First, is there a way to select using vim-like motions?  e.g. 10s to select the next 10 rows (repeat s 10 times).

Second, I understand now that my workflow works fine if I open my original text file in visidata itself, then do my copy and pasting within visidata, using it's clipboard.  This is great!  However, my original thought w

[2019-02-27 16:47] anjakefala commented on #254
Thanks for the suggestion! 😊

I will take a look sometime soon and review pros and cons of maintaining a VisiData snap.

In the meanwhile, if there are existing folks who would love a VisiData snap, please let me know in this issue!

[2019-02-27 21:56] saulpw commented on #255
There is no way to use vim-like motions. The command "language" is deliberately much simpler than vim's, just single command keys with an optional prefix (`g` `z` or `gz`).  There are several ways of selecting rows by their contents, and we can talk about specific ways to make it easier for you if you want.

As for pasting from the system clipboard, we don't currently support that.  I think it'd b

[2019-02-27 22:33] greenskeleton opened #256 "Man page options are mislabeled"
https://github.com/saulpw/visidata/blob/32771e0cea6c24fc7902683d14558391395c591f/visidata/man/vd.1#L745-L748

http://visidata.org/man/

I noticed the options  `--tsv-safe-newline` and `--tsv-safe-tab` appear to have the descriptions reversed.

[2019-02-27 23:02] kovasap commented on #255
Ok cool, I can read up more on the selection mechanism as I use it more.

Yeah, that's what I'm thinking.  I might look into it this weekend actually and see how far I can get.  I'll let you know if I have any questions, or if I choose not to pursue it :).

[2019-02-28 03:06] anjakefala commented on #256
Nice catch, @greenskeleton! Thanks for pointing this out.

I just pushed a fix. It will show up in /man the next time we re-deploy the website and in visidata's man page on our next release.

***
_Some background on the fix_

Our [builder](https://github.com/saulpw/visidata/blob/develop/dev/mkman.sh#L20) constructs the cli options in our man page by [parsing](https://github.com/saulpw/visidata/blo

[2019-02-28 03:06] #256 closed, assigned to nobody

[2019-02-28 07:02] Peppolhound commented on #254
I would be interested into as well!

[2019-03-03 12:40] migueldvb opened #257 "sort command does not work in PandasSheet"
Sorting rows with the keys `[ ` and `]` do not work in PandasSheet. The error message is:

` AttributeError: 'DataFrame' object has no attribute 'sort'`

[2019-03-03 18:44] anjakefala commented on #257
Hi @migueldvb !

Thanks for the issue. I have reproduced it locally, and you are right it currently does not work.

One thing I noticed is that the error stacktrace is dependent on which version of pandas is installed. Can you please confirm with me which version of pandas and visidata you are using?

Also, can you also provide me with a sample code snippet over how you would perform the sort usin

[2019-03-03 21:07] migueldvb commented on #257
I have pandas 0.24.1 and visidata 1.5.2. This is the code I have used to sort on a single column:
[code]
and sort descending:
[code]

[2019-03-03 23:20] migueldvb opened #259 "automatic data updates"
I wonder if it is possible to get automatic updates of a `visidata` sheet based on the data provided in a web API. For example using the `gevent` library that  provides data in the queue to be processed by visidata. Are there any similar examples in the documentation?

[2019-03-04 05:11] saulpw commented on #259
Hi @migueldvb, that's an interesting idea.  We could easily set it up to append additional rows, or execute individual commands (like from a .vd commandlog).  What's your particular use case?

[2019-03-04 16:28] migueldvb commented on #259
I was thinking to update the numbers in the data sheet automatically without having to press some key combination. Currently the data is organized in a pandas dataframe with a preliminary manipulation from the queried API. The dataframe is updated approximately every minute, and then the changed values in the rows would be updated.

[2019-03-05 05:02] anjakefala commented on #257
Hi @migueldvb =)

I have pushed a preliminary implementation for sorting using the pandas loader: https://github.com/saulpw/visidata/commit/1c3d1c9df4563e0648352677e83353c9083ae733.

Please give it a go by installing from the `develop` branch, and let me know what you think!

This will shipped with the next release.

[2019-03-05 05:02] #257 closed, assigned to nobody

[2019-03-05 05:48] saulpw commented on #259
Can you connect directly to the pandas DataFrame with VisiData?  It should be updated automatically already if so.  You can add another column to do the API query, and then set a timer that clears the caches every minute or so.  Does that make sense?

[2019-03-05 23:13] migueldvb commented on #257
Thank you! This is working perfectly.

[2019-03-07 21:07] migueldvb commented on #259
Thanks for the indications. I'm not sure how to connect VisiData with the dataframe, currently I'm launching vdtui using this code but it doesn't work for automatic updates.
[code]

[2019-03-08 07:46] saulpw commented on #259
Where does the dataframe (df) come from?  How does it get loaded in the first place?

[2019-03-08 16:03] migueldvb commented on #259
The dataframe consists of integers and float numbers where the script updates some of the elements periodically inside a while loop.  I did not manage to have the visidata sheet update automatically the changed elements in the dataframe.

[code]

[2019-03-08 16:57] cwarden opened #261 "delete-selected/save-sheet on DirSheet Deletes Only One File"
Selecting multiple files on a DirSheet and using `delete-selected` to delete them marks them as deleted.  `save-sheet` then prompts to really delete all of the deleted files, but answering yes only deletes one file.

[2019-03-09 00:41] yozlet commented on #176
This could still do with being documented on the man page: https://github.com/saulpw/visidata/blob/stable/visidata/man/vd.1#L150

[2019-03-09 01:00] anjakefala commented on #176
That's a good idea @yozlet. Would you mind modifying [vd.inc](https://github.com/saulpw/visidata/blob/develop/visidata/man/vd.inc#L150) and making a PR against the [develop](https://github.com/saulpw/visidata/tree/develop) branch?

[2019-03-11 02:45] anjakefala commented on #261
Ahh, good catch! =D

This was fixed in https://github.com/saulpw/visidata/commit/98e222c9d134241f0f6c3de062c394567d372ee4 and will show up in the next release or patch.

****

Essentially [commit](https://github.com/saulpw/visidata/blob/98e222c9d134241f0f6c3de062c394567d372ee4/visidata/shell.py#L200), which is the powerhouse within DirSheet's `save-sheet`, is async. The clearing of [toBeDeleted an

[2019-03-11 02:45] #261 closed, assigned to nobody

[2019-03-11 04:10] saulpw commented on #259
ah, I see, that's because vd.run() doesn't return until you quit out of VisiData. Try putting the code you want to run in parallel into an `@asyncthread` function that you call before run():

[code]

[2019-03-11 15:37] migueldvb commented on #259
Awesome! Thank you for the code example.

[2019-03-12 03:42] chocolateboy opened #263 "An aggregator which gathers values into a list"
Any interest in adding an aggregator which gathers items into a (Python) list? I often need to group by a key column and gather values in another column into a list, which is then exported as a JSON array e.g. for something like an [episode guide](https://www.youtube.com/watch?v=0iJ9F4uTkz8), I might want to group by writer and gather together their episodes into an array of titles.

I've added an

[2019-03-13 06:51] saulpw commented on #263
That's a great suggestion, @chocolateboy.  It did not occur to me that someone would want to do this (I don't work with nested JSON very often), but now that I see it, it does seem obvious.  We could go even one step further with `aggregator('list', list)` which is an almost comical oversight.

Also, you're right, the list of aggregators is already long (14 with this new one).  I had been wonderin

[2019-03-13 07:09] #263 closed, assigned to nobody

[2019-03-13 07:10] #259 closed, assigned to nobody

[2019-03-13 07:11] saulpw commented on #251
Well, I hope the mess above fixed it :)

[2019-03-13 07:11] #251 closed, assigned to nobody

[2019-03-13 07:15] #244 closed, assigned to nobody

[2019-03-13 07:18] saulpw commented on #223
@jtrakk, we have multi-line column names now; if you wanted to submit a sample dataset and code to elicit the kind of table you show above, we could probably get this done in a very short order.

[2019-03-13 07:46] jtrakk commented on #223
Just snipping from the pandas doc I linked above:

[code]

[2019-03-13 15:13] migueldvb opened #264 "[pandas develop] Adding a column to a PandasSheet does not work"
Adding a row to a pandas dataframe in a separate thread works well as in this example.

[code]

However adding a column is not currently working as shown by the example below. This functionality is described [here](http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#setting-with-enlargement) and has been added to pandas around v0.13. The reason I encountered this problem is becaus

[2019-03-14 17:50] cwarden opened #265 "selected-or-all-row operations can lead to unexpected results in batch mode"
If you have a cmdlog that selects rows then performs an operation on the selected rows, you'll get unexpected behavior when the select operation doesn't match any rows because the second operation will affect all rows.

For example, using `setcol-expr` after `select-col-regex` will update all rows if the regex doesn't match any rows.

[2019-03-15 20:31] anjakefala commented on #264
Hi @migueldvb!

This was really fun to try out. :blush: The reason why this works for rows, but not columns, is actually an interesting one.

## Current workaround
If you want to reload the dataframe with asynchronously added columns, you can currently do so by pressing `^R` (`reload-sheet`).

## Source of issue
It is due to decisions made in column and row setting in [PandasSheet's reload](https:

[2019-03-18 00:41] anjakefala commented on #255
Thank you so much for spearheading this @kovasap :tada: This is lovely and something I wanted for a while.

***

For posterity, @kovasap's work on this issue was recorded and reviewed within PR https://github.com/saulpw/visidata/pull/258.

***

After testing the PR, I made some changes in commit https://github.com/saulpw/visidata/commit/abf990d8b593f13aee8abfbdea31ade2c0425882 .

I expanded @kovas

[2019-03-18 00:41] #255 closed, assigned to nobody

[2019-03-18 04:23] migueldvb commented on #264
Thank you for explaining the issue. Reloading the current dataframe is working well. However I have found another problem that may be related with checking the columns once when the sheet information is loaded. If a view to some columns in the dataframe is provided to `vd.PandasSheet`, for example when the dataframe includes many columns that are not supposed to be displayed, later on when the sho

[2019-03-18 05:38] saulpw commented on #265
After much consideration this weekend, the `selectedRows or X` idiom has been largely converted to `selectedRows` (though not for everything--notably `show-aggregate` and the type converters on the ColumnsSheet) in order to make the output during batch mode consistent with interactive mode, for the same commands on the same input data.

Note that develop now has a breaking change for some scripts,

[2019-03-18 05:47] saulpw commented on #264
Gosh, I just don't know, @migueldvb.  It must be making a copy, because if you pass the 'view' into changedata instead, it does work (and the changes persist after `run()` return).  I have to admit, I'm not a big pandas user, so maybe someone else can chime in as to why it is not working as expected.

[2019-03-21 20:45] azjps commented on #264
This is expected behavior from `pandas`, it rarely returns a view and usually will make a copy since it is difficult for `pandas` to know when it is permissible to return a view (especially considering `BlockManager`). More information in: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy, for example can verify with something simple like:
[code]

[2019-03-21 21:47] azjps opened #266 "pandas: selecting rows does not work"
To reproduce, open any `PandasSheet` and try pressing `s`; no rows appear as selected.

The problem comes down to that `selection.py` heavily uses `id()` to track rows, and it will either use `__iter__()` or `__getitem__()` to access the rows. However, with `pandas`, these two methods yield different objects with different ids:
[code]
In general, `id()` is not reliable for `pandas` rows as for het

[2019-03-22 10:35] azjps commented on #266
Actually I take that back, it would probably make more sense to override all of the selection-related API and instead use a boolean mask instead to represent the selected rows. That would avoid any issues with working with individual rows or duplicate index entries. To do so though we would need to pass the integer index of the row as opposed to the row itself into `select()`; this could either be

[2019-03-30 08:33] aborruso opened #270 "Wrong output using bash expr?"
Hi,
when I use `z;` and run `echo "$columname"` for a string column, in output I have an unwanted
`<000A>` (a mid point) char (see image below).

Is it normal?

I'm using VisiData v1.5.2.

Thank you

![image](https://user-images.githubusercontent.com/30607/55273660-9cdd4c00-52ce-11e9-9068-bfff997d9233.png)

[2019-03-30 08:52] aborruso commented on #270
Yes, it's ok, it's the default carriage return of echo.

Sorry

[2019-03-30 08:52] #270 closed, assigned to nobody

[2019-03-31 01:49] #265 closed, assigned to nobody

[2019-03-31 01:50] saulpw commented on #265
@cwarden Let us know if we missed anything or if this is giving you any more issues.

[2019-03-31 01:54] saulpw commented on #206
Github issues is not a todo list :)

[2019-03-31 01:54] #206 closed, assigned to anjakefala

[2019-03-31 01:57] anjakefala commented on #141
Since https://github.com/saulpw/visidata/commit/a7527622d2909dfa0a1ce7ca342de05d6d95b379, undo has been bound to `Shift-U` and redo to `Shift-R`. =)

[2019-04-01 15:54] cwarden commented on #265
These changes are working well for me.

[2019-04-01 23:52] jspatz opened #271 "Crash when replaying a command log that contains brace-enclosed RegEx quantifiers"
When playing back a command log that includes RegEx quantifiers in braces (e.g. using [0-9]{5} to match sequence of exactly five digits) -- or in fact includes numeric digits inside of curly braces for any reason at all -- VisiData will crash.  It looks like the Python string format function that substitutes variables with the values assigned on the command line is throwing an exception whenever i

[2019-04-03 08:19] unhammer opened #273 "harmonic and geometric means in describe sheet"
The [geometric mean](https://en.wikipedia.org/wiki/Geometric_mean) is nice for [comparing values from different ranges](https://www.cse.unsw.edu.au/~cs9242/15/papers/Fleming_Wallace_86.pdf) and the [harmonic mean](https://en.wikipedia.org/wiki/Harmonic_mean) for comparing ratios. It'd be nice if they showed up in the `shift-i`  describe sheet :-)

[2019-04-03 08:23] unhammer commented on #273
(Or is there a way to customize the describe sheet?)

[2019-04-09 14:30] sitaramc opened #274 "turning numbers into percentages"
Hi

Visidata is absolutely awesome; thank you so much for it!  I'm not a "data scientist" but I love being able to "do XLS" on a plain text terminal!

I'm trying to figure out how to replace (or supplement) a set of numbers with their equivalent percentages.  Say you have a row of sales figures (see sample table at end, produced by taking "sample.csv" and doing some manipulations on the data to fi

[2019-04-16 01:55] saulpw commented on #271
Thanks for the report, @jspatz.  You are totally right that this is an issue.  The fix that I made was to only format the string *if* extra args (like filenames) or kwargs (like `key=value`) are given on the command line.  If not, then the cmdlog is passed through unformatted.  This has the small disadvantage that replaying a "template" .vd without any args will fail in a less obvious way; I might

[2019-04-16 01:55] #271 closed, assigned to nobody

[2019-04-16 02:01] saulpw commented on #274
Thanks, @sitaramc! For this the best idea I've had so far is to make it so that the `sum` and `count` aggregators automatically add a percentage column (like the FreqTable does already, with its count/pct columns).  This should solve your issue and make things easier for everyone (since it's easier to hide columns than to create them).  I'm not sure if this will make it in for 1.6, but we'll try t

[2019-04-16 02:07] saulpw commented on #273
Thanks for the request, @unhammer.  I'm wondering if maybe we should automatically add all aggregators to the describe sheet, and then you could add those aggregators yourself in your `.visidatarc` (and we may add them to core VisiData once we have a better way to organize the increasingly long list of aggregators).  My only concern is that this would make the Describe sheet messier by default, an

[2019-04-16 02:54] anjakefala commented on #141
The work on undo / redo that is currently on `develop` is considered 'shippable'. It will be enabled by default on v1.6.

Upon pressing `Shift-U`, the most recent _modification_ on _that sheet_ will be undone. In the future, every single new command which modifies data, will require the implementation of an undo function before it can be part of VisiData core.

Please check it out on `develop` and

[2019-04-16 02:54] #141 closed, assigned to nobody

[2019-04-16 03:59] saulpw commented on #141
The rule of thumb: a command is undoable if it would change how the sheet is saved.  Therefore width changes are not undoable, but hide-col is.  Changes in selected rows are currently undoable, but I'm not sure about that (esp because it violates the above rule).  Comments welcome.

[2019-04-16 06:40] sitaramc commented on #274
On Mon, Apr 15, 2019 at 07:01:36PM -0700, Saul Pwanson wrote:

That's great.  I'm quite happy to wait (even if it is 1.7).
It's a "would be nice" not a "show stopper" for me :)

regards
sitaram

[2019-04-17 12:49] h-g-s opened #275 "Increase precision for floating point"
Hi, I already learn that pressing % I set a field to float, but only two decimal places are visible. How I increase the precision to see more decimal places ?  Sorry if this is included in the documentation, could not find it.

[2019-04-17 13:51] anjakefala commented on #275
Hi! This is a good question, and could be better explained in our documentation.

If you press `C`, that will take you to the current sheet's **ColumnsSheet**. You will there see attributes for each column.

The `fmtstr` attribute allows you to set the style display formatting for a particular column, including the displayed decimal precision for float types. Please note that this just affects dis

[2019-04-17 13:51] #275 closed, assigned to nobody

[2019-04-17 14:21] h-g-s commented on #275
Works perfectly, thanks !

[2019-04-18 18:44] saulpw commented on #141
@deinspanjer I forgot it was you that had suggested `Ctrl+[` and `Ctrl+]` in the first place!  We had those bindings for awhile as you can see, not sure if you played with it during that time, but I liked it for all the reasons you suggested.  I found ESC felt a bit weird as undo, but the deal-breaker was actually a few times where an ANSI sequence got misinterpreted somewhere in my terminal stack

[2019-04-23 11:50] unhammer commented on #273
Hm, I don't think I'm experienced enough with visidata to think of what the best organisation would be, but auto-adding aggregators to describe sheet does sound like an ok solution.

[2019-04-24 04:13] rnkn opened #276 "How to save column expressions (à la Excel, etc.)?"
VisiData is a truly amazing piece of software. Much appreciation for creating it.

I'm wondering if it's possible to use VisiData in a similar way to Excel or other spreadsheeting programs that have dynamic column values calculated with formulas?

I guess in VisiData these would be Python expressions but is it possible to save these to the (tsv|csv) file somehow? Or save in another file and refere

[2019-04-24 17:06] saulpw commented on #276
Hi @rnkn, thanks for the suggestion!  This is not currently possible, but I've been thinking about extending the tsv loader such that column names that start with `=` become expression columns.  You'd have to manually put the `=` into the name before saving the first time, though they'd roundtrip after that.  In this scheme, both the expression and all computed values would be saved into the .tsv,

[2019-04-25 12:41] rnkn commented on #276
Omg @saulpw your website design is amazing...

I like your `=` idea. I was also thinking maybe expressions could be saved in a separate sheet file in the same directory, like `.visidata-expr.tsv` or something, and accessed similarly to the columns sheet. It's a more complicated approach but might be nicer for long expressions. Also maybe expressions from this external file could be referenced in m

[2019-04-25 16:44] saulpw commented on #276
I started implementing the tsv loader idea I mentioned last night, and realized that in addition to expressions you probably also will want column types, and column names that aren't just the formula, and probably other things as well.

So I was thinking, are you aware that VisiData can save off its cmdlogs and you can replay them?  This might be a reasonable solution for what you want.  You can m

[2019-04-25 17:29] anjakefala commented on #276
A link to our documentation, with a demo of save/replay, is here =) http://visidata.org/docs/save-restore/

I definitely need to add information on parametrisation to it.

[2019-04-29 10:03] am-zed opened #278 "Links in HTML tables"
Link names in HTML tables are not always useful and a way to toggle between hrefs and names would be handy.

Example:
Links to "hosts" files from this github page are the info that makes sense instead of "link" and "raw" names:
$ vd -f html https://github.com/StevenBlack/hosts

Sample table; "Home page", "Raw hosts" and "Issues" are not useful here unless links themselves can be viewed:

|Host fil

[2019-04-29 13:53] polm opened #279 "Resizing columns and wide characters"
Adjusting column width with `_` doesn't seem to work as intended with wide/full width characters as used in East Asian languages.

Consider this sample csv data:

    壱弐参四五六七八九拾,ok,test-test
    this is a test,test two, test three

On the second row everything looks fine, but on the first row `_` is weird for all columns, not just the first one.

You should be able to compute the display width of

[2019-04-29 14:00] rnkn commented on #276
This is awesome. Thanks for the heads up, I'll dive into this soon!

[2019-05-03 04:50] anjakefala commented on #279
Hi @polm!

Can you clarify what you meant by it is weird for all columns?

I have been able to reproduce using [benchmarks.csv](https://github.com/saulpw/visidata/blob/develop/sample_data/benchmark.csv) that `_` underestimates what the max width is for cells with special characters.

If: that is what you meant, yeah that is definitely an issue, nice catch. =) Thanks for letting us know. We will fi

[2019-05-05 05:33] polm commented on #279
That's the issue, yes. I though resizing was also weird for columns to the right of the one with wide characters (thus "all columns") but I can't reproduce it so I must have been confused.

Could I submit a PR to fix this? I see you have code like what I suggested above already but are just not using it in the column resizing part.

[2019-05-05 14:52] anjakefala commented on #279
@polm Yes!

Please do. :blush: We use the `develop` branch for [development](https://github.com/saulpw/visidata/blob/develop/CONTRIBUTING.md#submitting-code). Please submit the PR against that branch. =)

[2019-05-09 00:37] frosencrantz opened #280 "Visidata doesn't resize when the terminal size changes"
In the code it looks like the KEY_RESIZE is a no-op.

I use visidata in a tmux pane, which will get resized. I would like for visidata to change it's own layout based on the current window size.

There doesn't seem to be a bug already filed for this issue, which seems odd.

[2019-05-09 09:56] Znarkus opened #281 "Plot timestamp with time as x, and float as y"
Is there any way to make the plot graph show timestamp with time? Not only date
Looking at the readme, I can only see the command line argument `disp_date_fmt`. But there might be a way in the UI?

<img width="1657" alt="Screenshot 2019-05-09 at 11 27 15" src="https://user-images.githubusercontent.com/168042/57444633-dea7cd80-7250-11e9-92d7-1f4b41181e81.png">
<img width="1657" alt="Screenshot 2019

[2019-05-10 23:25] azjps commented on #266
Closed by #267

[2019-05-10 23:25] #266 closed, assigned to nobody

[2019-05-10 23:55] saulpw commented on #280
Hi @frosencrantz, KEY_RESIZE is a no-op because the window is automatically redrawn after every action, using the current size of the window.  So this should already work, and I'm surprised that you're having issues.  I use VisiData within a tmux pane all the time and have never had any issues.  Can you clarify what you're seeing, and maybe include an animated screenshot?  Also which version you'r

[2019-05-11 00:00] saulpw commented on #281
Hi @Znarkus, you can set the `disp_date_fmt` option from t he `O`ptions sheet within VisiData, which will set it globally, or in the Sheet-specific options sheet (with `zO`).  Alternatively, you can set the format for a single date column from the `C`olumns sheet; edit the `fmtstr` column to the strftime format string you'd like displayed.  That should change the display format on the sheet itself

[2019-05-11 00:00] #281 closed, assigned to nobody

[2019-05-13 06:38] saulpw commented on #276
Closing for now, as replay should be a sufficient and also a more flexible mechanism.

[2019-05-13 06:38] #276 closed, assigned to nobody

[2019-05-13 12:25] Znarkus commented on #281
Thank you!

[2019-05-13 15:25] #280 closed, assigned to nobody

[2019-05-15 17:17] bknowles opened #282 "Select starting table in postgres from command-line"
Related to #214 , I'd like to be able to specify a starting table when opening a particular postgres database.  The database I'm trying to work with has dozens of tables, some of which have millions of rows.  So, it takes so long to list all the tables and how many rows are in each table that the database query times out and I can't ever select the particular table that I want to open inside of th

[2019-05-16 06:22] saulpw commented on #282
Thanks for the bug report, @bknowles. I thought `COUNT(*)` would be a fast operation, and it's weird that the queries are taking so long.  Would you be able to check out the source code, and comment out the nrows column?  https://github.com/saulpw/visidata/blob/stable/visidata/loaders/postgres.py#L73
We still want to provide a generic way to open straight to a particular sheet, but that might be a

[2019-05-17 15:26] bknowles commented on #282
@saulpw -- I did a git clone on the repo at https://github.com/saulpw/visidata.git, made your suggested one line change, and then did a "pip3 install ." in the visidata directory.

I can confirm that by omitting the count operation, we can load the list of tables almost instantaneously, and then I can select the table in question and pull up the contents.

So, this seems like a good solution to me

[2019-05-17 15:33] bknowles commented on #282
Note that, in our case, this database has 41 tables, and several of those tables have several million rows.  So, doing a count of the number of rows in each table will take quite a while.  And doing all those count operations in parallel in multiple asynchronous threads will probably make that something close to 41 times worse.

Fortunately, this is just a read replica server and no one else is us

[2019-05-17 16:08] saulpw commented on #282
Thanks for running that experiment, @bknowles, and glad it will work for you.  Though, a database really should not require a linear scan to count the number of rows in a table.  I'm wondering if it doesn't have more to do with the number of concurrent threads as you suggest, maybe some kind of locking contention.  If you are able, it would be great to try the same test but with 41 tables that eac

[2019-05-17 16:08] #282 closed, assigned to nobody

[2019-05-17 17:09] bknowles commented on #282
Let me see if I can find a lower lifecycle database that has roughly the same number of tables, but with much less data.

[2019-05-18 00:35] frosencrantz commented on #280
Here is what I'm seeing. (Sorry for the long response time, it might take me some time to respond).

For long data, longer than the initial screen length:
  - Making the window longer, vd doesn't use the extra space.  Keeps initial size
  - Making the window smaller than the initial size causes the top rows of the table to be pushed off the top, so you can't see the headers.

For short data, short

[2019-05-18 01:08] saulpw commented on #280
Okay, thanks @frosencrantz.  We definitely don't see this; resizing for us is fluid and immediate with only the occasional need to Ctrl+L to remove some extra detritus on the screen.

Can you provide the following information?

- which OS and version are you using?
- which terminal program?
- which version of tmux?
- are tmux and visidata both running locally or are you ssh'ing into another comput

[2019-05-18 02:36] anjakefala commented on #279
@polm fixed the issue in https://github.com/saulpw/visidata/pull/284. Closing.

[2019-05-18 02:36] #279 closed, assigned to polm

[2019-05-18 14:37] frosencrantz commented on #280
I'm using python 3.6.5.  I use both ssh and not-ssh.  I can use a local xterm and still have the issue.
My system is using ncurses (6.1-20181013-2).  I'm using a Linux system based on Debian.

How would I tell visidata to show the dimensions of the screen in the status bar, on the left side.  It feels like visidata doesn't have the correct screen size.  I was able to try visidata on a completely i

[2019-05-20 07:24] saulpw commented on #280
With develop HEAD, you can put this in your `.visidatarc`:

```options.disp_status_fmt = '{vd.windowWidth}x{vd.windowHeight} {sheet.name}| '```

[2019-05-22 17:10] aborruso opened #285 "feature request: add global Enter to Frequency Table sheet"
Hi,
I use a lot Frequency Table, it's one of the great ideas of Visidata.

When I open it, very often I use enter to open sheet of source rows that are grouped in current cell. It would be fantastic to have `g+Enter` to open sheet of source rows that are grouped in selected cells.

Thank you

[2019-05-22 17:31] anjakefala commented on #285
Thanks for the feature requests as always @aborruso 😊

https://github.com/saulpw/visidata/commit/2c5719254927e546a822dbc879da42bca8388f35

We agree, that would be wonderful! And, we have that implemented already in `develop` =D

[2019-05-22 17:31] #285 closed, assigned to nobody

[2019-05-22 17:32] aborruso commented on #285
as always you are great!

[2019-05-22 17:40] anjakefala commented on #285
I love that we came up with the same command structure and functionality. 🙃 😊

[2019-05-24 13:51] frosencrantz commented on #280
That was useful.  I have a workaround, in my .visidatarc:
[code]
I tried making KEY_RESIZE a globalCommand, but that didn't work.  I didn't try to figure that out yet.

[2019-05-24 18:05] saulpw commented on #280
Hm, that is very interesting.  I wonder why your terminal is acting differently than ours.

The reason that KEY_RESIZE doesn't work as a global command, is that it's overridden on BaseSheet.  I think we're actually going to get rid of globalCommand and put them all on BaseSheet (since there should always be an active 'top' sheet anyway).  Currently KEY_RESIZE is bound to the `redraw` command which

[2019-05-26 03:17] frosencrantz commented on #280
That works.

Curses is broken in my environment, within visidata it doesn't know the correct screen size after resizing. (Why? Not sure.)  It sends  KEY_RESIZE but doesn't appear to update what it thinks the size of the screen is.   This workaround is great for me, but might not make sense to add to the code if others are not seeing this issue.

One thing I noticed when testing this was, when acti

[2019-05-27 23:28] frosencrantz opened #286 "Add immediate filtering like a fuzzy finder"
Tools like [fzf](https://github.com/junegunn/fzf) filter their input immediately.  It would be useful if visidata had a feature where you could filter the rows of a table faster than you can currently with the select ('g|' or '|')/filter ('"') workflow available now.

The immediate filtering could have the same options (e.g. current column, visible rows) that are used now for select/unselect comma

[2019-05-28 01:06] frosencrantz opened #287 "[plugin] add ability from the keyboard to add color to cells/rows based on the data in the cell/row"
Add the ability to colour cells of a column based on the values of the cell or the cell's row.
It would be great if I could have a greyscale value to show where a cell's value is over a range of 0 to 100.  Or a range of red to blue to show which way a US state voted in a particular election.  Or use a color range to make it easier to see how frequent a value is in a column (a color version of the

[2019-05-28 04:25] saulpw commented on #287
Thanks for the suggestion, @frosencrantz, it's a neat idea.  This could be a plugin, probably not that much code too.  The trick of course is in the design, as I am not so great with colors either.  I'm not going to add it to the roadmap, but if you're interested, you could put together a plugin; I'd be glad to help get you going (email me), and maybe someone with some color sense could improve wi

[2019-05-31 11:31] aborruso opened #289 "how to set the characters for key columns separator and null value?"
Hi,
I'm using Visidata inside Windows WSL.

The characters for key columns separator and for null value are not recognized.

How to set them?

Thank you

![image](https://user-images.githubusercontent.com/30607/58703181-1ca79580-83a8-11e9-80dd-fade54c828d7.png)

[2019-05-31 14:35] aborruso opened #290 "What's the display options colors specification?"
Hi,
probably it's a stupid question, but I need to ask it.

When I read `color_selected_row  215 yellow`, what's this color specification? What is the color list (as a string) I can choose? What does the numeric code represent?

Thank you

[2019-05-31 14:50] anjakefala commented on #290
Hi @aborruso! Not a stupid question at all.

`curses` comes with a [color palette](https://stackoverflow.com/questions/18551558/how-to-use-terminal-color-palette-with-curses). =) Each color should have a label and a number. There are also other sorts of formatting options like `reverse` and `bold`. For example, the current cursor row is `reverse`d. The current column is bolded.

If you press `Spac

[2019-05-31 14:50] #290 closed, assigned to nobody

[2019-05-31 14:52] anjakefala commented on #289
`disp_note_none` for the None cells and `disp_keycol_sep` for the key column separator. You can set them through the `OptionsSheet` (reload with `^R`) or through your `.visidatarc`. =)

[2019-05-31 14:52] #289 closed, assigned to nobody

[2019-05-31 15:13] aborruso commented on #289
@anjakefala I have asked here because these not work.

It' a problem of Windows WSL default font. The solution is:

- Right click on the title bar
- Select Properties
- Go to the tab Font
- Select "Dejavu Sans Mono" in the Font section
- Click the OK

[2019-05-31 15:16] aborruso commented on #290
@anjakefala as usual thank you very much.

I think you should insert some note about it, in the documentation

[2019-05-31 15:18] anjakefala commented on #290
Totally! We have dreams to. 👼

![Screen Shot 2019-05-31 at 11 17 21 AM](https://user-images.githubusercontent.com/7489659/58715826-b0239b00-8395-11e9-951b-db205258763e.png)

Our documentation should be getting a revamp over the summer. We will have an updated ToC and procedure, so others can also add stuff to it.

[2019-05-31 15:19] aborruso commented on #290
Ok, I will be there :)

[2019-06-03 16:39] aborruso opened #291 "feature request: enable spatialite in VisiData"
Hi,
[spatialite](https://www.gaia-gis.it/fossil/libspatialite/index) is IMHO one of the greatest geospatial open source project:  is an open source library intended to extend the SQLite core to support fully fledged Spatial SQL capabilities.
In a spatialite db, you have a special kind of field, in which you collect geometries (in example the coordinates of the hotels of your city)

To enable it in

[2019-06-03 19:41] #250 closed, assigned to anjakefala, azjps

[2019-06-04 00:32] frosencrantz commented on #287
Getting added to the roadmap was my interest.  There are other places where color is under-supported, for example xlsx files ignore color information, or the way color works with highlighted rows (it hides any coloring already there.)

With colors it would be possible to pack more information onto the screen, and make things easier to read.

I'll follow up with you by email about the plugin.  It s

[2019-06-04 13:53] frosencrantz opened #292 "[develop-branch] help-commands is showing null keystrokes"
The z^H command (help-commands) is broken in the develop branch it reports that bindkeys is not defined.
And the it show null for the keystrokes for all rows.

[2019-06-04 14:45] anjakefala commented on #292
Hi @frosencrantz!

Thanks for reporting. 💯  It ended up being a missing import. I just pushed a fix https://github.com/saulpw/visidata/commit/0c9724532fb157f40c98ecfb1d4aba20d8c5f136

Something we should add to our issue documentation.... `Ctrl-E` (`error-recent`) shows the complete traceback for the most recent global exception. `zCtrl-E` (`error-cell`) shows the complete traceback for an error c

[2019-06-04 14:45] #292 closed, assigned to nobody

[2019-06-05 18:10] jtrakk commented on #247
I like how emacs-helm does this by splitting into two panes, where the bottom pane shows the command palette. For visidata, showing the `z Ctrl+H` table in the bottom half of the screen would work nicely, I think. Typing into the palette does a live fuzzy-filter over the options.

![image](https://user-images.githubusercontent.com/43392409/58979229-661a2b00-8782-11e9-9987-ec235f551988.png)

[2019-06-05 18:29] jtrakk opened #293 "[wishlist] Command cluster help"
Some commands go together in a logical group. I'd like to be able to pull up a visual help showing the bindings for those commands. It provides an easy way to use the commands that go together, while *teaching* me new commands I didn't know about, *and* what their bindings are.

For example, in Magit, I get help by pressing `?`, and it pulls up the Magit help menu at the bottom

![image](https://u

[2019-06-06 20:06] frosencrantz commented on #292
I didn't know that is what the error-* commands do, will use those.  Will you also add tests to automatically catch issues with the help-commands command?  Thanks for fixing it quickly.

[2019-06-07 05:05] saulpw commented on #293
Thanks for the suggestion, @jtrakk, it's a really good idea.  I'm thinking we could use the upcoming split-window functionality and open a context-dependent commands sheet (like you can already get with `z Ctrl+H`) which includes the keybinding and a description for each command.  It would then go straight into insta-searching (see #286) the longname and the description columns (the longnames hope

[2019-06-07 05:55] saulpw commented on #286
Thanks for the request, @frosencrantz.  I wrote a little plugin to do this, and I'm thinking about how best to incorporate it.

[2019-06-07 23:14] jtrakk commented on #293
The functionality you describe would definitely be helpful. But I don't think it gets at the command-group idea though. I'm thinking a sheet like

|group|key|description|
| --- | --- | --- |
|filter|f|Filter the data on this sheet|
|pivot|p|Reshape the data on this sheet|
|meta|m|Visidata options|
|quit|q|Exit this menu|

Pressing `f` would switch to a table of all the filtering commands

|functio

[2019-06-08 01:35] saulpw commented on #278
Thanks for the suggestion, @am-zed!  This is in develop branch now, slated to be released in v2.-1.  If you have a chance to try it out, let me know how it works for you.

[2019-06-08 01:35] #278 closed, assigned to nobody

[2019-06-09 18:51] frosencrantz commented on #286
Great.  What's the best way to try it? How do you load plugins? I tried to import from visidatarc file.

[2019-06-09 19:12] anjakefala commented on #286
@frosencrantz Our documentation on manually installing plugins is here =) https://github.com/saulpw/visidata/blob/develop/docs/plugins.md#manually

(The automated installation method has not been shipped yet.)

Let me know if you still have trouble!

In summary:

[code]

[2019-06-10 02:35] anjakefala commented on #286
On second thought @frosencrantz  these instructions are too vague. I only just caught up on what this issue entails.

Here is the specific how to:
1. Install VisiData from the `develop` branch `pip3 install git+https://github.com/saulpw/visidata.git@develop` (welcome to the cutting edge of VisiData =)
2. `mkdir -p ~/.visidata/plugins`
3. Copy [plugins/livesearch.py](https://raw.githubusercontent.c

[2019-06-10 02:35] #286 closed, assigned to nobody

[2019-06-10 05:35] aborruso commented on #286
@anjakefala is there some way to stay both on cutting edge and stable version of VisiData?
Is there a way to install and use both?

Thank you

P.S. as usual the next Visadata seems really great

[2019-06-10 05:52] aborruso opened #295 "How to load .sqlite3 extension"
Hi,
I have read that in the next really great release will possible to load .sqlite3 extension.

How to do it??

I would like to try to load spatialite one (see #291).

Thank you

[2019-06-10 06:06] saulpw commented on #295
You should be able to use `-f sqlite` in 1.5.2.  Does that work for you?

Also do you use IRC, @aborruso?  Some of us hang out on freenode:#visidata if you would like to join.

[2019-06-10 12:13] anjakefala commented on #286
@aborruso How comfortable are you with Python virtual environments? =)

[2019-06-10 17:43] aborruso commented on #295
@saulpw only to add a note after today chat.

Probably the best approach would be to have a special kind of sql column (your idea). These columns could be created using or updating a SQL query and not a python expression.

I'm adding a correlated thing, because I do not know if it has inside some idea useful for this goal: it's partially OT, it's a Jupyter kernel for PostgreSQL than enable you to

[2019-06-11 14:30] frosencrantz commented on #286
The instructions for the plugin worked, thanks for adding the detailed notes.  I was looking for the instructions under http://visidata.org/docs/ I didn't think to look at the github wiki.

I tried the plugin a couple times, and it works well.  It provides immediate feedback.  I'm going to try using this as one of my main filtering commands.

Here's some initial impressions. As I'm typing the sear

[2019-06-11 14:32] aborruso commented on #286
@anjakefala not so good, but I will try

[2019-06-11 14:48] anjakefala commented on #286
@frosencrantz, it is not on https://visidata.org/docs/ yet because we have not officially shipped that documentation yet!

The reason my detailed notes differed from what was on the WIP docs (github wiki) is because our conceptualisation for plugins has changed on `develop`, and the documentation has not been updated yet. Haha, this is what I meant by "welcome to the cutting edge". =)

[2019-06-11 14:50] anjakefala commented on #286
@aborruso Rara!

I know, I wish environment sandboxes in Python were easier. It is the bane of my existence in packaging.

[2019-06-11 15:51] aborruso opened #296 "An hello world example for "gz=""
Hi,
I know that `gz=` sets the value according to a Python iterator, it " sets current column for selected rows to the items in result of Python sequence expr".

I know that probably it's a stupid request, but I would like to have an example in the "'How to' recipes", with the use of `gz=`.

Because I suspect it can be very useful, but I didn't understand at all what it is for :)

Thank you

[2019-06-12 05:53] saulpw commented on #296
I usually just do `gz=range(100000)` to number rows, to be honest.  But it would also be useful for example if you had a common list of something you wanted to fill rows with.  Like you could also put this in your `.visidatarc`:

```ordinals = '''primo secondo terzo quarto quinto sesto settimo ottavo nono decimo undicesimo dodicesimo tredicesimo quattordicesimo quindicesimo sedicesimo diciassettes

[2019-06-12 05:58] aborruso commented on #296
Thank you

[2019-06-12 05:58] #296 closed, assigned to nobody

[2019-06-14 20:04] frosencrantz opened #297 "Add the ability to place sparklines in the cells of a column."
Visidata allows you to graph results in a separate canvas, but it would be useful if it could condense the values of several columns to single column with a sparkline.  The sparkline would combine the values of the other columns.

 I have some data with multiple columns containing 0 or 1 (N or Y).  With the headers and the line separators it can be hard to get a feel for where different rows match

[2019-06-14 20:08] frosencrantz commented on #286
How would I start visidata in this fuzzy finder plugin mode without having to type the key to start it.  Additionally how would I pass in an initial value of the search string.

[2019-06-15 07:32] saulpw commented on #297
This is an awesome idea, @frosencrantz.  If you can write `def sparkline(values)` which takes a list of numeric values and returns a unicode braille sparkline, then we can make a nice VisiData plugin to bring it all together.  I'm thinking a command `addcol-sparkline` on the columns sheet that would add a sparkline column from the selected columns (maybe override `&`).  Or on the source sheet, fro

[2019-06-16 01:54] anjakefala commented on #295
Hi @aborruso!

Did you find that your question was answered? Would you like to rename this issue or shall we close it?

[2019-06-16 08:26] aborruso commented on #295
I'm closing, because I had read [here](https://github.com/saulpw/visidata/blob/f6b9032784ab8268de236a8a9668937c931d57b8/CHANGELOG.md) "add support for .sqlite3 extension", but I had misunderstood: I thought it was possible to load sqlite extensions https://www.sqlite.org/loadext.html

Thank you

[2019-06-16 08:26] #295 closed, assigned to nobody

[2019-06-16 15:39] aborruso opened #298 "strange behavior with fixed input source and empty column"
Hi,
when I open this fixed table

    curl -sL "https://www.metoffice.gov.uk/pub/data/weather/uk/climate/datasets/Tmin/ranked/UK.txt?fbclid=IwAR26RJZPfZYJd4GJ5bn4zmAHlXkGmDj4UPxujCIgLWFW5ErgM9AWkmpG_IM" | tail -n +8 | vd -f fixed

and then run in the first empty column `gz=range(10000)`,  I have not as output a column with increasing progressive numbers. But why? What's wrong in my procedure?

Tha

[2019-06-16 15:58] anjakefala commented on #298
This is fun! Here is some more information with what is happening.

![Screenshot from 2019-06-16 11-55-50](https://user-images.githubusercontent.com/7489659/59566398-d1d78000-902d-11e9-8b75-68d6dfaae3b1.png)

![Screenshot from 2019-06-16 11-56-07](https://user-images.githubusercontent.com/7489659/59566400-dac85180-902d-11e9-8959-20dc7e53258f.png)

And some more information on procedures, but I thi

[2019-06-16 16:04] aborruso commented on #298
Hi @anjakefala I have 1.5.2.

If I run `gs` I have the same wrong output.

[2019-06-16 22:00] anjakefala commented on #298
@aborruso, congrats, your issue has earned a bug label. =D

[2019-06-16 22:07] anjakefala commented on #298
Eureka! I have figured out the issue.

Edit one of the cells in the `Year` column. Place a number that is longer than the value within the current cell (say type in '123456'). Only the first 4 character of the number you typed in will show up. This is because the current implementation of the FixedWidthSheet *maintains* a fixed width.

So when you are doing `range(1000)`, it is properly calculatin

[2019-06-17 13:50] frosencrantz commented on #297
I won't be able to provide any code.  I'd be willing to provide feedback.  I have data that this feature would be useful for.

[2019-06-17 17:53] aborruso commented on #214
Hi @saulpw is there a way to open the table directly, when it is only one?

My final goal is to use VisiData as HTML to CSV converter with something like below in which I use an xpath query to extract only one table

[code]

But also with only one table visidata asks me to choose, and it saves as csv sheets sheet

![image](https://user-images.githubusercontent.com/30607/59625393-7397c380-9139-11e9

[2019-06-18 03:17] anjakefala commented on #297
Hi @frosencrantz! We currently have quite a few things we are working on, and have to prioritise features where we get collaborative help over ones where we do not.

This is a really cool feature though, and if anyone is willing to provide the sparkline function code, we can jump right on it.

Some possibly helper material: https://shapr.github.io/posts/2019-06-16-tmux-sparklines.html

[2019-06-18 03:44] saulpw commented on #293
That does sound like it would be useful for newcomers, @jtrakk.  With the features mentioned above, and maybe a little extra sauce, we could provide a framework to make this pretty easy to create.  You seem to have a particular vision, would you be willing to figure out what groups make sense and how they should be laid out?  I've been using VisiData for too long and I can't seem to make features

[2019-06-18 03:45] anjakefala commented on #298
Hi @aborruso!

It seems like your best bet is to content with the workaround. =( When a FixedWidthSheet is related to a source, we need to respect the hardcoded limits set by those columns.

Having said that, we now adapted FixedWidthSheets to use deferred columns, which we had forgotten about! Thanks. <3

[2019-06-18 03:45] #298 closed, assigned to nobody

[2019-06-18 03:46] saulpw commented on #286
@frosencrantz There's not a good way to start VisiData in the middle of a command like you suggest.  We can try to enable this and a starting value but it might not be until after the next version.

[2019-06-18 05:54] saulpw commented on #214
Hi @aborruso, try adding `-p dive.vd` with the attached small .vd script.

[code]

The first command opens the input from stdin (`-`), and the second command dives into the first row (`0`).

You can get this .vd yourself with:

1. the same command you have but without `-b`
2. press `Enter` and do any other manual steps
3. press `Shift+D` to go to the commandlog
4. finally, press `Ctrl+S` to save t

[2019-06-18 06:32] aborruso commented on #214
@saulpw you are really brilliant, I'm impressed VisiData is a kind of magic

[2019-06-18 07:59] aborruso commented on #214
@saulpw I have added a recipe in my VisiData Italian guide https://github.com/ondata/guidaVisiData/blob/master/testo/README.md#Salvare-una-tabella-HTML-in-CSV-a-partire-da-una-pagina-web

Thank you againg

[2019-06-20 09:13] aborruso commented on #286
@anjakefala I woudl like to try. Is it some guide on how to install and use vd develop version?

[2019-06-20 09:16] aborruso commented on #286
@anjakefala got it here, thank you http://visidata.org/install/

[2019-06-20 09:34] aborruso opened #300 "[troubleshooting-help] getting set-up with `develop`"
Hi,
I have created a new virtual environment, I have activated it and then I started the installation procedure with this command:

    python -m pip install --user git+https://github.com/saulpw/visidata.git@develop

But the procedure seems to me weird and with some errors. You can see it in this video: http://youtu.be/XmKRCa6bH8E?hd=1

Am I doing something wrong?

Thank you

[2019-06-20 17:12] aborruso commented on #300
ok @saulpw it was an SSH github problem. But now I have

[code]

[2019-06-20 17:45] anjakefala commented on #300
Hi @aborruso!

Can you try?

[code]

If you do not have python3/pip3 installed, you will need to first install them. =)

I suspect the problem is that your version of `pip` is outdated.

[2019-06-20 17:55] anjakefala commented on #300
(Please let me know if my above comment seemed like alien-tongue, and you would like me to explain the difference between python/python3 and pip/pip3.)

[2019-06-20 18:40] aborruso commented on #300
Hi @anjakefala it's the same

[code]

[2019-06-20 19:17] anjakefala commented on #300
Try

[code]

[2019-06-20 19:25] aborruso commented on #300
Hi @anjakefala I install all python modules using this

    python3 -m pip install --user --upgrade python3-pip setuptools wheel

But for  python3-pip I have

[code]

With  "pip3 install --upgrade python3-pip setuptools wheel" I have

    Could not install packages due to an EnvironmentError: 404 Client Error: Not Found for url: https://pypi.org/simple/python3-pip/

[2019-06-20 19:26] anjakefala commented on #300
maybe it is just pip3? I just want you to upgrade pip3 =)

[2019-06-20 19:30] aborruso commented on #300
I think that the command is simply  "python3 -m pip install --user --upgrade pip"

I'm in debian I can install python3-pip via sudo

[2019-06-20 19:31] aborruso commented on #300
python3-pip is already the newest version (18.1-5)

[2019-06-20 19:35] aborruso commented on #300
I have run

    python3 -m pip install --user --upgrade pip setuptools wheel

and than

    python3 -m pip install --user git+https://github.com/saulpw/visidata.git@develop

But I have always the same error.

[2019-06-20 19:43] aborruso commented on #300
Solved: I must not use --user option.
Is it right for you @anjakefala and @saulpw ?

The steps are:

- install virtualenv
- create a new env and activate it
- and than `pip3 install git+https://github.com/saulpw/visidata.git@develop`

[2019-06-20 20:02] anjakefala commented on #300
[code]

I suspect that your packages may not have been up-to-date in `--user`, and that `--user` did not encompass your virtual environment. T_T

Bah! This makes sense. I am glad you got it working. Can you see if `bin/vd` works and then close this issue? =)

[2019-06-20 20:04] aborruso commented on #300
it works

But I have all update also in --user

[2019-06-20 20:04] #300 closed, assigned to nobody

[2019-06-20 21:22] aborruso commented on #300
@anjakefala there is something strange: I have installed it in a virtualenv environment, but now I have saul.pw/VisiData v2.-1dev also outside of it :(

[2019-06-21 08:46] unhammer opened #303 "How to go to next difference with --diff?"
If I do `vd --diff foo.csv bar.csv`, how do I navigate to the next difference? I tried searching f1 for `diff` but nothing useful showed up.

[code]

[2019-06-21 09:02] aborruso commented on #300
@anjakefala solved. I dit it again from zero, and it works, I can use both versions

[2019-06-21 10:24] aborruso opened #304 "HTML table import skips the first line"
Hi,
if I run

    curl -sL "https://gist.github.com/aborruso/53edc61f8305d8f8b4c9a9a7ffd0570a/raw/299a6685d12cdc53e7c535a26eaad00734672def/index.html" | vd -f html

and open the table I have in that HTML page (here a [preview](https://bl.ocks.org/aborruso/raw/53edc61f8305d8f8b4c9a9a7ffd0570a/)), VisiData does not read the values of some rows, in particular those below the cells with inside "Stazio

[2019-06-21 10:33] aborruso commented on #304
There is a tag error in the HTML. VisiData works well and skips the wrong rows

[2019-06-21 10:33] #304 closed, assigned to nobody

[2019-06-22 06:23] saulpw commented on #303
Hi @unhammer, unfortunately there's no easy way to do that.  The diff functionality is actually just a quick hack, a colorizer off the given base sheet (see [diff.py](https://github.com/saulpw/visidata/blob/stable/visidata/diff.py)).  I could see `vdiff` being a really great plugin, but it would have to be architected differently.  I'd be happy to explore what that might look like, if you (or anyo

[2019-06-23 19:47] layertwo commented on #297
Hi @frosencrantz, I have a first implementation for a sparkline column in [8be3612](https://github.com/layertwo/visidata/commit/8be361231bbffa8dc3ed0a04e7bc551f194302ed) if you would like to review.

If you'd also like to test it out and don't want to run the custom branch, I can also provide as a `vd` plugin.

[2019-06-26 09:00] sfranky opened #306 "[plugin request] shift selected rows to the left/right"
Sometimes data are not uniform, or sometimes I need to join two similar but not-quite-the-same tsv files (e.g. older and newer, or pre- and post-enriched version), where one of them has an extra column,or a column less. On top of that, I need to sort this new file to see and compare the two similar lines easily.
What I would like to be able to do is select a few rows, go to a specific column, and

[2019-06-26 19:48] jtrakk commented on #293
Happy to put some thought into it. Magit relies on the idea that different keys are available in each sub menu, and the help-popup changes to show the relevant keys. But visidata doesn't have different contexts - all the keys are always available in a flat "namespace". So two options:

- the top-level menu provides a new set of bindings for selecting a themed group of commands, and then selecting

[2019-06-27 05:41] frosencrantz commented on #286
Thanks @saulpw  that seems like that would be a useful feature, even if it is in the following release.

[2019-06-27 05:43] frosencrantz commented on #297
Hi @layertwo I tried the latest version as a plugin, but it was not working for me. There are three issues:

1. There was a missing addGlobals() call to export the SparklineColumn,
2. There is a missing self. before sparkline on line 9.
3. An issue I haven't tracked down, type issues on line 14,  at least one value in values is a SparklineColumn, when it should be a number.

Hi @anjakefala, I unde

[2019-06-28 22:29] sfranky commented on #297
I have to say, the reason this issue made me click on it was because i read it as "Add the ability to place sparklinesS" ...i'm half asleep.. :P

[2019-07-01 23:41] layertwo commented on #297
Hi @frosencrantz, I've made some updated changes now. For using in `vd`, I import as `import sparklines` as well as `from sparklines import SparklineColumn`

Let me know if you have any other questions or concerns.

[2019-07-03 05:17] frosencrantz commented on #297
Hi @layertwo where do you put those import lines?  In your $HOME/.visidatarc?

Based on https://github.com/saulpw/visidata/issues/286#issuecomment-500272731 you should import plugins.mypluginname  if you do that, SparklineColumn is not available, causing addcol-sparkline to throw an exception.

Livesearch annotates the function with @Sheet.api, which makes the function available. Doing that works

[2019-07-03 15:04] anjakefala commented on #297
Hi @frosencrantz, if you would like to make a PR to update the plugin documentation that would be really helpful.

I am not sure if there is a difference in correctness (@saulpw?).

In any case, thanks for reminding me that the work on this issue has been merged in (https://github.com/saulpw/visidata/pull/305) and we can close it. =) Thanks @layertwo. :tada:

[2019-07-03 15:04] #297 closed, assigned to nobody

[2019-07-09 16:07] frosencrantz commented on #287
If possible, let's use this issue as a place for discussion.  We could use it for plugin doc improvements.

For example, do you have a good starting point on using the frequency of a value in a column as the source of color for the value or the background.

[2019-07-10 20:45] jtrakk opened #309 "File preview in directory view"
I'd love to have [ranger](https://github.com/ranger/ranger)-like file preview on the right-hand side in the directory view, and ranger's `rifle` for opening files.

[2019-07-11 00:04] anjakefala commented on #309
Hi @jtrakk! This is a fun idea. =) This will not be possible until VisiData has split pane support. Luckily, that is on the roadmap. We can provide support for adding this feature when that work is integrated.

[2019-07-11 00:09] anjakefala commented on #287
Hi @frosencrantz! I reopened this issue so that we could maintain a conversation on it. We have providing you with a short doc guide on working with colorizers in the queue. We have a few big tasks to get through, and then I will write that up and post a link in this issue.

If you want to get a headstart on looking through that code, the key word is `Colorizer` =) Those are the pieces of function

[2019-07-12 01:37] frosencrantz commented on #309
Give it the ability to run a preview command like fzf tool does with the --preview flag.

[2019-07-12 05:53] saulpw commented on #306
Hi @sfranky, this one is tricky.  We could probably make a hacky plugin to do something like this, but in your specific case I wonder if you could load the tsv files separately and join using the `append` jointype, which matches columns by column name instead of position.  Would that do the trick, do you think?

[2019-07-12 07:01] aborruso opened #310 "Feature request: change the "text" type keyboard shortcut"
I think that all this kind of shortcut must be quick and ready for everyone.
The `~` is in the american layout, but in a lot of layouts you do not have it. It is uncomfortable to use `ALT+126`.

What about to change it simply in <kbd>t</kbd>

[2019-07-12 10:17] saulpw commented on #310
`t` is used for "toggle selection", so not that one, but we could easily add another keybinding for layouts without `~`.  What is your keyboard layout?  (Could you take a picture?)  It seems like many layouts have `é` in the upper row, so you could add this to your .visidatarc:

`Sheet.bindkey('é', 'type-string')`

[2019-07-12 11:00] aborruso commented on #310
You are right, I'm stupid: "t" is for toggle.

I have a [Italian layout](https://commons.wikimedia.org/wiki/File:Italian_Keyboard_layout.svg)

[2019-07-12 11:00] #310 closed, assigned to nobody

[2019-07-13 00:17] frosencrantz opened #311 "Problems loading plugins"
In the develop branch, I'm getting a stack trace from .visdatarc:
File “visidata/settings.py", line 246, in loadConfigFile
     exec(code, _globals or globals())
File "home/.visidatarc", line 2, in <module>
     import plugins.livesearch
 ModuleNotFoundError: No module named 'plugins'

I haven't tried to debug it.

[2019-07-13 00:55] pigmonkey opened #312 "Set default cmdlog filename based on current filename"
I frequently use visidata to load a CSV file, do something simple like set the type for each column, and then want to save those types so that visidata remembers them the next time I open the same file.

Pressing `^D`, visidata proposes that I save the cmdlog to `cmdlog-1.vd` (or another integer, if `-1` already exists). Of course I can change this to whatever I want, but I really wish visidata wo

[2019-07-13 00:56] saulpw commented on #311
Ah, yes, you need to make a `home/.visidata/plugins/` directory and put `livesearch.py` into that.  Alternatively if you put it directly into `home/.visidata/`, you would use `import livesearch`.

[2019-07-13 03:09] frosencrantz commented on #311
The plugin is in $HOME/.visidata/ and was loading without issue. It  looks like it broke after recent changes to settings.py.

[2019-07-13 13:39] sfranky commented on #306
thanks for the reply!
the case i uploaded is mostly covered by the workaround you proposed, so
thanks for that..! however, sometimes i have bad csv files where this
problem exists within the same csv, so it would be ideal to be able to do
that. But I guess it's something very few people need, so don't worry about
it. i'm already gaining TONS of time by using visidata!!

On Fri, Jul 12, 2019 at 7:5

[2019-07-13 13:46] frosencrantz opened #313 "Provide a way to limit the maximum number of columns created by the fixed format"
The fixed input format does a good at job at splitting lines into columns.   Sometimes it overfits the data, and the last true column is split into multiple columns.   Many text tables generated for the terminal place irregular-length, space-filled data in the last column on the right (e.g commands or help text).  If there is a long line with spaces or a couple of long lines that happen to have sp

[2019-07-15 16:32] pigreco opened #314 "[docs] note that activated caps lock modifies shortcuts"
`shift+c` = Columns Sheet
`shift+C` = column name regex

that is, if caps lock is activated, type <kbd>C</kbd> and not <kbd>Shift+c</kbd>

[2019-07-15 16:59] anjakefala commented on #314
Hi @pigreco!

Thanks for commenting in our corner of the Internet. =) I am not sure if you are requesting an action to take place, and would like some clarification.

Is the issue that you are pointing out that the docs usually refer to commands as `Shift+C`? We have historically done that for clarity and aesthetics. I.e. `C` can possibly be ambiguous in places like the manpage, and we wanted the

[2019-07-15 17:15] pigreco commented on #314
Exact,
it would be a good idea to write it in the documentation.

Thanks for the great job

[2019-07-16 03:05] saulpw commented on #313
Hi @frosencrantz, thanks for filing this issue.  I think we maybe should add a loader option, `fixed_maxcols`, which allows you to specify the max number of columns manually.  Alternatively we could make it so that the number of column names in the header defines the max number of columns, but of course that wouldn't help if there are no headers.  Would `fixed_maxcols` be sufficient?  It's easy en

[2019-07-16 03:22] saulpw commented on #312
Hi @pigmonkey, I agree that the default cmdlog naming scheme is not very good.  I like the idea of your proposal, but I'm worried it might not work very well for derived sheets, whose names can get quite long and opaque; although, in trying to come up with a 'simple' example, the names all made some kind of sense for naming the cmdlog to get there, so maybe my worries are misplaced.  I think we'll

[2019-07-16 03:32] saulpw commented on #312
Although as I go to implement this, I realize that while the .vd file will be more aptly named, the default will always be in the current directory, and there's not an easy way around this, as the source of derived sheets is another sheet.

[2019-07-16 18:46] pigmonkey commented on #312
So if I open a sheet in a subdirectory:

    $ cd ~/
    $ vd ~/foo/mydata.csv

And then I use `Shift+F` to get a frequency table of a column, I end up with a derived sheet with a name like `mydata_$columname_freq`.

Are you saying that the default cmdlog name would be `~/mydata_$columname_freq.vd`, rather than `~/foo/mydata_$columname_freq.vd`?

[2019-07-16 20:51] saulpw commented on #312
Yes, exactly.  (and also not `.csv.vd` as you had suggested earlier).

[2019-07-16 21:03] pigmonkey commented on #312
I think this is fine.

Keeping the cmdlog in the same directory as the original sheet (`~/foo`) would be preferable when the cmdlog was simply for the original sheet, but I understand that the concept of the original sheet directory doesn't necessarily apply to derived sheets. At least for my use case, I can get into the habit of `cd`ing into the directory of the sheet before opening it. Even if I

[2019-07-17 00:28] pigmonkey opened #315 "Consider adding sum to the Describe Sheet"
The Describe Sheet `Shift+I` is a useful tool for getting an idea of what sort of data I'm dealing with in a sheet. But I find that when I load a sheet, there's almost always at least one column I want to sum. Usually I'll do this by selecting the column and then `z+sum`. I wish this was included on the describe sheet by default so that I could see all of the basic statistics I usually care about

[2019-07-17 02:18] frosencrantz commented on #313
Thank you. I haven't tried it, yet, but that sounds like it should fix the issue.

[2019-07-17 03:42] saulpw commented on #315
It's a good idea to include `sum`, @pigmonkey.  There are some details that make `sum` more difficult than the other aggregators, and the Describe Sheet is almost bursting at the seams anyway (we need a better way to support the current plethora of aggregators), but it's reasonable to include `sum` there for now.

[2019-07-17 03:42] #315 closed, assigned to nobody

[2019-07-17 03:46] saulpw commented on #312
Added in b428fd9c643cb8307ab87234c339a13860c59e26.  Thanks for the suggestion!

[2019-07-17 03:46] #312 closed, assigned to nobody

[2019-07-17 03:46] saulpw commented on #311
Should be fixed now, thanks for the report.

[2019-07-17 03:46] #311 closed, assigned to nobody

[2019-07-18 06:17] frosencrantz opened #316 "[develop-branch] Traceback in pivot"
Seeing this error when doing a pivot:
Traceback (most recent call last):
  File "...site-packages/visidata/threads.py", line 191, in _toplevelTryFunc
    t.status = func(*args, **kwargs)
  File "...site-packages/visidata/pivot.py", line 125, in addAggregateCols
    aggname = aggregator.__name__
AttributeError: 'list' object has no attribute '__name__'

Didn't have a chance to debug.

[2019-07-18 18:00] anjakefala commented on #316
Good catch!

The bug has to do with doing a pivot, when there are no set aggregators.

It was introduced with this commit:  https://github.com/saulpw/visidata/commit/5b8b4691e44ef15026c15d49a64916132677e9d1

[2019-07-18 22:43] anjakefala commented on #316
We decided to revert the offending change for now and added a regression test. I appreciate you keeping an eye on develop and noting problems. =)

[2019-07-18 22:43] #316 closed, assigned to nobody

[2019-07-19 06:32] frosencrantz opened #317 "[develop-branch] Playback not recording sheet name when importing from stdin"
For commands that use a column like "-", the playback commands are not properly passed the column name. It seems like the "-" key is not hiding the column in playback. Also, when visiting the command table after performing such commands, the value in the column for column name is incorrect.

[2019-07-19 18:13] anjakefala commented on #317
Hi :dancer:

I cannot reproduce this. =( I made a gif to illustrate what I tried to do. Do you notice anything off in my procedure? Which commit is at your HEAD? (My repo is up-to-date.)
![issue](https://user-images.githubusercontent.com/7489659/61555975-7b3ad880-aa15-11e9-94a6-343a2273d2b7.gif)

[2019-07-19 18:14] anjakefala commented on #317
If you want to explore the art of gif-making, I would appreciate if you showed me your reproduction!

[2019-07-19 19:44] frosencrantz commented on #317
Perhaps the issue is when the table is coming from stdin.  So try again like this.
bin/vd -f tsv - < sample_data/sample.tsv
bin/vd -p cmdlog.vd -f tsv - < sample_data/sample.tsv

Also, using head version of develop branch.

[2019-07-20 01:38] anjakefala commented on #317
The tada was because I have successfully reproduced it (you did narrow in on the context). I have also confirmed that this is a regression since v1.5.2. I will look into it!

[2019-07-20 02:42] anjakefala commented on #317
It did not have to do with column names at all! @saulpw has done some work to migrate our internal `Path` to use `pathlib.Path`. In the migration, there was a line of code which set the pathname (and as a result the sheetname) to a blank string in the absence of a suffix. When importing from stdin, the path is `-`, and lacks a suffix.

We pushed a fix. It should work now. Please continue filing is

[2019-07-20 02:42] #317 closed, assigned to nobody

[2019-07-20 04:52] anjakefala commented on #314
Hi @pigreco! I added a note to the manpage reference documentation that the commands are case-sensitive. ^^

[2019-07-20 04:52] #314 closed, assigned to anjakefala

[2019-07-20 05:23] frosencrantz commented on #317
Thanks, Anja.  That fixed the problem.  :)

[2019-07-20 05:47] frosencrantz commented on #313
HI @saulpw it looks liked fixed format is broken now.

1.  If --fixed-maxcols is not passed no table is generated.  The screen is blank.
2. If maxcols is too low, the values at the end of the line are not combined into the last column but are truncated. In that case I would expect the values at the end to be part of the last column,

I can reproduce with the sample data
bin/vd -f fixed sample_data

[2019-07-20 06:36] frosencrantz commented on #317
@anjakefala There are two related issues:

1. When playback was running it didn't report  errors when the table name didn't match for some commands like "-", it kept going.  Is that intentional?
2. Did the name of the tables change?  That can break scripts, it would be good to document that in any changelog, so users know that there will be  incompatibility in the next release.

[2019-07-20 17:47] anjakefala commented on #317
The source of the replay issue was that the recorded sheet name was blank. If you record a .vd, and it looks for a sheet name that does not exist, VisiData will issue an error and replay will abort. I think this is the correct behaviour.

It seems like if the sheet name is blank, it will default to the top sheet on the stack and the first column. I think this is reasonable behavior, but better beh

[2019-07-20 20:51] anjakefala commented on #313
I can see what is wrong in each case. I just pushed a temporary fix for case `1` https://github.com/saulpw/visidata/commit/bf205fc5a4f829f203e1e7236b0537320850d7e1. Now if --fixed-maxcols is not passed the entire table is generated as before.

I will re-open the issue for the second request. I consider it an extension of the feature request.

[2019-07-20 21:17] anjakefala commented on #313
@saulpw pushed a fix for both. See ^.

[2019-07-22 23:46] cwarden opened #318 "unselect-rows on frequency table doesn't update source rows"
Selecting rows in a frequency tables selects the corresponding rows in the source table, and `unselect-row` unselects the corresponding rows in the source table, but `unselect-rows` does not unselect the corresponding rows in the source table.

[2019-07-23 05:01] saulpw commented on #318
Thanks for the report, @cwarden.  This was a good find, and caused me to tweak the selection API a bit to distinguish between `unselect(selectedRows)` and `clearSelected()`.

[2019-07-23 05:01] #318 closed, assigned to nobody

[2019-07-23 15:51] nicwaller opened #319 "Canvas graph labels are truncated"
In canvas view, graph labels appear truncated if longer than 11 characters and this makes it challenging to visualize data with long key names.

### Expected Result
Graph labels should be rendered as wide as necessary to fit the entire text of the label. Or alternately, they should inherit the width of the column as it appears in table view.

### Actual Result
Graph labels are always truncated aft

[2019-07-23 17:11] nicwaller opened #320 "lxml is not bundled"
This [video](https://www.youtube.com/watch?v=0iJ9F4uTkz8) shows off Visidata's feature to import html tables from Wikipedia. When I tried it out myself, I got an error about lxml being unavailable.

### Steps to reproduce
[code]
### Expected Result
Visidata scrapes the HTML and shows all the tables found.

### Actual Result
Visidata catches a ModuleNotFoundError and reports it in yellow text at th

[2019-07-23 23:17] mightymiff opened #321 "Is the column separator color only supposed to work for the header row?"
I would really like to see the option to change the color of the column separator for separators in the body of a table, in addition to the headers.

Current setting: `options.color_column_sep     =  '130 darkorange3'    # color of column separators`

[2019-07-23 23:22] mightymiff opened #322 "Request for human-friendly .visidatarc template"
Great tool, loving it.

Might I suggest fleshing out an example of the .visidatarc file and placing it in a more accessible location in the documentation?  The current configuration error message does not help debug faulty syntax, and that syntax is--as far as I can tell--not readily accessible.

I'm pasting my current configuration (which took more than an hour of guess and check just to get work

[2019-07-24 04:35] anjakefala commented on #321
Hi @mightymiff!

This is a bug. The layering of the colorizers is a bit complex, but I am going to tackle this.

Thanks for providing your visidatarc. =) It will help me ensure this fix works for your needs.

[2019-07-24 04:46] anjakefala commented on #322
Hi @mightymiff!

It brought me joy to see your .visidatarc. I love seeing alternative VisiData themes ^^

You are right that the documentation on it can be a lot clearer. I added a tag to add this and added it to my queue.

Alternatively, if you would like to take charge, contribute aspects of your sample, and write a small guide, I would be more than happy to show you where to place it.

[2019-07-24 12:42] frosencrantz commented on #313
There is an issue with the values being truncated when the first row is shorter than the maximum cols.  If the first row has the maximum number of columns then it seems to work.

For the shrt files below the longs rows are truncated.  Even look at the case when --fixed-maxcols is 5, the 5th column is empty, which is broken.

Here is the example:
[code]

[2019-07-24 12:50] frosencrantz opened #323 "Global tsv options and settings affect HelpSheet loading"
Seeing traceback from help.  I see it only when using the --delimiter flag.

[code]

Not seeing the traceback when run these ways:
[code]

Consistently getting the error this when running help (z^H) when run like this:
[code]

[2019-07-25 05:21] frosencrantz commented on #322
Yes, that looks very nice, @mightymiff!

@saulpw  or @anjakefala:
Seeing it in that tabular format makes me wonder why doesn't visidata have a way to load options and/or key bindings via a data file (e.g csv or tsv file).  You could do themes that way.

[2019-07-25 05:35] frosencrantz commented on #317
Yes, I agree.

I'm unsure.  In my case it seems like it should have failed as soon as the playback wasn't matching correctly.  Under what circumstances would the current behavior be better?  Maybe so you can run a generic version of a script, without knowing the name of the table  or the first column?

Yes, that sounds like a great idea!

I hit some incompatibility several months ago, but didn't r

[2019-07-27 18:17] mightymiff commented on #322
Thanks @frosencrantz.  For the basic options, the current code input method is mostly fine by me (once I managed to figure it out), and maybe even for the average user so long as there is a template they can copy/paste and then tweak.  I'm actually pretty ecstatic it is so easy to specify all those colors so easily, because it is a lot more interesting for me than looking at an unhighlighted file

[2019-07-27 18:29] mightymiff commented on #321
Thank you @anjakefala, I appreciate it.

[2019-07-27 18:56] mightymiff opened #324 "Configuration Possibilities"
Getting to know VisiData this week, there were a few of things I wanted the program to do that it isn't currently doing for me that it might be able to do, so I figured I'd ask about it in here. I hope that is alright.

1. Ability to page up and down, and also possibly to be able to specify page size in number of rows in one's `.visidatarc`.  Currently possible?
2. Can keybindings be updated from

[2019-07-28 04:57] saulpw commented on #324
Hi @mightymiff, thanks for your recent engagement, it's nice to see you start to get into VisiData.  Here are some answers:

1. In v1.5.2, the page up/down amount was the number of rows on the screen.  However, with the new ability to have multiline rows, there is no easy number that fulfills all the intuitive requirements, and it's still a blocking issue for v2.0 in my mind.  (I may revert to the

[2019-07-28 05:13] anjakefala commented on #324
I would just like to slip in a friendly addendum to @saulpw's comment that `D` is currently mapped to `open-cmdlog` which is a pretty important command. It is a log for the command history for the current session. It can even be saved and replayed. http://visidata.org/docs/save-restore/

So, I would recommend you remap open-cmdlog to another character when you bind delete-row to `D`. :blush:

[2019-07-28 05:30] saulpw commented on #322
Cool, glad you're enjoying the theme options, @mightymiff.  It's a small thing, but I wanted to point one thing out about the colors (we'll definitely be documenting this more thoroughly in the Book of VisiData):

```options.color_default        =  '60 mediumpurple4'   # the default color```

I think you're using `mediumpurple4` here as a readable tag for the color, which is a neat idea and I thin

[2019-07-28 15:39] frosencrantz commented on #313
I tried the latest version, for my simple test case it worked great.  Thank you, @saulpw and @anjakefala !

[2019-07-28 16:33] #313 closed, assigned to nobody

[2019-07-28 18:05] mightymiff commented on #324
Many thanks @saulpw for taking the time to so patiently respond to my questions, even when they are explained elsewhere.  It is great to hear that most everything that I wanted is already available or in-the-works.  Thank you also for making and sharing VisiData with the world!

Also, thanks @anjakefala.  Yes, I will do my best not to brick important functionality.

I was happy to learn that `<C-g

[2019-07-28 18:15] anjakefala commented on #324
Since you are in thesis-hell, I think you should definitely seek some joy where you can, and be the one who gets the thrill from closing issues.

It is such a satisfying feeling.

[2019-07-28 18:16] mightymiff commented on #322
Haha, thanks for explaining @saulpw .  Your assumption is correct, and while it did occur to me sometime yesterday that that likely wasn't really how it worked, as it didn't seem to break anything, I stopped worrying about it, :).  In any case, I am glad to actually know how colors are parsed and to be able to configure my options correctly.

[2019-07-28 18:21] anjakefala commented on #324
Silliness aside, closing the issue indicates that you are either satisfied with the response to your original post or retract it as something you wish others to engage with. The only time I would discourage it is if someone already wrote that they are working on something in response to the issue. Then it is kinda pulling the rug out from under them.

[2019-07-28 18:26] mightymiff commented on #324
@anjakefala, got it!  Closing now, though I may leave one open so as to extract extra satisfaction on some future day of my choosing to get me through the day.

[2019-07-28 18:26] #324 closed, assigned to nobody

[2019-07-28 18:34] anjakefala commented on #321
Hi @mightymiff! I am going to reopen this one because it is a good way for me to understand how colorizing works in the code. It is tricky, so it may not end up being easily feasible, but I would like to keep this issue open for as long as I am trying. =)

[2019-07-29 04:43] anjakefala commented on #321
Hi @mightymiff,

I had a really fun evening learning about how the coloring system works in VisiData. I am hoping to push my notes on that tomorrow. For now, here is my pushed attempted fix so that the separator colour now applies to regular rows. Thank you so much, this was a useful/fun issue. ^^

Give it a whirl!

[2019-07-29 04:43] #321 closed, assigned to anjakefala

[2019-07-31 06:47] saulpw commented on #323
Thanks for the bug report, @frosencrantz, that's a good one.  Should be fixed now.

[2019-07-31 15:32] frosencrantz opened #326 "pyaml library updated, loader needs Loader= parameter"
The pyyaml library has changed since the yaml loader was last updated.  There is a new requirement for adding Loader= parameter.

/usr/lib/python3.6/site-packages/visidata/loaders/yaml.py:13: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.

[2019-07-31 15:35] frosencrantz opened #327 "yaml loader fails if the input is a dictionary"
I tried loading yaml that is just a dictionary, e.g.
foo: 1
bar: 2

The code expects only an array to be returned:

 Traceback (most recent call last):
   File "/usr/lib/python3.6/site-packages/visidata/threads.py", line 191, in _toplevelTryFunc
     t.status = func(*args, **kwargs)
   File "/usr/lib/python3.6/site-packages/visidata/loaders/yaml.py", line 15, in reload
     for k in self.rows[0]:

[2019-07-31 17:21] anjakefala commented on #323
Since this was such a good bug, I wanted to document what was happening.

VisiData tracks its built-in commands through a [commands.tsv](https://github.com/saulpw/visidata/blob/develop/visidata/commands.tsv) that gets packaged with it.

This commands.tsv is where the HelpSheet pulls the description for each command from. =) When you set the `--delimiter` option for tsvs, that was also being applie

[2019-07-31 19:34] anjakefala commented on #326
Hi @frosencrantz, thanks for letting me know about this!

For now, I am going to set an upper limit on the version of the pyaml library that we support. (I should have been doing the same for all of our dependencies.)

I have also added looking into this more deeply, and possibly modifying the yaml loader code into my queue. If anyone wants to take the reigns on this investigation (which minimum v

[2019-08-01 03:27] anjakefala commented on #326
I ended up making the code change and bumping the minimum PyYAML version!

[2019-08-01 03:27] #326 closed, assigned to anjakefala

[2019-08-01 03:37] anjakefala commented on #130
Since this issue has not been added to the roadmap, it has been moved to our [someday/maybe list](https://github.com/saulpw/visidata/blob/develop/dev/ROADMAP-someday.md).

[2019-08-01 03:37] #130 closed, assigned to nobody

[2019-08-01 03:44] anjakefala commented on #157
This issue has been added to our [someday/maybe list](https://github.com/saulpw/visidata/blob/develop/dev/ROADMAP-someday.md).

For this issue to be reopened, someone who has a vision for what an RSS reader would look like within VisiData is needed.

[2019-08-01 03:44] #157 closed, assigned to nobody

[2019-08-01 04:04] anjakefala commented on #200
This issue has been added to our [someday/maybe list](https://github.com/saulpw/visidata/blob/develop/dev/ROADMAP-someday.md). If anyone wants to take it on, they are welcome to reopen the issue.

[2019-08-01 04:04] #200 closed, assigned to nobody

[2019-08-01 06:08] saulpw commented on #319
Thanks for the excellent bug report, @nicwaller. Inheriting the column width was a good idea, and I tried to do it, but it's too complicated to find when drawing the legend.  So instead it now just fits the longest label.

[2019-08-01 06:09] #319 closed, assigned to nobody

[2019-08-02 03:59] anjakefala commented on #237
This issue has been added to the [someday roadmap](https://github.com/saulpw/visidata/blob/7b32946ce1ac37213e62cc54e6b63ee88ac76f74/dev/ROADMAP-someday.md)!

Things we need help with to re-open this issue:
1) Providing us with a representative Data Package specification for tabular data.
2) Sharing a Python script which queries and engages with that data.

If anyone wants to step up and help out,

[2019-08-03 02:13] #306 closed, assigned to nobody

[2019-08-03 02:24] anjakefala commented on #287
I have added a doc on colorizers [here](https://github.com/saulpw/visidata-book/blob/master/colorizers.md) =)

[2019-08-03 02:32] anjakefala commented on #303
This issue has been moved to the [maybe someday roadmap](https://github.com/saulpw/visidata/blob/develop/dev/ROADMAP-someday.md). If somebody wants to pick up the design for this functionality, reopen the issue and leave a message!

[2019-08-03 02:32] #303 closed, assigned to nobody

[2019-08-03 05:16] frosencrantz commented on #323
@saulpw Thank you for fixing the issue.
@anjakefala thanks for the explanation, that helps.  The symptoms seemed unusual.

[2019-08-03 20:35] anjakefala commented on #327
Pushed a fix! Let me know how it works out for you. Also, note that you can use `Ctrl+Y` to investigate dict row objects. =)

[2019-08-03 20:35] #327 closed, assigned to nobody

[2019-08-07 10:20] aborruso commented on #237
Hi @anjakefala

I think that the official documentation could be a starting point https://frictionlessdata.io/docs/tabular-data-package/

Is it what you want?

Once again a good starting point is in the same website https://frictionlessdata.io/docs/using-data-packages-in-python/

[2019-08-07 15:49] anjakefala commented on #237
That is definitely helpful (thank you :), but not quite what we are looking for!

We would like a direct link to a file, and an attached/inlned .py that specifically parses/dumps that file.

If you (or anyone) put that together for us, we would reopen the issue. :blush:

[2019-08-07 16:18] aborruso commented on #237
Hi,
the code of the example read and parse the file

[code]

[2019-08-07 17:49] anjakefala commented on #237
Good first step!

How is the data and metadata usually kept together? A .zip? A url? How does Frictionless look in the wild?

How do people usually use frictionless? How does it help them? Do you have a vision for how the loader can make use of Datapackage?

[2019-08-11 16:48] frosencrantz commented on #323
There is also an issues with the --header flag.  If you use 0 or  2+.  For example,
[code]

If you need the stack trace, let me know.

If you have the flags on the command line, and then load additional files once visidata is running, will the delimiter, header, and other flags also apply?

[2019-08-11 16:54] frosencrantz opened #329 "Incomplete descriptions in commands.tsv"
**FYI: github says there are problems with commands.tsv**

**Expected result**
table viewer in github ui.

**Actual result with screenshot**

We can make this file beautiful and searchable if this error is corrected: It looks like row 94 should actually have 12 columns, instead of 11. in line 93.

https://github.com/saulpw/visidata/blob/develop/visidata/commands.tsv

[2019-08-11 17:30] frosencrantz opened #330 "Feature request: Add help table with --help output"
Requesting  a way to browse --help output as a Visidata table.  Either have a command that shows the help in a table like 'z^H' does for keys, or a way to have --help output in a table format that Visidata can read.

[2019-08-11 17:45] anjakefala commented on #329
@frosencrantz Wanna make a PR on develop? O=)

[2019-08-12 00:05] saulpw commented on #330
Hi @frosencrantz.  The --help output is composed automatically from the internally declared options, which is also available on the Options Sheet via `Shift+O`.  Do you want something other than that?

[2019-08-12 07:05] saulpw commented on #323
Yeah, I guess all of the tsv options are susceptible to this.  Thanks for reporting.

And yes, the command-line options affect future loads, unless overridden further on the options sheet.

[2019-08-12 11:27] aborruso commented on #237
@anjakefala I have written a reply inside a notebook, because I think it could be more readable https://nextjournal.com/aborruso/data-package-loader-for-visidata

Thank you

[2019-08-12 14:32] frosencrantz opened #331 "Fixed format can truncate data, but not strip spaces."
**Fixed format can truncate values, and not strip spaces**

**Expected result**
Three things seem incorrect here:
1) Non-space values are lost.
2) Some cells have leading or trailing spaces.
3) The leading column is empty.  First column should have a value.

**Actual result with screenshot**
If you get an unexpected error, please include the full stack trace that you get with `Ctrl-E`.

**Steps to

[2019-08-12 14:38] frosencrantz commented on #330
The Options Sheet includes values that are not possible to set from the command line, and the mapping to flag names (short&long) are not show in the Options Sheet.

It does look like the options parsing library used allows a formatter to supplied to generate the output.  Not sure if that would allow for generating a csv version.

[2019-08-12 19:05] anjakefala commented on #237
I am really touched by the work you put into this, so I am going to reopen this issue. Let us collaborate on this in #visidata. =)

[2019-08-13 15:02] aborruso commented on #237
@anjakefala I'm happy.

What could be the next step?

[2019-08-13 16:16] anjakefala commented on #237
@aborruso, I have some stuff that I want to finish first for packaging up 2.-1, and then this will be my next task. =)

I think I will start in about a week!

[2019-08-15 09:24] MarkoM2 opened #332 "changing fmtstr causes error when replaying cmdlog"
**Small description**
I created a cmdlog.vd to process some time series data and included changes of the fmtstr to display the date in another fashion. That worked. However when I changed the fmtstr of a data column to display more digits, vd throws an error when replaying the cmdlog.vd file.

Changing the fmtstr while in the session works btw.

**Actual result with screenshot**
The error message

[2019-08-16 03:38] ajkerrigan opened #333 "[loader] Support for S3 paths"
Hi there, I've been using visidata for local files recently and loving it! Would you be open to having an S3 loader so objects could be opened using S3 paths directly?

I've done some local fiddling inspired by the http loader, and taking an optional extra dependency on [s3fs](https://github.com/dask/s3fs/). If this seems like something you'd actually want in the product I'd like to talk it throug

[2019-08-16 06:15] saulpw commented on #333
Hey @ajkerrigan-mdsol, an s3 transport/loader would be pretty great.  I would use it myself.  Have you been working with 1.5.2 or the develop branch?  You should be able to package it as a plugin, and we can add it to the plugins sheet that will be in 2.x.

[2019-08-18 20:13] anjakefala commented on #329
The issue is that some commands are missing descriptions.

[2019-08-19 07:02] anjakefala opened #334 "[develop] Integrate deferred changes into Canvas"
**Small description**
The deferred changes feature in 2.-1 resulted in adjustments to `delete-rows` within `clipboard.py`. Canvas commands, which delete the source rows within the current cursor, have not been updated.

**Expected result**
`delete-cursor` should mirror deletions on regular sheets. It should delete the source rows that are within the cursor. Those rows can be reloaded with `^R` unt

[2019-08-19 09:21] aborruso opened #335 "VisiData version 2.0 installation"
Hi,
is it necessary/better to uninstall the 1.5.2 and remove `.visidatarc` file?

Thank you

[2019-08-19 14:44] anjakefala commented on #335
You can have two different config files (say ~/.visidatarc and ~/.testrc), and then pass the config option every time you want to reference the second one.

E.g. `vd --config=~/.testrc`

You can have them both installed if you are employing virtual environments, which I think you had figured out? Otherwise, replacing one with the other may be easiest.

[2019-08-19 14:44] #335 closed, assigned to nobody

[2019-08-19 19:26] ajkerrigan commented on #333
Hey @saulpw, thanks for the reply! I was working off 1.5.2 (by accident really, I was just poking around before opening an issue and got carried away). Getting a plugin together sounds like the right call and I see some good examples there, thanks for the nudge :).

[2019-08-19 19:37] saulpw commented on #333
For sure!  I'd love to help any way I can. We're on Freenode #visidata if you do the IRC thing, or you can email me at `vd@saul.pw` if you want to chat a different way.

[2019-08-20 00:16] frosencrantz opened #336 "[develop] Joining columns in the ColumnSheet causes an exception"
**Joining columns in ColumnSheet cases traceback**

**Expected result**

Columns would be joined

**Actual result with screenshot**
Exception in cells of new column:
[code]
**Steps to reproduce with sample data and a .vd**
Select multiple rows in a ColumnSheet, and hit the '&' key

**Additional context**
develop branch

[2019-08-20 03:53] anjakefala commented on #336
[code]

[2019-08-20 03:59] anjakefala commented on #336
[sample_columns.vd](https://github.com/saulpw/visidata/files/3518665/sample_columns.txt)

[2019-08-20 04:03] anjakefala commented on #336
Thanks for the bug report. =)

[2019-08-20 05:02] anjakefala commented on #332
Thanks for a great bug report @MarkoM2!

The good news is that it helped me figure out that this issue is actually already fixed on `develop`. =D

[2019-08-20 05:02] #332 closed, assigned to nobody

[2019-08-20 05:43] anjakefala commented on #331
Thanks for the great reproducing in the above bug report! I do not think the leading blank column is an issue. The sed output has leading spaces, and I think vd reasonably interpreted it.

The data loss is definitely a problem. I wonder why that is happening.. I think we should at least investigate that.

[2019-08-21 03:38] saulpw commented on #214
Fixed for html loader in f55de386d48aa5064f0b58cef3428e136cfc78ce; requires changes in other loaders with a sheet index.

[2019-08-21 05:59] frosencrantz commented on #331
There should have been a note explaining to make it easier to see the spaces the input contains capital letters that represent spaces. Different letters make it easier to see the count.  The output has pluses that represent spaces.

Agreed, the data loss is the most serious issue.

The extra spaces in the output is also bad, since it interferes with using other commands in Visidata, for example yo

[2019-08-21 11:13] aborruso opened #337 "VisiData v2.-1dev - Range binning for numeric columns: how to use it?"
Hi,
I have added `options.numeric_binning = "True"` to my config file.

Then I have opened a csv file, set a the field type to floating for a field and then I launched `SHIFT + i` to open frequency table.

But I do not understand where I should see the binning output?

Thank you

![image](https://user-images.githubusercontent.com/30607/63427412-5c18d780-c415-11e9-9f06-94c4beeedecd.png)

[2019-08-21 17:22] anjakefala commented on #337
Hi @aborruso =)

You are right about setting `options.numeric_binning="True"` in your `~/.visidatarc`.

Then set a column to any of the numeric types (int, float, currency, or date) and then press `shift+F` or `shift+W` on that column. Numeric binning is supported for frequency tables or pivot. :blush:

[2019-08-21 17:22] #337 closed, assigned to nobody

[2019-08-21 17:30] anjakefala commented on #337
This has more info on frequency tables: https://jsvine.github.io/intro-to-visidata/basics/summarizing-data/

[2019-08-21 17:57] aborruso commented on #337
Hi @anjakefala

I know all above, but probably I was drunked _)

I do not why I have used `shift + i` and not `shift + f`.

As usual, thank you

[2019-08-21 18:07] anjakefala commented on #337
[code]

lolol xD

I knee-jerk over-write in issues.

Enjoy!

[2019-08-22 20:09] Mikee-3000 opened #338 "[develop] Alt+<s> doesn't do anything"
**Small description**
Opened 2 CSVs and tried to switch between them using Alt+

**Expected result**
Alt+1 should change to sheet 1, Alt+2 to sheet 2

**Actual result with screenshot**
Nothing happened. Stack trace is empty ("no error")
![vd](https://user-images.githubusercontent.com/13318998/63546039-b488cb80-c520-11e9-8c08-1e750fddb38c.gif)

**Steps to reproduce with sample data and a .vd**
Open

[2019-08-22 20:40] Mikee-3000 opened #339 "[develop] undo - redo doesn't go back to the same state"
**Small description**
Opened a sheet, added a row, edited the cell [1:2]. 2 times Shift+U undid both steps. Consequent Shift+r added the row back, but the edited cell was now [2:2]

**Expected result**
The edited cell was meant to be [1:2]

**Actual result with screenshot**
![vd_redo](https://user-images.githubusercontent.com/13318998/63547924-19debb80-c525-11e9-837d-a59f700ccb7e.gif)

**Steps to

[2019-08-22 20:59] Mikee-3000 opened #340 "[develop] Saving DirSheets doesn't delete files"
**Small description**
Opened a directory in Visidata, deleted a file and saved.

**Expected result**
File deleted from the file system

**Actual result with screenshot**
No result, no error.
![dirsheet](https://user-images.githubusercontent.com/13318998/63549161-c752ce80-c527-11e9-95d1-5268f50a98bd.gif)

**Steps to reproduce with sample data and a .vd**
In a terminal, open vd with `vd` (no args).

[2019-08-22 21:06] saulpw commented on #338
Try `Esc 1`.  What terminal and/or window manager are you using?  If you look at the lower right, `Alt+1` isn't showing up at all, so the Alt sequence is being intercepted before it gets to the terminal.

[2019-08-22 21:36] Mikee-3000 commented on #338
You're right - this is Tilix, I didn't know that Alt+num changes open sessions. Alt+num works in Terminator, and Esc+num works in Tilix. Case closed, I hope I didn't waste too much of your time.

[2019-08-22 21:36] #338 closed, assigned to nobody

[2019-08-22 21:37] saulpw commented on #338
Not at all!  It reminds us that we have to document the Alt/Esc thing more thoroughly, since Alt isn't passed through to every terminal.  Keep em coming :)

[2019-08-24 20:48] frosencrantz commented on #340
OT: What are you using for your screenshots @Mikee-3000?

[2019-08-24 20:57] frosencrantz opened #341 "Include jsvine's vdtabulate in the plugins list."
Looks like vdtabulate is missing:
    https://github.com/jsvine/visidata-plugins/blob/master/plugins/vdtabulate.py

[2019-08-24 21:04] frosencrantz opened #342 "If two source sheets loaded, upon startup prev-sheet will stacktrace"
**Running the prev-sheet command will stack trace if no other sheet visited**

**Expected result**
Swap to other sheet that was listed on the command line.  I listed two datasources on the command line, expected the prev-sheet to visit the other sheet (which would be more useful) or do nothing.  Didn't expect a stack trace.

**Actual result with screenshot**
Easy to reproduce.  I don't have the st

[2019-08-25 04:36] anjakefala commented on #341
Thanks for bringing this to my attention!

I added it. If you find another that is missing, you are welcome to add it to plugins/plugins.tsv, and make a PR. =)

[2019-08-25 04:36] #341 closed, assigned to nobody

[2019-08-25 05:51] anjakefala commented on #342
[code]

Note, for reproducing this is key. If you loaded a single sheet and pressed `prev-sheet`, it would have just given the appropriate error.

[2019-08-25 19:55] khughitt opened #343 "Add support for displaying cursor row/column numbers at bottom right?"
**Small description**

Would it be possible to add an option to toggle the current row/column number (according to the position of the cursor/cell in focus) at the bottom right of the screen?

It would be useful to provide some context with respect to where in the document you currently are.

Something as simple as the "<row>:<col>" section in vim would do the trick. One could imagine getting a bi

[2019-08-25 20:44] Mikee-3000 commented on #340
[Peek](https://github.com/phw/peek) for the recording
[Screenkey](https://www.thregr.org/~wavexx/software/screenkey/) for the key display
Unfortunately Peek crashes when I try to save to gif, so I save it as mp4 and use `ffmpeg -i infile.mp4 outfile.gif` to convert it.

[2019-08-25 20:57] saulpw commented on #343
Do you know about `Ctrl+G`, which shows the current row and col position?  The formatting could be improved but I think it gets you the information you want.

If you want to have it always onscreen, you can add it to the left status (the right status isn't as configurable yet) with a small bit of code in your .visidatarc:

```options.disp_status_fmt = '({sheet.cursorRowIndex},{sheet.cursorColIndex

[2019-08-26 05:31] saulpw commented on #339
Thanks for this report, @Mikee-3000.  Undo/redo needs a bit of work clearly :)

[2019-08-29 06:08] khughitt commented on #343
I was not aware of that! I did try searching the docs, but didn't come across that command.

Thanks for sharing that, and for the configuration suggestions! Those are all quite useful.

[2019-08-30 13:50] frosencrantz commented on #342
There is also a stack trace when quiting, and in several cells in the Sheets table.

[2019-08-30 15:35] suhrig opened #344 "TSV file with column name "length" causes TypeError"
**Small description**
Files in TSV format containing a column named `length` cannot be loaded.

**Expected result**
See content of TSV file.

**Actual result with screenshot**
An empty file is shown. In the footer line it says:
[code]

**Steps to reproduce with sample data and a .vd**
Create a file named `test.tsv` with this content:
[code]
Then, try to open it:
[code]

**Additional context**
vers

[2019-08-31 14:04] frosencrantz opened #345 "Feedback: When will visidata-2 be available?"
The visidata.org site is asking for beta tester feedback.  It would be helpful if there was an estimate listed of when 2.0 will be available, so feedback can be provided in time.

There are now nine open bugs that are in 2.0?  Will some of those be fixed?  And will there be more time to test?

[2019-08-31 14:38] frosencrantz commented on #341
Yes, that would have been better.  When I started writing the issue, I thought I was looking at a repo of aborruso's plugins, and would need to request permission.  Then realized that these were jsvine's plugins.

[2019-09-01 16:56] frosencrantz opened #346 "Visidata 2 feedback: Changelog example for stdout/pipe redirect"
The example for stdout/pipe redirect purpose could be better.  The entry does have some helpful notes about how to save output or not save output.  It does give a sense of what can be done.

My issue is with the example command line `ls|vd|lpr`.  The issues:
  * you won't be able to select the first line, since vd will use it as a header.
  * if any files contain spaces, they might end up in a sep

[2019-09-01 17:00] saulpw commented on #344
Hi @suhrig, thanks for the bug report.  This is a really good one, and I'm surprised we hadn't found it before! I'll look into it sometime soon, and hopefully get it fixed for the next 2.x release candidate.

[2019-09-01 17:05] saulpw commented on #345
Good idea, @frosencrantz, we'll add that soon.  For you and others who may read this issue, our goal is to get a proper 2.0 out by the end of the year (~4 months).  There will be other 2.-x pseudo-releases before then, as the next version gets (hopefully) increasingly stable.  We're taking our time with this one, so that we can have a stable 2.0 API defined and on its way to being documented.  We

[2019-09-01 17:23] saulpw commented on #340
Hi @Mikee-3000, thanks for reporting this bug, which points to some deeper problems with interactions between the DirSheet and deferred modifications on other sheets.  I think it may not be possible to have it work well both ways: the DirSheet (and other deferred modification sheets) want deleted rows to stick around (but colored/marked deleted) until the changes are committed. But data sheets wan

[2019-09-01 18:13] anjakefala commented on #346
This is really useful, @frosencrantz! Thanks. You are right that the example could be better and that that is where VisiData shines. =)

We have not created a page in our documentation for piping. I am really glad you did the work of putting this together and if you could create a short page for pipes.md in here https://github.com/saulpw/visidata/tree/develop/docs and create a PR on develop, I wou

[2019-09-02 07:19] saulpw commented on #342
Nice find, thanks for the bug report. I'm thinking maybe vd.sheets should be readonly or private; everyone should use vd.push instead.

[2019-09-03 12:04] suhrig opened #347 "Reviewing the design of --skip for 2.0"
Hi Saul,

I am not sure if I understand the meaning of the `--skip` option. When I create a text-file with this content:

[code]
Then `vd` always shows the same table, regardless of the argument given to `--skip`. I would have expected it to not display the first two lines when set to `2` for example. Is this what should happen or am I mistaken?

On a related note: I work in bioinformatics and it

[2019-09-03 13:49] frosencrantz commented on #342
With the latest changes, I still see a stack trace when quitting:

[code]

[2019-09-03 16:59] anjakefala commented on #342
I see the errors in the SheetsSheets cell. I believe those are because only the sheet at the top of the stack has been loaded upon startup. If you press Enter on the sheets with errors, their cells will not contain errors afterwards.

I cannot reproduce the quitting stacktrace; things work as expected for me. Are you quitting with `gq`? Can you walk through the steps you are taking?

[2019-09-03 17:04] anjakefala commented on #342
Ah, got it!

If you quit with `q` before all of the sheets are loaded, that  stacktrace will be populated in stdout.

To reproduce

[code]

Then press `Shift+S` to see that `benchmark` is not loaded and press `q` until you exit fully.
If you load `benchmark` before quitting, the errors in the cells disappear and the stacktrace does not appear.

(I think this still counts as a bug for us to fix.)

[2019-09-04 08:25] aistellar commented on #282
Slow COUNT(*) is a fundamental limitation of transactional databases. MySQL with InnoDB storage engine also suffers from the same issue.
https://wiki.postgresql.org/wiki/Count_estimate
https://wiki.postgresql.org/wiki/Why_PostgreSQL_Instead_of_MySQL:_Comparing_Reliability_and_Speed_in_2007#Counting_rows_in_a_table

So the current visidata postgres data source design is just not usable for any suff

[2019-09-04 13:56] khughitt opened #348 "Add support for styling columns based on type?"
**Small description**

It would be great to be able to specify type-specific styles (color, and perhaps bold/italics/oblique) to be applied to columns, based on the column type.

- For numeric values, different colors/styles could be used for negative/zero/positive values.
- For categorical columns, a color palette (or gradient to be used to generate such a palette) could be used.
- Another possib

[2019-09-04 14:01] khughitt opened #349 "Add option to guess at column types"
**Small description**

Although I see that visidata intentionally does _not_ guess at column types, I find this functionality (e.g. in pandas/readr/etc.) quite convenient, even if it's not 100% perfect.

Is there any possibility that such functionality could be added, perhaps disabled by default if you wish to preserve the current approach? Although pandas is not a dependency, the logic for such t

[2019-09-04 14:05] khughitt commented on #141
Thanks for implementing this! Just a quick note - I searched the docs, and it looks like this may not be mentioned there yet..

[2019-09-04 17:51] anjakefala commented on #141
@khughitt It is not! VisiData 2.x has not been released yet. It is currently in [beta](http://visidata.org/v2.x/). However, yeah it would be useful to have a way to share documentation for it, regardless. If you install 2.-1, the manpage that comes with it mentions undo.

[2019-09-04 18:24] ajkerrigan commented on #333
Great! I've got a minimally viable plugin started at https://github.com/ajkerrigan/visidata-plugins, trying to follow cues from https://github.com/jsvine/visidata-plugins and deviate from the core VisiData bits as little as possible. I'll catch up with you through freenode/mail to chat :).

[2019-09-05 02:40] saulpw commented on #342
Semantics for first load changed from vd.push to just before draw().

[2019-09-05 02:40] #342 closed, assigned to nobody

[2019-09-05 03:14] khughitt commented on #141
@anjakefala Ah, thanks for the heads up! I didn't even know there was a 2.x branch. I will have to give that a spin :grin:

[2019-09-06 05:14] saulpw commented on #349
Hi @khughitt, you could make a command that looped over the columns and guessed the type for each one that is `anytype`.  Like (this is untested but it should basically work):
[code]

 `gz~` is probably the wrong keybinding (`z~` already sets type to `anytype`), but this should be a reasonable structure for a type-guessing plugin. Though I realize this still leaves you with the difficult task of f

[2019-09-06 06:03] saulpw commented on #348
You should be able to do most of these with colorizers:
[code]

Edit: fixed colorizer.

[2019-09-06 07:17] chocolateboy opened #350 "Crash (stack overflow) with self-referential column expressions"
- OS: Linux (Arch)
- VisiData: v1.5.2 and v2.-1dev
- Python: 3.7.4

Not sure if this is obvious, expected, a bug, or something I've overlooked in the documentation, but it's possible to crash VisiData (and python) if a column expression refers to its own column name, something which it's easy to do inadvertently/indirectly when columns are renamed.

In the attached test case, I have a bunch of TV

[2019-09-06 15:17] khughitt commented on #349
@saulpw Thanks for the suggestion! I checked out the [Pandas code for type inference](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/lib.pyx#L1081), and it looks like it is written in Cython / wouldn't be so straight-forward to port.

Out of curiosity, have you considered using Pandas in visidata, and if so, did you rule it out simply to keep the dependencies minimal? It seems like

[2019-09-06 15:19] khughitt commented on #348
Very cool! I will give this a shot as well and let you know if I have any insights as to where it's broken.

[2019-09-06 15:39] saulpw commented on #349
There is a pandas loader, which is what we use to load some of the more obscure formats.  @azjps did some good work to use pandas to compute frequency tables on pandas-based sheets.

Yes, I wanted to avoid the Pandas dependency for core VisiData (esp as it's quite large, and not pure python).  However the main reason was that, while Pandas can do a lot, it also imposes a bunch of limitations.  Vis

[2019-09-06 15:40] anjakefala commented on #349
@khughitt I can answer a few questions and share some thoughts!

We have an optional pandas loader. =)  A loader is essentially a module which directs how VisiData structures and engages with a particular data source. The code is located [here](https://github.com/saulpw/visidata/blob/develop/visidata/loaders/_pandas.py) and [here](https://github.com/saulpw/visidata/blob/develop/visidata/loaders/pa

[2019-09-07 07:57] saulpw commented on #350
Yeah that's a good one, @chocolateboy.  I figured that using the first one in the columns list seemed reasonable, and it seemed like a cell-error was appropriate if the column itself was first and thus self-referential.  But this should not result in a significant performance penalty, much less an actual crash.  I think I'm seeing the crash during replay of your test case, but it doesn't seem to h

[2019-09-08 22:04] saulpw commented on #347
Hi @suhrig, the `skip` option should work as you describe, but it's tricky to support uniformly across many different loaders transparently. It looks like it's broken now since a performance enhancement for the tsv loader.  This is definitely a bug I want to address and hopefully in a more generic way that doesn't impact performance.

For your second question, there isn't a way to ignore lines bas

[2019-09-09 05:54] saulpw commented on #331
I agree that data loss is the most egregious of the issues here.  It turns out that guaranteeing no data loss means that the other issues must continue to persist, by design.

Basically, the columns were smallest fit; `columnize()` assumed that if a certain column was always a space in the first `options.fixed_rows`, that it would always be a space in all the rows.  If there turned out to be a non

[2019-09-09 05:57] #344 closed, assigned to nobody

[2019-09-09 05:57] saulpw commented on #339
Nice find!  It turned out only to happen with an action on the first row.  Should be fixed now.

[2019-09-09 05:57] #339 closed, assigned to nobody

[2019-09-09 06:02] saulpw commented on #336
should be fixed now.

Note that the default `&` keybinding may be removed, since we've assigned it otherwise to `join-sheets-top2` on all sheets, and it seems important to be consistent.  So you may have to Space + `join-cols` in the future.

[2019-09-09 06:02] #336 closed, assigned to nobody

[2019-09-09 06:03] saulpw commented on #333
This is great, @ajkerrigan!  We'll add it to our plugins.tsv whenever it's ready for wider distribution.

[2019-09-09 06:03] #333 closed, assigned to nobody

[2019-09-09 06:04] #331 closed, assigned to nobody

[2019-09-09 17:20] ajkerrigan opened #354 "Failure reading stdin (piping to vd)"
**Small description**
In `v2.-1` I was able to pipe command output to `vd` and get a sheet. With the current develop branch (37acde0bb9a0b758d664341c835b4a13de0a2a08), I get no data.

**Expected result**
Piping something like a directory list to VisiData, I expect to see a sheet with the data:

```ls -l | vd -f fixed```

**Actual result with screenshot**
I get no error, but vd stops after showing:

[2019-09-09 18:31] suhrig commented on #347
Thanks, good to know I can stop trying to get this to work. I'll wait for the fix then.

They are all TSV files essentially, though they may have different file endings, e.g. `.gtf`, `.gff`, `.vcf`

Here is the VCF file format as an example:
https://samtools.github.io/hts-specs/VCFv4.2.pdf

They are all at the beginning (=file header).

Yes, that would be fine.

However, there are even more compli

[2019-09-10 05:30] saulpw commented on #347
I updated the viewtsv example (see above commit), and went ahead and implemented your smart header detection, which is really quite elegant.  I wonder if we even need `skip` with it?  For now you can use it as a plugin and see how well it works for you.

[2019-09-11 03:59] frosencrantz commented on #331
Thanks for fixing this.  I haven't fully tried it out yet.

I understand that breaking lines by maximum fit would cause extra spaces surrounding data when they are pulled from the input.  But why not run .strip() on the data when saving it to a cell?

If that is not possible, it seems like your suggestion for .visidatarc might work.  Is there a way to configure Visidata  to perform those extra ste

[2019-09-11 04:47] saulpw commented on #331
Mostly performance reasons, though the spaces might have meaning in some context also.  It's foundational to VisiData that data isn't 'saved' into cells when loaded; instead, whenever a cell value is needed, the column is called upon to interpret the row and produce the cells.  So, types are the best way to do the kind of post-processing you want currently. (I have an idea to expand the column typ

[2019-09-11 09:22] frosencrantz commented on #331
Is there a way to conditionally replay .vd scripts? Like is it possible to add something to visidatarc and have it replay when I load a fixed data file?  Vim has a way to [trigger](http://vimdoc.sourceforge.net/htmldoc/autocmd.html#autocmd-events) automation based  all sorts of events. Such as a loading a filename with a particular pattern.

My thoughts on vd scripts...   I've learned to avoid vd

[2019-09-11 12:22] khughitt commented on #349
@saulpw @anjakefala Thank you both for taking the time to share your thoughts on visidata and its relation to pandas. I think those are all completely valid reasons to want to keep it as an optional dependency.

I was also unaware of the loader functionality visidata - that's very useful! I think I'll have to spend some time going through the manual / book to get a better appreciation for the full

[2019-09-12 07:34] aborruso opened #356 "Feature request: add field type column to Describe Sheet"
Hi,
it vould be great to have column type field (text, integer) in Describe Sheet sheet.

![image](https://user-images.githubusercontent.com/30607/64763206-d84b9a00-d53f-11e9-8d05-9ba79c8e5ce9.png)

Thank you

[2019-09-12 07:53] aborruso opened #357 "cannot import name 'asyncsingle' error"
Hi,
using saul.pw/VisiData v1.5.2, installed via pip (`python3 -m pip install --user visidata`), I have at start this error:

[code]

How to solve it?

Thank you

[2019-09-12 16:16] saulpw commented on #357
Hi @aborruso, `asyncsingle` was added after 1.5.2.  I'm guessing you have either some code in your visidatarc that's trying to import it, or a plugin for a newer version?

[2019-09-12 16:23] aborruso commented on #357
@saulpw I have commented `import plugins.livesearch` and it works.

Thank you

[2019-09-12 16:23] #357 closed, assigned to nobody

[2019-09-13 04:08] saulpw commented on #356
Hi @aborruso, thanks for the suggestion.

If all you want is a 'type' column in a running session, you can copy and paste it from the ColumnsSheet's columns sheet onto the describe sheet.  Note how the rowtype in the lower right for both sheets is `columns`.  So, from the DescribeSheet, press Shift+C twice, then go to the `type` row, `y`ank it to the clipboard, `q`uit back to ColumnsSheet, and the

[2019-09-14 05:09] #343 closed, assigned to nobody

[2019-09-14 06:19] saulpw commented on #354
A model bug report, @ajkerrigan!  concise and informative, which made it easy to fix.  Should be fixed in 2.-2.

[2019-09-14 06:19] #354 closed, assigned to nobody

[2019-09-15 04:56] anjakefala commented on #346
@frosencrantz added the promised documentation! ^^

[2019-09-15 04:56] #346 closed, assigned to nobody

[2019-09-16 06:09] anjakefala opened #359 "[feature request] Enable plugins to add to vdobj"
vdobj is a core module in VisiData. Currently, it is initialised [before plugins and visidatarc are loaded](https://github.com/saulpw/visidata/blob/develop/visidata/__init__.py#L119). This means that there is no way for plugins to expand vdobj.

This should be adjusted.

[2019-09-16 06:12] anjakefala opened #360 "[pandas develop] PandasSheets cannot be modified"
**Small description**
When the work was done to enable selecting in pandas, [this line was added that effectively copies the dataframe](https://github.com/saulpw/visidata/blob/develop/visidata/loaders/_pandas.py#L71). This means that the source dataframe is not being modified.

**Expected result**
PandasSheets should be modifiable.

**Steps to reproduce with sample data and a .vd**
vd sample_data/

[2019-09-16 08:00] aborruso commented on #356
@saulpw thank you very much. I love the describe sheet and I think that to complete the description it would be very useful to have also field type.

As you have in [xsv stats](https://github.com/BurntSushi/xsv/).

[code]

[2019-09-17 07:48] suhrig commented on #347
Awesome! Exactly what I needed. I have been playing around with it for a while noticed some minor issues when using it stand-alone (no automatic decompression, no piping). I think I can fix them on my own. Using it as a plugin already solves some issues. I will need some more time to test in under real-life conditions.

I do believe that `skip` exists in its own right. And since it is already impl

[2019-09-17 16:06] saulpw commented on #347
Anything we have to check for every line of a file will be a performance degradation, and I don't want to make performance worse for 99% of cases (and it might be 100% since we have never seen a file like this).

As for `--skip`, it's apparently only partially implemented, and buggy at that, so I was hoping for an opportunity to ditch it completely before we commit to it for 2.0.  But you're proba

[2019-09-18 00:15] anjakefala commented on #340
This is now fixed on the develop branch. We are experimenting with moving the Write-mode of the DirSheet into its own tool [vls](https://github.com/saulpw/visidata/blob/develop/bin/vls).

It does not have its own setup.py yet. To play with it, install the latest [of VisiData v2.x](http://visidata.org/v2.x/) (it is a dependency), then take the vls script and place it in a `bin` that is findable by

[2019-09-18 00:15] #340 closed, assigned to nobody

[2019-09-18 00:23] anjakefala opened #361 "Moving write-mode of DirSheet into a new tool vls"
As discussed [here](https://github.com/saulpw/visidata/issues/340#issuecomment-532462876), the write-mode of the DirSheet is moving to a new tool: [vls](https://github.com/saulpw/visidata/blob/develop/bin/vls). This issue is to open discussion from any fans of the DirSheet, who want to provide feedback.

The reasons for this are:
* It behaved differently from other sheets in VisiData.

* It felt l

[2019-09-18 06:05] saulpw opened #362 "Discussion: should undo apply to row selection commands?"
The general rule, is that a command is undoable if the data would be changed when saved to a new output.  So changing the width of a column can't be undone, because it is purely cosmetic and does not affect saving (except markdown format, but it should not change the data at all).  But setting the width to zero is undoable, because it hides the column and therefore removes it from the list of colu

[2019-09-18 20:22] for-coursera commented on #255
I'm extremely sorry and probably missing something but how do you actually paste from the system clipboard? E.g., I have a column of data in my clipboard and want to insert it as a column into the current sheet in vd?

Thank you :)

[2019-09-18 20:52] kovasap commented on #255
I think we settled on middle-click.  Try that.

[2019-09-18 23:32] for-coursera commented on #255
@kovasap , thanks for your reply!

But no keyboard hotkey?

Also, I'm on laptop (MacBook), and Cmd-click results in `no command for "ALT-BUTTON1_CLICKED"`

EDIT: found an old magic mouse, middle-click results in `no command for "BUTTON2_RELEASED"`

[2019-09-18 23:34] saulpw commented on #255
@for-coursera Try `Space` `syspaste-cells`.

[2019-09-18 23:41] for-coursera commented on #255
Says `no binding for syspaste-cell | "syspaste-cell"` and nothing happens. Typing `sys` and pressing `<Tab>` cycles `syscopy*` and `sysopen` commands but shows no `syspaste-cells`. I'm using visidata 1.5.2 installed with pip3.

[2019-09-18 23:43] saulpw commented on #255
This feature is not in 1.5.2.  You would have to install from `develop` or v2.-1.

[2019-09-18 23:44] anjakefala commented on #255
@for-coursera More information here! http://visidata.org/v2.x/

[2019-09-18 23:55] for-coursera commented on #255
@saulpw, @anjakefala Thanks, installed `2.-1dev`!

~~However, `ga` now reports `AttributeError: 'Sheet' object has no attribute 'newRow' | "10"`. `gza` works just fine, though.~~

After @anjakefala fixed that bug with `ga`, I can confirm that `syspaste-cell` command indeed does work. Thanks to everyone for support :)

[2019-09-19 01:06] for-coursera opened #363 "Can't add rows to a new Sheet in v.2.-1dev"
**Small description**

`ga` command fails to add rows in a new Sheet

**Steps to reproduce**

1. Launch `vd`
2. Press `Shift-a` for a new Sheet (enter a number of columns for that sheet when asked, e.g. 2)
3. Press `ga` to add some new rows (enter a number of columns for that sheet when asked, e.g. 10)

Below is the commandlog (saved with `Ctrl-d`) to show the steps that led to the issue:

    she

[2019-09-19 06:52] anjakefala commented on #363
@for-coursera :+1: Excellent bug report! It really helped me narrow in on the problem.

Most loaders/specialised sheets have their own `newRow` module implemented (e.g. https://github.com/saulpw/visidata/blob/develop/visidata/loaders/tsv.py#L111). However, the basic `Sheet` did not! This is why the issue only popped up when you created a new blank sheet. =)

Should be fixed now. Thanks!

[2019-09-19 06:52] #363 closed, assigned to nobody

[2019-09-19 06:57] for-coursera commented on #363
Do confirm, works for me after the upgrade.

[2019-09-22 07:34] saulpw commented on #253
[Build an OSX .pkg installer from Linux using mkbom and xar](https://gist.github.com/SchizoDuckie/2a1a1cc71284e6463b9a])

[2019-09-25 08:48] paulklemm commented on #362
Hey Saul, excited for Visidata 2.0🎉

I would expect the undo feature to apply on selections. I constantly screw up selections and a quick way to undo this would be to just `Shift+U`. I agree, it gets a bit inconsistent, but I don't think it's that big of a problem.

[2019-09-25 10:12] marrowsuck opened #365 "setup.py install failes on develop"
setup.py still references bin/vls although since commit 0db1138 it has moved to vsh.

[2019-09-26 16:32] saulpw commented on #365
Thanks, @marrowsuck.  Removed bin/vls from visidata setup.py; we'll make a vsh/setup.py soon.

[2019-09-26 16:32] #365 closed, assigned to nobody

[2019-09-26 17:19] samLozier opened #366 "Idea/question - continuously load new rows? Like tail -f but with the histogram view"
If there is a better place to post this, I'm happy to move it. I'm new to Visidata this week having first heard about it on podcast.__init__ but am already finding it really useful for quick exploration of a file. I particularly like the histogram view and have been using it to explore log files, which prompted this idea.

When opening the histogram view for a given column, I can 'watch' the calcu

[2019-09-27 05:36] saulpw commented on #366
Hi @samthaman, thanks for the suggestion.  It doesn't exist yet, and it would be pretty straightforward to with text formats.  (Other formats may need to have their individual loaders and Python modules rewritten.)

- `visidata.path.RepeatFileIter` could be changed to block until further input if `options.follow` is set.  And since all text loaders are already asyncthread (or should be), then that

[2019-09-27 06:11] samLozier commented on #366
@saulpw Thanks for the encouragement. It might be beyond my current skills, but I'll take a look and see if I can move it forward at all. At the very least it's good to hear that you think it'd be reasonably straightforward to implement.

[2019-09-28 06:39] anjakefala opened #368 "[api 2.0] Create an cls.addColorizer/addOption that sets on the cls"
`cls.addCommand` sets a command on the `cls`. At the moment, there is no `addOption` and `addColorizer` actually sets the colorizer on the `Sheet` level.

(See https://github.com/saulpw/visidata-book/commit/7ed66eac2885613e427c181224ddf14195b09838 and https://github.com/saulpw/visidata/commit/efd59480794b26595ff394d784572eb808c75d0c)

`addColorizer` should be renamed / We should have some equivale

[2019-09-30 06:11] saulpw commented on #350
This was great, @chocolateboy, thanks.  We spent the weekend combing through the expr eval code, took notes for the book, fixed up the api, and VisiData now catches recursive expressions before the interpreter does.

With the above commit:

- VisiData should not crash like this anymore.
- For an identifier, the first so-named column in the columns list (shown **or hidden**) is used (this was also

[2019-09-30 06:11] #350 closed, assigned to nobody

[2019-10-04 14:09] shym opened #369 "SQLite handler fails with 'sqlite3.OperationalError' on selecting tables with keyword names"
**Small description**
Using VisiData v1.5.2, I cannot visualise the content of a table named “table” or “select” (or, I imagine, other SQL keywords) in a SQLite database.
I wonder whether that could be a duplicate of #119 but I understood that issue as fixed quite some time ago, and the fix doesn’t seem to relate to this issue.

**Actual result with screenshot**

[code]

Without surprise, in an in

[2019-10-05 08:48] saulpw commented on #369
Thanks for the quality bug report, @shym! Fixed in develop, will be in 2.0.

[2019-10-05 08:48] #369 closed, assigned to nobody

[2019-10-05 18:29] saulpw commented on #214
To-do to resolve this issue:

1. Fix loaders with sheet index to have rowdef sheets.
2. Write above requirement into book/loaders.md.
3. Improve startup with large files to remove sync(); file should load sync, cursor should jump after load completes (including ^C), or after sheet/row/col is available, if possible.

[2019-10-05 20:57] saulpw commented on #329
We've decided to move the command helpstrings back into the code and deprecate `commands.tsv`, as it's a pain to maintain separately.

[2019-10-09 05:51] skeept opened #371 "allow use of expression for naming columns"
I am dealing with files that don't have header with name.

If I read the documentation correctly we can create new columns using the = operator which even allows to define a python list in the visidata file and directly assign it.

However for naming columns the best option seems to be either individually name the column using the ^ operator or using one of the rows. But if all the rows are data t

[2019-10-09 06:19] saulpw commented on #371
It looks like you want the `Shift+C`olumns Sheet.  On the `name` column there you can transform existing names however you like, or if there are no names at all, then use `gz=` or other editing command to set the names.

As to your second question, there isn't currently a way to apply a function like that, you'd have to name the column to a valid identifier first.  It would be pretty straightforwa

[2019-10-09 06:19] #371 closed, assigned to nobody

[2019-10-10 17:01] skeept commented on #371
Thanks for the `Shift-C`  and `gz=` suggestion it allows me to name the columns easily.

But I am still missing something to do what I actually would like.
I have put the following function in my `.visidatarc`:
[code]

The idea is that I have a column that is a unix time stamp and I want to be able to convert it to a more readable format.

So I thought I would be able to now use the function `d` b

[2019-10-10 17:08] saulpw commented on #371
Two things will help you, I think:

1. `z Ctrl+E` will show you the error message within a cell that has a `!` in it as you see, and that should help you diagnose the issue with your function;
2. `@` will convert the column to date type, and if the posix timestamp in that column is already a number (like from .json, and not a string like from .csv), then the date type will convert it automatically

[2019-10-10 17:18] skeept commented on #371
Great! You were right I was missing a conversion. Once I do it works well. :)

[2019-10-11 02:14] halloleo opened #372 "vd is a great tool - but can I somehow preset the screen height?"
**Description**

I am paying around with visidata - and love it already. :-)

However I have *sometimes* trouble that it allocates more lines than aviable in my terminal emulater - whith the result that the top- line scrolls out of view.

Is there a way to specify via CLI options the number of lines `vd` should occupy?

[2019-10-11 04:53] anjakefala opened #373 "Expansions to PluginsSheet"
Requested by @saulpw

- [x] add a pydeps column, which is a space-delineated list of pypi dependencies, with pip3 friendly text (e.g. `requests==2.3.0 lxml`)
- [X] add a hash column, and add hash verification with downloads before loading them
- [X] add a vdplugindeps column, space-delineated list of plugin dependency urls

[2019-10-11 04:54] anjakefala opened #374 "Make http loader a plugin"
We should also begin asking the philosophical question of what makes a loader and what makes a plugin.

[2019-10-11 05:49] saulpw commented on #372
Hi @halloleo, glad you're enjoying it!  There's no way to do this from the CLI, but you could add this to your `.visidatarc`:

[code]

and then it would only use 11 lines.  Not the easiest to update but if your windows are usually a particular height, maybe it will work for you.

[2019-10-12 15:52] shym commented on #369
Kudos, that was fast!
Looking at 1b27bb4a8a67328e5b2c7dd794cf4d9fa9754338, I’m wondering what would happen with a table name containing a `"` (which is admittedly looking for trouble but is accepted by sqlite when escaped as `""`).

[2019-10-12 18:08] saulpw commented on #369
Hi @shym, that would certainly break it!  In general though I try not to fix speculative edge cases proactively; there are a near infinite number of possible issues and it's generally not worth the risk and complication for an issue that doesn't affect anyone.  That said, if you or anyone else wanted to create a sqlite db that exhibited this issue, and submit a PR that fixed it, we'd be happy to m

[2019-10-17 09:15] unhammer commented on #303
In case it's useful to anyone, I have a little [wrapper](https://gist.github.com/unhammer/9497641f44634ae96c6509a2cfaae574) that first runs `diff -u`, to make it easier to get right at the differences.

[2019-10-17 17:47] layertwo opened #375 "Progress with no length"
Re: IRC discussion

There are cases where (particularly in vsplunk) where a progress percentage can't be known as data is streamed in without a total count.

This request is for a spinning progress indicator instead of the current percentage.

[2019-10-19 23:43] Mesibov opened #376 "Cells with embedded newlines display well but export badly"
VisiData v1.5.2

If a CSV is exported from a spreadsheet which contains newlines within cells, the CSV has broken records, with each of the lines from the "newline-embedded" cells starting a new CSV line. If this CSV is imported into VisiData, VisiData displays the broken lines as single lines - great!!

However, after saving the CSV from VisiData as a TSV, the new TSV does not save the displayed

[2019-10-21 21:32] anjakefala commented on #376
Hi @Mesibov!

Thanks for writing up an issue about this and ++ for providing sample data.

I can provide some context for what is happening. It was deliberately decided that embedded newlines hold meaning. In fact, in the newest version of VisiData (not yet released), users can press `v` to display those cells as multiple rows. I agree that that can result in broken files when saved like that, esp

[2019-10-21 22:28] Mesibov commented on #376
@anjakefala Many thanks for thinking about cleaning up embedded newlines, it would be a great help. Another great help to us data workers would be for governments around the world to pass laws forbidding the use of CSVs (https://www.datafix.com.au/BASHing/2018-07-18.html).

[2019-10-21 22:33] anjakefala commented on #376
:rofl:

[2019-10-22 16:55] nathanbraun opened #377 "globalCommand example not working"
I'm new to visidata so this might very easily be me, but when I add the following to my .visidatarc per the https://visidata.org/docs/customize/ page, the new command is not working.

`globalCommand('^D', 'scroll-halfpage-down', ''sheet.topRowIndex += nVisibleRows//2')`

Note, it's not that it's ignoring my .visidatarc -- I tried adding it via bindkey, but then it complains about scroll-halfpage-d

[2019-10-22 17:40] anjakefala commented on #377
Hi @nathanbraun!

This was fun to figure out. ^^

There are a couple of things going on. We can use this debugging to improve the docs.

1. Sheet-specific commands trump globally set commands, and commands booted up when VisiData loads seem to trump the `~/.visidatarc` in v1.5.2.

So since you are overwriting an existing keystroke, I would modify from `globalCommand` to: `Sheet.addCommand`.

2. Th

[2019-10-22 17:40] #377 closed, assigned to anjakefala

[2019-10-23 20:23] nathanbraun commented on #377
Awesome, thank you!  That works!

Note I got what I typed (including the mistaken double ') directly off the https://visidata.org/docs/customize/ page, so sounds like that page might need to be updated?

One more question -- if I wanted to scroll a half page up with ^U (like in Vim) -- how would I do that?  I tried:

`Sheet.addCommand('^U', 'scroll-halfpage-up', 'cursorUp(nVisibleRows//2); sheet.t

[2019-10-23 20:26] saulpw commented on #377
This is just a guess (you should view the actual error using `Ctrl+E`), but try `cursorDown(-X)` instead of `cursorUp(X)`.

[2019-10-23 20:33] nathanbraun commented on #377
That works thank you!

[2019-10-24 14:01] pigreco commented on #291
Wow, it would be nice to be able to use spatialite in visidate.

I imagine I can write St_Area () or St_length ()

Thanks for all!!!

[2019-10-25 04:13] anjakefala commented on #377
[code]

Hehe. You are right. Thanks for calling it out! I will go update it now. =)

[2019-10-25 04:28] anjakefala commented on #377
Updated! http://visidata.org/docs/customize/

[2019-10-27 21:29] frosencrantz commented on #329
@saulpw, I understand.  This was mostly intended as FYI.   It would have been nice to have the code look prettier in Github.

I really like commands.tsv.   As part of learning to use Visidata I use it as a good data sample and use it to look up commands all the time.  I've thought it would make a great data source for a Visidata tutorial.

Some comments/requests:

* commands.tsv is complete. My im

[2019-10-28 01:35] anjakefala commented on #329
[code]

@frosencrantz, can one file an issue against GitHub? :joy: It feels like tsvs having missing values is part of the tension of life, and GitHub would be such a joyful place if it took that into account!

[code]

I am glad that it is liked. :blush:  It took us a while to build it! You are right that it would make a cute data source for a tutorial.

I like it too, actually. It was really usef

[2019-11-01 01:23] saulpw commented on #375
With the latest commit to develop, if `progressTotal` is 0 then it doesn't display `0%` (though it will still show `processing...`).  If you want to use your own gerund in place of `processing`, you can use something like `Progress(gerund='fetching', total=0)` as a context manager.

[2019-11-01 01:23] #375 closed, assigned to nobody

[2019-11-01 01:25] saulpw commented on #343
Now there is an `options.disp_rstatus_fmt` that you can configure similarly for the right-side status bar.

[2019-11-01 01:25] #362 closed, assigned to nobody

[2019-11-01 02:01] saulpw commented on #372
Now you can set `LINES` and/or `COLUMNS` envvars to manually indicate the number of lines/columns to use.  Does not seem to work well if set greater than the actual number of lines/columns.  But should work in your case, @halloleo.

[2019-11-01 02:01] #372 closed, assigned to nobody

[2019-11-01 04:16] halloleo commented on #372
I tested it against the stable branch and it works! :-) Thanks a lot, @saulpw!

Only problem using env vars with standard names is that some terminal programs reset them on window resize, effectively overriding my choice. A variable VD_LINES would avoid this.

BTW, I tried the approach with the `.visidatarc` file, but then I get the message

    AttributeError: type object 'VisiData' has no attrib

[2019-11-01 04:37] anjakefala commented on #329
[code]

In anticipation of this work, we create a system tsv sheet that all system tsvs can inherit from: https://github.com/saulpw/visidata/commit/7c5febb4068852e81c6a13991af9a878f0d33de4.

If we find any options that need default setting, we can set them in one place there. =)

[2019-11-01 04:42] anjakefala commented on #329
Closing for reasons outlined in above comments.

[2019-11-01 04:42] #329 closed, assigned to nobody

[2019-11-01 04:44] anjakefala commented on #361
Closing because there do not seem to be any objections!

[2019-11-01 04:44] #361 closed, assigned to nobody

[2019-11-01 04:47] anjakefala commented on #323
We started work on implementing a system TsvSheet in this commit: https://github.com/saulpw/visidata/commit/7c5febb4068852e81c6a13991af9a878f0d33de4.

I will add header.

[2019-11-01 04:59] anjakefala commented on #323
Added the remaining ones above!

Please re-open the issue if you find any remaining options that should be set.

[2019-11-01 04:59] #323 closed, assigned to nobody

[2019-11-01 05:07] saulpw commented on #329
@frosencrantz: `z Ctrl+H` only shows commands available on the current sheet, by design. There could be a `g Ctrl+H` or something that shows all commands.  I wish we could keep the other metadata up-to-date too, but we don't have the bandwidth..

[2019-11-01 05:38] saulpw commented on #359
`VisiData.init()` is not useful and will be deprecated; use `@VisiData.lazy_property` to create the value as needed (and it will be cached thereafter).

[2019-11-01 05:38] #359 closed, assigned to nobody

[2019-11-01 13:26] sfranky opened #378 "vim editing a cell adds a trailing space, leaves the cell open upon saving"
I'm using 2.-1, but i think i remember the same behaviour in master visidata.

I press e to edit the cell, then ctrl-o to go into vim, edit the text, then save with :wq, and i get the cell still open (so i need to close), and there's also a whitespace character appended at the end.
Is there some way to configure that, if it's intended behaviour?
Thanks!

(edit: when you have to do a million of the

[2019-11-01 13:42] sfranky opened #379 "TypeError: 'classmethod' object is not callable"
My .visidatarc is fairly empty. Basically, it just imports the three plugins vddedupe, rownum, vdnormcol (which work last time i checked), and datetime.

If i add this line:
bindkey('0', 'go-leftmost')
I get this error (and of course the binding doesn't work):

[code]

I'm using version 2.-1.
Thanks!

[2019-11-01 14:53] saulpw commented on #379
Hm, good catch, @sfranky!  There is a separate `bindkey` for classes and globally.  We'll fix the global one (which is broken), but in most cases you actually want to use the class-specific one:

`BaseSheet.bindkey('0', 'go-leftmost')`

because this would not be a useful binding without a sheet.

[2019-11-01 15:07] sfranky commented on #379
excellent!! i thought i was going to get away also without using one :)
this is great !!

[2019-11-01 15:13] sfranky opened #380 "Feature request: go back"
It would be great if I could go back to the same cell/column/row via a binding. It's super helpful when having to edit specific interdependent columns, and possibly copy paste information from one to the other. I know I can already go to specific column numbers, and hence switch between e.g. 3 and 5, but going *back* would allow me to quickly switch between the two with the same keystroke.

edit:

[2019-11-01 15:18] sfranky opened #381 "Update customize.md to work with v2.-1"
Example globalCommand:
[code]
gives error:
[code]

Running on version v2.-1

[2019-11-01 17:37] anjakefala commented on #381
Hi @sfranky!

Nice catch, thanks. That is a v2.-1 doc bug, I am behind on the docs. =) @saulpw has recently upgraded how scrolling works: 4ba51a67f7.

Those docs are for version v1.5.2. Since then, `nVisibleRows` was renamed to `nScreenRows`. I will keep this issue open for doc-upgrading, but those docs will not be shipped to the website until v2.0 is released. We are still exploring how the API w

[2019-11-01 18:30] #379 closed, assigned to nobody

[2019-11-01 19:08] saulpw commented on #380
Hi @sfranky, this is a good suggestion, I've wanted something like this too. Maybe something like vim's `Ctrl+I`/`Ctrl+O`.  But the design space for this is pretty huge, and it's not obvious what method would be the most intuitive or straightforward or elegant to use.

Maybe you could experiment with some possibilities and see if you can come up with something workable that's not too complicated?

[2019-11-01 19:08] #380 closed, assigned to nobody

[2019-11-01 19:22] saulpw commented on #378
I believe what you want is actually a vim option, `set noeol`: https://stackoverflow.com/questions/1050640/vim-disable-automatic-newline-at-end-of-file#16114535

Though interestingly, we should be already trimming that newline in `launchExternalEditorPath`.  So maybe there are multiple newlines in your case?

Also, for speed, you might want to try this, to avoid having to press `e` and `Enter`:

[

[2019-11-01 19:22] #378 closed, assigned to nobody

[2019-11-01 20:25] sfranky commented on #378
Thanks for the provided command, that's perfect !!!

As for the newline, the `set noeol` doesn't seem to have an effect (although i see [noeol] in vim).
After exiting vim and getting back to the open-for-editing cell (btw is there also a way to turn that behaviour off, so that exiting vim gets back to a *closed* cell?), the dot is still there.

I don't see multiple newlines, if i just save out of

[2019-11-01 20:31] sfranky commented on #380
Ok i'll try to propose a way this could work, in the future. It's not a big deal, and the things coming up for the v2.0 release are certainly much more exciting! I have to tell you, I was ecstatic when I first used v2.-1, the deferred changes and the undo/redo are a game changer !! Thanks again for this great piece of software !!

[2019-11-01 21:00] saulpw commented on #378
If you start from an open-for-editing cell, you should return to the same, in my design opinion.  There's also an issue with the implementation since input is modal (same issue why it's harder to Tab to the next cell from within input mode, and re-enter/stay in input modef).  The above command does what you want though anyway, right?

Also you can change the above command to this:

[code]

and tha

[2019-11-01 21:15] sfranky commented on #378
yes, that makes sense you're absolutely right.
The first command does open directly, which is a great upgrade, but the second command doesn't anymore, I get this:
[code]
and also, if i instead go with e, ^o, like in the past, the `\n` is still there.

[2019-11-01 21:17] saulpw commented on #378
Add an extra `\`.  (I didn't test this before sending it).

And yeah, this only changes the `Ctrl+O` from the sheet itself, not the one from within the line editor.

[2019-11-01 21:25] sfranky commented on #378
It's perfect thanks very much !! (btw i hadn't noticed that after vim the command also exited out of the edit cell, THAT'S what you meant!!)

[2019-11-03 05:57] anjakefala commented on #381
This has been updated for the time being in https://github.com/saulpw/visidata/commit/cdccd9bae6fe4fd991e87a849997e2baee47c8ba.

[2019-11-03 05:57] #381 closed, assigned to nobody

[2019-11-05 07:04] saulpw commented on #376
@anjakefala is exactly right.  With `safety_first`, the csv loader removes NUL characters, and the tsv saver translates newlines to `options.tsv_safe_newline`.  We should make them both act the same way (probably a union of both behaviors).  Thanks for pointing this out, @Mesibov!

[2019-11-05 08:30] sfranky opened #382 "Is it possible to write to a specific column when another column has been edited?"
Upon filling in some cells in a specific column, I would like for the respective cells on _another_ column to be filled with a specific value. Is this currently possible through a command or a python function?

Thanks!

[2019-11-05 18:30] anjakefala commented on #382
Hey @sfranky, can you expand on this with a concrete example?

Is it you want to attach a formula to a column, which is dependent on another column?

Example: Column `Total` to be computed from Column `Unit` * Column `Price`?

[2019-11-05 18:36] sfranky commented on #382
Hi! I'd like to write to a column other than the one I'm executing the command on. So, for example, I'm on column C, I make an edit on a row or selection of rows, and I want column A to have its respective rows written with something (either automatically [ideally], or with a keybinding). e.g. if column A's name was "Changed", the value would now change to "True"

[edit: made last sentence less co

[2019-11-05 19:00] anjakefala commented on #382
Ah! Essentially, for column A to track changes in Column C.
VisiData currently has `expr-col`. This modifies a column based on a formula which may reference the *current calculated values* in other columns. That is not quite what you are looking for, if I understand correctly. You would like a column's modification *history* to trigger the changes.

What you want is doable, but it all involves som

[2019-11-05 19:00] #382 closed, assigned to nobody

[2019-11-05 19:39] sfranky opened #383 "[defermods] edits to derived sheet do not transfer to the source sheet without a commit"
If on a simple tsv file I select two rows, open a subsheet with " (double-quote), proceed to change the value of one of the cells (the cell gets coloured yellow), and then switch back to the main tsv file with ctrl-6, the value is not transferred there. However, if I save the subsheet with a random name and *then* go back to the main tsv, the change is now visible.
[edit: tried it with a simple nu

[2019-11-05 21:11] anjakefala opened #384 "[defermods] Plugin savings automatically to provided source, without prompt"
**Small description**
When defermods.py is installed, and `^S` is pressed, VisiData will automatically save to the given source sheet without prompting with a file-input.

**Expected result**
VisiData should provides the file-input prompt for sheets that are not always saveToSource.

**Steps to reproduce with sample data and a .vd**
Install and load the defermods.py plugin. Change one cell (note t

[2019-11-07 14:20] sfranky opened #385 "xlsx plugin produces bad column in [develop]"
**Small description**
When loading any xlsx file, the first column is comprised of  `[<number>]`s everywhere. In [v2.-1], the output is normal.

**Additional context**
develop branch

[2019-11-07 18:05] anjakefala commented on #385
Hey @sfranky! I was not able to reproduce this with the [sample xlsx](https://github.com/saulpw/visidata/blob/stable/sample_data/sample-sales-reps.xlsx). Can you give this data a try, and post a screenshot if you see the bug?

[2019-11-07 18:09] anjakefala commented on #385
If you do not see the bug there, is it possible to point me to some sample data where you do? =)

[2019-11-07 18:31] sfranky commented on #385
I see the same problem in the sample you sent. I tried disabling my ~/.visidatarc file, still the same!

![xlsx_column_bug](https://user-images.githubusercontent.com/1530259/68416601-127a9600-0195-11ea-8694-f036c6e8ce1b.png)

[2019-11-07 18:33] anjakefala commented on #385
Excellent! What is your most recent commit?

[2019-11-07 18:34] sfranky commented on #385
67c3f925

[2019-11-07 18:34] anjakefala commented on #385
Please update to https://github.com/saulpw/visidata/commit/e1d62971a02d5fb53e78761e3ead573f9c4ffd0e. :blush:

[2019-11-07 18:35] anjakefala commented on #385
There was a bug that was introduced with a partial upgrade of the xlsx loader to a new loader framework (I am working on the documentation for it atm). It got fixed in later commits.

[2019-11-07 18:42] sfranky commented on #385
worked like a charm !! thanks !!

[2019-11-07 18:42] #385 closed, assigned to nobody

[2019-11-09 07:18] saulpw commented on #373
`vdplugindeps` is present but not used currently.  closing this issue.

[2019-11-09 07:18] #373 closed, assigned to nobody

[2019-11-09 07:58] isomorphisms opened #386 "module tasklib has no attribute TaskWarrior"
[code]

[2019-11-10 00:36] anjakefala commented on #374
Considering that the VisiData Path system has been adapted for urls, I think the http loader is a core component of VisiData.

So I am going to close this issue. =) But we should definitely revisit the question of plugin vs loader.

[2019-11-10 00:36] #374 closed, assigned to nobody

[2019-11-10 00:41] anjakefala commented on #287
This issue is being closed for the time being, since we decided recently to limit our open issues to bugs, roadmap items, and small feature requests as we get closer to releasing v2.0.

[2019-11-10 00:41] #287 closed, assigned to nobody

[2019-11-10 00:48] anjakefala commented on #214
The `IndexSheet` has been developed (see visidata/sheets.py). It contains the attribute `rowtype = 'sheets'` on default.

Loaders to be ported:
- [X] html
- [X] xls
- [X] xlsx
- [X] xlsb
- [X] hdf5
- [x] sqlite
- [ ] postgres

Misc:
- [ ] requirements needs to be added to loaders.md

[2019-11-10 02:03] anjakefala commented on #347
The `--skip` parameter is not exclusively applied to TsvSheets, anymore.  =)

It has been moved to the stock `reload()` in `Sheet` https://github.com/saulpw/visidata/blob/develop/visidata/sheets.py#L261. It will skip through the first *n* rows yielded by `iterload()`.

If a loader does end up overwriting `reload()`, it should define `--skip` behaviour, if appropriate.

[2019-11-10 02:03] #347 closed, assigned to nobody

[2019-11-10 02:10] saulpw commented on #347
(but most loaders should override `iterload()` instead)

[2019-11-10 04:43] ghost opened #387 "CSV files are saved with DOS line endings"
**Small description**
When I load a CSV file with unix (`\n`) line endings into vd and save it, it's written over with DOS (`\r\n`) line endings, and I have to use a tool like `dos2unix` after every save to normalize it.

**Expected result**
I think it should either preserve the line ending format of the original file that was loaded.

**Additional context**
Happens with v1.3, v1.5, and v2.-1dev.

[2019-11-10 04:53] ghost opened #388 "CSV file is sometimes truncated randomly when saved"
**Small description**
I have a CSV file of about 4800 rows. When I save it from vd, there's a roughly one in three chance that the file will be truncated and the last 100-2000 lines will be gone.

**Expected result**
Shouldn't lose data.

**Steps to reproduce with sample data and a .vd**
Here is a randomly generated CSV with 4866 lines: https://gist.githubusercontent.com/dbandstra/6e586c0d4fd3ccda

[2019-11-10 05:07] anjakefala commented on #388
VisiData definitely should *not* be doing that, and this will take utmost priority.

I have a guess for what might be happening, @dbandstra,

Something caught my eye in these instructions:
[code]

There is a progress indicator in the bottom right corner. If you are working with large files and you quit before they finish saving, the saved file would be truncated.

Can you please confirm for me if

[2019-11-10 05:10] ghost commented on #388
I think that's what it is. I tried a bunch of times, waiting for the progress indicator, and it didn't get truncated. I never noticed the progress indicator before!

[2019-11-10 05:19] anjakefala commented on #388
@dbandstra, awesome!  :blush:

Thanks for posting an issue.  =)

[2019-11-10 05:19] #388 closed, assigned to nobody

[2019-11-10 07:01] anjakefala opened #389 "VisiData should confirm quits while a thread is still in progress"
...or, at minimum, if VisiData is still saving a file. =)

This is in response to this bug report https://github.com/saulpw/visidata/issues/388 by @dbandstra.

Sometimes, users do not notice the saving progress bar, and may quit before their saving has completed.