[2020-05-24 14:53] frosencrantz commented on #560
Nice debugging!  Glad you were able to figure out the real problem.

[2020-05-24 18:49] frosencrantz commented on #500
I feel like we need to throw a parade for Anja!  🎈

[2020-05-24 19:21] frosencrantz commented on #345
@saulpw / @anjakefala   what are the next steps for doing a visidata2 release?  I believe having a new version available in packaged form would help increase people using visidata.   Also, a new release is something that could be used to help promote visidata.  There are a **lot** of great new features people would enjoy.

It looks like the defermods changes are now in.  There are still some open

[2020-05-24 23:57] anjakefala commented on #570
@jtf621, so far that seems to be an issue with employees.emp specifically. employees.dept saves fine. I am trying to narrow it down.

[2020-05-25 02:09] anjakefala commented on #570
(There is a bug with save-all as well, but it is distinct from this one.)

[2020-05-25 03:19] WesleyAC opened #571 "[howto] more percentile aggregators"
currently, there are only `median`, `q3`, `q4`, `q5`, and `q10` aggregators offering percentiles (see #96 for the history here). i very often want to see a specific percentile that is not in this list, for instance, the p95, p99, p9999, etc. it would be nice to have generic aggregators that take a parameter somehow (i can imagine typing `percentile(95)` or `percentile(99.9)`, although i can see wh

[2020-05-25 05:34] frosencrantz commented on #571
@anjakefala recently added some documentation on how to add a custom aggregator:
    https://github.com/saulpw/visidata/blob/develop/docs/customize.md#adding-custom-aggregators
Also the code is implemented here:
  https://github.com/saulpw/visidata/blob/develop/visidata/aggregators.py

[2020-05-25 05:45] saulpw commented on #571
This already exists in 1.5.2; add this to your .visidatarc and you can use this command with `percentile(95)` as you imagine.  Check out the provided [aggregators.py:percentile()](https://github.com/saulpw/visidata/blob/stable/visidata/aggregators.py#L69).  It took me a couple of tries but it ultimately it was pretty straightforward:

`Sheet.addCommand('', 'aggr-col-expr', 'expr=input("aggr expr:

[2020-05-25 05:46] #571 closed, assigned to nobody

[2020-05-25 06:00] aborruso commented on #521
Hi,
I have no problem to open the sheet "results" of the attached html file, running `vd input8.html` and then selecting it and clicking return

![image](https://user-images.githubusercontent.com/30607/82782687-34034c80-9e5d-11ea-9309-52f64959b345.png)

But if I run `vd +:results:: input8.html` I have the below error. I'm using the latest develop version.

Thank you

[code]

[input8.zip](https://g

[2020-05-25 06:29] anjakefala commented on #570
The bug related to this interface error is because that table contains cells that are treated as `None`s in VisiData.

[code]

and then when I follow into `getTypedValue()`
[code]

So this error, for now, is going to pop up whenever we are inserting an sqlite row with `None`s in it.

[2020-05-25 07:01] #527 closed, assigned to nobody

[2020-05-25 07:17] anjakefala commented on #565
@saulpw @geekscrapy Can this issue be closed? It seems like Saul answered the question.

[2020-05-25 07:27] aborruso opened #572 "[cmdlog] Replay .vd but with different sources"
Hi,
I have an html input file (`tmp8.html`), I open the results table inside it and I save this as `results.tsv`.

This is the the log

[code]

Is there a way to use the log and apply it to an input file that has the same schema, but a different name? Do I must use the field option?

If my new html input file is tmp9.html, do I must run `vd -p tmp8.vd sheet=tmp9`? I think no, because in my log fil

[2020-05-25 17:35] frosencrantz commented on #572
If I understand, I have hit the same problem.  My workaround was to use a shell script, with a heredoc (example below).  It would be helpful if we could do the mapping via vd.

[code]

[2020-05-25 20:53] ajkerrigan commented on #572
Interesting question @aborruso - I've also wondered about reusing replay files. I like @frosencrantz's bash approach. That's neat :). One more VisiData-native option would be having a custom command in your `~/.visidatarc` that opened a file based on a vd option. Then you could specify that option at runtime. For example, in `~/.visidatarc`:

[code]

In your `*.vd` replay file, you'd replace `open

[2020-05-25 21:03] aborruso commented on #572
Thank you very much @frosencrantz and @ajkerrigan !!

Then there is no way to use, for my goal, the {field} option.

It would be great  to have a syntax as `vd -b -p tmp8.vd sheet:2=tmp9 input:2=avalue` so set field name and row number (here as example it's 2)

[2020-05-25 21:32] geekscrapy commented on #565
I'll test it this week and comment/close

[2020-05-26 01:55] anjakefala commented on #572
I am going to wishlist that request, @aborruso!

Thanks @frosencrantz and @ajkerrigan for answering the question thoroughly. <(^___^)>

[2020-05-26 01:55] #572 closed, assigned to nobody

[2020-05-26 06:25] aborruso commented on #572
thank you @anjakefala

When #521 will be solved, it will be very easy to write a script for this specific goal.

However I think that to have a way to use log file, passing parameter via cli, would give even more "power" to vd. Because the user could record a very specialized task, save it as a sort of macro and apply it to a lot of file; in many professions, there are often repeated tasks.

[2020-05-26 22:54] tsibley opened #573 "-f applies to all files subsequently loaded, not just those given on the command line"
**Small description**
I often invoke vd with `-f` to set the format for the given input files or input stream when I know it won't detect them properly. This works as expected. However, the `-f` is then sticky for the rest of that session and overrides normal format detection when I open other files from within the session. This includes using `o` / `open-file` as well as navigating within a zip f

[2020-05-26 22:59] tsibley commented on #573
The workaround I sometimes use is to unset the filetype option on the options sheet.

[2020-05-26 23:01] tsibley commented on #523
@geekscrapy To set `-f` once you're in a VisiData session, you can open the options sheet with <kbd>Shift</kbd>+<kbd>O</kbd>, find the `filetype` option row, and edit the value (e.g. to `fixed`).

[2020-05-26 23:24] saulpw commented on #573
Good idea, @tsibley.  The trick with filetype is that the actual class of sheet, which includes the loader, must be known at sheet construction time.  This has been a thorn in VisiData since the beginning; if the filetype is wrong, you can't just change it and `Ctrl+R`eload.  (You have to set it globally and `o`pen the source again).  I would love to figure out how to have filetype be a sheet-spec

[2020-05-27 00:51] ajkerrigan commented on #573
Aside from `--delimiter` that you already mentioned, I've occasionally wanted to specify `--header` at the sheet level.

[2020-05-27 01:19] anjakefala commented on #573
Options that are specific to a source:
* `skip`
* `header`
* `delimiter`
* `encoding`
* `encoding_errors`
* `row_delimiter`
* `tsv_safe_newline`
* `tsv_safe_tab`
* `filetype`
* `csv_dialect`
* `csv_delimiter`
* `csv_quotechar`
* `csv_skipinitialspace`
* `csv_escapechar`
* `csv_lineterminator`

[2020-05-27 04:47] anjakefala commented on #570
This should be fixed now!

We can refactor this better at a later time. This seems like a module that will likely be useful in other places.

[2020-05-27 20:05] dimonf opened #575 "disp_float_fmt option error (for thousands separator)"
**Small description**

custom format (thousands comma) is not applied:
`cat .visidatarc
 options.disp_float_fmt='%,.02f'`

I added comma into format spec. Instead of new format apply, a question mark appended to the value which is still in default format (%.02f)

**Expected result**
comma-separated presentation for float type: 15,220.22

**Actual result with screenshot**
15220.22?

**Additional co

[2020-05-28 04:23] anjakefala commented on #531
@jsvine Thanks Jeremy!! :tada:

[2020-05-28 07:25] saulpw commented on #575
Hi @dimonf, thanks for bringing this to my attention, as this has needed to be fixed for awhile now.  It's now in develop, but you'll have to use either `%.02f` (these are now automatically grouped) or `{:,.02f}` (which is a python format string); the one you suggested will give an error regardless.

[2020-05-28 07:25] #575 closed, assigned to nobody

[2020-05-28 18:38] jtf621 commented on #570
@anjakefala I still get an error, but the message has changed.

![image](https://user-images.githubusercontent.com/2312781/83180021-cd965c80-a0f0-11ea-89f7-3f5efa96ffb9.png)

testing version 70e837dbca12f4df56485a7a5da0a0483e78439b

[2020-05-28 19:17] anjakefala commented on #570
@jtf621 I cannot reproduce, I am sorry! If you could play with it, and help me debug the problem, that would be wonderful. Otherwise, I am going to keep this issue closed.

`Ctrl+E` reveals more information the stacktrace. The code for sqlite saving is in `visidata/loaders/sqlite.py`.

[2020-05-28 19:23] jtf621 commented on #570
@anjakefala I would be happy to help debug.

![image](https://user-images.githubusercontent.com/2312781/83184210-1c46f500-a0f7-11ea-9d3f-b59115865435.png)

Is there a way to drop into pdb on error in visidata?

[2020-05-28 20:38] anjakefala commented on #570
@jtf621 Can you copy paste the contents of `def save_sqlite` in `/home/jeremy/public-code/visidata/visidata/loaders/sqlite.py`?

[2020-05-28 20:38] anjakefala commented on #570
Sadly, no. =( But you can use vd.status() to print the contents of variables to status.

[2020-05-29 00:39] jtf621 commented on #570
@anjakefala how do I run vd.status() in visidata?

Here is the code
[code]

[2020-05-29 01:18] anjakefala commented on #570
For example! I would modify this block

[code]

to be

[code]

It is super curious. There is my code change, and we are using the identical file. I wonder why I cannot reproduce the issue.

[2020-05-29 01:18] anjakefala commented on #570
Thank you so much for helping out!

[2020-05-29 03:13] ajkerrigan opened #577 "Error writing rstatus when repeating a command with no keystrokes"
**Small description**
If the last command in the cmdlog has an empty keystrokes column, `repeat-input` throws `TypeError`s trying to update the status line.

**Expected result**
Commands are repeatable whether they were issued with keystrokes or long names.

**Actual result with screenshot**
If you get an unexpected error, please include the full stack trace that you get with `Ctrl-E`.

[code]

**

[2020-05-29 03:23] saulpw commented on #577
Nice find, @ajkerrigan.  There is of course an easy fix, but before we do that, I've had the thought many times that maybe the right status should show the longname instead of the keystroke (which it's been doing since before we had longnames).  As long as we're here, what do you (and others if they're listening) think about that?  Which would you prefer to see after each command?  Or maybe both?

[2020-05-29 03:25] anjakefala commented on #577
@saulpw Keystrokes take up less space which may matter with smaller terminal sizes ... that is one thing to check out.

Beyond that, that might be a really good thing to do. It gives a much clearer idea of "this is the most recent action that happened". Not every command has a keystroke, but *every* command has a longname.

[2020-05-29 03:29] ajkerrigan commented on #577
Ooh interesting idea :). My gut reaction is to want the long name only if there's no keystroke. I'm thinking seeing something like `go-down (j)` would be extra terminal space for little value, but always having _some_ indicator of the last action seems handy.

It could be a configurable option to always display the long name perhaps, but I can't tell if that's a useful option or a copout to avoid

[2020-05-29 04:13] saulpw commented on #577
So, there is `disp_rstatus_fmt`, which you can add `{vd.keystrokes}` to, but that's redundant since it's displayed anyway.  Why, you ask?  Well `keystrokes` is factored out for two reasons:

- it has its own color (`color_keystrokes` instead of `color_status`)
- in split-sheet mode, only the active sheet shows the keystrokes--it felt weird when they both did.  But you definitely want the other inf

[2020-05-29 04:30] anjakefala commented on #577
ohhhhh, right you are!

[2020-05-29 04:56] ajkerrigan commented on #577
Ah, tricky business. A simple fix seems like a fine call. I could see what _looked_ like a few different simple/easy fixes but I'm not sure which makes the most sense or what other keystroke nuance I'm missing.

Out of curiosity I ran a test with a small change:

[code]

And in `~/.visidatarc`:

[code]

I would assume that change is too optimistic or naive, but after a bit of fiddling I like the e

[2020-05-29 05:02] saulpw commented on #577
Interesting.  I think that's a fine approach and I'm glad that for once the naive change works.  The only downside is the ongoing accretion of cruft in BaseSheet and TableSheet, so we should weigh whether this feature is ultimately worth the extra few lines of code.  But if you say it's already impressed you, I may well give it a try. Maybe it will become the new hotness!

[2020-05-29 07:18] saulpw commented on #567
Fixed in 7dbfb148fda8df299dc769730b5c6aaf819b600b.

[2020-05-29 07:18] #567 closed, assigned to nobody

[2020-05-29 07:36] geekscrapy commented on #567
Yes!
Does search-expr use this method as well?!

[2020-05-29 08:03] tsibley commented on #573
Yeah, I've run into this same global options issue with `--header` and `--skip`. It'd be great to fix it for those as well. Although I hit the problem with them less frequently than I do `-f`, which is pretty often.

I can definitely see that multiple, position-dependent `-f` options might be useful when loading a mix of poorly-detected files, but it seems like that would have to wait until after

[2020-05-29 08:51] dufferzafar opened #579 "[wishlist] Postgres: Allow inserting / deleting rows"
I looked at the code, and we already do this for SQLite.

Shouldn't be hard to do for Postgres as well. Might take a stab at this over the weekend.

[2020-05-29 08:53] dufferzafar commented on #579
Relevant SQLite source: https://github.com/saulpw/visidata/blob/develop/visidata/loaders/sqlite.py#L66-L85

If I made similar changes for Postgres. Should they go in the postgres loader? or should there be a separate module? since most of the code would be duplicated - as the SQL syntax is same.

@saulpw How would I run visidata from source?

[2020-05-29 09:16] dufferzafar commented on #579
There seem to be other differences between the [postgres.py](https://github.com/saulpw/visidata/blob/develop/visidata/loaders/postgres.py) and [sqlite.py](https://github.com/saulpw/visidata/blob/develop/visidata/loaders/sqlite.py) files as well.

The sqlite loader seems to use a different API.

Which of these is the preferred way of doing such things?

Also, if I want to add more information to th

[2020-05-29 18:02] anjakefala commented on #579
If you want to take a crack at improving the postgres loader that would be awesome! I am afraid we most likely will not have the bandwidth to do it ourselves.

@dufferzafar sqlite.py is integrated with [defermods.py](https://github.com/saulpw/visidata/blob/develop/visidata/defermods.py). This is so that you can have "deferred changes". The changes you made to an sqlite file are colour coded, and t

[2020-05-30 07:09] saulpw commented on #494
Submit a PR and we'll review it!  Kondo'ing for now.

[2020-05-30 07:09] #494 closed, assigned to layertwo

[2020-05-30 07:14] saulpw commented on #524
How about `options.imports`, a space-separated list of modules to import at startup directly into the global namespace, that defaults to `'plugins'`?

[2020-05-30 11:03] aborruso opened #580 "Add some notes about CSV cleaning by default when vd save a file?"
Hi,
if you have this input csv file

[code]

and you open and save it using vd (without do anything more) you have in ouput a different file

[code]

[code]

It's good, because it's a cleaner file, but probably it should be better to add some notes in the documentation about vd implicit transforming, and about the rules of this transforming.

[2020-05-30 11:19] geekscrapy commented on #580
Worth adding here that the same may happen to xls/x (https://github.com/saulpw/visidata/pull/574#issuecomment-635752076) if there is to be a globally (rather than loader specific) documented section regarding changes that are made to the output

[2020-05-30 15:04] anjakefala commented on #580
I am working on a blog post that touched on this, actually!

The basic theme is "for most loaders VisiData saves the display value".

[2020-05-30 21:15] anjakefala commented on #524
@saulpw Mmmmmm....I like that a lot.

[2020-05-31 05:10] frosencrantz opened #581 "[defer] Stack trace on 'NoneType' object has no attribute 'defer'"
**Small description**
Getting a stack trace when transposing a table.

**Description**
Transpose a data sheet.  For example, read the sample_data/StatusPR.csv  file, and tranpose.
All the cells in the first column report:

[code]

**Expected result**
Transpose a table, column names in the first column.  But all cells have an exception.

**Steps to reproduce with sample data and a .vd**
Load sample

[2020-05-31 12:33] geekscrapy opened #582 "[wishlist] Add directional arrows to column titles to show sort and direction"
I've always thought it would be great to show which column is currently sorted (and its direction) using an arrow in the column title. This would assist users when a loader is made that is pre-sorted, or the user uses `sort-keys-asc` or `sort-keys-desc` etc.. In this case all sorted columns would have an arrow showing the order of sort.

For reference:
https://www.alt-codes.net/arrow_alt_codes.php

[2020-05-31 13:14] jtf621 commented on #570
@anjakefala I modified the code to print to a tmp file.  When I used `vd.status` the message was overwritten by the error log.  Is there a way to see all the messages from vd.status?  I tried adding a `pdb.set_trace` call but the debugging was muddled by the ui.

my code
[code]

The debug log is

[code]
The code seems to be trying to save the sheet that indexes all the tables (not sure what you ca

[2020-05-31 16:51] geekscrapy commented on #561
I came up with the following in the end. Not sure if overriding the commands was the best way to go, but it works for now and I couldn't see a quick and easy way to do it!
https://github.com/geekscrapy/visidata_plugins/blob/master/scroll_fix.py

If you want to include this in the plugin repo and it needs any changes, just let me know. Otherwise, I'll just keep it in my personal repo that I'm build

[2020-05-31 18:03] frosencrantz commented on #561
There is an unbindkey method that could be used to change the key, so you can use different long commands for the commands:
  *  https://github.com/saulpw/visidata/blob/develop/visidata/settings.py#L253

It seems like these commands might be generally useful.

[2020-05-31 18:55] geekscrapy commented on #561
You wouldn't have any examples on how to use it would you...? 🙂

[2020-06-01 02:37] anjakefala commented on #581
Nice find @frosencrantz!

Thanks for the bug report. :blush: This should be fixed now.

[2020-06-01 02:37] #581 closed, assigned to nobody

[2020-06-01 03:41] frosencrantz commented on #561
Here's an example: https://github.com/saulpw/visidata/issues/420

[2020-06-01 04:09] anjakefala commented on #570
@jtf621 Awesome, that was the hinted I needed to be able to reproduce this.

Okay, here is the confusion.

I was saving the new sqlite by selecting the tables I wanted to save in that IndexSheet, and then pressing `g Ctrl+S`. You were saving all of them, including the TableSheet, by using `g Ctrl+S` on an SqliteSheet.

It is confusing that the two variants behave differently. For now, as a workaro

[2020-06-01 04:47] anjakefala commented on #568
Hey @geekscrapy! Thanks for filing this issue.

I have not been able to reproduce the problem. =/ So I am going to close this issue for now!

[2020-06-01 04:47] #568 closed, assigned to nobody

[2020-06-01 04:49] anjakefala commented on #565
Closing because the feature already exists. =) Please re-open if you would like to continue the conversation.

[2020-06-01 04:49] #565 closed, assigned to nobody

[2020-06-01 05:06] geekscrapy commented on #568
No problem, I think it might be something to do with OSX and it's accelerated scrolling. When it hits the top OSX keeps sending the scroll sig to the app for a while afterwards to simulate it slowing down. My assumption (and that's all it is!) is that when it hits the top of the sheet, OSX simulates the slow down for a few seconds. It seems that the harder I scroll up, the longer I have to wait.
K

[2020-06-01 05:09] anjakefala commented on #568
Ohhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh.

Nice debugging. This verifies why I cannot reproduce it.

[2020-06-01 05:12] geekscrapy commented on #568
Does any of the maintainers have OSX? I have no idea really where to start to look at this...

[2020-06-01 05:18] anjakefala commented on #568
No. =( I am sorry. You can check in #visidata, but Saul and I are both Linuxers.

[2020-06-01 05:21] anjakefala commented on #461
Hi! Unfortunately, it seems like we do not have the bandwidth to fulfill this request for v2.0, so I am going to wishlist this for now. Anyone is welcome to add a PR for this feature!

[2020-06-01 05:21] #461 closed, assigned to nobody

[2020-06-01 05:32] anjakefala commented on #560
So, preplay (`-P`) was originally designed because we wanted an efficient way to open the **PluginsSheet** upon start-up. It runs before the source sheet is even loaded. Because it runs so early, it was chosen that it would only execute commands that are bound to the **BaseSheet**. So commands that do not require having a standard tabular sheet. They can be run on **Canvas**es as well.

So, it rea

[2020-06-01 05:32] #560 closed, assigned to nobody

[2020-06-01 05:58] anjakefala commented on #570
Pushed a fix! Thank you so much @jtf621 for sticking with this.

[2020-06-01 05:58] #570 closed, assigned to nobody

[2020-06-01 06:46] saulpw commented on #573
Dreaming out loud: what if the options parser allowed `--sheetid:optname='value'`?  sheetid would be the same sheetname or number as in the cmdlog, or blank (to apply to the "current top of stack" which is the previous source).  So then it would be `foo.txt --:filetype csv`, which would be rigid--any other option position wouldn't work, though you could still use `--optname='value'` as you can now

[2020-06-02 06:03] anjakefala commented on #528
This is on `develop` now! =)

[2020-06-02 06:03] #528 closed, assigned to nobody

[2020-06-03 15:17] frosencrantz opened #584 "[missing option] Stack trace for disp_bool_fmt"
**Small description**
Missing a  disp_bool_fmt

**Expected result**
No stack trace.

**Actual result with screenshot**
[code]
**Steps to reproduce with sample data and a .vd**
[code]

**Additional context**
Please include the version of VisiData.  latest version from develop

[2020-06-03 21:11] geekscrapy opened #585 "[wishlist] pasting data into input(): should not react to newlines"
I've come against this a few times now where I've accidentally pasted multi line data into the regex search input. This does two things:
1. When a new line character is pasted, it takes this as and enter which competes the command
2. If there are any characters after the new line these are entered as key commands which could potentially mess up the table

Recreate:
Open a sheet
Copy some text to s

[2020-06-03 21:39] saulpw commented on #585
Ah yeah, so basically you would want the input buffer to be cleared on exit from `input()`.  This would still only get the first line, but at least it wouldn't screw things up afterwards.

Alternatively we could make something like a multiline input mode that requires Ctrl+Enter or something to accept the input.  But this would be more complicated and should actually display multiple lines for edi

[2020-06-04 05:16] geekscrapy commented on #585
Yea, the first option would be best. I'm not totally convinced myself that multi line input is necessary, _maybe_ convert special characters to their regex counterpart? So if I pasted something with a newline it'd actually paste it as \n?
That might be a good way to go

[2020-06-04 05:32] geekscrapy opened #586 "[wishlist] SQL query data"
All data is eventually tabulated in vd, it would be amazing to be able to run SQL queries across this data and the results be dumped to another sheet.

It would be really nice to have a bit more space in the input field for larger queries, and syntax highlighting (pygments) would be amazing!

I would love to have a crack at this (and may do anyway as a poc), but I feel it might need a bit more, fi

[2020-06-04 05:52] frosencrantz opened #587 "[dive-row/pyobj-cell]"
**Small description**
Diving into a list of json objects doesn't show keys/cols if they aren't in the first object in the list.

**Expected result**
See all the keys in the data.  Or minimally a hint that data is missing.

**Actual result with screenshot**
Data isn't shown.  This was fixed recently for expand-cols in https://github.com/saulpw/visidata/pull/497 by @ajkerrigan

**Steps to reproduce

[2020-06-05 04:59] anjakefala commented on #584
Thank you for the bug report! This was a really good use-case to find.

The tricky part about this is that there isn't really a boolean type (except in the **Options Sheet**, and they have special properties there).

 I am still not really sure how this should be handled. If we coerce it to a `str`, we will lose round-trip (it will get saved as `'true'`).

That is why a few days had passed for see

[2020-06-06 00:21] ajkerrigan commented on #587
Good catch @frosencrantz, I'll take a look at this one.

[2020-06-06 21:13] frosencrantz commented on #587
Thanks @ajkerrigan !  That's fantastic!

[2020-06-07 04:20] anjakefala commented on #582
Kondo'd for now!

(But a *very* cute idea.)

[2020-06-07 04:20] #582 closed, assigned to nobody

[2020-06-07 05:49] geekscrapy commented on #582
Any chance you could point me to a function where I'd likely add this, and I'll see about adding it? I find myself needing it quite often now as I'm doing more analysis in vd which takes longer and so I need to go and come back to a sheet and often forget what the order is!
TIA!

[2020-06-07 07:22] anjakefala commented on #517
I gave this a shot, and learned that the reason we are using `requests` for `open_url` is for its handling of streaming. `urllib3.openurl()` does not handle streaming out-of-box. I looked into factoring out all of the work `requests` did to handle it, but the result was very messy, and not as efficient.

Additionally, `requests` comes with utilities that cleanly parse the encoding information from

[2020-06-07 07:26] anjakefala commented on #582
It is a bit complicated, because you are delving into the world of `draw()`. If you grep for `note`, you will get the various bits of code for type symbols on the right-hand side.

[code]

That is what I would start looking at!

[2020-06-07 07:30] #517 closed, assigned to nobody

[2020-06-07 22:16] frosencrantz commented on #584
Thank you for tracking that down, and explaining why it is not such a simple issue.  I think something changed recently (last week or two)  in Visidata.  This just started happening with JSON data I have been viewing for more than a few weeks.

I was unclear on your answer that there isn't really a boolean type.  I read that as it is not one of the default Visidata types set via commands.  JSON an

[2020-06-07 23:34] anjakefala commented on #584
@frosencrantz This is because Saul recently added options for formatting numeric data, and the default formatter became the numeric formatter. I.e. if the column does not describe a list, dictionary, or string, it will fallback to the numeric formatter as the default formatter. The numeric formatter grabs the type, and looks for the appropriate formatting option. In this case `disp_bool_fmt`.

htt

[2020-06-08 03:21] anjakefala commented on #586
Don't forget to share your work with us when you have something! =)

[2020-06-08 03:21] #586 closed, assigned to nobody

[2020-06-09 03:46] anjakefala commented on #585
The proposed simple fix should be on `develop` now! Thanks for drawing our attention to this @geekscrapy.

Upon, ENTER, VisiData will clear the input buffer.

[2020-06-09 03:46] #585 closed, assigned to nobody

[2020-06-09 06:31] tsibley commented on #573
Hmm, to me, that sounds too complex/bespoke. I think I'd often forget how it works. Positionally effective arguments seem simpler, while retaining a lot of the same capabilities, and have a more extensive history of use.

[2020-06-11 02:16] anjakefala commented on #523
This is now on develop!

[2020-06-11 02:16] #523 closed, assigned to nobody

[2020-06-11 03:00] anjakefala commented on #521
Hi @aborruso! Thanks for the bug report, and thanks for the sample data. Sorry it took so long to fix. My change had a small regression. It should work now.

[2020-06-11 03:00] #521 closed, assigned to nobody

[2020-06-11 06:08] aborruso commented on #521
@anjakefala thank you very much

[2020-06-12 04:44] anjakefala commented on #413
We decided to document and close!

[2020-06-12 04:44] #413 closed, assigned to anjakefala

[2020-06-12 05:10] anjakefala commented on #507
I added a baby file on `dev/loader-compatibility.tsv` (which we will definitely possibly rename, I just wanted to get this work started).

Anyone who has the energy can feel free to populate it!

[2020-06-12 05:55] anjakefala commented on #584
There is an additional level of difficulty! `bool` types outside of the **OptionsSheet** have never really been supported.

I have a PR with a naive simple fix that will let you pass in a file with `bool` types, and save it, but you will have some frustration editing them. (I.e. you need to pass a blank input to get `False` because inputs are being interpreted as strings.) It will not be as nice a

[2020-06-12 06:05] anjakefala commented on #584
After talking with Saul, he pointed out that this stacktrace could easily appear for another type that we have not considered. And that does not feel good.

So we are going to need to come up with an approach bigger than catching the `bool` case.

[2020-06-12 22:30] frosencrantz commented on #584
I hope you are feeling better. Recent events have been really unsettling.

I do have a couple questions/notes:
What is the other type that can have a stack trace?

I did save json with boolean data at the commit before https://github.com/saulpw/visidata/commit/70e837dbca12f4df56485a7a5da0a0483e78439b and it worked correctly, it did not coerce the value into a string, which may be surprising.

10 t

[2020-06-12 22:39] anjakefala commented on #584
It is not surprising! But trying modifying one of the cells to `False`.

[2020-06-13 03:48] saulpw commented on #584
@frosencrantz That should be one stack trace per redraw.  It redraws up to 10 times before settling into an idle mode.  It's maybe not ideal but it's only a possible performance issue with extreme abuses of the expression column (and we have copious layers of caching to deal with that).

[2020-06-15 05:00] anjakefala commented on #584
Stable behaviour should be back on develop! Only difference is that you will notice a `?` on boolean columns to signify that they are not a completely suppored type, yet.

Thanks for your patience, and for the bug report. This was an important one!

[2020-06-15 05:00] #584 closed, assigned to anjakefala

[2020-06-16 05:27] frosencrantz commented on #584
That's awesome, Anja!  Thanks for fixing this tricky bug.  I think the `?` seems like a good choice given the limited support.  Also, it looks like it influenced you to change how missing setting are reported for the better.

Also, thanks @saulpw for explaining the high number of exceptions!   It looks like that code is here:
   https://github.com/saulpw/visidata/blob/develop/visidata/mainloop.py#

[2020-06-16 07:23] anjakefala opened #595 "I ❤ VisiData"
A space for fond testimonials about VisiData.

Have a feature you love? Had a moment of joy with insights just falling out of your data?

Please share your stories!

[2020-06-16 07:30] geekscrapy commented on #595
regex split is _one_ of favorite feature - allows me to carve up log files intricately!

[2020-06-16 10:13] geekscrapy opened #596 "[v2.-4dev/DirSheet] unhide-cols freezes interface with large files in dir"
When using `unhide-cols` on a `DirSheet` with large files the interface stalls. No user input is available, including `Ctrl+C`.

I saw this when I was looking at a directory with a file of 613718317 bytes.

[2020-06-16 16:01] ajkerrigan commented on #595
I've found so much to love! Without going into the deep and rewarding rabbit hole of plugins though, here are some features that help me quickly make sense of data:

* **Open anything:** Throw most common data formats at VisiData (compressed or not) and it will handle them smoothly.

* **Find interesting data:** The Describe Sheet (`Shift-I`) includes a "distinct values per column" count which can

[2020-06-16 19:33] tmward opened #597 "[question] z^S does not save key columns"
Hello and thank you for the great piece of software. I ran into an issue with the `z^S` command to save both key columns and current column.

The man page for vd states:
`z^S filename     save key columns and current column only to filename in format determined by extension (default .tsv)`

This functionality (saving key columns *and* current column) is also supported in CHANGELOG.md on line 181:

[2020-06-16 19:36] pigreco commented on #595
Because @aborruso makes everything easy !!!

jokes aside - `shift + F` for the frequency table

[2020-06-16 19:52] anjakefala commented on #597
@tmward, which version of VisiData are you using?

[2020-06-16 19:59] tmward commented on #597
Sorry I left that out:
visidata-1.5.2 on Void Linux, python 3.8.3

[2020-06-16 20:15] tmward commented on #597
Also, I noticed a little bug in my solution. If the cursor is currently on a column that is already a keycol it would duplicate the column at the end. To solve that, only want the cursorCol added to the end if it is not already in the keyCols. You can do this with the following that I tested and worked in visidata 1.5.2 for `visidata/data.py`:
`Sheet.addCommand('z^S', 'save-col', 'vs = copy(sheet)

[2020-06-16 20:19] anjakefala commented on #595
I am most definitely so, so grateful for him producing Italian educational materials.

:purple_heart:

[2020-06-17 03:44] anjakefala commented on #595
- https://www.reddit.com/r/commandline/comments/gxepzn/visidata_interactive_data_tool/ft38mfx/?context=3

[2020-06-17 03:48] anjakefala commented on #595
- https://twitter.com/emilydoesastro/status/1240923826755702785

[2020-06-17 03:54] anjakefala commented on #595
- https://twitter.com/yoz/status/1130668037663731712

[2020-06-17 03:58] anjakefala commented on #595
☑ Tabular data
☑ JSON data
☑ Pretty much any data
🐍 Python transforms
✨ Various magic

- https://twitter.com/agjhnsn/status/1101562455258329088

[2020-06-17 04:00] anjakefala commented on #595
- https://twitter.com/aboutaaron/status/1088276231299178497

[2020-06-17 05:08] anjakefala commented on #597
Hi @tmward!

Thanks for leaving such a detailed report.

To start off, I am sorry, that is a bug in v1.5.2. It was fixed on the `develop` branch. Unfortunately, we unbound `z Ctrl+S` from `save-col`, but you will be able to rebind it so you should choose. =) We will have a guide available on how to do that hopefully, soon.

`commands.tsv` is deprecated, and is no longer kept up to date!

I am glad

[2020-06-17 05:08] #597 closed, assigned to nobody

[2020-06-17 05:15] anjakefala commented on #248
@ajkerrigan has fixed this! =D

[2020-06-17 05:15] #248 closed, assigned to nobody

[2020-06-17 05:21] anjakefala commented on #596
If you are feeling in a deductive mood, did you want to try commenting out various Columns to try to narrow in on which one is causing the freezing? My gut instinct is that it is one of the hidden ones.

The code is in `visidata/shell.py`. =)

[2020-06-17 16:23] wadesilvestro commented on #595
VisiData describes itself as “duct tape for your data” and no statement could be more accurate. Whenever I find myself needing to quickly explore a new dataset, perform some quick data cleaning task, or grab a few summary statistics, I’ve found VisiData to be 10x faster than using Pandas, R, or other conventional data tools. Because it is a well-written CLI tool, VisiData is also significantly fas

[2020-06-17 18:49] tsibley commented on #326
I'm looking at the YAML loader because I'd like to add support for YAML files with multiple documents, and I'm wondering why the full loader is used instead of the safe loader? Ideally, I'd like to be able to trust vd to open files from unknown sources without verifying them first another way.

[2020-06-17 18:55] anjakefala commented on #326
There was not a thoughtful reason behind that decision. If you would like to open a PR with a modification to use the safe loader, that would be welcome!

[2020-06-17 20:36] tsibley commented on #326
@anjakefala Great! I submitted #600. Thanks for your quick reply!

[2020-06-17 20:45] anjakefala commented on #326
@tsibley If someone requests the full loader, or if @saulpw things it would be a good idea, we can negotiate adding an `--unsafe` option. But the default should be safe because VisiData is often used as a first-pass tool. Thanks for writing up the change so quickly!

[2020-06-17 21:02] saulpw commented on #326
Of course it should be `yaml_unsafe`, unless we wanted to combine it with `safety_first` somehow (but that's False/unsafe by default, and I agree, this should be safe by default as it's more of a security rather than data issue).

[2020-06-17 21:14] anjakefala commented on #326
I do not think we want to combine it with `safety_first` for the reasons you outlined.

My only hesitation with `yaml_unsafe` was knowing that you have a hesitance with option-deluge. If it is one that you would like to have, I can add it!

[2020-06-17 21:19] saulpw commented on #326
Let's not add it proactively, but if someone desires the unsafe behavior, then we can add it.

[2020-06-18 06:00] anjakefala commented on #580
I added a minor note here while I continue to work on those docs!

https://github.com/saulpw/visidata/blob/develop/docs/columns.md#how-to-format-columns

[2020-06-18 06:00] #580 closed, assigned to nobody

[2020-06-20 01:31] Mesibov opened #603 "No ~/.visidatarc in 2.-3?"
Installed 2.-3, works fine. No ~/.visidatarc installed or created on use, so I can do global option changes (like reversing default color) on sheets, but the changes don't persist.

[2020-06-20 01:45] anjakefala commented on #603
Hi @Mesibov!

The ~/.visidatarc is never automatically created. You manually create one in your home directory and add the options within there. =)

[2020-06-20 01:45] #603 closed, assigned to nobody

[2020-06-20 02:53] Mesibov commented on #603
Thanks @anjakefala!  It wasn't clear to me in the docs that ~/.visidatarc is user-created. Mine now has

options.color_default = "reverse"

To see why, compare the 2 attached screenshots. To my eyes, the selected rows stand out better with reversed color:

![default](https://user-images.githubusercontent.com/16182234/85189742-da276280-b2f4-11ea-9346-be56b416dec9.png)
![reversed](https://user-image

[2020-06-20 03:50] anjakefala commented on #603
Very cool theme! =) Thanks for sharing.

[2020-06-21 08:22] Mesibov opened #605 "[wishlist] optimize melt operation on large files"
Running VisiData 2.-3 on a machine with i5-4590T Quad Core CPU at ca 800 MHz, 8GB RAM with ca 2 GB in swap (MX-19 Linux).
I shuffled a ca 6.5M-record TSV with 23 text fields and used "head" to generate files with 1K - 5M rows. I then timed a melt on each file with a seconds timer, with these results:
1K rows: 0 sec
2K: 0
5K: 0
10K: 0
20K: 1
50K: 3
100K: 5
200K: 10
500K: 24
1M: 47
2M: froze at 67%

[2020-06-21 08:31] Mesibov commented on #605
Please note that within the accuracy of my seconds timer, time-to-complete is linear with record number up to 1M records.

[2020-06-22 00:31] frosencrantz commented on #595
It's hard to pick just a few things that I love about Visidata.  Two of my favorites are everything is a sheet and the selection mechanism.  Just like in Unix everything is a file, in Visidata everything is a sheet.  Once you learn how to use something about sheets in one context, you can use it everywhere else in Visidata.  The selection mechanism allows you to co      mbine multiple ways to sele

[2020-06-22 04:32] saulpw commented on #605
Hi @Mesibov,

While these large melts are working, is VisiData responsive?  That is, do you see a percentage indicated in the lower right, and can you move the cursor (and especially stop the huge merge from continuing further with `Ctrl+C`), even if it lags up to a second or so?

This sounds like it could be a performance issue, but as long as it remains responsive, I think we'll make it a wishli

[2020-06-22 05:24] Mesibov commented on #605
Hi @saulpw.

While non-freezing melts are happening the percentage figure increases steadily at lower right until the melt is finished. With the freezing melts the percentage figure stalls, the cursor isn't responsive and Ctrl+C doesn't work. All I can do is close the terminal.

Setting options.min_memory_mb = 100 in ~/.visidatarc had no effect just now on the 5M-record melt - it still stopped at

[2020-06-22 05:32] Mesibov commented on #605
Same result after opening 5M sheet and loading all records, then editing min_memory_mb in the Options sheet, then trying a melt.

[2020-06-22 05:37] saulpw commented on #605
Did it then show the amount of memory remaining in the right status bar?  Before it froze, what was the number?

[2020-06-22 05:37] #605 closed, assigned to nobody

[2020-06-22 05:42] Mesibov commented on #605
Lower right corner on freeze:
![Screenshot](https://user-images.githubusercontent.com/16182234/85252404-01ba2e80-b49f-11ea-8737-6406b303ab18.png)

[2020-06-22 06:08] saulpw commented on #605
Then `min_memory_mb` isn't working for you.  What system are you using, and is `free` installed?

[2020-06-22 06:12] Mesibov commented on #605
MX 19 Linux, which is lightly built on top of Debian 10, which naturally includes free.

[2020-06-22 06:36] Mesibov commented on #605
@saulpw Could there be a parsing problem with free in VisiData code? /proc/meminfo is where free gets its numbers from before doing some arithmetic.

[2020-06-22 06:40] saulpw commented on #605
Do you see a warning in `Ctrl+P` after you've started the melt with `min_memory_mb`?  Also try with `--debug`.

[2020-06-22 07:12] Mesibov commented on #605
The only new msg with Ctrl+p after setting min_memory_mb to 100 and starting the melt is "100".
Running with --debug, I can load the 5M-record file but can't start a melt with Shift+m; the shell freezes. And I can't access the session log, which disappears when I close the terminal to get out of the freeze.

[2020-06-22 12:45] jimbeauh opened #607 "[question] no command for "z|""
I am going through the tutorial and when I got to the section on Python expressions I find that none of the "z" commands work.  Any idea how to troubleshoot this?

[2020-06-22 17:32] anjakefala commented on #607
Hi @jimbeauh
Can you please let me know what version of VisiData you are using, and describe what happens when you type `z|`?

When you tap the spacebar, do you get a `command name: ` prompt at the bottom? Can you type `select-expr` into it, and press Enter? What happens then.

[2020-06-22 23:43] jimbeauh commented on #607
version 1.0

When I have csv file loaded, if I type z|, I see no command for "z|".

If I tap the spacebar I see no command for " ".

[2020-06-23 00:07] anjakefala commented on #607
Hi @jimbeauh, that is a very old version of VisiData that is no longer maintained. =) I do not believe any of the z-prefix commands existed at that point.

Could you please update to 1.5.2? https://www.visidata.org/install/

[2020-06-23 00:07] #607 closed, assigned to nobody

[2020-06-23 14:38] aborruso opened #608 "[question] maintain columns selection passing from SHIFT+I to SHIFT+C"
Hi,
I have a very bad CSV table, in which I want to remove all the columns that have only 2 distinct values.

It would be great that after selecting them via SHIFT+I sheet, and opening again the source table and then click SHIFT+C, the columns were still selected, so that they can be deleted.

Thank you

[2020-06-23 16:43] saulpw commented on #608
This is not possible as you've stated, but have you tried using `g-` on the Describe Sheet to hide the selected columns?

[2020-06-23 17:23] anjakefala opened #609 "[wishlist] VisiData installer for Windows"
https://github.com/python/cpython/tree/master/Tools/msi

This link provides a 'how-to' for making a python installer. We should try using it, and this issue will act as a reminder.

If it does not end up working, this issue will get closed.

[2020-06-23 17:36] aborruso commented on #608
Hi @saulpw and thank you. I know I can use `g-` and it works great.

But I have made this as feature request, because in some way visidata should work in this way. Oone of its many excellent features is that everything is connected, passing from one sheet to a derived one.
And it would be great if there was also a "memory" of selected columns, from SHIFT+I to SHIFT+C and viceversa.

Thank you

[2020-06-23 17:43] aborruso opened #610 "[vgit develop] not able to install it"
Hi,
I do not if this is the right place to open an vgit issue.

If I run

[code]

I have

[code]

How to install it?

Thank you

[2020-06-23 20:02] aborruso commented on #580
thank you @anjakefala

[2020-06-24 00:21] saulpw commented on #608
It is purposeful that the DescribeSheet works "like" the ColumnsSheet but does not use the list of Columns for the current sheet.  This way you can sort the columns on the DescribeSheet without affecting the order of the columns on the source sheet.

The only sheet that connects its selected rows with another sheet, is the FrequencyTable; and while that's been very useful, I've sometimes regretted

[2020-06-24 03:22] #608 closed, assigned to nobody

[2020-06-24 04:09] saulpw commented on #608
Hang on, @aborruso, I think I have a solution.  Try this, from the source sheet:

- `Shift+I` to go to the Describe Sheet
- `Shift+C` to open its Columns Sheet
- `gs` to select all its columns
- `gy` to copy them to the clipboard
- `qq` back to the main sheet
- `Shift+C` to open the source's Columns Sheet
- `Shift+C` again to open *its* ColumnsSheet
- `p` to paste the DescribeSheet columns onto it

[2020-06-24 05:28] saulpw commented on #610
To be honest, @aborruso, I haven't paid much attention to vgit in awhile.  Probably best to stick with the (very alpha!) version released to pip.  And even then probably read-only.  I hope to get back to it someday, it's pretty slick for what it can do.

[2020-06-24 05:28] #610 closed, assigned to nobody

[2020-06-24 06:33] #426 closed, assigned to nobody

[2020-06-25 00:31] anjakefala commented on #595
One of mine!

I needed to find which of the hdf5 files were truncated, and therefore causing the program to crash. i had one that i suspected, so i tried opening with vd, and it verified that it indeed was the truncated file!
I could have done this with python, but it would have taken looking things up, which would have made the entire thing take longer. I just wanted a quick check.
It was nice to

[2020-06-25 07:46] saulpw commented on #448
@tsibley Let me know if this commit ee76691 provides what you wanted.  We can also still add VD_CONFIG etc if they would help.

[2020-06-25 07:48] saulpw commented on #448
sorry, wrong issue.

[2020-06-25 07:48] saulpw commented on #524
This should be fixed with ee766919ddbe96aefaa5942ea206020efa8f9207.

[code]

[2020-06-25 07:48] #524 closed, assigned to nobody

[2020-06-27 02:39] saulpw commented on #596
That seems like it may be due to the `filetype` column, which runs `file --brief`on the file to get some basic information.  It's `cache=True`, but I'm guessing for those files that `file` takes awhile to return. So it should probably just be `cache="async"` anyway (which spawns a new thread for each cell).  Let me know if this fixes your problem (or doesn't).

[2020-06-27 02:39] #596 closed, assigned to nobody

[2020-06-27 02:43] #587 closed, assigned to ajkerrigan

[2020-06-27 05:08] saulpw commented on #577
Also see the previous commit in which I added `sheet.longname` which is now in rstatus by default to see how we like it.

[2020-06-27 05:08] #577 closed, assigned to ajkerrigan

[2020-06-27 09:39] p3k opened #612 "How to access non-public schema in Postgres DB?"
**Small description**

I maintain a Postgres database having a non-public schema, i.e. I either need to explicitely provide the schema name or set the `search_path`:

[code]

Trying to connect to this database with Visidata works but returns an empty set of tables – even with the persistent `search_path` using `alter database`:

[code]

**Expected result**

Something along the lines of this output

[2020-06-27 16:50] anjakefala commented on #579
Hi @dufferzafar! I am going to wishlist + close this issue. If you do end up picking it up, feel free to open a PR + tag. =)

[2020-06-27 16:50] #579 closed, assigned to dufferzafar

[2020-06-27 19:44] p3k opened #613 "What is an _org-mode compatible markdown table_?"
**Small description**

The docs state under SUPPORTED OUTPUT FORMATS:

org-mode is related to emacs obv but the generated file does not contain a valid [markdown table syntax](
https://www.markdownguide.org/extended-syntax/#tables).

In fact, rendering the output with an extended Markdown parser [does not output a beautiful table](https://jbt.github.io/markdown-editor/#q0nLz69JSiyq4arR1dXVBmIgS8FQ

[2020-06-27 19:58] p3k commented on #613
Oh my, I just tested this with the v2 beta and there it works as expected! 😬

Nevertheless, the documentation still contains the _org-mode compatible markdown table_ wording…

[2020-06-27 20:03] p3k commented on #612
Also tested this with v2 and here I generally get a full-blown error:

[code]

[2020-06-27 20:08] p3k commented on #595
Love on first row! :heart_eyes_cat:

[2020-06-27 20:20] anjakefala commented on #613
Hi @p3k!

Welcome to the community! ^^

Can you please clarify, what is wrong with what the documentation currently contains? That it only applies to v2-on, and not with 1.5.2?

The documentation is currently going through a liminal state. I am trying to update things for the upcoming v2.0 release, and the formats page updates had slipped through to the master branch due to the nature of how the d

[2020-06-27 20:23] anjakefala commented on #612
Hi @p3k!

Thanks for submitting a bug report. ^^

Are you open to trying to approach the postgres loader, if I help explain the PosixPath issue?

The Postgres loader currently does not have a champion, and I think the likelihood is low that either @saulpw or I will have the space to prioritise it before we release v2.0. If you want to take it on, that would be welcome!

[2020-06-27 20:26] p3k commented on #613
Hi @anjakefala thanks for having me!

As in the v2 release the table syntax is correct Markdown I would suggest to just drop the _org-mode_ mention at all – except this is something a lot of people need to know? Is it in fact still _org-mode compatible_, anyway?

For the v1 release I would suggest to not mention Markdown (and maybe use a different file extension?) – because it simply is not Markdo

[2020-06-27 20:27] anjakefala commented on #613
Yup! Thanks for clarifying.

[2020-06-27 20:31] p3k commented on #612
I gladly will take a look and evaluate if I feel capable of “taking it on” :smile_cat:

Where should I start my exploration?

[2020-06-27 20:38] anjakefala commented on #612
The postgres loader is located in `visidata/loaders/postgres.py`. We have developed a home-grown `Path` that is in `visidata/path.py`. We developed our own in order to handle `urls`.

All this is doing: `    return getGlobals()[openfunc](p, filetype=filetype)` is basically calling the `open_postgres` in `visidata/loaders/postgres.py`. It is determining which loader to call based on the assessed fi

[2020-06-27 20:39] anjakefala commented on #612
Thanks for being game to take a look! :blush:

[2020-06-27 20:59] p3k commented on #612
Just to be sure I am looking into the right branch: is it still `v2.-3.0` as stated on the [Visidata website](https://www.visidata.org/v2.x/)? Or should I rather inspect `develop`?

[2020-06-27 21:23] frosencrantz opened #614 "[starting] Crashes w/traceback when starting Visidata without a ~/.visidata/plugins directory"
**Small description**
Traceback when starting Visidata without a ~/.visidata/plugins directory

**Expected result**
Starts running

**Actual result with screenshot**
[code]

**Steps to reproduce with sample data and a .vd**
$ vd

**Additional context**
Please include the version of VisiData: Latest version of develop

[2020-06-27 21:40] p3k commented on #612
I am able to fix the error and open the PG database adding a `urlparse()` and and `import string` statement to `loaders/postgres.py` in the `v2.-3.0` branch…

…which exactly is done in the `develop` branch on lines [41](https://github.com/saulpw/visidata/blob/develop/visidata/loaders/postgres.py#L41) and [58](https://github.com/saulpw/visidata/blob/develop/visidata/loaders/postgres.py#L58) :cat:

[2020-06-27 21:41] anjakefala commented on #612
The develop branch is what you want to look at! I guess I fixed that bug. No wonder it looked familiar.

Can you give me the develop branch stacktrace?

[2020-06-27 21:42] anjakefala commented on #612
I guess this is the error you are noticing: https://github.com/saulpw/visidata/issues/614

Okay. Once we fix that error, I will give you a poke to re-rest postgres! =) Thanks for taking a look.

[2020-06-27 21:45] anjakefala commented on #612
Though, if you make the directory mentioned, then you can see if your postgres issue is addressed sooner! =)

[2020-06-27 21:48] p3k commented on #612
Right, after creating the directory `.visidata/plugins` everything works fine.

Regarding my original issue: any suggestions how this could be approached? Could it be solved with a configuration setting? Added to the URL somehow? Or is there a generic method to give Postgres the correct schema name?

[2020-06-27 21:52] anjakefala commented on #612
You have a choice between adding it to the url somehow, or creating a configuration option.

I would create an option, and have it default to its current default behaviour. We have an `option()` function that you can take a look for adding that. =)

I do not know the answer to this question!

[2020-06-27 21:53] saulpw commented on #612
Seems like this should be an option, `postgres_schema`, that defaults to `public`.  Would this work for you, @p3k?

[2020-06-27 21:54] p3k commented on #612
Yes I think an option would probably be the easiest way to go. What do you think, maybe along the lines of [this solution](https://stackoverflow.com/a/49927846)?

[code]

[2020-06-27 22:02] p3k commented on #612
Ah, I assume we also need this option in line 85, the one I hard-coded for testing, as well as line 87:

[code]

[2020-06-27 22:09] anjakefala commented on #614
Thanks! =) Should be fixed.

[2020-06-27 22:09] #614 closed, assigned to nobody

[2020-06-27 22:09] saulpw commented on #612
Yes, we'd need it in both places.  Is adding the search_path option still necessary if we use the option in both of those SQL queries?

[2020-06-27 22:14] p3k commented on #612
I am not sure… initial display of the tables works without `search_path` but I don’t know if it might be necessary for Visidata / psycopg2 to retrieve further data like table rows etc.

[2020-06-27 22:17] p3k commented on #612
Basically I got it working and can run `vd` like this now:

[code]

:woman_dancing:

Time for a PR? Or do you prefer a patch file?

[2020-06-27 22:18] saulpw commented on #612
PR please!  We'll review and when it seems good, we can merge with the click of a button.

[2020-06-27 22:20] p3k commented on #612
Cool! It’s already past midnight here, so I will take a break and review everything again tomorrow, then publish the PR. Thanks for your assistance @anjakefala and @saulpw :sleepy:

[2020-06-27 22:30] anjakefala commented on #609
https://pythondev.readthedocs.io/windows.html

[2020-06-27 22:31] anjakefala commented on #609
https://visualstudio.microsoft.com/dev-essentials/

[2020-06-27 22:39] saulpw commented on #609
From https://stackoverflow.com/questions/10535088/creating-a-windows-installer-for-python-a-set-of-dependencies:

[2020-06-27 22:50] anjakefala commented on #609
# Notes
* Install a clean version of Python
* We think we need to copy the source code into our site-packages
* The msi builder lists additional required dependencies (e.g. WiX)
* We may need VisualStudio

[2020-06-28 00:28] frosencrantz commented on #614
Awesome!  So fast.

[2020-06-28 08:17] saulpw commented on #507
I added all the filetypes and indicated whether they had a loader or a saver and what the requirements are.  We should find a place to post this as part of the docs.  (visidata.org/formats?)   Next we should collect all the current docs about loader internals and combine/review/update them for 2.0.  (visidata.org/loaders?)

[2020-06-28 08:29] p3k commented on #612
Just for the record: [PR was filed and already merged](#615), closing this issue.

It was a pleasure to do this little task, thanks to the very helpful maintainers and the IMO very well written code.

[2020-06-28 08:31] #612 closed, assigned to nobody

[2020-06-29 00:36] anjakefala commented on #507
visidata.org/formats is the perfect place for this :+1:

I started that work, and have not finished it, yet. we should definitely not forget to finish that.

https://github.com/saulpw/visidata-book/pull/6/files#diff-204f5a19390e8bce4c1fa6c641d1b0a4

[2020-06-29 03:08] saulpw commented on #460
What if we add this to the pandas loader?

[code]

Are there commonly used extensions for the above filetypes?  Would this suffice to satisfy this issue?

[2020-06-29 04:47] ajkerrigan commented on #460
That seems like a helpful change. Maybe see if `open_<ft>` already exists first though, so it's more of a fallback mechanism that will play nice if/when standalone loaders come in for those types?

[2020-06-30 04:31] #460 closed, assigned to nobody

[2020-06-30 04:59] saulpw commented on #613
Hi @p3k, I would love to get this cleared up.  @layertwo introduced this in #301 because he needed a slightly different format to be compatible with Atlassian JIRA.  I don't know how 'org-mode compatible' wormed its way in there.  So you're saying that what's currently emitted by default saving to .md is correct markdown?  Apparently JIRA uses `||` to separate and doesn't escape anything.  Is this

[2020-06-30 18:08] p3k commented on #613
@saulpw Not sure I can really untangle this web, but here is an attempt:

* In current stable the table output is called “org-mode compatible Markdown” and saved in a `.md` file; output is similar to but nevertheless invalid Markdown because it is using `+` instead of `|` for the border between table header and body.
[code]
* In the develop branch the generic output is still called “org-mode compa

[2020-07-03 07:14] saulpw commented on #573
Okay, let's see how 9f678b0 works for your cases.  Here are the basics of the new CLI parser:

- --options apply as sheet-specific option overrides to the sources following them

- the last setting for a given option is also the cli-given global setting,
  which will apply if a sheet does not have its own sheet-specific
  setting already.

- --help opens the manpage

This allows both:

    vd -f c

[2020-07-03 07:15] saulpw commented on #546
Let me know if this fixes it for you, @geekscrapy!  Thanks for reporting.

[2020-07-03 07:15] #546 closed, assigned to nobody

[2020-07-03 07:33] saulpw commented on #449
Kondo'ed.

[2020-07-03 07:33] #449 closed, assigned to nobody

[2020-07-03 20:44] frosencrantz opened #619 "[wishlist] Do not expand strings when expanding lists"
**Small description**
String cell is expanded if in a column with lists. Expand fails with different types in a column.
**Expected result**
The string is not expanded.
There are stack traces if the column contains different types, some of which are nested.

**Actual result with screenshot**

b[0] | b[1] | b[2]
-----+------+------
a    | b    |
a    | b    |    c

**Steps to reproduce with sample d

[2020-07-03 20:44] frosencrantz opened #620 "[plugin loader question] How to register a file type without vd.filetype()?"
**Small description**
Plugin loader stops working, once the vd.filetype() call was removed. Converting to open_TYPE() function.

**Expected result**
Loader continues to work.

**Actual result with screenshot**
Reports as status: unknown "TYPE" filetype
def open_type(p):
   return MyTypeSheet(p.name, source=p)
It appears the open_* function is not in the global namespace.

**Steps to reproduce with

[2020-07-03 20:45] frosencrantz opened #621 "[help keystrokes] Help keystrokes has longnames for about 20 commands"
**Small description**
Keystrokes in HelpSheet display commands not keystrokes for about 20 commands.

**Expected result**
Keystroke values

**Actual result with screenshot**

sheet	longname	keystrokes
TableSheet	go-next-selected	next-selected
TableSheet	go-prev-selected	prev-selected
TableSheet	setcol-clipboard	paste-cells
TableSheet	search-prev	prev-search
TableSheet	setcol-input	edit-cells
Table

[2020-07-03 20:45] frosencrantz opened #622 "[wishlist] Add '^O' binding for TextSheet to open sheet in editor"
Add to TextSheet a '^O' binding , which allows you open the contents of the text sheet in an editor.

If you are in DirSheet you can hit '^O' on a row/file and open it in the editor.  If you just dive-row on a file it opens it in the TextSheet.  From TextSheet you can't open the contents in your editor.

[2020-07-03 21:34] ajkerrigan commented on #619
Hmm, with #611 in place we scan a configurable number of rows to identify addable columns. We _could_ abort the expand if that scan turns up more than 1 unique type (excluding nulls). What do you think @saulpw / @anjakefala ?

[2020-07-04 00:29] saulpw commented on #620
Hi @frosencrantz, functions can be exposed globally in a couple of ways:

1. by adding `addGlobals(globals())` at the end of the plugin .py file. This will add all functions and variables in the file, so they can be used by command execstr's, and open_ and save_ functions will be exposed as well.

2. adding `__all__=['open_foo', ..]` at the top of the plugin .py file, with the list of functions an

[2020-07-04 06:03] anjakefala commented on #621
I think this is a bug related to `alias()`.

Nice catch! I am going to see if it is fixable.

[2020-07-04 09:32] saulpw commented on #619
VisiData doesn't pretend to work perfectly with heterogenous columns; it would make it more complicated and slower.  I'm inclined to leave it as-is, or provide some kind of "listify if not already list" transform. How do you get something like this in real data, @frosencrantz ?

[2020-07-04 22:15] frosencrantz commented on #620
I added a `addGlobals({'open_type': open_type})`.  That didn't require changes to my .visidatarc file.

That appears to work.  Thanks, @saulpw!

It might be helpful to document that for plugin loaders.  I would expect other plugin loaders are seeing the same issue.

I have a simple loader for some data I have.

[2020-07-04 22:15] #620 closed, assigned to nobody

[2020-07-04 22:15] frosencrantz opened #623 "[wishlist] Add ability to expand rows with nested data like ExpandedColumn ("unfurl")"
Add an expand-rows command to expand a column row-wise, (selected|all) rows.

I have data that has a column with nested data, usually a list of dicts (lod). The dicts typically have the same keys.
I would like to expand the rows so there is one dict per row,  keeping the data in the other rows the same

This
| c1  | c2  | lod | c4  |
| --- | --- | --- | --- |
|  1  | 1   | [3] | 1   |
|  2  | 2

[2020-07-04 22:16] frosencrantz commented on #619
Often I transpose json/yaml data, so it is very easy to have a column of heterogeneous cells.  It is possible to expand before transpose, but this gets you a different result. Also, it is possible to hide heterogeneous rows after transpose, but again a different result.

Also, see my soon to be Kondo'd FR: https://github.com/saulpw/visidata/issues/623 for expanded rows...

[2020-07-04 22:31] frosencrantz commented on #558
Adding a link to @ajkerrigan's helpful notes:

https://github.com/ajkerrigan/visidata-plugins#debugging_helpers-integrate-visidata-with-debugging-packages

At some point I (or someone) should add this to the  visidata dev notes.

[2020-07-04 22:44] saulpw commented on #623
I think this is similar to @jsvine's unfurl idea! If so, maybe it's time to pull it together formally.

[2020-07-05 00:59] anjakefala commented on #620
Yeah, I agree, that should definitely be part of the updated loader documentation when that gets shipped.

[2020-07-05 07:29] saulpw commented on #619
Okay, I see.  We can leave this as a wishlist item but I'm not sure of the right way to implement it.  Kondo'd for now.

[2020-07-05 07:29] #619 closed, assigned to nobody

[2020-07-06 00:29] anjakefala commented on #621
Fixed on `develop`!

[2020-07-06 00:45] saulpw commented on #623
Kondo'd for now.

[2020-07-06 00:45] #623 closed, assigned to nobody

[2020-07-06 00:48] saulpw commented on #622
Lots of questions here, @frosencrantz.  Is this for viewing only or editing too? If editing, do you want to edit the source directly or get a copy of the current set of lines?  After editing, should the changes be pulled back into VisiData if they're saved?  What's your use case?

[2020-07-06 00:54] anjakefala commented on #556
Kondo'd for now!

[2020-07-06 00:54] #556 closed, assigned to nobody

[2020-07-06 02:33] anjakefala commented on #609
https://cyrille.rossant.net/create-a-standalone-windows-installer-for-your-python-application/

[2020-07-08 05:01] tsibley commented on #573
Thanks for the work on this. Unfortunately, though, the new behaviour doesn't address the problem I described in the issue description.

[2020-07-08 07:01] saulpw commented on #573
Hah, I see that now.  So the stated limitations directly apply to this issue after all.  And even if we had a way to either one-off or unset an option, it would be cumbersome.

So here is what I propose:

1. The last value for each option is applied as a sheet-specific option to all sheets opened from the command-line (instead of being set as a global for all sheets).
2. We add a new pseudo-option

[2020-07-08 15:21] geekscrapy opened #627 "[wishlist] bool symbol included in pysheet"
Unlike the `duration`, `seen_bytes`, `total_bytes`, `missing_bytes` and `overflow_bytes`, the fields `local_orig` and `is_orig` don't have the bool symbol to show they are a `bool` column (they are a `bool` column in the parent sheet)

![image](https://user-images.githubusercontent.com/11225502/86936949-b61aac80-c14f-11ea-8bed-0d9637f10d2a.png)

It would be great if the `bool` symbol could be incl

[2020-07-08 18:40] anjakefala commented on #627
There is no officially supported `bool` type as of 2.0, so there is no `bool` symbol to indicate that. =)

What do you think a good bool symbol would be?

[2020-07-08 18:40] #627 closed, assigned to nobody

[2020-07-08 19:21] geekscrapy commented on #627
To be honest, I thought the `?` shown in my bool columns _was_ the icon! 🙃
In terms of icon, I think `?` works!

[2020-07-08 19:58] anjakefala commented on #627
@geekscrapy Oh, that means unknown type. :joy:

[2020-07-08 20:12] geekscrapy commented on #627
In that case then....! The `✓` symbol might be good! (but I still secretary like `?` 😝)

I thought `!` covered unknown/error scenarios, or is that just for use in the cell? Might be good for continuity to use the same symbol in the column header?

[2020-07-09 04:45] tsibley commented on #573
Yep, I think (1) would fix the problem I have! :-)

[2020-07-10 14:11] jsvine opened #628 "Trouble opening files (via command-line only) with spaces in the filename"
**Small description**

On my computer (Mac OS) the edge version of VisiData (5b057274, but also previous `develop` versions) seems to bug out when I point `vd` (on the command line) at a file whose name contains a space character. It seems to think I am pointing it to two (or more, depending on the number of spaces) files, typically neither of which exist.

Opening the same filename via `o` works

[2020-07-11 00:56] anjakefala commented on #595
Today, I was running a test where I needed to curl 1 GB worth of files, and see how much space they took up in a database.

I had the total amount of GB the files took up. I ran `vd .`, and looked at the number of rows to get the number of files. All of the files were basically the same size, so ~72 files would be 1 GB. I then used | to test which regex combination would result in the POST-ing of

[2020-07-11 04:18] anjakefala commented on #628
@jsvine Oh dear, I cannot reproduce on Linux...

![Peek 2020-07-10 21-17](https://user-images.githubusercontent.com/7489659/87216265-efd7e880-c2f2-11ea-8a44-ecb7a09789e1.gif)

[2020-07-11 04:36] anjakefala commented on #628
I also tried with the specific example you gave, and was unable to reproduce this. I wonder if this is a terminal or shell issue... Does it work with 1.5.2 with the same terminal?

[2020-07-11 05:02] geekscrapy commented on #628
I'm on Mac and I've not come across this issue... What terminal are you using and what shell? (I use gnu bash and iTerm)

[2020-07-11 08:54] #622 closed, assigned to nobody

[2020-07-11 08:57] saulpw commented on #403
Hi @pigmonkey, this took me a lot longer than I thought it would.  But with the above commits (on develop, will be in next 2.0 pre-release), you can now use `x` and `y` commands on GraphSheet to set the min/max of that axis (separated by a space).  Like in your example, `y0 100`.  Hopefully this does what you need, let me know if it works for you!

[2020-07-11 08:57] #403 closed, assigned to nobody

[2020-07-11 11:03] jsvine commented on #628
Doh! Was totally my own fault, in how I wired up Bash to use the `develop` branch. 🤦 for not having double-checked that first. Thank you for the sanity checks 🙏 , and apologies for the distraction!

[2020-07-11 11:03] #628 closed, assigned to nobody

[2020-07-12 23:26] frosencrantz commented on #622
Thank you @saulpw, that's great!

Sorry to be too slow to respond, and you might not care anymore, but to answer your question:
I've started using Visidata as directory explorer.  I use it with different types of directories (data, documentation, source code, etc) and sometimes it is useful to take a peek at the file in Visidata, and if I need to do more than just view I can drop into Vim. I might

[2020-07-12 23:26] frosencrantz commented on #623
You got my hopes up a little on this, then closed.  😞 ... Oh well... 🙂

@saulpw,  I didn't find any issues listing 'unfurl'.  I was wondering if there was another issue you could reference?

I can workaround this, but something that could natively handle this in Visidata would be useful to me.

[2020-07-12 23:26] frosencrantz commented on #621
Awesome as always Anja!

[2020-07-12 23:27] frosencrantz opened #629 "[dir] Directory viewer stack traces when opening directory with an extension."
**Small description**
No longer able to open directories with '.' in the name

**Expected result**
Open directory

**Actual result with screenshot**
Directory is not opened, and stack trace.

**Steps to reproduce with sample data and a .vd**
Looks like one of the "Two hard things in CS"
[code]
Hit enter on t.foo

[code]
**Additional context**
Please include the version of VisiData. Latest version

[2020-07-12 23:27] frosencrantz opened #630 "[deferred delete] Deferred delete doesn't delete all files requested"
**Small description**
Deferred delete of files doesn't delete all files when committing sheet.

**Expected result**
All files marked for deletion are deleted.

**Actual result with screenshot**
It deletes all but one of the files.

**Steps to reproduce with sample data and a .vd**
[code]

**Additional context**
Please include the version of VisiData.  Latest develop version.

[2020-07-12 23:27] frosencrantz opened #631 "[transpose] Transpose stack traces when there is an int value in key column"
**Small description**
Transpose stack traces with an int value in key column

**Expected result**
Transpose doesn't stack trace. Value is converted to string for new column name.

**Actual result with screenshot**
[code]
**Steps to reproduce with sample data and a .vd**
[code]

**Additional context**
Please include the version of VisiData. Latest version of develop

This is not that important to m

[2020-07-13 13:57] jsvine commented on #623
Hi @frosencrantz, the code below is what I've been using (via longname command `unfurl-column`). It's only compatible with v2.x, hasn't been updated in many months, and might have some bugs. But it's been working for me, and might be useful for you. Provided without warranty, without any promise of maintenance, et cetera:

# Usage

This plugin makes it possible to "unfurl" columns containing itera

[2020-07-13 14:20] geekscrapy commented on #623
So, I actually had a go at this a while a go as well! But instead of doing it based on a python object, I was splitting a column *string* based on a delimiter (e.g. comma) and it would insert new rows with an individual value from the split string into a new column.

This method came in handy when analysing /etc/groups and seeing what groups a user belonged to. I'd open the file as text, split on

[2020-07-13 15:25] saulpw commented on #623
@jsvine Thanks for posting this!  Note also that we recently added an `addcol-range` command (bound to `i` for "increment") that should work the same as your `addcol-rowindex` command.

[2020-07-14 02:27] jsvine commented on #623
Ah, great! Thanks for flagging.

[2020-07-15 06:44] anjakefala commented on #631
Should be fixed!

Thanks @frosencrantz, for the report. =)

[2020-07-15 06:44] #631 closed, assigned to nobody

[2020-07-15 07:50] saulpw commented on #623
Added `unfurl-col` in above commit.  Unbound for now but maybe it feels like `zM`?

[2020-07-15 10:24] geekscrapy commented on #623
I bet this is going to be immediately obvious, but why `unfurl`...?! What does it stand for?

[2020-07-15 13:04] jsvine commented on #623
In my mind, when I came up with the name, it was sort of a visual metaphor, like the unfurling of a fern:

![image](https://user-images.githubusercontent.com/534702/87547995-e5fb1000-c679-11ea-9b0d-2db3299af788.png)

... or a list or other iterable. I hadn't seen it at the time, but I quite like [this definition](https://en.wiktionary.org/wiki/unfurl):

[2020-07-15 21:56] anjakefala commented on #630
Hi @frosencrantz!

I thought something was funny. I thought I tested this case, and then thought, "I guess I forgot it".

Except, I am actually unable to reproduce the bug. My gut instinct is that you are closing VisiData before the deletes complete.

@saulpw, should we add a blocker against quitting for incomplete DirSheet commits?

[2020-07-15 23:00] anjakefala commented on #629
Fixed! Nice find. Thanks for the bug report.

[2020-07-15 23:00] #629 closed, assigned to nobody

[2020-07-16 23:01] manihamidi opened #633 "can't open pandas dataframe from ipython: module 'visidata' has no attribute 'view_pandas'"
thanks for this fantastic tool @saulpw.

**Small description**

Attempted to load pandas dataframe from ipython `visidata.view_pandas(df)` per [instructions 6 and 7 in "10 Ways to use visidata"](https://www.visidata.org/blog/2020/ten/) but got `AttributeError: module 'visidata' has no attribute 'view_pandas'`.

**Expected result**

Open the dataframe in visidata.

**Actual result with screenshot**

[2020-07-16 23:05] anjakefala commented on #633
Hi @manihamidi!

What version of VisiData are you using?

[2020-07-16 23:40] manihamidi commented on #633
sorry forgot to include that... I actually upgraded visidata right before trying the above:

[code]

but when i check in ipython i get this:

[code]

also:

[code]

hmm.. maybe i just have it installed in the wrong environment.. I didn't bother with virtualenvs because I wanted to use it globally from terminal.

[2020-07-17 01:37] anjakefala commented on #633
Oh, this feels like an environment issue, sadly. We definitely did not support pandas at 1.0. =( Could you please try to get your environment to locate 1.5.2, and then let me know if the problem is still there?

[2020-07-17 19:37] manihamidi commented on #633
Yes indeed it was an environment issue. Sorry about the distraction and thanks for the help  :pray:.

[2020-07-17 19:37] #633 closed, assigned to nobody

[2020-07-18 00:44] saulpw commented on #573
Okay @tsibley, hopefully this fixes this issue, and won't require `-g` for non-sheet options like `replay_wait`. Otherwise should be as explained above!  Let me know what you think.

[2020-07-18 00:44] #573 closed, assigned to nobody

[2020-07-18 05:49] anjakefala commented on #630
I spoke with @saulpw. We are going to try to figure out a safety quit mechanism for this.

[2020-07-19 04:03] anjakefala commented on #448
Hi @tsibley!

We would love to know if this works for you. Here is the information.

1. There have been two environment variables added. `VD_CONFIG` and `VD_DIR`. This can be used to alter the default location of the config and dir (`~/.visidatarc` and `~/.visidata`, respectively).
2. Plugin deps are now installed to `VD_DIR/plugin-deps`.

[2020-07-19 22:09] frosencrantz commented on #630
Anja, thanks for looking.

I still see the problem.   I can consistently reproduce that not all files are deleted in certain cases.

Here is a visual of what it looks like to me:
	https://asciinema.org/a/NLV7FTnK8PuiDKoWqfLGab5OO
	https://asciinema.org/a/sRgSROa9mujKW7QmYjUGhsNTC

What do you make of this?  Is there a way I could tell if I exit too soon?

[2020-07-19 22:09] frosencrantz commented on #629
Thank you, @anjakefala!  I use this a lot.

[2020-07-19 22:09] frosencrantz commented on #623
Wow! I'm absolutely huffed by this.  Thanks @jsvine.   But now you have me wondering what other unreleased gems you have.

Thanks @saulpw for quickly adding this code.

I did try the Visidata version and it works pretty great.

There were two things that would help my for my data.

  -  For the data I want to unfurl, the column contains lists of dicts, but
     when there is only one dict there is

[2020-07-20 07:19] saulpw commented on #402
Okay @pigmonkey, we're going to address this in two ways:

1) documenting this behavior on a new page visidata.org/limits and in other places in the docs, so that other people understand what's going on;
2) adding two new commands (unbound for now), `select-error-col` and `select-error`, which select all rows with errors in the current column or any column, respectively.

I think (2) this should a

[2020-07-20 07:19] #402 closed, assigned to nobody

[2020-07-20 07:30] #448 closed, assigned to nobody

[2020-07-20 10:20] geekscrapy opened #637 "[v2.-4dev] NameError: name 'mouseX' is not defined when replaying commands"
**Small description**
I saved the command log for a session in order to be able to save the progress I had made on modifying a file without exporting it again (basically so I would be able to keep keycols, py objects etc. rather than converting to text). I attempted to use `--play` against the original file however I got the following error, and the play command halted:

[code]

**Expected result*

[2020-07-20 10:20] geekscrapy commented on #637
Obviously the `.vd` file is truncated, the last line is the one causing the issue

[2020-07-20 21:24] saulpw commented on #637
Hi @geekscrapy, mouse commands on the canvas are not supported in replay currently.  This is a known issue and I'm not sure exactly how to fix it.  What's your actual use case here?  Are you trying to set the visible bounds, or trying to select a region with the cursor?

[2020-07-20 22:46] saulpw commented on #595
From https://news.ycombinator.com/item?id=16516297:

[2020-07-20 22:47] saulpw commented on #595
Quoted with permission from an email:

[2020-07-20 22:49] saulpw commented on #595
From https://twitter.com/charlielewisme/status/989481241987747840:

[2020-07-20 22:50] saulpw commented on #595
From https://twitter.com/AlexMahadevan/status/976436539638116352:

[2020-07-20 22:50] saulpw commented on #595
From https://twitter.com/ktgeek/status/974404886522662913:

[2020-07-20 22:51] saulpw commented on #595
From email with permission:

[2020-07-20 22:54] saulpw commented on #595
From email:

[2020-07-20 23:59] anjakefala commented on #516
Hi @ryanprior! I packaged a basic set of unit tests into VisiData.

Tests are run by executing `pytest visidata/tests/` wherever the VisiData root
directory is installed. Sadly, `setup.py` has deprecated `setup.py tests`.

This will be part of VisiData 2.0.

I hope that helps!

[2020-07-20 23:59] #516 closed, assigned to anjakefala

[2020-07-21 01:17] peterjschroeder opened #638 "Alt key being reassigned on exit. [mlterm]"
**Small description**
When exiting visidata in mlterm, the ALT key is being reassigned in the terminal for all other apps until closing the terminal.

**Expected result**
For it to not do that.

**Actual result with screenshot**
showkey shows this for "Alt+2" before i start visidata.

^[2      27 0033 0x1b
         50 0062 0x32

After exiting, showkey shows this for "Alt+2"

²       194 0302 0xc2

[2020-07-21 01:38] saulpw commented on #638
Hi @peterjschroeder, what OS and terminal program are you using?

[2020-07-21 01:38] anjakefala commented on #630
![Peek 2020-07-20 18-38](https://user-images.githubusercontent.com/7489659/88002811-40e89900-cab8-11ea-9c98-be44f946a81c.gif)

Very weird!

[2020-07-21 01:40] peterjschroeder commented on #638
Hello saul,
Sorry about that, that definitely should of been included.

Linux (Debian Sid)
MLTerm

[2020-07-21 01:49] anjakefala commented on #630
Your videos were super helpful. I am now convinced a premature exist is possibly not the issue. Based on the "deleted x files" status, where `x =< nSelected/2`. I do not know why only half are being deleted for you, and all of them are being deleted for me. I will try to figure it out!

[2020-07-21 01:50] anjakefala commented on #630
Figured it out. The bug is with `gs` `gd`. Individual selection, and then `gd` is fine. Thanks so much for the asciinemas @frosencrantz, that really helped me with narrowing this down.

[2020-07-21 03:38] anjakefala commented on #630
Should be fixed. =)

[2020-07-21 03:38] #630 closed, assigned to nobody

[2020-07-21 05:12] saulpw commented on #638
I run Linux also, and within an mlterm instance, when I press Alt+2, I get `²`, both before and after running vd.  It seems unlikely that it would be the exact distro or window manager.  Maybe it's the shell (I use zsh with oh-my-zsh)?

I don't think anyone's experienced this before, and I'm not sure if I can figure it out remotely.  Do you have any ideas what part of your configuration might be c

[2020-07-21 05:50] peterjschroeder commented on #638
It was a TERM issue, saul helped me out. Thank you.

[2020-07-21 05:50] #638 closed, assigned to nobody

[2020-07-21 06:02] saulpw commented on #638
@peterjschroeder was setting `TERM=xterm-256color` in zshrc, but MLterm needed `TERM=mlterm-256color`.  In general if you are having weird problems with your terminal, it probably has something to do with `$TERM`.

[2020-07-22 16:47] geekscrapy opened #640 "[v2.-4dev] Issues with sliding columns"
From @anjakefala

- [x] Key columns cannot be re-arranged.
- [x] When a regular column reaches into the key column space, with `slide-left`, it can snap back to its starting position. It should just remain to the right of the key column space.

[2020-07-22 17:38] tsibley commented on #573
Thanks! This appears to fix the issue I'd been encountering. :tada:

I did notice that the options sheets seem to be reporting the wrong value. Or I'm maybe misunderstanding something? Here's what I did:

1. `vd -f jsonl < sample_data/test.jsonl`
2. Open sheet options with <kbd>zO</kbd> and observe that `filetype` is `jsonl`. This is as expected.
3. Open global options with <kbd>O</kbd> and observ

[2020-07-22 18:18] anjakefala commented on #573
@tsibley Yeah, the Global Options sheet is really an Override Options sheet! This is known behaviour.

@saulpw and I chatted about it, and thought it would be the prefered behaviour but we should probably think this through more deeply to avoid confusion like this down the line.

[2020-07-22 20:10] tsibley commented on #573
@anjakefala Ah, thanks for the explanation!

Does that explain why the sheet-specific options sheet as I observed in (5) also shows the overridden value? I'm not sure I understand that.

[2020-07-22 20:13] anjakefala commented on #573
That one is confusing, I agree. Especially, because it did not actually override -> the file's extension was used.

I am going to look into that!

[2020-07-22 22:49] tsibley commented on #573
Awesome, thanks! :pray:

[2020-07-22 23:57] manihamidi opened #641 ""could not find terminal" in pycharm python console when using vd.view_pandas(df)"
**Small description**

love the `vd.view_pandas(df)` functionality and works perfectly in iPython, however there seems to be a slight incompatibility with the pycharm python console.

**Actual result with screenshot**

[code]

**Additional context**

* The "use iPython when available" box is checked in `Settings > Build, Execution, Deployment > Console` panel.
* Information provided by the pycharm

[2020-07-23 00:48] anjakefala opened #642 "[v2.-4] filetype not showing up in sheet-specific options."
Conversation about this behaviour is here: https://github.com/saulpw/visidata/issues/573#issuecomment-662589852

[2020-07-23 01:08] saulpw commented on #573
@tsibley Your intuition about what should happen is correct.  The basic problem, it seems, was trying to use the classmethod BaseSheet.options as an instance method. For some reason I thought calling vs.options would pass vs instead of type(vs) to the property, but it doesn't.  So now the BaseSheet.options class property is renamed to BaseSheet.class_options, and this API change should only affect

[2020-07-23 01:28] anjakefala commented on #640
https://asciinema.org/a/piLhBZPSdftMzic4abWUInQMF

[2020-07-23 04:21] tsibley commented on #573
I'm pretty sure I would have thought the same thing! Good to know.

@saulpw and @anjakefala, thank you both for resolving all this!

[2020-07-23 05:46] geekscrapy commented on #637
To be honest, it was my first real go with --play!

So my situation was that I'd done a lot of transformation with my data (splitting, setting col types, setting aggs, joining tables etc, I had about 1M rows and about 100 cols....).

It was my way to get a duplicate session in another term, and allow me to run wild and play with the data and also retain the original data without the risk of deleti

[2020-07-23 06:31] saulpw commented on #637
The replay will be busted if you select a region with the mouse and then 'd'elete, for example, because the cursor won't be the proper region on replay. I should probably just hack something together to store the coordinates on the cmdlog, since a better inspiration hasn't struck yet.  If that doesn't work for some reason we'll just add it to the nonlog list.

I don't quite understand what you mea

[2020-07-23 07:52] geekscrapy opened #643 "[v2.-4dev] expanding a large list freezes interface"
**Small description**
I had a list that I accidentally tried to expand (500k items....). I couldn't cancel with Ctrl+C and no feedback was given to the user

**Expected result**
To not freeze the interface and be given feedback to when it might finish (progress)

I also wonder, are columns added iteratively or are they added at once all-together once the calculation has finished?

[2020-07-23 07:53] geekscrapy commented on #637
What I meant was that it appears that other lines of the command log look to use the column name as the way to identify the column to act upon? Or have I misinterpreted it?

[2020-07-23 07:56] saulpw commented on #637
Ah, yes, exactly, and also the sheetname and sometimes row key/number.  In my mind they form a trio, sheet/row/col, even though I can see how in most .vd's the `col` column is the interesting one.

[2020-07-23 16:32] anjakefala commented on #643
Hey @geekscrapy! @saulpw pushed a fix that makes expanding async, and thus cancel-able. Could you let us know how it feels for you?

[2020-07-23 20:37] saulpw commented on #643
Yes, it should be async.  VisiData should never freeze and you should always be able to press `Ctrl+C` at least to stop its current activity.  But you're right, columns are added iteratively, so if you stop expand before it's done, you'll have to use `contract-col` instead of `U`ndo.

Progress is also harder to measure with expand, so no progress meter for now.

[2020-07-23 21:25] #643 closed, assigned to nobody

[2020-07-23 21:50] saulpw commented on #642
Should not be happening anymore.

[2020-07-23 21:50] #642 closed, assigned to nobody

[2020-07-23 21:52] saulpw commented on #641
Hi @manihamidi, I don't have a pycharm setup so it's going to be difficult to debug given only this information.  Is this on Windows?

[2020-07-23 22:03] anjakefala commented on #641
It seems like this is more related to how PyCharm interfaces with curses, than with VisiData specifically!

Some potentially helpful things to try are here: https://stackoverflow.com/questions/9485699/setupterm-could-not-find-terminal-in-python-program-using-curses

[2020-07-23 22:03] manihamidi commented on #641
hey @saulpw , no i'm running pycharm on ubuntu 18. I'm getting by using the pycharm terminal to run ipython and then visidata. It's not ideal but ok for now..

[2020-07-23 22:04] anjakefala commented on #641
You need ipython to run VisiData?

[2020-07-23 22:15] manihamidi commented on #641
thanks for the link @anjakefala . Tried setting the envvar and now i get a different error!

[code]

which seems to be addressed here: https://stackoverflow.com/questions/52747655/why-do-i-get-curses-error-cbreak-returned-err-when-using-tensorflow-cli-de

Not sure how that solution translates to curses/vd.. any ideas?

[2020-07-24 04:26] saulpw commented on #637
This commit makes replay of canvas commands possible, but there is still an issue: if the replay is played without replay_wait, any commands on the canvas (select, delete) will not work, but the rest of the replay will proceed as though they did.  These commands don't work, because they rely on draw()'s plot of the pixels, and during a fast replay it doesn't get drawn.  If a wait is added (.5s see

[2020-07-24 04:26] #637 closed, assigned to nobody

[2020-07-24 20:39] anjakefala commented on #641
Did you follow these steps?

I basically have no idea, and I am also using google to find these things. =( I hope you figure it out!

[2020-07-24 20:42] anjakefala commented on #641
I am going to close this issue because I do not think the problem is on our end, but please continue using it as a space to debug your problems with us. It may help somebody else who faces a similar issue down the line.

[2020-07-24 20:42] #641 closed, assigned to nobody

[2020-07-24 21:49] pigmonkey commented on #402
Yeah, I think that will provide me a way to more easily identify unexpected data and then, if desirable, remove them from the sheet before proceeding with further select/sort operations on the valid data.

[2020-07-24 21:54] pigmonkey commented on #403
I just tried this on 2.-4 and it works great.

[2020-07-24 23:13] manihamidi commented on #641
hmm... thanks that's potentially helpful, but those configurations are for python consoles that launch when you "run" a particular python module, not the interactive (iPython) console. Couldn't find a similar checkbox for the interactive console yet.

anyways thanks... submitted a ticket to pycharm, hopefully that'll help resolve the issue.

[2020-07-25 19:13] frosencrantz opened #645 "[dirsheet] open-row uses original filename after editing"
**Small description**
Changing the ext column on a dirsheet doesn't change the type of file being loaded

**Expected result**
Change the value of the ext column, then opening the file should use the value from ext rather than the file.

**Actual result with screenshot**
See result here:  https://asciinema.org/a/ztn4jYNBDJ9VSPTNCumxm1ES1

**Steps to reproduce with sample data and a .vd**
See

**Add

[2020-07-25 22:21] frosencrantz opened #646 "[livesearch plugin] Livesearch plugin doesn't fully clear screen during search"
**Small description**
The livesearch plugin no longer fully clears the screen during search.

**Expected result**
Rows not matching the current search term are not shown

**Actual result with screenshot**
Shown here https://asciinema.org/a/TG75hDQ1LhCZ4YEVf6JHTLVwY

**Additional context**
Please include the version of VisiData. Latest version from develop.

[2020-07-26 12:45] chocolateboy opened #647 "[wishlist] Number rows starting at 1"
VisiData has gone from [not having a convenient way](https://github.com/saulpw/visidata/issues/215) to number rows to having two different ways to do it:

- using <kbd>i</kbd> (iota) and family
- the [rownum plugin](https://github.com/saulpw/visidata/blob/19dcd50da53361527c2272636e0de0eea8c306fe/plugins/rownum.py)*

\* side note: is the plugin still needed now that support for this is built in?

T

[2020-07-27 16:31] manihamidi commented on #641
FYI for future readers: PyCharm support said:

You can up-vote the feature request here: https://youtrack.jetbrains.com/issue/PY-43660

[2020-07-27 16:38] yphillip commented on #595
Simply being able to copy the contents of a cell to the system clipboard with `zY` is amazing. I work with large tables of chemical structures encoded in [SMILES format](https://en.wikipedia.org/wiki/Simplified_molecular-input_line-entry_system), and visidata makes it so easy to quickly find the row that I need, copy the SMILES string to my system clipboard, and then paste it into a program that r

[2020-07-27 18:07] anjakefala commented on #641
Thanks for checking back in!

[2020-07-28 02:15] saulpw commented on #645
This is an interesting idea, @frosencrantz, I can see why you'd expect that to work.  The ext column isn't actually the filetype, though, just the extension of the filename.  If you used `z Ctrl+S` to write the changed extension, then it should work (you might a reload but I think it reloads automatically).

The core issue is that the Path objects used on a DirSheet refer to the actual underlying

[2020-07-28 02:15] #645 closed, assigned to nobody

[2020-07-28 12:55] geekscrapy opened #650 "[selection] Selecting None row causes header to be colored"
**Small description**
I created a small plugin which allows a user to define regex (with named capture groups) on the command line which opens a file with the capture group names as the column names. However when I do freq analysis on a column and tag the single None row, and go back to the original sheet the header has changed from blue to orange!

**Expected result**
The header row stays the sam

[2020-07-28 13:44] geekscrapy opened #651 "[2.4][aggregator] Cannot create custom aggregator in .rc"
**Small description**
I'm trying to create a custom aggregator as a plugin (standard deviation, 1/2/3)

**Expected result**
Ability to use my custom aggregator in vd

**Actual result with screenshot**
My aggregator does not show up in the available options when using `+`

**Steps to reproduce with sample data and a .vd**
Use the following lines in .visidatarc
[code]

[2020-07-28 19:10] saulpw commented on #650
Interesting!  The issue is twofold:

The way the colorizering is designed, each colorizer is can be passed None for the row (meaning the header), or None for the column (meaning the separators).  Effectively a None row "is" the header row.  This way you can color a whole column (or row) by simply ignoring the row (or column) arg.  However, it does mean that colorizers need to be aware of it and ch

[2020-07-28 19:10] #650 closed, assigned to nobody

[2020-07-28 19:47] geekscrapy commented on #650
I do remember the duplicate rowid quirk now... Doh!

Another way to catch it would maybe to check if the rowid has already been inserted? I.e. "there are x duplicate rows" during addRow? Many ways to do it I guess 🙂!

Tbh I didn't notice when making the loader, but I probably would've gotten confused if I actually worked with the data a bit

Thanks for the great explanation! 😊

[2020-07-28 19:50] geekscrapy commented on #650
Also, I just refreshed my brain regarding id(None) .

I would say, as None is a singleton it would definitely be good to throw a warning when this is inserted with addRow. I didn't appreciate that None was a singleton, I just presumed it was another object...

[2020-07-28 23:02] saulpw commented on #651
Thanks @geekscrapy, good catch.  This should be fixed with the above commit.  Don't forget the helpstr (and that 'sum' is not actually the `stdev` :)

BTW, you shouldn't need `from visidata import *` in your .visidatarc.

[2020-07-28 23:02] #651 closed, assigned to nobody

[2020-07-29 05:26] geekscrapy commented on #651
Thanks!

That was a crude test to say "should this work?". I have a stdev agg that works, but it's not pretty (made it pretty soon after finding vd...!), it works though!

[2020-07-29 05:59] saulpw commented on #647
Thanks for the suggestion, @chocolateboy, I think you're right.  The default is now 1 and there's an option `incr_base` as well.  `rownum` is still needed though as there's no convenient way to lookup a row by a column value..yet.

[2020-07-29 06:00] #647 closed, assigned to nobody

[2020-08-02 22:58] frosencrantz opened #652 "[wishlist] additional unfurl commands for subsets of rows"
I'm a happy user of the new unfurl command, but it would still be useful to limit unfurls.

I mentioned it here: https://github.com/saulpw/visidata/issues/623#issuecomment-660717042

It seems to have gotten lost or didn't seem useful to others.  I'm going to promote it here as a full FR.
You are welcome to Kondo it.

There were two things that would help me for my data.

For the data I want to unf

[2020-08-02 22:58] frosencrantz commented on #645
Thanks @saulpw for the response.

It would be useful if changing the ext field would allow me to tell Visidata the filetype of a file.  There are a few filetypes that use json  as the base but have their own file extension, and it would be helpful to open them from a DirSheet.  So this would be a useful feature.

The code looks like it tries to:

https://github.com/saulpw/visidata/blob/develop/vis

[2020-08-03 04:48] saulpw commented on #645
These are good points, @frosencrantz.  After you point out the code in shell.py, I think you're right, it should use the deferred value from the `ext` column, instead of the `ext` attribute on the row object.  And I agree, it would be better suited as a filetype column rather than a modifiable piece of the Path itself.

I tried to make a small fix, but pulling on the thread has got me to rethinkin

[2020-08-03 15:03] saulpw opened #655 "[commands] access column values for current from execstr"
A sheet-specific command should be able to refer to the values in the cursorRow by column name, via a simple Pythonic syntax.

[2020-08-05 05:08] saulpw commented on #652
Thanks for re-raising the issue, @frosencrantz, it did get lost in that last issue (this seems to happen once an issue is closed, further comments don't issue notifications).

`gzM` to apply to selected rows could work, even though it's technically a smaller subset.

These should all be pretty straightforward to implement.  I don't have a need for them myself though, so Kondo'ed for now.

[2020-08-05 05:08] #652 closed, assigned to nobody

[2020-08-05 05:15] saulpw commented on #646
I've verified that this bug does happen, but haven't been able to figure out why.

[2020-08-05 09:34] geekscrapy opened #656 "[loading] sheets are not available for join until viewed or deliberately reloaded"
**Small description**
I attempted to open multiple files (xml) from the command line, and wanted to use `append` to join them to one larger sheet.
I went to the SheetsSheet selected the sheets with `stoggle-row`, and selected `append` from the `&` options.

**Expected result**
A sheet combined with all rows from the selected sheets

**Actual result with screenshot**
Only the first (top) sheets row

[2020-08-05 18:17] anjakefala commented on #656
Thanks for the report, @geekscrapy! I have documented this behaviour =) https://www.visidata.org/blog/2020/unloaded/

I argue that this is not a VisiData limitation, because it does allow users to be a lot more secure with loading multiple large files, but this is something that trips people up, and is expected by design, so I am going to add that tag.

[2020-08-05 18:22] saulpw commented on #656
Thanks for reporting, @geekscrapy.  @anjakefala is right, the default behavior is important to keep multiple large files from tanking the processor, but I've also been bitten by this, so I'm considering how we might tweak it so that in the average case with small files, it 'just works'.  Maybe something like loading the first N rows and then pausing until the sheet is shown.  This would be tricky

[2020-08-05 18:55] geekscrapy commented on #656
Yup, I see the logic!

However, maybe a warning wouldn't go amiss? "You tried to join unloaded sheets". Maybe followed by a "do you want to load them?"

I would say though, if you want to join the sheets you'd have had to select them on purpose, for me I didn't care how big the sheets were, I just wanted them joined. The bigger issue for me was I was second guessing if I had all the expected rows,

[2020-08-08 00:03] forensicdave opened #657 "[cli options v2.-4] --opt=value replaces `-` with `_` in value"
**Small description**
Weird one - I can open up utf-16 encoded file with Visidata 2.3:   v'd --encoding=utf-16 file.csv' is Good. But updating to 2.4 and it fails.
It also fails in the develop branch.

**Expected result**
Should open the file ok. (have attached sample utf-16 csv file)

**Actual result with screenshot**

I've attached a sample utf-16 file.

Reproduce by:
pip3 install git+https://gi

[2020-08-08 23:57] saulpw commented on #657
Thanks for filing this bug, @forensicdave!  It has to do with the CLI options parsing, which was redone in 2.-4. (Note the `-` in the version number, which indicates this is a 2.0 prerelease; there will probably be a 2.3 and 2.4 in the future so it's important not to confuse them).

Your bug report has all the information I need, such that I barely needed to look at the code to know what was wrong

[2020-08-08 23:57] #657 closed, assigned to nobody

[2020-08-09 02:38] forensicdave commented on #657
Thanks so much Saul - apologies for the image - love your work it is just
brilliant! Best regards and wishes!

On Sun, Aug 9, 2020 at 9:57 AM Saul Pwanson <notifications@github.com>
wrote:

[2020-08-09 18:55] frosencrantz opened #658 "[preplay] The preplay flag is looking for the wrong command (no binding for command)"
**Small description**
vd -P command-name  doesn't work

**Expected result**
The -P flag runs the command listed.

**Actual result with screenshot**
https://asciinema.org/a/exF54SsNFfmfxZFE4AmEQBviB
Dashes are replaced with underscores.

**Steps to reproduce with sample data and a .vd**

[code]
**Additional context**
Please include the version of VisiData. latest from develop

[2020-08-09 18:55] frosencrantz commented on #621
Hi @anjakefala  It is not clear if responding to closed bugs is ever seen.

If there is no response in a week, I'll open a new bug.

But this issue is still happening but only for the status commands.
   https://asciinema.org/a/exF54SsNFfmfxZFE4AmEQBviB

[2020-08-09 18:55] frosencrantz opened #659 "[expr] Add a shortcut name for the current column in expressions."
Add a simple way to reference the current column in expressions, such as for the addcol-expr  or  addcol-sh commands. Now you need to type out the full column name, it would be useful if you could also use a shortcut alias like  _ or $_  .

[2020-08-09 18:56] frosencrantz opened #660 "[visibility]: Make visibility more configurable"
When toggling visibility with the 'v' key, the height of the column has a fixed default of 10 lines.
From the Columns sheet it is possible to change this this value, but the height column is hidden by default.

Request:
  1. Add an option to allow users to override the default visibilty height.
  1. Don't hide the height column in the Columns table.

[2020-08-09 18:57] frosencrantz commented on #645
That works just like I thought.  Thanks @saulpw that's great!  Glad it helped illuminate other issues.

[2020-08-09 21:06] anjakefala commented on #621
Ah, this is because they `status` and `statuses` do not contain `-`!

[2020-08-10 04:59] anjakefala commented on #621
Should be fixed now!

[2020-08-10 04:59] #621 closed, assigned to anjakefala

[2020-08-11 04:26] anjakefala commented on #658
Thanks!

Fixed in 31a0283b8ef95d4

[2020-08-11 04:26] #658 closed, assigned to nobody

[2020-08-13 03:26] anjakefala opened #661 "[types] floatsi parser"
It would be great if VisiData had a type which:
* correctly interpreted cell values which contain the International System of Units, and was able to treat them as numerical data
* allowed conversion from raw bytes to human readable values with unit prefixes

This would be especially fun for working with data piped in from `ls`, `df`, `du`, `free`, etc.

[2020-08-14 04:48] saulpw commented on #660
I agree with you on these points, @frosencrantz.  Where in the column order do you think the height column should go?  Right after width?

[2020-08-14 04:50] saulpw commented on #659
How about a way to extend the input mechanism, so that you could set e.g. Ctrl+X or Alt+X to insert cursorCol.name at the cursor?

[2020-08-14 07:21] geekscrapy opened #662 "[interface] horizontal scroll option"
*Appreciate this is probably a design decision from conception, but I'd not seen it mentioned specifically and might spur on thoughts from others*

I often deal with data of which the contents are too long to fit in the screen (e.g. windows event logs). The visibility option works to a degree, but I lose a lot of visible rows (they fall off the bottom) and you loose the ability to easily/visually

[2020-08-14 07:29] geekscrapy commented on #659
Neat idea @saulpw

I think it'd be good to keep it copy/pasteable as I (and I expect others do) have a lib of useful expressions for my line of work

[2020-08-14 17:06] anjakefala commented on #662
Hi! ^^

You can edit a cell with `e`, and scroll its contents character-by-character. You can also open that cell's contents in an editor with `Ctrl-O`.

Do those cover your needs?

[2020-08-14 21:40] geekscrapy commented on #662
Hey!
Not really as I need to see the same position of contents for the other rows around it.

However, this is how I'm getting around it at the moment 🙃

More context: I have column contents which can be _very_ long. And this will occur over multiple rows. Sometimes there are subtle differences in the rows and the only real way to distinguish them is eyeballing the differences. And this is pretty

[2020-08-14 21:44] saulpw commented on #662
@geekscrapy can you give us an example of 2 very long rows, and where in those rows the subtle differences are?

[2020-08-15 06:24] frosencrantz commented on #659
It does solve the issue I reported, but I am also interested in the issue of when the column name is not a usable Python identifier, like after expanding a column the names look like 'a.b'.  This can be handled by renaming the column or using Jeremy's vdnormcol plugin, but it adds a step after new columns are created by expand or addcol-*.

But if adding a variable doesn't seem right, having a key

[2020-08-15 06:24] frosencrantz commented on #621
Thanks, @anjakefala!

[2020-08-15 06:24] frosencrantz commented on #658
Thanks, @anjakefala. Sorry about the false report.  I thought I was running the latest version.

[2020-08-15 13:56] frosencrantz commented on #660
Yes, that is a good location.  That is where it currently is and that has been good for me.   Thank you @saulpw!

[2020-08-15 14:06] frosencrantz commented on #662
I would find it useful to be able to scroll the values in a column to the right edge when they are long. This seems useful when looking at hierarchical values (e.g. full filenames) where the right side has the distinguishing part of the value.

Or be able to put the part of the column value that is elided in the middle, when the useful information is on the edges of the value.

[2020-08-15 18:31] geekscrapy commented on #662
@frosencrantz you're referring to more of a column value alignment feature?
![20200815_223218](https://user-images.githubusercontent.com/11225502/90319239-47e3b980-df47-11ea-883a-73929cb1bf2e.jpg)

@saulpw I'll upload an example soon

[2020-08-15 20:41] lxcode opened #663 "JSON list/dict expansion only expands items present in current row"
When analyzing Twitter JSON, there is an "entities" object that can variably contain urls, hashtags, or user mentions. When expanding columns in this data, only the types included in the current row are expanded.

For example, if the "entities" column of the selected row has hashtags present but no urls, new columns are created for hashtags. Columns are never created for the rows in which "entitie

[2020-08-16 01:15] ajkerrigan commented on #663
Hey there @lxcode - that feature has been updated a bit since v1.5.2, in part to address the inconsistent expansion behavior you mentioned. If you're up for trying your analysis using the [v2.x](https://www.visidata.org/v2.x/) release, the expand should work more like you'd expect. Let us know how it goes!

(On a related note, v2.-4.0 also introduced the `unfurl-col` command. It's a cousin to `exp

[2020-08-16 17:57] lxcode commented on #663
Yup, can confirm it expands all fields in the 2.x release. Thanks!

[2020-08-16 18:52] #663 closed, assigned to nobody

[2020-08-17 04:35] anjakefala commented on #640
Key columns can now be re-arranged!

[2020-08-18 05:11] #660 closed, assigned to nobody

[2020-08-18 05:15] anjakefala commented on #662
@saulpw added `scroll-cells-*` bound to `[g]z{hjkl}` which you can use to scroll through a row within the visible portion of a column. =) Give it a whirl!

[2020-08-18 05:15] #662 closed, assigned to nobody

[2020-08-18 05:19] ZelenyeShtany opened #665 "How to programmatically set value for current cell(within Python code)?"
Please help me, guys
I want to write my own command(via command() ) where I set a specific value for a cell under cursor. How do I do this?

[2020-08-18 05:22] saulpw commented on #665
Hi @ZelenyeShtany, you want `cursorCol.setValue(cursorRow, value)`.  Hope this helps!

[2020-08-18 05:22] #665 closed, assigned to nobody

[2020-08-18 05:22] anjakefala commented on #665
A reference: https://github.com/saulpw/visidata/blob/develop/visidata/sheets.py#L1009

=)

[2020-08-18 08:43] ZelenyeShtany commented on #665
Thank you guys very much!

[2020-08-18 14:17] geekscrapy commented on #535
Had a look at this as it was bugging me, so came up with this if anyone else needs it!

License: It work(ed|s) for me :) But happy to edit if anyone has improvements for it!

https://github.com/geekscrapy/visidata_plugins/blob/master/capture_named_col.py

This now allows me to load any text file with vd using:
`vd https://raw.githubusercontent.com/elastic/examples/master/Common%20Data%20Formats/ap

[2020-08-20 08:01] saulpw commented on #661
This is a good idea, @anjakefala, I've wanted this myself many times.  I added a `type-floatsi` (bound to `z%` for now), that displays a normal float with their SI prefixes.

Parsing is also a good idea, but let's make it a wishlist item for now.  It may be able to happen naturally if we make a 'units' module that can parse and/or convert various unit and currency symbols/abbreviations.

[2020-08-21 03:30] anjakefala commented on #661
Sounds good!

[2020-08-21 06:43] saulpw commented on #595
From https://twitter.com/Peder2911/status/1296364906581827584:

I love this phrasing, especially "punches above its weight".

[2020-08-21 06:44] geekscrapy commented on #661
RE @anjakefala original post. Interested in how this might work, as I have a similar idea I want to do.

How would vd determine the type of format to convert to? Choice selector like aggregator choice, or maybe based on the `col.name` or sheet type?

[2020-08-22 06:36] blais commented on #178
I came across this problem too.
I found the source.
I typically run my own build of Python from source (on Ubuntu).

The presence of this function appears to be conditional on an autoconf value: `HAVE_NCURSESW`
https://github.com/python/cpython/blob/master/Modules/_cursesmodule.c#L1455

ncursesw is ncurses w/ UTF8 support.

I installed that build of curses:
[code]

and rebuilt Python from sources

[2020-08-22 19:09] frosencrantz opened #667 "[pyobj-cell] Trying to pyobj-cell on a list stack traces"
**Small description**
[pyobj-cell]  Trying to pyobj-cell on a list stack traces

**Expected result**
Dives into list.

**Actual result with screenshot**

https://asciinema.org/a/uxKjWFMGdGcBgMlOy9upipihc
[code]

**Steps to reproduce with sample data and a .vd**

[code]
Type z Ctrl-Y  pyobj-cell

**Additional context**
Please include the version of VisiData. Latest version from develop branch

[2020-08-22 19:09] frosencrantz opened #668 "[expand-cols undo] undo does not consistently work for expand-cols"
**Small description**
Undo doesn't always work with expand-cols, and can leave columns behind.

**Expected result**
Expanded columns are contracted.

**Actual result with screenshot**
https://asciinema.org/a/AoxbEyqboRGYNTfcx5MfsoSm6

**Steps to reproduce with sample data and a .vd**

The issue seems to happen when many columns are created:
[code]
expand-cols g(
then undo

contract-col seems to wo

[2020-08-22 19:10] frosencrantz commented on #662
@geekscrapy, that is closer to what I would find useful; the ability to align the values.  But also I would like to have some control over how the values are shown when there is not enough space to show the whole value. Below are a few, but there are more options. @saulpw not sure if this is of interest to you...

[code]

[2020-08-22 19:11] frosencrantz commented on #603
Hi @Mesibov ,

Contributions are welcome.  I don't think Saul will change the defaults for this.  You are welcome to create visidata_plugins repository with any code you create, and @saulpw and @anjakefala  can include it in the plugin directory if you want.

Also, if you are looking at customizing your environment Saul provided a small Python script here to create a ~/.visidatarc file that contai

[2020-08-22 20:26] geekscrapy commented on #662
Yea, I've been away from my project for a while, but my main use case is file paths, windows event log, and url requests in web logs. Exploits against we servers are often long in length and can deviate at any point in the URL string, so being able to view parts of the string (unknown offsets) is something I need often. Also, its often useful to compare other requests around that time to see what

[2020-08-22 20:28] geekscrapy commented on #662
To add, ideally I'd be able to just keep pressing the right key to see more of the Columns value if it was too long, until it hit the end of the longest value on the screen, then the next column would start to be shown. Like in Excel if you have wide Columns

[2020-08-22 21:09] saulpw commented on #662
Well, what we added is probably all there will be for awhile, as it was reasonably easy-to-implement and provides a decent amount of functionality.  I could see adding a disp_truncator to the beginning when `offset > 0` maybe.

Also you have a fair amount of flexibility here; you can set `cursorCol.offset` to any positive value for left-alignment and any negative value for right-alignment.  I can

[2020-08-28 03:34] anjakefala commented on #667
Fixed in this commit a870943c97b0d =)

[2020-08-28 03:34] #667 closed, assigned to nobody

[2020-08-29 05:50] mappum opened #671 "Error trying to connect to MariaDB"
**Small description**
I'm trying to use visidata with my MariaDB but it errors on connect.

**Expected result**
It should open visidata with the DB data.

**Actual result with screenshot**
![](https://i.imgur.com/Sp5xWbS.png)

**Steps to reproduce with sample data and a .vd**
See above.

**Additional context**
Visidata version: `saul.pw/VisiData v1.5.2` (installed via `pip3`)
MariaDB version: `mar

[2020-08-29 06:13] anjakefala commented on #671
Welcome @mappum!

mysql is still on the cutting edge of VisiData, for the upcoming 2.0 release, on the develop branch. If you wanna play with that branch, you install it with these instructions: https://www.visidata.org/install/#git

=)

[2020-08-29 06:13] #671 closed, assigned to nobody

[2020-08-31 05:46] mlawren opened #674 "Standard "--version" option removed in version 2?"
**Small description**

The "--version" option is fairly standard for command-line tools, is present in the stable version of Visidata (1.5.2?), but is not present or functioning properly in version 2.-4.

**Expected result**

    $ vd --version
    saul.pw/VisiData v2.-4

**Actual result with screenshot**

Running "vd --version" has the same behaviour as if "--version" was not used at all. I.e. "D

[2020-08-31 07:22] saulpw commented on #674
Thanks for pointing this out, @mlawren.  We updated the CLI arg-parser recently and this one just slipped through the cracks (`--help` right below it is specified correctly).  Should be fixed now!

[2020-08-31 07:22] #674 closed, assigned to nobody

[2020-08-31 07:25] saulpw commented on #595
From https://twitter.com/spookylukey/status/1299314579282026498:

[2020-08-31 09:04] aborruso opened #675 "null data in input describe sheet"
Hi,
I have VisiData v2.-5dev.

Starting from this input file

[code]

when I open it, and then run `shift + i` I have

|column  |errors  |nulls  |distinct  |mode  |min  |max  |sum  |median  |mean  |stdev  |
|--------|-------:|------:|---------:|------|-----|-----|-----|--------|-----:|------:|
|a       |0       |0      |3         |      |     |     |     |        |      |       |
|b       |0

[2020-09-02 09:50] geekscrapy opened #676 "[v2.5] gO throws uncaught error"
**Small description**
If I open any sheet and `gO` I get the error below. I have tried this whilst my plugins are disabled and get the same.

**Expected result**
For the exception to be caught within vd (and shown in `vd.status`)

**Steps to reproduce with sample data and a .vd**
- `vd .`
- type `gO`

[code]

[2020-09-02 22:34] suntzuisafterU opened #677 "Incorrect date conversions"
First I would like to say thank you so much for this software, it has revolutionized the way I work.

**Small description**
When converting dates of the form dd-mm-yyyy with the `@` command, conversion is incorrect.
For example 08-02-2020 becomes 2020-08-02 which is mixing up the day and month;
while            16-02-2020 becomes 2020-02-16 which is correct;

These values are all in the same colum

[2020-09-03 00:04] saulpw commented on #677
Hi @suntzuisafterU, thanks for the report.  This is tricky, because we use the python-dateutil library for date parsing (one of our few core dependencies), and while it's a great library, it doesn't expose its internals.  So, we can't use it to detect the date format across many values and then e.g. use the mode of those formats to parse all of the values.

One idea that comes to mind, is to make

[2020-09-03 16:02] geekscrapy opened #679 "Uncaught exception if splitwin-swap, -g and --debug is used when only one sheet in stack"
**Small description**
When `-g` and `--debug` are used as cli args and there is only one sheet in the stack, and `splitwin-swap`/`TAB` is commanded/pressed, a critical, uncaught exception is raised and `vd` exits.

**Expected result**
For a status to show stating `IndexError: list index out of range` like normal.

**Actual result with screenshot**
Exception is below

[code]

[2020-09-04 02:05] anjakefala commented on #676
Thanks @geekscrapy for the bug report! Should be fixed on `develop` now. =)

[2020-09-04 02:05] #676 closed, assigned to nobody

[2020-09-04 03:00] anjakefala commented on #679
Hi @geekscrapy!

The uncaught exception is expected behaviour for `--debug`. =) That is intentional with its usage.

However, you did catch a bug with it! I pushed a fix to `develop`. splitwin-swap will now handle cases of <2 sheets.

[2020-09-04 03:00] #679 closed, assigned to nobody

[2020-09-04 16:07] aborruso commented on #675
Am I the only one that has this behavior?

[2020-09-04 16:40] anjakefala commented on #675
No @aborruso! This is a bug specifically with that option, but I want to fix it for *all* the options that have this problem, so it is going to take a bit longer to have a fix. =)

Current workaround is to prefix the option with `-g` to set it globally. The issue is that the function that is calculating whether a cell is Null is pulling from the global options, not from the sheet specific ones.

[

[2020-09-05 14:35] jsvine opened #680 "Error when loading .xlsx sheets with empty column names for non-empty columns"
**Small description**

Currently on the `develop` branch (9f5411d), `.xlsx` sheets with empty/`None` column names for non-empty columns do not load properly.

As a demonstration, see these these two files:

- [example-good.xlsx](https://github.com/saulpw/visidata/files/5178199/example-good.xlsx)
- [example-bad.xlsx](https://github.com/saulpw/visidata/files/5178198/example-bad.xlsx)

The `good` ver

[2020-09-05 16:21] frosencrantz commented on #661
Thanks for adding this @saulpw !

I tried this new feature, but had some difficulty at first because I misunderstood how it worked.

I tried:  `df -h | vd -f fixed`

Thinking Visidata would be able to parse and understand the human format of values, but that is not what this change does.
So the correct way is to send it in without the -h, and then have Visidata look at the number and then it will

[2020-09-05 16:21] frosencrantz opened #681 "[paste column] Better feedback from setcol-clipboard"
I didn't read the documentation and Visidata didn't offer helpful hints.

I tried to copy the contents of one column from one table to another, and it didn't work.
I thought I had a bug, but it was PEBCAK. I missed that setcol-clipboard requires a selection to paste into.
I tried pasting without a selection, since that is my mental model of how paste works.

Visidata could have been more helpful h

[2020-09-05 16:21] frosencrantz opened #682 "[regex] Add smartcase for regex selection"
Vim has a useful feature called [smartcase].  When doing regex searches it does a case-insenstive search if the pattern contains only lower case letters, while it does a case-sensitive search if the pattern contains upper case letters.

That would be nice for the commands that do regex selection.

[smartcase]: http://vimdoc.sourceforge.net/htmldoc/options.html#'smartcase'

[2020-09-05 16:21] frosencrantz opened #683 "[watch]: Add a way to automatically reload a data source based on time or other event."
The Unix `watch` command periodically runs the same command so you can see the results over time.
It would be useful if Visidata could automatically reload the same data source after a specified time.

It would also be useful if Visidata could run a command as a data source.  Currently it can only open files or URLs.

[2020-09-06 04:26] anjakefala commented on #680
Hi @jsvine!

Thanks for the bug report. =)

It seems that pyxlsx returns `None` for blank column names, and in Python lists that contain a `None` cannot be joined. I added a line of code to handle that.

This should now be fixed on `develop`.

[2020-09-06 04:26] #680 closed, assigned to nobody

[2020-09-06 12:36] jsvine commented on #680
Thanks, Anja! Can confirm that the fix is working for me.

[2020-09-06 13:50] suntzuisafterU commented on #677
Hi @saulpw,

The suggested method will work to solve my current issue. I'm more concerned with possible errors in the future though. For example the reason I found this error was that a related column was monotonic. In my opinion it would be best to throw an error if appropriate, however after looking at the source for this package and dateutil I agree that this is tricky.

Is it possible to attac

[2020-09-06 17:44] geekscrapy commented on #677
I'd agree this is probably going to be overlooked by casual users (and myself) and might lead to some miscalculations. Fortunately, I've not come across it as I always work with a set date format that cannot be interpreted wrongly.

I thought this was a great point so posted it on the dateutil lib issue list, see what comes of it!

[2020-09-06 17:52] geekscrapy commented on #677
I think the method you suggested @saulpw would be a great stopgap to force the correct format!

[2020-09-06 18:30] saulpw commented on #677
@suntzuisafterU we could consider this if dateutil provided the date format it used to parse :)  Otherwise I'm not sure how to make this happen easily.

[2020-09-06 20:37] suntzuisafterU commented on #677
Sounds good. I will use the method you described for now.

[2020-09-06 21:22] saulpw commented on #677
Well it won't quite work without `customdate` which hasn't been written yet :)

[2020-09-07 16:43] mapa17 opened #684 "Question: Filter columns"
Hello visidata community,
I believe this to be a quite frequent use case, but I somehow don't manage to be able to solve it myself.

**How can I filter columns by column name?**

I know, that I can remove columns with - (set their width to zero), but is there an easy way to somehow select columns in column sheet and than only show those in the source sheet.

thx!

[2020-09-07 16:47] aborruso commented on #684
You could open columns sheet using `shift + c` and then use regex on fields column

[2020-09-07 16:59] saulpw commented on #684
Hi @mapa17 ... yes, as @aborruso suggests, go to the Columns Sheet, use Regex to select the columns you want to hide, and then use `g-` to hide them.  (or `ge` to set the widths to 0, etc)

[2020-09-07 16:59] #684 closed, assigned to nobody

[2020-09-08 17:34] saulpw commented on #677
The dateutil parser provides `dayfirst` and `yearfirst` kwargs.  We can add options `date_dayfirst` and `date_yearfirst` to be passed through to the parser to get you what you want.  Still not automatic but at least makes it possible.  (and I'm guessing most of your dates are formatted in the same way, so you can set it in your .visidatarc as your personal default).

[2020-09-09 06:03] suntzuisafterU commented on #677
My understanding of the `dayfirst` and `yearfirst` kwargs was that they only apply to `yy-mm-dd` and `dd-mm-yy` formats, not `yyyy` formats.

From the doc string: https://github.com/dateutil/dateutil/blob/master/dateutil/parser/_parser.py#L247
[code]

Maybe this helps:

`dateutil.parser.isoparse` takes a format string, and could be used to implement `customdate`.
https://github.com/dateutil/dateut

[2020-09-09 10:00] geekscrapy commented on #683
I'd love this also - maybe a watcher thread that does the check and issues a reload if required?

[2020-09-09 10:13] geekscrapy opened #686 "[v2.-5dev] pyobj-row on freq sheet throws error"
To reproduce:

1. Create a frequency sheet
2. Run command `pyobj-row`

[code]

[2020-09-11 20:59] ksalman opened #688 "How do I update a column expression?"
Sometimes I want to create a new column with a complicated expression and I don't get the expression just right. Instead of deleting the column and retrying, it would be nice if one could edit/update the expression that produced a column.

[2020-09-11 21:03] saulpw commented on #688
You can do this.  Just go to the Columns Sheet and edit the `expr` column.  The name won't change but it will use the new expr for computation.  You may have to use `z'` to reset the cache on the column.

If you want to edit the expr on the status line (instead of having to go to the Columns Sheet), you can make this too.  It should be a one-liner. (`col.expr=input("new expr: ", value=col.expr)`)

[2020-09-11 21:03] #688 closed, assigned to nobody

[2020-09-12 01:56] anjakefala commented on #686
Thanks for the bug report!

This has now been fixed in https://github.com/saulpw/visidata/commit/94c72b3db179f42cac439012de9835cb6f500a6f =)

[2020-09-12 01:56] #686 closed, assigned to nobody

[2020-09-12 04:10] anjakefala commented on #675
This should now be fixed on develop @aborruso!

Thank you *so* much for this bug report. =)

[2020-09-12 07:46] aborruso commented on #675
Hi @anjakefala ,
I have just launched `python3 -m pip install --upgrade --user git+https://github.com/saulpw/visidata.git@develop`.

If I open this file, running `vd input.csv`.

[code]

In the describe sheet I have no null (also using `--null-value=""`). Am I doing something wrong?

Thank you

[2020-09-12 14:16] anjakefala commented on #675
`vd --null-value="" test.csv` and `vd test.csv --null-value=""` work for me for that test case!

For it to look the same without the option set is expected.

**edit**: Oh, I am sorry, VisiData is recognising and marking them as Nones, but yeah, they are not showing up in the **DescribeSheet** as nulls. Okay, re-opening this issue until I understand what is happening.

[2020-09-13 00:10] anjakefala commented on #675
LET'S TRY NOW =D (with the option!)

[2020-09-13 00:10] #675 closed, assigned to nobody

[2020-09-13 03:57] frosencrantz opened #690 "[binning] Stack trace when numeric binning vlen column"
**Small description**
Stack trace when numeric binning vlen column

**Expected result**
Creates a binned frequency table

**Actual result with screenshot**
https://asciinema.org/a/6yN4Bjy1mqpIBPHw0UYygYuYL
[code]

**Steps to reproduce with sample data and a .vd**
[code]

[code]

**Additional context**
Please include the version of VisiData.  Latest develop version.

[2020-09-13 03:57] frosencrantz opened #691 "[DirSheet sort] Sorting the directory column of a DirSheet causes a stack trace."
**Small description**
Using the '[' or ']' on the directory column in a DirSheet causes a stack trace.

**Expected result**
Column sorted by directory name.

**Actual result with screenshot**
https://asciinema.org/a/FJrrGuR3HWWBRbp57OFFxpdKK

[code]

**Steps to reproduce with sample data and a .vd**
`vd -r .`
tap '[' or ']' in the directory column

**Additional context**
Please include the version

[2020-09-13 03:57] frosencrantz opened #692 "[hierarchy col] Add a way to show a hierarchy column."
There are different data sources, where the data is in a parent-child relationship, and it would be useful if we could visually see that in VisiData.

Some examples:
  - Sheets in the SheetsSheet many tables have a source that is another sheet.
     - when I have similar named files, and try to perform similar operations on them so I can compare I've found the SheetsSheet can be hard to read to fi

[2020-09-13 03:57] frosencrantz opened #693 "[type support] Better support for Python sets."
Feature request for better support for sets.

 - Currently diving into a Python set() only creates an empty table.
- Trying to expand a column of sets does nothing.
- Unfurling a set does work.

It is possible to get a Python set() via the aggregate distinct or via Python expressions.
Sets are useful way to model columns that contain tags.

My request is that when expanding a column of sets, VisiD

[2020-09-13 05:04] geekscrapy commented on #692
This is something I've thought about as I have the need to show process listings (which are from XML). I was thinking it might be best as a graph-like sheet instead of a tabular format

[2020-09-13 07:20] saulpw commented on #692
This is a good idea, @frosencrantz.  I've wanted this sometimes myself.  Not quite sure exactly how to do it, but it doesn't seem impossible.

Kondo'ed per wishlist policy.  (A Workflow Optimist subscriber on Patreon can keep it open and in our awareness.)

[2020-09-13 07:20] #692 closed, assigned to nobody

[2020-09-13 07:22] saulpw commented on #693
Makes sense, we could maybe use `(##)` as the display.  We'll keep it in mind.

Kondo'ed per wishlist policy. (A Workflow Optimist subscriber on Patreon can keep it open and in our awareness.)

[2020-09-13 07:22] #693 closed, assigned to nobody

[2020-09-13 07:52] saulpw commented on #683
This is a good idea, @frosencrantz.  The original prototype of VisiData (called "tpmenu") had this feature, to reload the page every N seconds.  It also had something like `addcol-derivative` which created a column with a derivative of the current numeric column (so you could calculate rate from totals, for instance).  It was really useful for monitoring network statistics.

Kondo'ed per wishlist

[2020-09-13 07:52] #683 closed, assigned to nobody

[2020-09-13 07:56] saulpw commented on #682
This seems pretty reasonable.  If we do this we should try to factor out regex expr matching so that it's done across the board.

Kondo'ed per wishlist policy. (A Workflow Optimist subscriber on Patreon can keep it open and in our awareness.)

[2020-09-13 07:56] #682 closed, assigned to nobody

[2020-09-13 09:49] aborruso commented on #675
It works, thank you!!

To have it as default, do I must add `options.null-value=""` to `.visidatarc`?

[2020-09-13 22:00] anjakefala commented on #675
Yes. =)

[2020-09-14 00:44] anjakefala commented on #668
This should be fixed now on `develop`. The problem was that with complicated async commands, sometimes `vd.activeCommand` would reset before the Undo was fully set. Undo requires a `vd.activeCommand` to set on.

We moved where `vd.activeCommand` is reset, and so this issue should not be occurring anymore. This is a risky change, and it is possible it would need to be reverted.

[2020-09-14 01:33] anjakefala commented on #690
Thanks for the bug report @frosencrantz! This should be fixed on develop now.

[2020-09-14 01:33] #690 closed, assigned to nobody

[2020-09-14 06:09] aborruso commented on #675
I have tried it, but it does not work.

However in my opinion an empty cell should be makked as NULL one by default (as it was in vd 1.5).

Thank you

[2020-09-14 18:00] anjakefala commented on #675
Sorry, it is `options.null_value = ""`! I was tired when I read this, and did not look at it closely. >_<

[2020-09-14 18:04] saulpw commented on #675
@aborruso Thanks for this suggestion.  I need to give it some thought but you may be right.

[2020-09-14 18:45] aborruso commented on #675
Thank you, it works

[2020-09-15 01:29] anjakefala commented on #691
Thanks for the bug report @frosencrantz! =) This should be fixed on develop now.

[2020-09-15 01:29] #691 closed, assigned to nobody

[2020-09-15 06:53] aborruso opened #699 "vd to explore a folder: set a default sorting option via display option"
Hi,
when I  use vd 2 to explore a folder, the records are sorted by modtime desc.

My propose is to add a display option to set a default starting sorting option: directory, filename, abspath, ext, size, modtime, owner, group, mode or filetype.

Thank you

[2020-09-15 10:53] geekscrapy commented on #640
@anjakefala ! Great work with the fix, works so much better 👍 A couple of things I've noticed, with sliding columns since this patch though (they may have existed before).

1. Non-key column slide issue
Replicate:
  - `vd .` to open a DirSheet
  - Move to the `ext` column
  - Do 2 `slide-right` so it is the last column
  - Do 2 `slide-lefts`
Expected - the `ext` column to be in its original positi

[2020-09-15 18:56] anjakefala opened #700 "[develop] There should be one CommandLog entry per command executed"
**Small description**
As a result of this commit: https://github.com/saulpw/visidata/commit/7b01e98c923b8bca2c297e85cc0f892b92f84b02 Using `exec-longname` results in the command executed having multiple entries in the **CommandLog**.

The problem is understood, but the approach needs to be figured out. We do not want complex commands to have undos missing, and we want only one entry in the **Comma

[2020-09-15 21:44] saulpw commented on #699
Hi @aborruso, thanks for the suggestion.  What would you set this option to yourself?  And would you set it globally in your visidatarc, or on the CLI for a specific use?

[2020-09-15 21:56] aborruso commented on #699
@saulpw  when I explore my PC content using folders, I have my default ordering that usually is by name (first folders and then files).
I have this default setting, that sometime I change.

It's in some way a background behavior, I have it without asking it every time I open a folder.

I would like to have it in the same way also for vd, then using visidatarc and not the CLI

[2020-09-18 01:32] joytianya commented on #595
When there is a lot of content in a cell, I want to view it, how can I view it all?

[2020-09-18 01:33] joytianya opened #701 "When there is a lot of content in a cell, I want to view it, how can I view it all?"
When there is a lot of content in a cell, I want to view it, how can I view it all?、
Can you open the details with a simple enter or a simple combination

[2020-09-18 02:45] ajkerrigan commented on #701
Hiya @joytianya - there are a couple ways to open the details of a big cell. One of these may cover what you're looking for:

- Use `z`+`ENTER` to open the cell in a new dedicated sheet
- Use `e` to begin editing the cell in-line, then `^O` while editing to open your default external editor ($EDITOR)

Sometimes I also like to quickly open a cell in my default system pager (`less` by default). In c

[2020-09-18 03:01] anjakefala commented on #701
Does anyone (@ajkerrigan included!) have any other ideas for viewing the full content of a cell? =) I can think of 2-3 other methods.

Thanks for asking @joytianya! This is a great question, and we are going to compile the answers into a FAQ.

[2020-09-18 03:13] ajkerrigan commented on #701
Ha, don't make us beg! I can't think of any other ones offhand, I'm curious about your 2-3 though :). (I'm assuming things like horizontal scrolling or using `v` to turn on wrapping don't count for this question, though they're still helpful in some cases.)

[2020-09-18 03:14] anjakefala commented on #701
You got one! Multi-row definitely counts. =)

[2020-09-18 08:19] geekscrapy commented on #701
`zY`, *opens sublime*, ctrl+v 😅

[2020-09-18 16:32] suvayu opened #702 "How does replaying actions on piped data work?"
**Small description**
I was trying to look at some quick directory stats, so I was piping to VisiData.  I did some transforms and saved the command log for replay later.  However I can't seem to replay when I am reading from a pipe.

**Expected result**
I expect replay to work and see this:
![vd-1](https://user-images.githubusercontent.com/229540/93621527-3882e080-f9cb-11ea-995e-7aab95189e44.png)

[2020-09-19 04:47] saulpw commented on #702
Hi @suvayu, I believe this works in the `develop` branch, which we'll be releasing as v2.0 in the next few weeks (or you can install a prerelease from github if you want it sooner).

BTW, you can use `#` (`type-int`) to do what you want, instead of adding `int(count)` and renaming it.  In case you wanted to save a few keystrokes :)

[2020-09-19 04:47] #702 closed, assigned to nobody

[2020-09-19 13:54] suvayu commented on #702
@saulpw thanks!  I tried out the develop branch, but something doesn't seem right.  The pipe works now, but the CSV is not being read correctly.  My script above produces an output like this for the VisiData repo:

    dir, count, size, unit
    bin, 2, 12, K
    deps, 3, 16, K
    dev, 26, 280, K
    docs, 29, 860, K
    plugins, 15, 68, K
    sample_data, 24, 616, K
    snippets, 7, 32, K
    te

[2020-09-20 21:12] frosencrantz commented on #702
Try one of these, they should both work:

[code]

[2020-09-21 01:20] frosencrantz commented on #701
`view-cell` ?   similar to `open-cell` which is `z` + `Enter`

I guess you could also split the cell value.   But I doubt this one is on the list...

I'd like to know, too.  :)

[2020-09-21 01:20] frosencrantz commented on #693
Yes, that would work.  Thanks @saulpw!

[2020-09-21 01:20] frosencrantz commented on #691
Thanks again, @anjakefala !

I'm not seeing as many bugs, which is a good thing if 2.0 is coming out soon.

[2020-09-21 01:21] frosencrantz commented on #692
Hi @saulpw

I'm still not a sponsor, and can not promise to at this point.

I do hope you can get a few more sponsors!  It looks like you've added Github sponsorship, too.  So is Patreon the preferred sponsorship? It would be good to say if you have a preference.

[2020-09-21 01:21] frosencrantz commented on #690
Too bad you can not count these for the Bug Off!  Thanks, @anjakefala!

[2020-09-21 01:21] frosencrantz opened #703 "[community question] Where does your data go after Visidata?"
I wonder how do people use Visidata in their workflows?

For me, I mostly use it to find insights about my data.  I might use that insight to take some immediate action, or I might use it as background understanding.  Sometimes I export a table (via [vdtabluate](http://github.com/jsvine/visidata-plugins#vdtabulatepy)) and share it with others.

Where does your data go after Visidata?
  - Are you u

[2020-09-21 01:22] frosencrantz commented on #683
I like the idea of the addcol-derivative.  I think that would be great.  The other thing that might be useful is a way to auto join on each reload, so that multiple input sources can be combined.

I do remember you saying something about the tpmenu in one of your interviews, though not by name.

Thanks, @saulpw.  I will wait until I can officially support the wishlist or a real sponsor does.

[2020-09-21 01:27] saulpw commented on #702
There are a couple of things going on here:

1. `-d` *does* work, but it requires the argument to be separated by a space now (perhaps this is why long-args need to use a double hypen).

2.  The `delimiter` option is used for the `tsv` filetype, but by default files are opened as `txt` (as you can see on the status line, and column name is 'text').  So @frosencrantz is right, if you pass `-f csv`

[2020-09-21 02:01] saulpw commented on #692
I understand, not everyone can offer financial support.  I just wanted to provide people an incentive to keep their favorite issue on our radar.  I'm still figuring out how things work best.  It's all a big experiment :)

[2020-09-21 02:40] anjakefala commented on #701
The final one is changing the width of the column with `_` or through the Columns sheet =)

[2020-09-21 03:12] anjakefala commented on #640
Hi @geekscrapy!

Issue 2 is because those are set key columns in the definition of the **DirSheet**, so they are fixed. If you un-key'd them, you could move them around.

I think issue 1 is for similar reasons...formal sheets with static columns behave differently than a standard sheet with dynamic columns does.

I do not think this issue is a blocker for 2.0, but I will leave it open for now. @sa

[2020-09-21 03:16] anjakefala commented on #668
This bug came up https://github.com/saulpw/visidata/issues/700

We decided to revert the fix, for now. This is being actively worked on.

[2020-09-21 05:34] geekscrapy commented on #640
Thanks for explaining @anjakefala - is static and dynamic the difference between setting columns with `columns = [...]` and `addColumn`? (From @saulpw s recent docs 🙂)

If this is the case, maybe some feedback for the user like the "cannot slide, at edge" would be best, but it would be "fixed column, cannot slide". And to also keep the column the you are trying to slide, selected even if it doesn'

[2020-09-21 06:05] anjakefala commented on #640
There are not limitations! There was an old api for setting key columns, and some of the sheets with statically defined columns makes use of it. When I was doing all my sliding fixes, I did not take into account that api or erase all the instances of it. I think it is the  `nKeys=x` statement that is breaking my work.

So it is just buggy at the moment for those specific sheets, and I will fix it

[2020-09-21 09:55] suvayu commented on #702
Hi @frosencrantz thanks, both alternatives worked :)

@saulpw, I tried `-d ,` as well as `-d \,` - neither worked.

With `-f csv`, the replay didn't work at first, the pipe was again being interpreted as text.  However your explanation about `-g` prompted me to try: `cmd | vd -g -f csv -p cmdlog.vd`. This worked well.  Although, now the replay file is still opened as the first sheet, and the pipe

[2020-09-21 23:54] lxcode opened #705 "regex/capture split for rows"
It would be super handy to be able to specify a capture pattern for duplicating rows. For example, if you had a text field that had multiple URLs, e-mails hashtags, etc, you could specify a capture pattern, make one row for each capture as well as a new column for the capture results, and then you can do a frequency analysis to find the most common ones in the dataset.

So for example:

`"A tweet

[2020-09-22 00:42] ajkerrigan commented on #705
Hmm that's an interesting idea. I thought perhaps that `capture-col` (`;`) would cover that, but I tried a couple different variations and it didn't work the way I was expecting.

I'm sure other folks will jump in with some solutions, but I can offer a workaround in the meantime at least. Assuming you were starting with a sheet like this:

[code]

You could use `=` to create a new column using the

[2020-09-22 01:24] saulpw commented on #705
Hi @lxcode, this is an interesting request.  We could make a `capture-col-all` (bound to `g;`) that uses `re.findall()` instead of `re.search()`, which would create a column with a list of matches that you could then expand or unfurl as @ajkerrigan suggests.

[2020-09-22 01:30] saulpw commented on #703
This is a great question, @frosencrantz!  Just yesterday I found myself using `gs` `gzY` (`select-visible` then `syscopy-cells`) to copy a column of values to my system clipboard, which I then pasted into vim.

I also wonder if most people know about `Ctrl+Q` when combined with stdout redirect (which makes vd into a kind of interactive selector in the middle of a pipeline).  I hope other people wi

[2020-09-22 02:04] ajkerrigan commented on #703
Sweet question :). (Also appreciate the mention of [vdtabulate](https://github.com/jsvine/visidata-plugins#vdtabulatepy), I've scrolled right past that and never used it before!)

Sometimes. I've used VisiData with [vfake](https://github.com/saulpw/visidata/blob/develop/plugins/vfake.py) to get scrubbed data from private sources. It's nice to have a safe, quick way to interactively sample and scru

[2020-09-22 17:47] lxcode commented on #705
g; sounds pretty flexible and unintrusive to me. For the moment I just declared a few regex functions in my .visidatarc using @ajkerrigan's approach. Thanks!

[2020-09-24 17:49] skeept commented on #349
I also needed this functionality, I am still stuck on visidata 1.5.2.

This is what I came up with:

[code]

This works well enough for me because I am only trying to guess `int` and `floats` correctly I don't care about the other types.

The way I use this is I type `gr` when I open visidata and after that I type `g_` to adjust the with of all colomns.
I tried to following

[code]

to be able to

[2020-09-24 17:52] skeept commented on #349
As I think about it it would be even better to be able to call these every time I open visidata even without having to call the keystroke, or I would like to try that for a while and see if I like that workflow. Is this possible?

Thank you again.

[2020-09-26 20:57] gennaro-tedesco commented on #275
Is it possible to set such option globally in `~/.visidatarc`, and if so, what is the corresponding grammar?

[2020-09-26 21:15] saulpw commented on #275
In current develop branch (soon to be v2.0), you can set `options.disp_float_fmt = '%.07f'` or whatever you like.

[2020-09-27 03:59] saulpw commented on #349
Hi @skeept, thanks for the code snippet!  As to your issue, in order to run a command, you'd use `execCommand("resize-cols-max")` *inside* the execstr.  You could also inline the execstr from resize-cols-max in your code, but since it's hard to do that with a single string, you probably want to factor that out into another function and have the execstr call that.

Unfortunately, while you can run

[2020-09-27 04:01] anjakefala commented on #700
This issue does not occur with this implementation: https://github.com/saulpw/visidata/pull/704

[2020-09-27 04:01] #700 closed, assigned to anjakefala

[2020-09-27 04:02] anjakefala commented on #668
This change should result in undos being more consistently set for expand-cols: https://github.com/saulpw/visidata/pull/704

Please update, and let me know if you run into any issues!

[2020-09-27 04:02] #668 closed, assigned to nobody

[2020-09-27 04:47] anjakefala commented on #640
I fixed things for the second issue! Now looking into the first issue.

[2020-09-27 16:56] skeept commented on #349
Hi @saulpw thanks for the suggestion. Using `excecCommand("resize-cols-max")` actually seems like a nice thing.
But I tried with

[code]

but got the following error:

` NameError: name 'execCommand' is not defined   `

Any idea how I can solve this?

[2020-09-27 18:02] saulpw commented on #349
This is on 2.x.  I think it is `exec_command` or `exec_keystrokes` on 1.5.2 (but may not work quite the same way).  Also I don't think you can have a one-liner for-loop like that?  But if it works it works.

[2020-09-27 19:03] skeept commented on #349
Thanks @saulpw .

`exec_keystrokes` works. Bellow is the code I ended up with. Look forward for release of `2.x`.

[code]

[2020-09-28 02:42] aac opened #707 "Incorrect command in man page for View traceback for most recent error(s)"
In the man page:

But the actual commands seem to be ^e and g^e.

[2020-09-28 02:58] anjakefala commented on #707
Hi @aac!

Yeah...That was intentional. We prefer the aesthetic of `Ctrl+E` and `^E` over `Ctrl+e` and `^e`. This applies to all of the Ctrl commands.

We are going to leave a note in the documentation mentioning that, because yes, that can definitely be confusing.

[2020-09-28 02:59] aac commented on #707
Ahh, got it. Fair enough. Feel free to close?

[2020-09-28 03:28] anjakefala opened #708 "[v2.-5] Cannot save a list of **dates** or dict of **dates** to json"
**Steps to reproduce with sample data and a .vd**
Open `benchmark.csv`.
Use `@` to make the `Date` column a **date** type.
Use `=` followed by *[Date]* to place it in a list.
Try to save to *benchmark.json*.

**Additional context**
v2.-5

[2020-09-28 05:06] anjakefala commented on #708
@ajkerrigan fixed this! :tada:

[2020-09-28 05:06] #708 closed, assigned to nobody

[2020-09-28 18:22] lxcode opened #711 "Expressions run on truncated data instead of full field"
**Small description**

When running a Python expression on a field, the full field isn't evaluated.

**Expected result**

The full field would be evaluated.

**Actual result with screenshot**

I use a regex (re.findall(r'\B#\w\w+') to extract hashtags from tweets. Unfortunately, when I extract from tweets where the full tweet text is truncated, I get truncated hashtags:

<img width="229" alt="Scre

[2020-09-30 04:13] anjakefala commented on #640
I think this might all be fixed now... :tada:

Thanks for hanging in there, and giving me the test cases!

[2020-09-30 04:13] #640 closed, assigned to nobody

[2020-09-30 18:11] dbrodie opened #712 "Histogram on lists"
Right now running a histogram on lists is not very valuable at the moment is it does a histogram on the length of the list.

I would like to do a histogram based on the items in the list. For example, on this JSON data and opening (vd test.json):
[
    {
        "name": "Bob",
        "tags": ["A", "C"]
    },
    {
        "name": "Ray",
        "tags": ["A"]
    },
    {
        "name": "John",

[2020-09-30 18:31] saulpw commented on #712
If the lists are small, try converting the columns to string format with `~` and then getting a freq table for that.  How close does that get you to what you want?

[2020-09-30 21:29] geekscrapy commented on #712
I would probably `unfurl-col` the tags column and then do a Freq on that column? Should give you exactly what you need.

Unfurl: #623

[2020-09-30 21:52] saulpw commented on #712
Ah, I misread at first, and I think @geekscrapy is right.  unfurl followed by freq is what you want.

[2020-10-01 05:43] dbrodie commented on #712
Interesting. Looks like it. It's not exactl, but I think it's close enough.
I'll close for now, thank you!

[2020-10-01 05:44] #712 closed, assigned to nobody

[2020-10-01 05:55] geekscrapy commented on #640
I'll give it a spin today! Awesome persistence @anjakefala and great work. Thanks very much

[2020-10-01 07:40] dbrodie commented on #712
Tried it out now more fully. Works great!

An amazing way to read email (after dumping all my emails from gmail as JSON) :)

[2020-10-01 09:38] geekscrapy commented on #640
Working like a charm!!!

[2020-10-02 07:26] geekscrapy opened #713 "[v2.-5dev] add-row in ThreadsSheet causes uncaught exception"
As per the title 😀

I accidentally hit `a` and found this...

[2020-10-04 08:49] geekscrapy commented on #640
@anjakefala - this feels massively better than better! However I have come across a case where something seems to be amiss. I appreciate that it maybe not a priority now as it's working 100x better than before but I thought I'd log it here.

Using the following:

`vd https://raw.githubusercontent.com/elastic/examples/master/Common%20Data%20Formats/apache_logs/apache_logs --play apache_logs.vd -w 5

[2020-10-04 23:14] anjakefala commented on #640
@geekscrapy Thanks for documenting! Right now, I am working on shipping 2.0. This is going to wait until after that. I need a break from sliding. =)

You are welcome to try your hand at fixing it!

[2020-10-05 23:44] saulpw commented on #713
Nice find, @geekscrapy.  I haven't seen one of those in awhile!  Should be fixed now.

[2020-10-05 23:44] #713 closed, assigned to nobody

[2020-10-06 08:14] geekscrapy opened #714 "[2-5] cursorColIndex does not provide accurate index"
**Description**
When using `cursorColIndex` my instinct is that it should provide the column index. It seems to do this correctly unless the col is a keycol.

**Scenario**
You have many columns, some of which are offscreen. You scroll to the right (previously off screen) and make a couple of these (previously) off screen columns, keycols.

**Example**
If you use a command on one of these new keyco

[2020-10-06 08:32] saulpw commented on #714
These should always be true:

- `columns[cursorColIndex] == cursorCol`
- `visibleCols[cursorVisibleColIndex] == cursorCol`

I think what you want, is for addColumn to take a visibleColIndex, instead of a colIndex.  We should review all uses of addColumn that use index=, and see if this is a reasonable API adjustment--it might be better all around.

[2020-10-06 08:43] geekscrapy commented on #714
For testing, is there a way to see these values at runtime?

[2020-10-06 08:48] geekscrapy commented on #714
Should I be able to see `cursorVisibleColIndex` from `pyobj-sheet`? I see other related values.
Or is there a way to get these values at runtime for debugging?

[2020-10-06 09:08] saulpw commented on #714
If you use ``g Ctrl+Y`` to open the current sheet object as a pyobj-sheet, both of those should be there.  You can also set a status option to include ``{sheet.cursorColIndex}`` etc.

[2020-10-06 09:37] geekscrapy commented on #714
I was being dense - yes, they are. Sorry

[2020-10-06 12:00] geekscrapy commented on #714
Ok, so a bit of testing later I think I understand what my expectations mean... Maybe.

Using `cursorColIndex` for any column which isn't a keycol is fine, you can use `cursorColIndex+1` as the value for `index` in `addColumn` and it adds in the expected location, with and without any previously hidden columns. As noted in the OP, this location is often unexpected, so therefore `cursorVisibleColIn

[2020-10-06 12:08] geekscrapy commented on #714
FYI - this is working to provide a reliable index: `cursorVisibleColIndex if cursorCol.keycol>0 else cursorColIndex`

[2020-10-07 19:17] skeept opened #715 "Guess column names based on file name"
I have some files which are essentially csv files without headers. They usually end with .dat. I have an alias to be able to open these directly:

[code]

This works well but then obviously I don't get column names.
But given that I know the column name based on the name of the file I am using the following hack:

[code]

So what I do is first use `gw` then use `C` to open columns-sheet and once t

[2020-10-08 01:42] saulpw commented on #715
Hi @skeept, this is an interesting question.  How about:

    vd.likelyColNames = {
       'file_1': "col1 cc2 cc3",
       'file_2': "co1 sr grn fetch",
    }

    Sheet.addCommand("gw", "set-col-names", 'for col, name in zip(visibleCols, likelyColNames(source.name).split()): col.name = name')

(untested, but hopefully works without too much difficulty)

[2020-10-08 03:14] saulpw commented on #714
If you have 2 keycols, and do an addcol on the first one, would you expect the added column to be a key column?  or would it be added as the leftmost non-key column?

[2020-10-08 03:51] saulpw commented on #711
Hi @lxcode, thanks for the bug report.  Can you create a small test case that exhibits this?  It doesn't have to be real data, or even data of any size.  Just something so that it's easier to repro as we go to fix it.

[2020-10-08 05:13] geekscrapy commented on #714
I'd say, as a keycol. Reasoning - your keycol is something of interest, therefore if you create a new column from that keycol, it's likely to be something of interest too. 3 other examples/thoughts:

An example of this was I had 3 keycols of dates. I wanted to do a gFreq over them to see the most common dates (YYYYmmdd). The resolution and `disp_date` of these date cols were to the second. I didn'

[2020-10-08 14:59] skeept commented on #715
Thank you @saulpw.

What I was missing was that I could use the `.name` to set the column name. With that I could solve the problem.
Here is what I ended up for reference in case it may help other users:

[code]

The last part is just a trick to have some columns that I ignore show up with a c and a number, for example `c2` in the case of file_1.dat above.

[2020-10-08 14:59] #715 closed, assigned to nobody

[2020-10-09 07:13] saulpw commented on #714
okay, thanks for sharing your opinion and reasoning, @geekscrapy, that's helpful.  I gave it a lot of thought, and I think the answer here is to add a new function, `addColumnAtCursor`.  99% of the uses of `cursorColIndex` were for this purpose, so I think we can probably deprecate `cursorColIndex` itself.  I made it so that if the cursor is on a key column, the new column will not be a key column

[2020-10-09 17:16] theosanderson opened #716 "It is unclear how to quit for new users without consulting docs"
I just Installed VD and got stuck in it, unable to quit, because I didn't know the shortcut, not unlike [this](https://stackoverflow.blog/2017/05/23/stack-overflow-helping-one-million-developers-exit-vim/). I expect I'm not alone. (Yes, I should have RTM).

Suggestion: You could add `(press q to quit)` to the `no active threads on this sheet` that users typically get on instinctively pressing `ctr

[2020-10-09 17:19] theosanderson commented on #716
I guess this actually applies to most command-line tools so I've reconsidered

[2020-10-09 17:19] #716 closed, assigned to nobody

[2020-10-09 17:30] saulpw commented on #716
Thanks for the suggestion, @theosanderson.   I tried to make quitting be as easy and intuitive as possible, and the first section of every tutorial, manpage, etc includes "how to get out of trouble", with `q` and `Ctrl+Q` at the top of the list.  When we audit all the messages in VisiData, we'll definitely consider adding something to `Ctrl+C` to help the process along.

[2020-10-10 23:57] saulpw commented on #699
With the recent change in `develop` branch, this will work now (in your `.visidatarc`):

[code]

[2020-10-11 02:12] #699 closed, assigned to nobody

[2020-10-11 02:23] #714 closed, assigned to nobody

[2020-10-11 02:27] saulpw commented on #711
I think what's happening here is that regex by default doesn't match after a newline.  You can enable multiline matching by setting `options.regex_flags = 'M'`.  Alternately, you can replace all newlines with spaces with the `*` (to create a new column) or `g*` (to replace in selected rows) and then input `\n/ `.

[2020-10-11 02:27] #711 closed, assigned to nobody

[2020-10-11 08:57] saulpw commented on #677
Okay @suntzuisafterU, try out the new `z@` and see if it fixes your issue.

[2020-10-11 08:57] #677 closed, assigned to nobody

[2020-10-11 17:22] jsvine opened #718 "Error/warning text on manpage"
**Small description**

When opening the manpage, I see the following error/warning text:

[code]

**Expected result**

No error/warning text.

**Actual result with screenshot**

<img width="568" alt="Screen Shot 2020-10-11 at 1 17 55 PM" src="https://user-images.githubusercontent.com/534702/95685167-38d65c00-0bc4-11eb-9b51-265a726e9b6c.png">

**Steps to reproduce with sample data and a .vd**

Eith

[2020-10-11 20:57] frosencrantz commented on #718
I guess this is what is a called a man-in-the-middle bug...  🙄

I'll  mention a loosely related issue I saw recently with trying to use VisiData with AJ's  Gitpod integration (from current head), which doesn't have man installed.  Visidata is not able to show the standard help page if the man command is not installed.

[2020-10-11 21:35] frosencrantz opened #719 "[guidance] Guidance on default keystrokes for plugin commands"
Would it be useful to provide some guidance on the default keystrokes that plugins should use?

There is a plugin I'm using which does an  that overrides a default keystroke for a builtin command I use.
I can remap the commands from my .visidatarc file, so this doesn't stop me, but does add inconvenience when installing the new plugin.
Also, I'm not sure what happens if there is a longname conflic

[2020-10-11 22:58] anjakefala commented on #718
That is an expected failure! The manpage is written in `groff`, you need `man` installed to parse it. =( That is why we upload a copy of it online, for folks on systems without `man` installed. I will set it up so that you can view a copy of both 1.5.2 and 2.0 manpage online.

Also, thanks for reporting the bug @jsvine!

Amusingly, I cannot find it right now, but I think on either the man pages fo

[2020-10-11 23:03] anjakefala commented on #719
Thanks for bringing this up! This is a reasonable concern.

We do provide a Leader key prefix (`Alt`, documented [here](https://www.visidata.org/docs/develop/api/commands.html#keybindings)), and we do try to review for things like "longname conflicts" and potential keystroke conflicts when we are curating the plugins.

Leaving this open in case @saulpw has more that he wants to add. =)

[2020-10-12 00:55] jsvine opened #720 "`random-rows` command no longer available"
**Small description**

Longname command `random-rows` appears no longer to be available.

My guess is that this is because https://github.com/saulpw/visidata/blob/develop/visidata/max.py is not imported into the global namespace.

**Expected result**

Users should be able to run `random-rows` command.

**Actual result with screenshot**

After raising the longname command prompt with `Space`, and t

[2020-10-12 01:15] saulpw commented on #720
Thanks for reporting, @jsvine.  Just slipped through the cracks  Should be back in now.

[2020-10-12 01:15] #720 closed, assigned to nobody

[2020-10-12 01:22] jsvine commented on #720
Super, thanks!

[2020-10-12 05:01] saulpw commented on #719
Yes, as @anjakefala mentions, `Alt` is our user-defined keystroke space.  Maybe we should enforce it for plugins, unless they are extending an existing command.

@frosencrantz, you can add your own leader key to `vd.allPrefixes` as documented on that same page, and then use it for your own command bindings.  Does that page answer most of your questions?

[2020-10-12 05:01] #719 closed, assigned to nobody

[2020-10-12 05:44] saulpw commented on #705
Kondo'ing for now.

[2020-10-12 05:44] #705 closed, assigned to nobody

[2020-10-12 05:52] saulpw commented on #701
There's also `zh` `zj` `zk` `zl` now in 2.0, to change the offset with a column's cells, so you can "scroll" through contents, if the first cell width/height is not differentiating enough.

[2020-10-12 05:52] #701 closed, assigned to nobody

[2020-10-13 11:40] frosencrantz opened #723 "[savers] Tabulate savers all save same format"
**Small description**
Tabulate savers all save same format

**Expected result**
Savers save in named format

**Actual result with screenshot**
**Steps to reproduce with sample data and a .vd**

[code]
Save a file with the new tabulate formats.  benchmark.csv  to benchmark.plain
The format is not plain.

It looks like the bug is here: https://github.com/saulpw/visidata/blob/d67612c935bab59faea6e130

[2020-10-13 20:40] charlie17 commented on #609
Any movement on this for v2? Was hoping...

[2020-10-13 21:34] lxcode commented on #711
Hi Saul, just dug into this a bit and this is actually my bad: the full_text field of Twitter API responses is truncated with the same truncation character visidata uses (\u2026) if the tweet is a retweet, shunting the actual full text into a sub-field. I assumed it was visidata doing the actual truncation due to the visual similarity.

I'll probably just change the truncation character so that I

[2020-10-13 23:37] saulpw commented on #609
Hey @charlie17, we have some ideas about how to build this, but it would be a fair amount of work any which way (and more for me, since I'm not a natural Windows developer).  What platforms do you use VisiData on currently, and how do you install it now?  Is there a benefit to you for a Windows installer besides convenience?

[2020-10-14 03:37] anjakefala commented on #718
Thanks again @jsvine! All of the errors should be fixed on the `develop` branch. This will be part of the next release.

[2020-10-14 03:37] #718 closed, assigned to nobody

[2020-10-14 12:05] charlie17 commented on #609
I have actually never used it, for this reason. You have generated a bit of buzz around the product, and it looks awesome - I've seen the videos, read some of the docs etc - but I'm a Windows guy for better or worse. I saw reference to WSL etc but that's just too much friction. Very keen to use it - I believe this fills a real market niche - but need Windows, and have to believe there are many out

[2020-10-14 12:13] yonist opened #725 "No module named 'curses'"
After installing on EC2 instance  with AWS Linux 2 and python 3.6 (using `pip install visidata --user`) I get the following error :

Traceback (most recent call last):
  File "/home/ec2-user/.local/bin/vd", line 3, in <module>
    import visidata.main
  File "/home/ec2-user/.local/lib/python3.6/site-packages/visidata/__init__.py", line 31, in <module>
    from .vdobj import *
  File "/home/ec2-use

[2020-10-14 17:57] anjakefala commented on #725
Hi @yonist!

This happens when the necessary developer package of `ncurses` is not available on an OS while Python is being built. Python requires those header files in order to build the curses module.

If you google the message, lots of different people offer various suggestions for fixing it. =) Good luck!

[2020-10-14 17:57] #725 closed, assigned to nobody

[2020-10-14 18:04] #707 closed, assigned to nobody

[2020-10-14 20:28] kbd opened #726 "[loaders xlsx] Provide hidden and active sheet indicators when opening spreadsheet"
When I open a spreadsheet in LibreOffice (or Excel...), it opens to the last-active sheet. VisiData first provides me a choice of a number of sheets, some of which are hidden in the Excel file, without indication of which is the active sheet. So if I get a spreadsheet given to me and want to explore it in VisiData, I can't tell which sheet the sender was intending me to look at without first openi

[2020-10-14 21:30] kbd opened #727 "[loaders postgres] Transaction error when viewing table"
[code]

After executing:

[code]

I get a correct list of the tables, but when I hit enter to view a table VisiData shows no data and I get the following error:

![Screen Shot 2020-10-14 at 3 20 38 PM](https://user-images.githubusercontent.com/728060/96046598-fe252b80-0e30-11eb-9ca4-9c468ee0919a.png)

Here's the traceback:

![Screen Shot 2020-10-14 at 3 23 46 PM](https://user-images.githubusercont

[2020-10-14 21:50] amotl commented on #595
Dear Saul and Anja,

while I've originally discovered VisiData some while ago, I finally had the chance to try it out after reading the announcement on HN [1]. I absolutely love it!

Congratulations for releasing version 2.0 and keep up the spirit!

With kind regards,
Andreas.

[1] https://news.ycombinator.com/item?id=24774947

[2020-10-14 22:55] anjakefala commented on #595
joytianya's comment was reposted in a separate issue: https://github.com/saulpw/visidata/issues/701

[2020-10-14 23:35] amotl opened #729 "[loader] Integrate generic SQL loader"
Dear @saulpw and @anjakefala,

[SQLAlchemy](https://sqlalchemy.org/) does not only provide the best-in-class ORM for Python, its underlying engine is also a gateway to many different databases on the SQL level. While the [list of databases supported by SQLAlchemy](https://docs.sqlalchemy.org/en/13/core/engines.html#supported-databases) enumerates all of the builtin backends, there are more databas

[2020-10-14 23:59] amotl opened #730 "Collecting use cases from the community"
Hi again,

it would be cool to start a collection of things how VisiData is used by others beyond what is currently on [1] and [2]. @IanCal added an example on [3] the other day. Enjoy!

Cheers,
Andreas.

[1] https://www.visidata.org/blog/2020/ten/
[2] https://www.visidata.org/docs/
[3] https://news.ycombinator.com/item?id=24774947

---

[2020-10-15 01:16] saulpw commented on #729
Hi @amotl, thanks for your comments and suggestion!  I've thought about using SQLAlchemy for the reasons you've indicated, but if I remember correctly, it seems you have to describe your schema using it, in order for it to work.  This is contrary to the usage of VisiData, which should be able to connect to an arbitrary database and allow you to interact with it without knowing the schema in advanc

[2020-10-15 01:38] amotl commented on #729
Hi Saul,

For using the full ORM functionality, working with declarative schemas defined in Python is the way to go, right. However, the ORM layer can also reflect the current schema from the database.

It should work by just using the SQLAlchemy dialect engine under the hood, completely skipping the ORM layer, see https://docs.sqlalchemy.org/en/13/core/engines.html.

Sure. Does [`generic_sql.py`]

[2020-10-15 01:51] amotl commented on #729
## Basics
- Connect to database
- Invoke SQL expressions
[code]
-- https://docs.sqlalchemy.org/en/13/core/connections.html

## List of tables
- Reflect list of tables
[code]
-- https://docs.sqlalchemy.org/en/13/core/reflection.html#fine-grained-reflection-with-inspector

## List of columns
- Reflect list of columns
[code]
-- https://docs.sqlalchemy.org/en/13/core/reflection.html#sqlalchemy.engine.

[2020-10-15 02:16] amotl commented on #729
Just to get you an idea. Please adjust to your operating system.
[code]

Alternatively, install the pure-Python MySQL driver.
[code]

Alternatively, use the MariaDB client.
[code]

[2020-10-15 03:12] saulpw commented on #726
Hi @kbd, thanks for the suggestion.  You can add this to your .visidatarc:

    XlsxIndexSheet.columns += [Column('active', getter=lambda col,row: row.source is col.sheet.workbook.active)]

It's a good idea and I've added it to xlsx loader to be included in the next release.

I can't see how to know if a column is hidden or not from the [openpyxl library](https://openpyxl.readthedocs.io/en/stable/

[2020-10-15 03:12] #726 closed, assigned to nobody

[2020-10-15 03:17] aswan89 commented on #729
The `generic_sql` plugin does not require foreknowledge of a target database schema to function.
SQLAlchemy can use a [DB URL](https://docs.sqlalchemy.org/en/13/core/engines.html#database-urls) to package a SQL dialect, connection credentials, and target database address in a single string. Right now my plugin exposes 3 openurl handler functions (Oracle, MySQL, and MSSQL) since they seemed to be m

[2020-10-15 03:20] amotl commented on #729
Oh, and because I just found @Mytherin has also starred this repository (maybe also @hannesmuehleisen?), we might think about also supporting [DuckDB](https://github.com/cwida/duckdb) through [duckdb_engine](https://github.com/Mause/duckdb_engine) by @Mause, see also https://github.com/cwida/duckdb/issues/305.

[2020-10-15 03:37] Mause commented on #729
Please be aware that it is very very very basic 😅 the python package for duckdb doesn't really expose enough information in results to be able to build a decent implementation

[2020-10-15 03:49] anjakefala commented on #730
This is really lovely @amotl! Thank you for sharing. =) Would you mind reposting this in https://github.com/saulpw/visidata/issues/595?

This was one of the aims of that issue. We want to keep our number of open issues to a single page, so I am going to close this one, and encourage people to share their stories in https://github.com/saulpw/visidata/issues/595.

:purple_heart: :bee:

[2020-10-15 03:49] #730 closed, assigned to nobody

[2020-10-15 04:38] amotl commented on #730
Can do, thanks for the advice. Maybe @IanCal wants to do that on his own behalf? Actually, I've hijacked his contribution from HN ;].

[2020-10-15 04:53] saulpw commented on #729
Thanks for chiming in, @aswan89, and for your work on the genericSQL plugin.  I forgot that you used SQLAlchemy (of course!)

And I'm sorry @amotl, I missed the main point of your original issue and responded as though it were just another loader or feature request.

The real request here, is for me to take on the maintenance of the SQL plugin.  I don't have ready access to test databases and it's

[2020-10-15 05:54] saulpw commented on #723
Thanks for finding and filing the bug, @frosencrantz!  I knew there were going to be some right out of the gate.

[2020-10-15 05:54] #723 closed, assigned to nobody

[2020-10-15 05:58] anjakefala commented on #703
Hi @frosencrantz!

To keep our issue counts manageable, I am going to close this issue, and direct folks to write aboutt where their data goes afterwards in #595. =)

Thanks for creating this lil space. :purple_heart:

[2020-10-15 05:58] #703 closed, assigned to nobody

[2020-10-15 06:01] anjakefala commented on #507
We created a basic [formats.jsonl](https://github.com/saulpw/visidata/blob/develop/dev/formats.jsonl) where we track information about the loaders we support. This data is also displayed at https://visidata.org/formats.

We decided to not make a checklist of minimal expected behaviour from a loader, because it is pretty hard to define a precise list for everything. I want to encourage loader creat

[2020-10-15 06:01] #507 closed, assigned to nobody

[2020-10-15 06:44] kbd commented on #726
Looks like it's:

[code]

(I couldn't immediately find if a worksheet knows its own name, hence the `zip`)

So, looks like `workbook.worksheets[i].sheet_state` is either "hidden" or "visible". Could show that column directly? Currently trying to figure out how to traverse to there in that getter function in your example (which works btw, ty!) so I can add the column to my sheet list.

[2020-10-15 07:10] kbd commented on #726
There we go:

[code]

[2020-10-15 07:44] saulpw commented on #726
Nicely done!

[2020-10-15 10:59] russellgoldenberg opened #731 "brew not upgrading to 2.0.1"
**Small description**
Trying to upgrade and the latest on homebrew (even after updating) says 1.5.2

**Expected result**
Expected to install 2.0.1

**Actual result with screenshot**
<img width="576" alt="Screen Shot 2020-10-15 at 6 56 32 AM" src="https://user-images.githubusercontent.com/324631/96114575-cb704700-0eb3-11eb-98e8-f64977a09991.png">

**Steps to reproduce with sample data and a .vd**

[2020-10-15 13:26] alekibango opened #732 "method visidata.view(obj) is not existing, moved to visidata.pyobj.view"
**Small description**
Web blog writes on https://www.visidata.org/blog/2020/ten/
that  i can view python object by:
[code]

**Expected result**
I expect examples from main webpage and from videos on youtube to be working :)
I exped the view method to be there.

**workaround**

After minute of source diving I found that I can do this:

[code]

I know 2.0 is big change. Maybe its not a bug, but a fe

[2020-10-15 13:36] alekibango commented on #595
I just found visidata and i am in love on first sight. Amazing tool!

[2020-10-16 00:36] amotl commented on #732
While the underlying API might have changed, I believe the short form is just neat.
[code]

Maybe we can just bring back the `view` function by importing it into the main module namespace? That would also save us from updating the documentation.

Currently, the output is:
[code]

[2020-10-16 04:59] anjakefala commented on #732
Yes, I had forgotten to expose `visidata.view`. I have now made that change on `develop`, and `visidata.view` will be part of the next release. I am going to adjust the blogpost so it works with the current version.

Thanks for bringing this to my attention!

[2020-10-16 04:59] #732 closed, assigned to nobody

[2020-10-16 13:59] amotl commented on #595
Coming from #730, @IanCal added an example on [1] the other day. Enjoy!

[1] https://news.ycombinator.com/item?id=24774947

---

[2020-10-18 09:10] geekscrapy opened #733 "Cannot remove sheet disp_date_fmt option"
I have a global setting for `disp_date_fmt` (e.g. %Y-%m-%d %H:%M:%S). When I want to override it for one particular sheet, I enter `zO` and provide my new format (e.g. %Y-%m-%d). If I then want to remove that format from the sheet at a later date (and let the global setting take precedence once again), I cannot. Setting it to "" (empty string) vd takes this as the format and the column values and

[2020-10-18 09:17] geekscrapy opened #734 "Using select-equal-cell to select dates"
When using `select-equal-cell` I have noticed that it only selects if the underlying cell value is equal. An example of this is with a date column.

*Scenario*
I have a column of dates with a resolution to a second, but that column has a `disp_date_fmt` of `%Y-%m-%d` (does not show the full resolution). I want to select all similar rows with the same date so I use `select-equal-cell`.

*Expecting*

[2020-10-18 14:02] ajkerrigan commented on #734
That's interesting, I haven't run into it before but I also would have assumed it would select based on the display value rather than the underlying true value.

Is there a place for both behaviors? Like maybe `z,` selects based on the underlying value because then things are `z`actly equal? 😁

[2020-10-18 15:03] geekscrapy commented on #734
@ajkerrigan At first, I think I'd agree, but then that would rely on me remembering what the actual underlying value is, and I can't think of an example when this wouldn't be the case. You? I mean, it's pretty much only a binding away (unless there is a significant code change to select the display value).

Thinking about it, this is likely working as designed. The getValue functions are quite slo

[2020-10-18 15:12] ajkerrigan commented on #734
Hmm @geekscrapy, thinking through it a bit more I'm realizing I have my date display format always include hours and minutes. And the only times I've _selected_ based on date, I've extracted the components I cared about into a dedicated column for that purpose. I guess that means practically I don't have a horse in this race concerning the behavior of `select-equal`. I'll be over here talking at m

[2020-10-18 15:31] frosencrantz commented on #703
It was very nice to see this pinned for a while.   I do think this is a different question #595

It is was great to hear from Saul and AJ.  I would have liked to hear from other regular contributors such as yourself. I was hoping it would generate more interest.

[2020-10-18 15:31] frosencrantz commented on #699
@saulpw   this was a nice response.  I like the current default, but this
provides a mechanism for those that don't.

I wonder if it would be more consistent with Visidata[1] to allow for this
to be a global option so it could also be passed on the command line and via
.visidatarc.

This would allow the user to change depending on their need.  I generally
prefer sorting by modified, but there are

[2020-10-18 15:31] frosencrantz opened #735 "[loader] Add a toml loader"
See this page: https://pypi.org/project/toml/

It answers both of these questions:

1) A small sample representative dataset in that format.

2) A basic Python script which queries and dumps the data (possibly using an external package).

I've started to see files in the format.  It would be nice to be able to use VisiData to read these files.

[2020-10-18 15:31] frosencrantz opened #736 "[input] Persist input() history"
There are multiple commands that ask for user input via input() and it's ilk.  It has a very powerful history feature, that has a concept of type.  This allows it to provide history in the right context.

It would be useful if VisiData could load and save history.  Even without save, load would be very useful.

It would be useful if the history file also could contain input-type information so tha

[2020-10-18 15:31] frosencrantz opened #737 "[github metadata] Update metadata."
After you have time to catch your breath.  It might be worthwhile to clean up some of the GitHub project metadata.

Some of the items that can help attract more interest would be:
   - Adding topics
   - Adding a Social Media Image
   - Update the README to a link to the Twitter account.
   - Adding community items like a "code of conduct" and a PR template.

[2020-10-18 15:32] frosencrantz opened #738 "[2.0] Congratulations on 2.0! 🎉"
Just wanted to say thank you so much @saulpw and @anjakefala  for getting 2.0 out!

Also, a couple other big accomplishments this week:
   - Breaking 3000 GitHub stars (and also 3100)
      - https://asciinema.org/a/366119
   - Making GitHub top 25 Python trending repositories for the day.
   - Getting more Patreon supporters  (now ~~26~~ 28)
   - Hacker News article about the 2.0 release
       -

[2020-10-18 16:01] geekscrapy commented on #736
I'll tag in this too. I'd love to be able to scroll through the history of past vd sessions. Helps when opening files of the same type one after another

[2020-10-18 23:22] ajkerrigan commented on #738
@frosencrantz nice touch plotting stars over time 😀

[2020-10-19 03:27] saulpw commented on #733
Hm, I can't repro this behavior with an empty string.  Are you sure the string is empty?  You could also try `zd` to set the cell to null, and see if that helps.  But this should work.

[2020-10-19 04:11] saulpw commented on #738
Thanks so much, @frosencrantz!  That's a really cute demo and graph of our star count.  And I didn't know we got in the Github top 25 trending!  That's amazing.  Thanks for cataloguing our progress.

[2020-10-19 04:49] saulpw commented on #737
These are good reminders.  What topics would you suggest, @frosencrantz?  And where does the social media image show up; could we just use the logo?

[2020-10-19 07:26] saulpw commented on #735
Noted and Kondo'ed.

[2020-10-19 07:26] #735 closed, assigned to nobody

[2020-10-19 07:42] saulpw commented on #734
The current behavior is useful for e.g. distinguishing a literal `None` from an empty string or an error, but I can also see how selecting based on the displayed value is more expected and intuitive.  I like @ajkerrigan's idea of `z,` (currently unbound) meaning `select-exact-cell`, and it's super easy to implement, so let's just go with it.

[2020-10-19 07:49] saulpw commented on #727
Hi @kbd, thanks for the bug report. I don't have this problem but my Postgres test rig is very simplistic. Have you been able to investigate this any further?

[2020-10-19 08:26] kbd commented on #727
@saulpw got the project set up locally but didn’t start digging into the Postgres loader yet. Will continue looking into it tomorrow.

[2020-10-19 08:32] saulpw commented on #681
I agree that it should fail if no rows selected; this is now implemented in 7e5c69ef796175f59fb6bf3bd66ae16b936914a2.

A warning in the other cases may be useful and probably setcol-clipboard execstr should be pulled out into a proper function and check for all the cases.  Kondo'ed for now.

[2020-10-19 08:32] #681 closed, assigned to nobody

[2020-10-19 08:33] #734 closed, assigned to nobody

[2020-10-20 01:39] reelsense opened #739 "[question] Ubuntu 16.04 upgrade issue"
**Small description**
Ubuntu 16.04 apt upgrade/install fails.

**Expected result**

Successful install/upgrade.

**Actual result with screenshot**

<details>
  <summary>(Click to expand code)</summary>

[code]

</details>

**Additional context**
Please include the version of VisiData.

2.0.1

[2020-10-20 02:09] anjakefala commented on #739
Hi @reelsense!

Since v2.0, VisiData requires `Python 3.6` and higher! The error you are seeing is related to Python f-strings, which are part of what contribute to the [Python 3.6 requirement](https://www.python.org/dev/peps/pep-0498/). Ubuntu 16.04 is EOL, and includes an earlier version of Python which is also EOL.

You can try installing an older version of VisiData through Debian, or pip. I r

[2020-10-20 02:09] #739 closed, assigned to nobody

[2020-10-20 12:35] geekscrapy opened #740 "Inner files are treated as -f foo type"
**Small description**
When trying to open a file which does not have the `.zip` extension (but is actually a zip) I use `vd -f zip foo.bar`. The file opens fine and I can see the inner files, however when I attempt to open one of them with ` ENTER` vd tries to open it as zip type (even if it has it's own extension) and throws the following exception (I have a zip file with manifest.json inside it)

[2020-10-20 15:42] bob-u opened #741 "Enter key results in ^M on windows"
**Small description**
Pressing enter results in ^M in terminal and message "no command for ^M".
**Expected result**
Pressing enter should execute the command, submit filter, etc.
**Actual result with screenshot**
If you get an unexpected error, please include the full stack trace that you get with `Ctrl-E`.

**Steps to reproduce with sample data and a .vd**
Please attach the commandlog (saved with

[2020-10-20 21:20] anjakefala commented on #740
Hi @geekscrapy!

This is actually a feature, not a bug: https://github.com/saulpw/visidata/issues/523. I agree that that makes the situation tricky where you have a `zip` file not appended with `.zip`. I think wanting to control the filetype of the inner files is the more common desire.

Maybe @saulpw has something to add on how we might make this better down the road, but for now, this is the des

[2020-10-20 21:20] #740 closed, assigned to nobody

[2020-10-20 23:00] saulpw commented on #741
Thanks for the bug report, @bob-u.  5ee1640 should fix this issue; we'll include it with the next release, or you can try it out yourself on the `develop` branch.

[2020-10-20 23:00] #741 closed, assigned to nobody

[2020-10-20 23:06] saulpw commented on #733
Hah, I was ignoring your actual repro, and using the columns sheet to set the fmtstr (which can be reset just fine).  The issue is that setting an option to `''` is not the same as unsetting the option (since sometimes you want to forcibly set an option to the empty string, even if it doesn't make sense for `disp_date_fmt`).  It seemed easiest to add an `options.unset()` function which does what i

[2020-10-20 23:06] #733 closed, assigned to nobody

[2020-10-20 23:59] bob-u commented on #741
Thanks!  Enter is working now on Windows.

[2020-10-21 00:03] reelsense commented on #739
16.04 is supported until 04-2021. The 16.04 repository supports Python 3.5. `pip3 install visidata` installs 2.0.1, like apt.

If someone else finds this in a Google search, this is how I replaced it with `1.5.2`:
`sudo apt remove visidata && sudo pip3 install visidata==1.5.2`

![](https://www.reactiongifs.us/wp-content/uploads/2013/08/dozens_of_us_arrested_development.gif)

[2020-10-21 03:44] rswgnu opened #742 "[UI] Add menus for command discovery"
VisiData is fantastic.

I just think it would be more accessible if you added menus to get at categorized operations.
Also, typing ? should show some help rather than backwards regex search.  I know you have a command that shows all key mappings in a sheet view but think of a new user just trying to find help initially.

Here is a writeup on how to create menus with the panel curses extension:
htt

[2020-10-21 03:49] rswgnu opened #743 "[UI] Simplify rebinding all keys in a particular category"
Think about finding a library that lets you allow for more flexible key sequences like Emacs where related bindings are all grouped under a prefix key, often a control key, and are easy to examine within that single key map.  Then one could explore sheet keys, filter keys, selection keys, all as a group by the type of operation or entity.

This would also help make VisiData more accessible to peop

[2020-10-21 05:33] saulpw commented on #742
Hi @rswgnu, thanks for the suggestions.  I agree that VisiData could use some menus to aid in command discovery, and now that 2.0 has shipped I'm gearing up to explore some ideas I have for a menu system.

As for `?`, it might not be the best binding overall, but it goes along with the vi commands `/` and `n` and `N`.  VisiData help is on `Ctrl+H`, which launches the manpage, searchable with those

[2020-10-21 05:33] #742 closed, assigned to nobody

[2020-10-21 05:51] saulpw commented on #743
Hi @rswgnu , thanks for the suggestion.  This would be a big project as stated.  I think your underlying desire could be fulfilled more reasonably by some other means, either already existing or more in line with the current roadmap.

That said, you're welcome to try and hack around with `vd.allPrefixes` and some kind of mass binding scheme.  See visidata.org/docs/api/commands.  Let me know if you

[2020-10-21 05:51] #743 closed, assigned to nobody

[2020-10-21 06:13] geekscrapy commented on #733
Thanks @saulpw this works, but it'll take some getting used to as it's unexpected and doesn't work like the columns sheet. But, technically it makes sense, as it's a `_fmt` option.

Have you thought of showing something like "unset" in the options sheet rather than a blank cell? This would hopefully do two things, 1. allow a user to instantly determine if they have set the option rather than an em

[2020-10-21 12:17] rswgnu commented on #742
Thanks for the detailed response.  I'll look forward to your menu ideas.

On the help key, C-h is fine and the man page reasonable.  Maybe there is a need for a quick help as well with a very short summary of most commonly used keys for selection, sorting, filtering and summarizing.

[2020-10-21 12:20] rswgnu commented on #743
I will have a look and feedback if I get anywhere.

[2020-10-22 17:59] bob-u opened #744 "[Windows v2.0] Enter does not work when trying to submit regex under windows."
**Small description**
when entering regex pressing enter does nothing.  This is probably related to ^M bug from yesterday.
**Expected result**
I expect that enter will execute the regex filter
**Actual result with screenshot**
If you get an unexpected error, please include the full stack trace that you get with `Ctrl-E`.

**Steps to reproduce with sample data and a .vd**
open a file, go to column,

[2020-10-22 18:07] bob-u opened #745 "[Windows] Issue with viewing HelpSheet (manpage) on Windows"
Small description
pressing ctrl-h does not work
after exiting the program (gq), I see in the terminal:
[Errno 2] No such file or directory: '/dev/tty'
'man' is not recognized as an internal or external command,
operable program or batch file.
'man' is not recognized as an internal or external command,
operable program or batch file.
'man' is not recognized as an internal or external command,
opera

[2020-10-22 18:16] anjakefala commented on #745
Hi!

`Ctrl+H` makes assumptions about the operating system having a method to view manpages, which Windows does not have. So this is an expected limitation with using VisiData on Windows. We upload the manpage online for those cases: https://www.visidata.org/docs/v2.0/man/.

One thing we possibly could do (@saulpw?), is catch this case, and output to status directing users to the website.

[2020-10-22 18:56] jaresty opened #746 "When I use --filetype=fixed in combination with --play visidata parses STDIN as a single column"
**Small description**

When I use `--filetype=fixed` and `--play=x.vd` on STDIN it reads input as a single column.

**Expected result**

I expected it to parse the columns in the same way it behaves without using `--play=x.vd` such that the columns would be separate.

**Actual result with screenshot**
![image](https://user-images.githubusercontent.com/1313844/96916958-1d3d4200-145d-11eb-9aa1-e8c2b

[2020-10-22 19:27] bob-u commented on #745
Thanks, that's what I thought.  As a new user I would be happy to be presented with a page showing all of the possible or common key combinations, like top does when you press h.

[2020-10-22 19:42] geekscrapy commented on #746
Hey @jaresty !

It looks like your data is tab separated? Try out the following:
`ps -e | vd -f tsv --play=foo.vd -`

This should tell vd that the file type is tab separated (.tsv).

If it's not tab separated, what is the delimiter?

[2020-10-22 19:47] anjakefala commented on #745
You can use `z Ctrl+H` to get a sheet of those. =)

[2020-10-22 19:56] geekscrapy opened #747 "[v2.0] there should not be duplicate autocomplete suggestions (of column names)"
**Small description**
If you have multiple columns of the same name, the input autocomplete feature lists both the names and therefore requires multiple [tab]s to go to the next entry.

**Expected result**
As you cannot distinguish between columns by name, I believe there should only be one entry in the autocomplete suggestions

**Actual result**
You have to tab multiple times to skip duplicate co

[2020-10-22 20:16] jaresty commented on #746
It's not tab-separated; but what is more relevant to me is that the behavior when you pass `--play` is different from when you do not.  I was able to get columns to be recognized without passing that option, but then I could not use `--play` to reuse the command log afterwards because it didn't recognize the columns.

[2020-10-22 20:17] jaresty commented on #746
If you run `ps -e | vd -f fixed` it works as expected.

[2020-10-22 20:40] saulpw commented on #746
Hi @jaresty, thanks for the report.  The issue here is that `--filetype=fixed` only applies to files given on the command line, and not those opened later (like in replay).  If you add `-g` before the option, it will apply globally.  Alternatively, the .vd file could set the option before opening the file.  (This will be added automatically if you used `-g` in the session that you save the .vd fil

[2020-10-22 23:49] jaresty commented on #746
I see -- `-g` does seem to do the trick.  Thanks!  I would vote to make this behavior consistent if that is an option sometime in the future.  I'll close this issue.

[2020-10-22 23:49] #746 closed, assigned to nobody

[2020-10-23 02:30] bob-u commented on #745
Excellent.  Once the regex search is working I will be able to search though the quite extensive list.  Have you considered allowing typing words (like those describing the key combinations) to make it easier for those with bad memory?

Btw, are the yellow squares a bug or a feature?

![visidata_squares](https://user-images.githubusercontent.com/61708771/96949656-67064680-14b6-11eb-9c34-f36ca22249

[2020-10-23 02:34] saulpw commented on #745
The yellow boxes are actually `∅` (null set) symbols, that your terminal font doesn't support.  They mean the underlying value is None (as opposed to an empty string).

[2020-10-23 02:35] saulpw commented on #745
Also, I'm not sure what you mean by "typing words (like those describing the key combinations)".  You can use Spacebar to execute a longname, like "open-sheets", if you can't remember that `Shift+S` is the binding for that command.

[2020-10-23 02:47] bob-u commented on #745
Ok, thanks, I will stop making suggestions and RTFM.

Regarding the yellow symbols, now I understand - the key combination is not set.  In the manual it says:

"you make your own command in your ~/.visidatarc, you can make that and bind it yourself" - where would that be under Windows?

[2020-10-23 02:53] anjakefala commented on #745
@bob-u, you might also appreciate [this cheat sheet](https://jsvine.github.io/visidata-cheat-sheet/en/). =)

`~` should be your home directory.

[2020-10-23 03:28] bob-u commented on #745
Thanks.  I created .visidatarc and it is indeed being read.  To test it I added following text:

bindkey('^[p','open-source')

but visidata starts with reload aborted.

[2020-10-23 03:35] anjakefala commented on #745
@bob-u That is an occassional bug with the vdmenu, which is what opens if you launch `vd` with no input. =) It is a bug that does not impact anything for the user, beyond the confusing message.

[2020-10-23 03:44] bob-u commented on #745
I think it might be something else because ALT+p is not defined as it should.  I since revised the command to what I think is proper syntax now:
BaseSheet.bindkey(ALT+'p', 'mouse-disable')

I still get 'reload aborted' and ALT_p is unassigned.

[2020-10-23 03:51] saulpw commented on #745
What do you see in the lower right status when you press `Alt+P` ?

[2020-10-23 04:05] bob-u commented on #745
"no command for Alt_P"

![altp](https://user-images.githubusercontent.com/61708771/96955399-793ab180-14c3-11eb-97fe-be0c758483d3.PNG)

![visidarc_contents](https://user-images.githubusercontent.com/61708771/96955415-8192ec80-14c3-11eb-998d-07ddf1533084.PNG)

[2020-10-23 04:20] saulpw commented on #745
Awesome, and thank you for the screenshot, that was very helpful. You should use `'ALT_P'` (notice the quotes) instead of `ALT+'p'`.  We'll update the docs and include a note for Windows users, if we can't just autodetect Windows curses and change the ALT variable ourselves.