[2019-11-10 07:17] anjakefala commented on #387
Hi @dbandstra!

Yeah, his is happening DOS line endings are the default for the Python `csv writer`.

VisiData passes a few options to the `csv writer`. Something I can do for now is add `lineterminator` to those. This would mean that you could configure which lineterminator you wanted for a particular session, by passing the command line argument `--csv-lineterminator $'\n'` or set a new default

[2019-11-10 07:24] ghost commented on #389
What about confirming any time the file has unsaved work? This is another thing that I find a little odd about vd coming from other programs.

[2019-11-10 07:31] aborruso commented on #387
I think that \r\n is the standard for CSV:

https://tools.ietf.org/html/rfc4180

In this way you could manage carriage return inside cells (\n).

[2019-11-10 07:35] #387 closed, assigned to nobody

[2019-11-10 08:37] saulpw commented on #214
CLI syntax is `+:<sheet>:<row>:<col>`.

- `+:subsheet::` to ignore row/col
- can name toplevel source index if more than one: `+toplevel:subsheet::`

[2019-11-10 09:20] saulpw commented on #386
Hm, this one works for me.  what version of tasklib do you have installed?

[2019-11-10 20:16] sfranky commented on #287
I discovered this just today, can't say how happy I am with ColumnColorizer !!

[2019-11-10 20:58] anjakefala commented on #389
@dbandstra Yes, there is a plugin for "tracking changes in state". It colours modified un-saved cells, and I can see adding a feature to it for "confirm-quit" when you have unsaved changes. That plugin has a few bugs right now (see our issue board...), but it is on my priority list. I can leave a message here when those are fixed.

A major design component of VisiData is "classic terminal sleeknes

[2019-11-10 23:08] ghost commented on #389
Cool, I'll check the plugin out if this gets added. Classic sleekness sounds like a euphemism :) I would call it old-school unforgivability. But I'd be interested in reading more about this design philosophy though. Is vd more often used to explore data without editing? (I picked it up recently and I'm just using it as a basic CSV editor.)

[2019-11-10 23:43] anjakefala commented on #389
Yeah, it can definitely be unforgivable. I agree. That is why this plugin is important and I want to iron out its kinks.

There is a WIP book section available here https://github.com/saulpw/visidata-book/blob/master/design-choices.md that briefly outlines the design philosophy. Saul calls it "snappiness" which is a much better and less weighed down descriptor.

Also, I would love a poll on the di

[2019-11-11 02:57] saulpw commented on #389
I think it's reasonable to add this to options.quitguard, maybe even replacing the existing behavior.  I'm not totally sure what counts as a modification though.  A direct edit on a source sheet, yes, but adding an expression column?  Hiding a column?  Deleting a column?  Deleting a row?

What I'm thinking right now, is to only mark a source sheet as directly 'modified' if one of its source rows i

[2019-11-11 03:02] saulpw commented on #287
What kinds of columns are you colorizing, @sfranky?

[2019-11-11 07:26] sfranky commented on #287
I'm doing data cleaning, and I am kind of trying to develop a very fast
workflow (have to clean up something like 25-30k rows each time in 3-4 days)
I have columns that contain different versions of the same data, and I kept
pasting in the wrong column!!!! I needed a kind of a visual cue to point me
to the right direction, and this worked perfectly!

On Mon, Nov 11, 2019 at 4:02 AM Saul Pwanson <n

[2019-11-11 08:39] aborruso opened #390 "Feature request: implode specified field values rows, in cells"
Hi,
sometime it is very useful to implode values vertically, from something like

[code]

to

[code]

It would be great to add this feature to melt and pivot.

Thank you

[2019-11-11 09:13] saulpw commented on #390
Hi @aborruso, you can use the Frequency Table for this:

1. Add the `list` aggregator to the `value` column.
2. Open the `F`requency Table on `field` column.
3. Add an expression column to join the values: `=';'.join(value_list)`

Maybe the last step could be made into a command called `addcol-joinvals` on `z(` or something.

[The `list` aggregator has been added since 1.5.2, so it is not official

[2019-11-11 09:13] #390 closed, assigned to nobody

[2019-11-11 09:20] sfranky commented on #287
the other obvious use case for me is for marking duplicate rows (but that's the RowColorizer). I need them marked, not selected. Since they are never exact duplicates to be deleted, I need to see which ones I need to keep, and in the meantime, I need to clean up, so the selection vanishes. I *could* create an extra column to mark them, but this is extra clutter and takes up screen real estate..

[2019-11-11 09:30] aborruso commented on #390
@saulpw thank you

To have `addcol-joinvals` on `z(` would be great, because it's another "classic" data transformation "job".

If you think it's useful for vd, what about to leave this issue open and add to it the label "feature request"?

[2019-11-11 09:42] pigreco commented on #390
@saulpw
Please add addcol-joinvals command, I think it's very useful

[2019-11-11 13:27] aborruso opened #391 "[wishlist] use aggregators in column expressions"
Hi,
a classic task working with tables is to write formula that uses the sum of a field, as parameter for another field calculation (`Cell Value/SUM(FieldName)*100`).

I know that vd is not a spreadsheet (it's better :) ), but I think that this is a really common task and it would be great to be able to write also whole field based expressions.

Thank you

[2019-11-11 13:32] aborruso opened #392 "Memory sheet"
Hi,
when I run `z+` to do a one-off calculation, I'm not able to copy (and then paste) the output.

If there is not a way to do it, what about to add the output in memory by default (a `CTRL+C`, a copy by default)?

Thank you

[2019-11-11 14:19] pigreco commented on #391
This functionality would be very useful, thanks @aborruso

[2019-11-11 14:26] aborruso commented on #237
Hi @anjakefala I have seen [changelog](https://github.com/saulpw/visidata/blob/develop/CHANGELOG.md), wow!!

Then If I update my dev version, can I test this great new feature?

Thank yoi

[2019-11-11 17:29] anjakefala commented on #237
Hi @aborruso!

The reason I did not write a comment that Saul got a basic loader up because I was distracted by looking into some of its kinks. But, you know what, yes, go ahead and please let me know how it works out.

I think you will run into a bug with datapackage.json's that reference data through urls, but all locally referenced ones should be fine.

Can you confirm?

[2019-11-11 19:57] anjakefala commented on #391
Hi @aborruso!

Just clarifying the ask, you are interested in being able to use calculations run on an entire column in `expr-col`

E.g. `=Total / SUM(Total)` would set a cell in row **A** to the `Total` value in the row **A** divided by the `SUM()` of the entire `Total` column?

[2019-11-11 20:05] anjakefala commented on #392
Hi @aborruso!

I can tell you about some steps for copying the `z+` output.

`Ctrl+P` will take you to a **StatusSheet**. It is a history of all left statuses. You can interact with it using any of the VisiData copy commands. =)

[2019-11-11 20:10] aborruso commented on #391
@anjakefala yes, to be able to click `=` and write something like `SUM(FieldA)/FieldB`. From

[code]

to

[code]

The first cell of Result is ` (5+6+1+18+5)/0.2`

Thank you

[2019-11-11 20:13] aborruso commented on #392
@anjakefala and what do you think to create also direct way to use it? I think it would be a useful feature

Thank you

[2019-11-11 21:44] aborruso commented on #237
Hi @anjakefala  I have tried to open [this](https://github.com/saulpw/visidata/files/3833336/countries-and-currencies.zip) attached example.

The question is: how to open then the two csv resources?

Thank you

![image](https://user-images.githubusercontent.com/30607/68623377-a53c6d00-04d4-11ea-9a21-61f9106f6d01.png)

[2019-11-11 22:04] anjakefala commented on #237
Which VisiData commit are you working with @aborruso?

[2019-11-11 22:11] aborruso commented on #237
@anjakefala before replying to you I have run `pip3 install --upgrade git+https://github.com/saulpw/visidata.git@develop`

And now if I run `vd datapackage.json` I have a black window :(

![image](https://user-images.githubusercontent.com/30607/68625084-9c4d9a80-04d8-11ea-9b38-c40bba9a8439.png)

[2019-11-11 22:13] anjakefala commented on #237
@aborruso yup. =( Working on it!

[2019-11-11 22:32] anjakefala commented on #237
Hi @aborruso,

Something a bit deeper is going on, and this loader is going to take some more time to fix. I will give you a poke here when it is ready for you to play with!

[2019-11-11 22:37] aborruso commented on #237
thank you very much @anjakefala

[2019-11-12 00:06] frosencrantz opened #393 "Feature Request: Add gz^H command to get global help"
**Small description**
Add a gz^H command to provide a way to get full help of all table types.

**Expected result**
Help for all table types, sort of like loading commands.tsv.

**Additional context**
Per @saulpw  comment: https://github.com/saulpw/visidata/issues/329#issuecomment-548668046

[2019-11-12 00:16] frosencrantz commented on #329
@anjakefala 😂

Yes, that makes a sense.  I'm not sure how to tell github they should just present the data nicely.  I opened a case with github, we'll see what they say.  I'm not sure if there is a repo I can report an issue on.

Yes, please find "joy" in working on this project.  It is a joy to use, and hopefully you and @saulpw and other contributors enjoy working on it.  It reminds me of a comm

[2019-11-12 00:32] frosencrantz commented on #287
Thank you very @anjakefala for documenting this.  I started looking at this but then didn't have time to come back to it.

Is there a good way to save the calculated color of a cell?  Like if every cell has some different random value?  What would be the recommended way of saving the cell color values.  For example, if I have an excel file with color attached to each cell, what's a good way to cac

[2019-11-12 00:33] frosencrantz commented on #323
Will do.  I mentioned on another issue help was recently broken, but appears to be working again.

[2019-11-12 00:39] frosencrantz commented on #346
@saulpw of @anjakefala not sure if you want to address this or not. To me it seems useful to have a way to save the values of a column (or multiple columns) to stdout, but without the column header. It's not clear there is a way to do that. This seems useful to me when visidata is in the middle of a pipeline.

like if you select some files to print, the header is not useful data to send to lpr.

[2019-11-12 07:54] saulpw commented on #393
Thanks for the reminder, @frosencrantz.  I think this is a useful idea, and especially as we deprecate commands.tsv, it's good to have them in one place.

[2019-11-12 07:54] #393 closed, assigned to nobody

[2019-11-12 08:24] saulpw commented on #392
I think there should be a way to save a value on something like a 'memory' sheet, and then you can go there to `zY` (`syscopy-cell`) to the system clipboard, or give it a name so you could use it in other expressions (which would also solve #391). `show` commands would add it there by default.

I'll add this to the roadmap, as we're cleaning feature requests off the issues list.

[2019-11-12 08:24] #392 closed, assigned to nobody

[2019-11-13 01:02] pigmonkey opened #394 "Consider a list of community plugins"
I stumbled upon [jsvine's visidata-plugins](https://github.com/jsvine/visidata-plugins) accidentally, found them to be useful, and wondered what other useful things are out there.

It might be nice if the project had some kind of list of community plugins. This could be as simple as a list of links in the README that plugin authors could contribute to via a PR. Or, I see there is a GitHub Wiki for

[2019-11-13 01:12] saulpw commented on #394
We're working on this for 2.0.  There's a PluginsSheet (`open-plugins`, or from the VisiData main menu) and ability to install them from within VisiData itself.  You can see the current list of known plugins (may not be entirely complete right this second) at https://github.com/saulpw/visidata/blob/develop/plugins/plugins.tsv.

[2019-11-13 01:12] #394 closed, assigned to nobody

[2019-11-13 01:18] pigmonkey commented on #394
Great!

[2019-11-13 06:49] anjakefala commented on #237
Give it a whirl, please!!

You open the resources with `Enter` =)

[2019-11-13 07:10] aborruso commented on #237
Hi @anjakefala please write me the steps.

I'm here, how to open a resource?

![image](https://user-images.githubusercontent.com/30607/68741106-153e1680-05ed-11ea-9a7e-45ee687d7e8b.png)

Thank you

[2019-11-13 07:24] anjakefala commented on #237
`vd -f frictionless x` where `x` can be a url to a `datapackage.json` or a file system path to a `datapackage.json`. =D

Then you will get a table of resource. Press `Enter` to load one.

[2019-11-13 07:26] anjakefala commented on #237
For example: `vd -f frictionless https://raw.githubusercontent.com/frictionlessdata/example-data-packages/master/geo-countries/datapackage.json`

[2019-11-13 07:49] aborruso commented on #237
@anjakefala I have

![image](https://user-images.githubusercontent.com/30607/68743311-73b9c380-05f2-11ea-807a-2aef81d56b89.png)

[2019-11-13 15:40] anjakefala commented on #237
What is your most recent commit?

[2019-11-13 16:47] aborruso commented on #237
Hi @anjakefala this morning this morning I have uninstalled and then installed again via ` pip3 install git+https://github.com/saulpw/visidata.git@develop`

Is there a better procedure?

[2019-11-13 18:09] anjakefala commented on #237
No, that is right. =( Can you drop by `#visidata` when you have a free moment?

[2019-11-13 19:26] anjakefala commented on #237
Also have you done `pip3 install datapackage`?

[2019-11-13 21:53] WesleyAC opened #395 "[v1.5.2] Can't see quantiles for column"
**Small description**

I have a csv with one column of floats, and I want to see quantiles for it. I would expect from reading the [Summarizing Data](https://jsvine.github.io/intro-to-visidata/basics/summarizing-data/) documentation that pressing `%` to set the column to floats, `z+`, typing `q4`, and pressing return would do this. Aggregations like `sum` and `max` work,.

**Expected result**

I s

[2019-11-13 22:46] aborruso commented on #237
@anjakefala I'm really stupid: in my pyenv environment I did have not installed datapackage.

It works, but not always. I'll try to write a report tomorrow.

@anjakefala @saulpw this is really a great new feature, Thank you

[2019-11-14 04:28] #214 closed, assigned to nobody

[2019-11-14 06:41] saulpw commented on #247
Added `help-search` command that opens a commands sheet filtered by the input regex.  Unbound by default, you could try binding it to `KEY_BACKSPACE` if that works on your system, or `^@` (Ctrl+Space).

I agree, split-pane is the way to do this.  It's already on the roadmap, so I'm closing this issue, though we may not get to it until 2.1.

[2019-11-14 07:15] saulpw commented on #273
With the above commit, add this to your .visidatarc for e.g. an harmonic mean to be added automatically to the describe sheet:

            from statistics import harmonic_mean
            options.describe_aggrs += ' harmonic_mean'  # note the leading space

[2019-11-14 07:16] #273 closed, assigned to nobody

[2019-11-14 07:42] saulpw commented on #366
This actually already works:

    tail -f filename.log | vd

The loader runs in perpetuity, so when additional lines are added to filename.log, they show up in the source sheet.

The frequency table would work as you request, if the source sheet weren't already loaded.  To have the source sheet continue loading, and seamlessly handoff from iterating over the existing rows and to the new rows, seem

[2019-11-14 07:42] #366 closed, assigned to nobody

[2019-11-14 15:42] frosencrantz commented on #393
Thank you, @saulpw .

The name of the sheet ends up being the previous sheet plus a suffix of _commands.  Wondering if the name should be "help" or "help_all".

[2019-11-14 16:04] saulpw commented on #393
Well it is a list of commands...what about `all_commands`?

[2019-11-14 23:32] pigmonkey opened #397 "[wishlist] Automatically alter date and time display formats based on found values"
Sometimes I have a sheet with a column that contains date values like `2019-11-14`. In this case, marking the column as a date with `@` does exactly what I want.

Sometimes I have a sheet with a column that contains date time values like `2019-11-14 13:27`. In that case, marking the column as a date with `@` hides the time, which can cause the data to be misconstrued. In these cases, I can change

[2019-11-15 04:19] anjakefala opened #398 "[develop] Loaded .vds have an extra empty column"
When any **.vd** is loaded by VisiData, its rightmost column is an empty blank one.

**Technical Explanation**

In `TsvSheet`

[code]
extends rows that are missing entries.

The `CommandLog` has the `TsvSheet` as a parent. Among its static columns is one hidden one:

[code]
**.vd**s often lack an undo column, but it still gets counted towards `nCols` and appears as a ghost column when **.vd**s are

[2019-11-15 05:07] saulpw commented on #274
Hi @sitaramc, we're closing all feature requests and keeping issues for bugs only.  I did try implementing the idea above and it just felt wrong for a couple reasons. Let me ask you this: when you want to get percentages like this now without VisiData, how would you do it?  Is there a workflow in Excel or with a small Python script that you would run?  I agree that this would be a useful feature,

[2019-11-15 05:07] #274 closed, assigned to nobody

[2019-11-15 05:21] saulpw commented on #291
This is a great idea for a plugin.  I'm going to close this and add it to the roadmap in the plugins section.  Thanks for the suggestion!

[2019-11-15 05:21] #291 closed, assigned to nobody

[2019-11-15 05:30] saulpw commented on #309
Hi @jtrakk, this is a really good idea, I'm going to add it to the roadmap as it will become very easy to do once VisiData has split-pane support.  Thanks for the suggestion!

[2019-11-15 05:31] saulpw commented on #254
This is on the roadmap, so I'm going to close this issue and link to it from there.  Thanks for the suggestion!

[2019-11-15 05:31] #254 closed, assigned to nobody

[2019-11-15 05:33] #253 closed, assigned to nobody

[2019-11-15 05:53] saulpw commented on #356
I've added this as a hidden column by default.  Press `gv` to show all hidden columns, and et voila!  Thanks for the suggestion.

[2019-11-15 05:53] #356 closed, assigned to nobody

[2019-11-15 07:06] anjakefala opened #399 "[develop] If any of a Sheet's colorizers raises an exception at any point, the sheet does not get drawn"
In this example:
https://github.com/saulpw/visidata/issues/348#issuecomment-528722373

[code]

Occassionally, cell values (`v`) are `None`. In that case, `v < 0` raises an Exception. If this happens, the entire sheet does not get drawn.

@saulpw and I agreed that this is not ideal, and should be characterised as a bug. This needs to be fixed without breaking our ability to debug, and we need to re

[2019-11-15 07:16] anjakefala commented on #368
This has been noted in [renaming.tsv](https://github.com/saulpw/visidata/blob/develop/dev/renaming.tsv#L7). =)

[2019-11-15 07:16] #368 closed, assigned to nobody

[2019-11-15 07:36] saulpw commented on #322
This little Python script will generate a sample .visidatarc with all the defaults:

[code]

[2019-11-15 07:37] #322 closed, assigned to nobody

[2019-11-15 08:23] saulpw commented on #330
See [this short Python script](https://github.com/saulpw/visidata/issues/322#issuecomment-554248742) to enumerate all options and their defaults and helpstrs.

[2019-11-15 08:23] #330 closed, assigned to nobody

[2019-11-15 08:24] #345 closed, assigned to nobody

[2019-11-15 08:27] #348 closed, assigned to nobody

[2019-11-15 08:31] saulpw commented on #349
Hi @khughitt, we're cleaning our issues list and I'm closing all feature requests.  I'd love to see this as a plugin though!  Email me or come join us on #visidata on IRC freenode.

[2019-11-15 08:31] #349 closed, assigned to nobody

[2019-11-15 12:24] sitaramc commented on #274
Hi Saul

First, I don't do a lot of manipulation *without* visidata now; it's the
only thing I use when I need to do anything more than just view a bunch
of cells!

Second, about this specific feature... well as I said it's a "would be
nice to have", not a showstopper.  I am happy it's on your roadmap, though!

Thanks again for an awesome piece of software!

sitaram

On 11/15/19 10:37 AM, Saul Pwa

[2019-11-16 09:17] saulpw commented on #376
Savers should work consistently now, and `options.safety_first` will convert newlines and tabs to `options.tsv_safe_newline` and `options.tsv_safe_tab`, respectively.  @Mesibov, let us know if you have any more issues with saving edge cases like this.

[2019-11-16 09:17] #376 closed, assigned to nobody

[2019-11-18 14:35] aborruso opened #400 "new "visidata" tag on Stack Overflow"
Hi,
I finally got over 1500 points in stack overflow, and I'm allowed to create new tags.

Now we have "visidata":

- https://stackoverflow.com/questions/tagged/visidata
- https://stackoverflow.com/tags/visidata/info

@saulpw  @anjakefala I do not know if you have any idea about it. In example you could write a note on the website: "to have some help on using visidata, you could use stackoverflow

[2019-11-19 03:48] frosencrantz opened #401 "Saving CSV data is broken: all values replaced with visidata.column.Column"
**Small description**
Saving CSV data is broken: all values replaced with visidata.column.Column

**Expected result**
Read and then write a csv file, expect the contents to be the same.

**Actual result with screenshot**
If you get an unexpected error, please include the full stack trace that you get with `Ctrl-E`.
No exception.

**Steps to reproduce with sample data and a .vd**
Please attach the

[2019-11-19 06:14] anjakefala commented on #237
Awesome!

Please feel free to file new bugs against the frictionless loader. :blush: I am excited to see it fleshed out. I consider the basic feature request to be complete.

[2019-11-19 06:14] #237 closed, assigned to aborruso, anjakefala

[2019-11-19 06:16] anjakefala commented on #401
Nice catch @frosencrantz! This should be fixed on the develop branch now. The issue had to do with itervalues being a misnomer. It returned an OrderedDict which then had to be additionally iterated on.

[2019-11-19 06:16] #401 closed, assigned to nobody

[2019-11-19 07:00] saulpw commented on #400
That's great, @aborruso, thank you!  I hope you didn't have to pay too high a price for it :)

I don't check StackOverflow very often, but if you and people on SO are willing to answer questions about VisiData that's really awesome.

I'll leave this issue open as a trial way to direct people to StackOverflow for "how-to" kinds of questions. If questions and answers start to proliferate there then

[2019-11-19 07:26] saulpw commented on #386
Assuming this is due to the wrong version being used.

Root solution: `vtask` will become a module, which depends on the exact version of TaskWarrior/tasklib it's been tested with.  That should help to avoid this problem in the future.

[2019-11-19 07:26] #386 closed, assigned to nobody

[2019-11-19 08:40] saulpw commented on #397
Hi @pigmonkey, this is a good idea and I can see how it would be very useful.  Thanks for suggesting it.

The problem of parsing an unknown date format is challenging, and thankfully the
[python-dateutil](https://dateutil.readthedocs.io/en/stable/) library does an excellent job of parsing dates/times in nearly any format. For the feature you requested, I think the simplest way would be to assemble

[2019-11-19 08:40] #397 closed, assigned to nobody

[2019-11-19 09:06] saulpw commented on #395
Hi @WesleyAC, that's a good find, I agree that it should work as you expect.  With the above commit, hopefully it does.

If we decide to release a v1.5.3, this is a good candidate for back-porting.

[2019-11-19 09:06] #395 closed, assigned to nobody

[2019-11-19 17:31] pigmonkey commented on #397
I think we can reduce the complexity of the issue if we consider it a problem of looking at the parsed datetimes, rather than the original string.

For example, if after I hit `@` the strings are parsed and the resulting datetime objects are stored in a list `column_datetimes`, this would solve the bulk of the problem:

[code]

This would result in the behaviour I want, except for the case of the

[2019-11-19 20:07] pigmonkey opened #402 "[unintuitive] selecting negative values includes errors and nulls"
I have a CSV that looks like this:

[code]

In visidata I mark the `amount` column as an integer with `#`. Visidata gives rows 5 and 6 the `!` notation since they are not valid integers.

I want to select the rows with a negative amount. Using `z|` I get to the select by expression prompt and enter `amount < 0`. This results in rows 3, 4, 5, and 6 being selected. I only expect rows 3, 4. The null

[2019-11-19 21:08] aborruso commented on #402
Hi @pigmonkey  a way is to start form `z|` and then `amount < 0`. A second step is to add `g\` to unselect by regex, using `^$`

[2019-11-19 22:00] pigmonkey commented on #402
Thanks. That does work for my first example. For my second example I could use a regex like `[a-z]` to unselect the `foo` and `bar` rows.

Is this the expected behaviour for the `amount < 0` expression?

[2019-11-20 05:51] #398 closed, assigned to nobody

[2019-11-20 07:45] saulpw commented on #402
Hi @pigmonkey, this is an interesting case, thanks for filing an issue.  I agree that this behavior is surprising and unintuitive, and unfortunately I can't see a way around it.

Errors (and nulls) need to exist somewhere specific on the number line so that sorting is stable.  Artbitrarily, I chose negative infinity, so that when you sort ascending, the errors would come first.  It could very easi

[2019-11-20 15:24] frosencrantz commented on #401
Thanks @anjakefala!    Glad I was able to help.

[2019-11-20 17:14] pigmonkey commented on #402
Intuitively, the behaviour I expected was for invalid values to be treated as nullish, such that they would not be selected by an expression like `amount < 0` but would be selected by an expression like `amount == None`. (When I noticed the undesired rows were being selected by `amount < 0`, my first response was to try `amount < 0 and amount != None`.)

I do think that the current sort behaviour,

[2019-11-20 17:25] pigmonkey commented on #402
This also makes me curious if there is currently a canonical way to select all rows with invalid values. The regex selection can be used if I know what specific invalid things I want to (un)select -- like `^$` for empty values, `[a-z]` for values with lowercase letters where I expect digits, etc -- but it is not a great solution if I don't know what the errors may look like. Maybe I expect an inte

[2019-11-21 00:27] pigmonkey opened #403 "[wishlist canvas] specify graph axis range"
I have a CSV file that looks like this:

[code]

In visidata I mark the first column as an integer with `#` and a key column with `!`. The second column I mark as a float with `%`. I want to get a feel for how these percent values vary, which I think is a good use of visidata's graphing functionality. However, when I graph the data as is with `.` the result is not immediately useful. The Y values

[2019-11-21 09:56] tkossak opened #404 "[wishlist] Problem opening xlsx files exported by SQL Developer"
**Small description**
Problem opening xlsx files exported by Oracle SQL Developer 19.2.1.247. When I run `vd test_sqldev_19.2.xlsx` i get:

![image](https://user-images.githubusercontent.com/3728245/69325962-4bae0e00-0c4b-11ea-9c8c-30696b96c8c7.png)

(only 1 column and 0 rows loaded)

**Expected result**
It's enough to open this file in Libre Calc, save it (without any changes) and now it works (2

[2019-11-21 21:32] sfranky opened #405 "[wishlist] "merge" jointype"
I'd like to propose an additional kind of merge:
one where same-named columns get overwritten. The use case for this is e.g. updating a bigger backlog of entries with a new/updated tsv file that should take precedence over the previous values. The new row should not completely overwrite the previous row, i.e. if a cell in the new tsv is empty, it should be "transparent", leaving the old value inta

[2019-11-21 21:57] layertwo opened #406 "[JIRA] markdown doesn't save lists to output"
**Description**
I have a few files with lists or dictionaries I haven't expanded (they're str.split() examples). When saving to `.jira` filetype, those don't get included in the output file.

When saving to `json`, the output is correct as expected for a JSON doc. When saving to `tsv` the unexpanded list is correctly written as a Python list.

**Additional context**
Running v2.-1 (might be on some

[2019-11-21 21:57] layertwo commented on #406
Since I wrote that saver, I can take a look and try to resolve.

[2019-11-22 03:40] saulpw commented on #406
Thanks for both the bug report and for looking into it, @layertwo!  Godspeed and please feel free to ask any questions you have.

[2019-11-23 05:05] anjakefala commented on #404
Hi @tkossak!

I had an interesting finding. When I treated the file you posted as an **xls** filetype (`vd test_sqldev_19.2.xlsx -f xls`), it successfully opened.

Does `-f xls` successfully load other xlsx files that you have exported?

[2019-11-23 05:14] anjakefala commented on #384
@sfranky, this should fix the above bug. Defermods and trackmods' logic is in the same file, and I inevitably confused the two.

For now, I think it is ready for you to play with!

[2019-11-23 05:14] #384 closed, assigned to anjakefala

[2019-11-23 08:32] sfranky commented on #384
many thanks for your help Anja!
Maybe I don't exactly understand how it works, but I think there is a
problem.
Is the following the expected behaviour?

I select a few rows, I press " , I edit a column with some values. I see
they are marked as changed.
If I go back to the original sheet, they are not updated, as they do
without the plugin.
If, on the other hand, while on the subsheet, I press sav

[2019-11-23 11:17] vapniks opened #407 "Support for Alt/Meta keybindings"
I would like to be able to use emacs keybindings that are hardcoded into my brain, rather than try to memorize a whole new set of keybindings.
This include several Meta/Alt keybindings such as "M-<" & "M->" (go-top & go-bottom),
but currently visidata doesn't appear to support the Alt or ESC keys.
Note: I'm using visidata v1.5.2 through tmux on zshell.

[2019-11-23 14:51] vapniks commented on #407
OK, so I just noticed that Alt keybindings are enabled in v2.0

[2019-11-23 21:35] anjakefala commented on #384
@sfranky That is not fixed yet! We have another issue for that: https://github.com/saulpw/visidata/issues/383

[2019-11-23 22:28] sfranky commented on #384
I actually forgot I had committed this issue in the past, sorry about that !!

[2019-11-25 06:12] saulpw commented on #407
@vapniks Yes, although it may become optional in 2.0.  The current (prefix) implementation feels a bit screwy I think.

In 1.5.2 you should be able to put this in your .visidatarc:

[code]

and then add keybindings as desired (with e.g. `^[<`).

[2019-11-25 15:25] tkossak commented on #404
Yes, when I added `-f xls` it successfully opened other files exported by SQL Developer. I also noticed it's not only SQL Developer that generates such files, but also some of our web apps  export to xlsx in such a way, that vd only opens it when I pass `-f xls`. Maybe it's a bug in these applications, but maybe we can add backup opening method for vd: if xlsx fails, then it can automatically try

[2019-11-25 19:02] WesleyAC opened #408 "Default to sorting by value for numeric histograms"
I think it'd be useful for numeric histograms to be sorted by value by default, instead of by count (specifically for floats, but I think this would be useful for other numeric values as well.

It's not very useful to see an unordered list of ~100 floating point numbers - I can't visually parse it, since I need to read each number to know what it is.

I don't know exactly what typical usecases are

[2019-11-25 19:19] WesleyAC opened #409 "histogram_bins option is disabled"
**Small description**

I'd like to be able to set the number of bins for my histograms. It looks like the way to do this is with the `histogram_bins` option, but that's [commented out](https://github.com/saulpw/visidata/blob/stable/visidata/freqtbl.py#L11), so I don't see it in my options table. Is there a way to set this option, or another supported way to set the number of bins for a histogram?

[2019-11-25 19:59] anjakefala commented on #404
Hi @tkossak!

That is a reasonable behaviour request. There is a current wishlist item for "file sniffing" from another user that I think this could also apply to.

I will mark this as "wishlisted", and close this issue (since there is currently an existing workaround).

There is a way to amp the priority on wishlist items! If you would like to prioritise this feature, Saul has a category ("True B

[2019-11-25 19:59] #404 closed, assigned to nobody

[2019-11-25 20:02] anjakefala commented on #409
Hi @WesleyAC!

Frequency binning of numeric columns is not available in v1.5.2. That feature got postponed to v2.0.

It is under a feature flag on the `develop` branch, where you are welcome to check it out. (Though, we do not guarantee the reliability of the `develop` branch. =) And the documentation is not ready for it, yet. ) That feature still has a planned review and doc update to undergo.

[2019-11-25 20:02] #409 closed, assigned to nobody

[2019-11-26 06:00] saulpw commented on #408
I agree! This now happens naturally with the numeric binning code in 2.x, which adds the ranged bins in order and then only sorts the result if it wasn't binned numerically.

[2019-11-26 06:00] #408 closed, assigned to nobody

[2019-11-26 06:03] saulpw commented on #399
with the standard `for/try:/.../except Exception as e: vd.exception(e)` idiom.

[2019-11-26 06:03] #399 closed, assigned to nobody

[2019-11-26 07:14] #405 closed, assigned to nobody

[2019-11-26 07:15] saulpw commented on #405
Kondo'ed for now, will probably happen at some point.

[2019-11-26 07:23] saulpw commented on #391
Kondo'ed for now.

[2019-11-26 07:23] #391 closed, assigned to nobody

[2019-11-26 08:52] aborruso commented on #391
What's the meaning of `Kondo'ed` ?  (my english is not so good)

[2019-11-26 13:04] vapniks commented on #407
How do I alter keybindings in v2.-1dev?
If I use the following in my ~/.visidatarc file:

[code]
I get the following error at the bottom of the visidata window in bright yellow:
[code]
and the new keybinding is not registered.
Same thing if I omit the `allPrefixes` command.

[2019-11-26 16:31] saulpw commented on #407
Use `BaseSheet.bindkey`.

[2019-11-26 17:19] anjakefala commented on #391
@aborruso  :D

Marie Kondo is a lady from Japan who professionally helps people clean and organise their homes. She wrote some books on her practice. The first step she covers is a decluttering one. XD

Find what sparks joy, @aborruso!!

[2019-11-26 17:33] WesleyAC opened #411 "[develop] VisiData 2.0 fails to install via pip on MacOS Mojave"
**Small description**

When I execute `pip3 install git+git://github.com/saulpw/visidata@v2.-1`, as directed by http://visidata.org/v2.x/, I get the following error:

[code]

**Additional context**

MacOS version: 10.14.6 (18G103)
pip version: `pip 19.1.1 from /usr/local/lib/python3.7/site-packages/pip (python 3.7)`

[2019-11-26 17:47] WesleyAC commented on #411
According to [this SO post](https://stackoverflow.com/questions/13606951/git-submodule-update-gives-error-invalid-key-newline), it seems likely that this is because pyxlsb is defined twice in gitmodules: https://github.com/saulpw/visidata/blob/v2.-1/.gitmodules#L4-L9.

[2019-11-26 18:54] anjakefala commented on #411
I am glad you followed up because on initial try, I was not able to reproduce the issue!

My `pip` is `9.0.1`, and I suspect that is why I never bumped into this.

When I next devote time to VisiData, I will look into seeing if I can reproduce this with an upgraded `pip` and fix the `.gitmodules` regardless (I agree that is wrong).

[2019-11-26 19:28] WesleyAC commented on #411
It's also definitely possible that it's a git version thing. I'm running a pretty heavily patched version of git, but it's based on `2.4.11` - possibly that's relevant.

[2019-11-26 22:47] vapniks commented on #407
Thankyou.
For the benefit of others: it seems that the allPrefixes command is not necessary, since I guess those prefixes are already defined in  v2.-1dev

[2019-11-26 22:47] #407 closed, assigned to nobody

[2019-11-27 03:54] anjakefala commented on #411
I was still not able to reproduce. D=

Can you please check if `pip3 install git+git://github.com/saulpw/visidata@v2.-2 ` works for you? I made the SO suggested fix. I will continue looking into this.

[2019-11-27 18:34] vapniks opened #412 "visidata v2.-1dev (but not v1.5.2) flickers when run through emacs term-mode"
visidata v1.5.2 works fine in emacs term-mode which is great because it means I don't have to leave my python/R coding editor to peruse the data.

However, when I run visidata v2.-1dev through emacs (x11) term-mode the top line is not displayed, and when I press a key the screen flickers slightly as it shifts the text down a line to display the top line (thereby hiding the bottom line), and then b

[2019-11-27 21:40] WesleyAC commented on #411
`pip3 install git+git://github.com/saulpw/visidata@v2.-2` works for me 🎉

[2019-11-27 21:48] anjakefala commented on #411
Awesome! The notes for that branch will be up later this week. =)

[2019-11-27 21:48] #411 closed, assigned to anjakefala

[2019-11-27 21:51] anjakefala commented on #412
Hi @vapniks!

Thanks for letting us know about this.

Are you comfortable with `git bisect`? If you are, could you please run `git bisect` between the `v1.5.2` tag and the `v2.-1` branch to let me know which was the first commit where the flickering started?

I would like to narrow in on the change which introduced this issue. This will help speed-up fixing it. =)

[2019-11-28 09:55] sfranky commented on #412
btw same flickering occurs in WSL windows 10, but I think that has been an issue for far longer..

[2019-11-29 12:02] vapniks commented on #412
I am on the case (for emacs)..

[2019-11-29 17:41] sfranky commented on #412
for me, first bad commit is
ef0fee2095be09282fb761826fa8375c68936156

[2019-11-29 19:52] vapniks commented on #412
The commit which causes the jittering and one-line missing problem is 06d608f002643bd1b3de3fb62d314ea9488ca86e
but I've also noticed some flickering on the bottom status line. Will try to track that down..

[2019-11-29 19:58] vapniks commented on #412
The commit which causes the bottom status line to flicker is ef0fee2095be09282fb761826fa8375c68936156

[2019-11-29 22:43] anjakefala commented on #412
Thanks @vapniks and @sfranky! :tada:

[2019-12-01 03:06] saulpw commented on #412
Thank you both!  This is very helpful.  I think I understand what's going on in both cases, though I don't know why I added the scr.refresh() in ef0fee2, so removing it might leave artifacts on the screen in some situations.  We can try it though and see if we ever notice :)

As for 06d608f...I'd better dollars to donuts that the unicode character (`〉`) being full-width is the culprit.  VisiData s

[2019-12-01 04:33] vapniks commented on #412
Yes, that fixes the jittering problem, but now I get `AttributeError: 'CsvSheet' object has no attribute 'num'` in yellow along the bottom.

[2019-12-01 04:43] anjakefala commented on #412
@vapniks :tada: at it working. Can you please try `options.disp_status_fmt = '{sheet.shortcut}> {sheet.name}| '`. Basically, `sheet.shortcut` instead of `sheet.num`?

[2019-12-01 07:18] saulpw commented on #403
Thanks for this feature request, @pigmonkey. It should have been really simple but I couldn't get it working straightaway :)  I'll give it another stab in the coming weeks and post my notes here if that doesn't do the trick.

[2019-12-01 12:55] vapniks commented on #412
Yes, that works, thanks! (still have the status line flicker though).

[2019-12-02 07:04] saulpw commented on #412
I removed the `scr.refresh()` that apparently causes the status line flicker, and that leaves artifacts on the screen inside tmate (which happens in 1.5.2).  If anyone finds a solution to the tmate artifacts issue that doesn't cause status-line flicker, I'd love to get it fixed, but for now, a bit of flicker is better than the artifacts.

[2019-12-02 07:04] #412 closed, assigned to nobody

[2019-12-04 06:11] anjakefala opened #413 "[v1.5.2] `SettableColumn`s are `None` when pasted"
**Small description**
Contents of columns created with `addcol-*` do not get 'copy-pasted'.

**Expected result**
When you paste a row, the contents should look exactly like the copied row.

**Actual result with screenshot**
![Screenshot from 2019-12-03 22-09-36](https://user-images.githubusercontent.com/7489659/70117195-a8c99c80-1619-11ea-8bc4-3a0ca3998269.png)

**Steps to reproduce with sample da

[2019-12-05 08:38] sfranky opened #414 "[feature request] add command `gz_` adjusts width of all visible columns to inputted number"
Sounds like a normal progression. It should be super handy when you want to visually compare two open sheets by quickly switching between them.

[2019-12-05 20:14] sfranky commented on #414
maybe something like
[code]
and then
`Sheet.addCommand('gz_', 'resize-cols', 'resize_cols(visibleCols, visibleRows, cursorCol)'),
[code]

[2019-12-06 05:31] anjakefala commented on #414
This totally works, @sfranky!

Here is the only bit of style feedback that I have.

We limit the usage of the name `cursorCol` to the execstr. Within the execstr, it will get passed into the function as a parameter. Then, within the public function itself, `col` is the preferred local/parameter name for a given single **Column**.

[code]

Now, this function is a bit more general, and is location i

[2019-12-06 05:52] anjakefala commented on #414
This is the final design I came up with!

[code]

And then `resize-col` can also be refactored to use this. Regrettably, `resize-cols-max` has a bit more nuance that was too messy to incorporate. =)

[2019-12-06 07:06] sfranky commented on #414
Thanks very much @anjakefala for taking the time to explain the line of thought, it is very clear !
I also appreciated seeing the progression to the final version.

[2019-12-06 07:25] saulpw commented on #414
BTW this is what `Fanout` is for.  `Fanout(visibleCols).width = input(...)`

[2019-12-06 15:47] anjakefala commented on #414
@saulpw Ohhhh! You are totally right!

@sfranky check this out:

[code]

This spell fans out attributes to every element in a list. So we can pass it a list of columns, and it will set the attribute to every column in that list.
Additionally, you might notice that it will also handle the `undo` for the command in question, so we would not even need to think about that. :blush: I keep forgetting ab

[2019-12-07 04:16] anjakefala commented on #414
It is in develop. =D Many thanks. ^^

[2019-12-07 04:16] #414 closed, assigned to nobody

[2019-12-07 08:00] sfranky commented on #414
Thanks very much @anjakefala !

[2019-12-08 08:06] sfranky opened #415 "z^S only saves column, not key column + column"
z^S only saves the current column, instead of saving also the key column, as stated in the manual.

**Additional context**
Latest dev commit
No .visidatarc, no plugins loaded

[2019-12-09 16:39] mycaule commented on #112
Working quite well but for some files we can get error depending on how it was serialized
[code]

[2019-12-09 17:16] saulpw commented on #112
@mycaule Does it work with a simple Python script?  If so, it it should work in VisiData; if not, then that's what has to be fixed for it to work.

[2019-12-12 01:15] vapniks opened #417 "Undo results of new custom command"
I've added to following code to my config file:
[code]
It creates a new command (with no keybinding) which trims whitespace from all cells in the current column. However, after applying the command I am unable to undo it.
I've tried searching the code for the `undo-last` command, but even though this is listed in the help sheet, when I grep through the code I can't find it.
Please help.

[2019-12-12 01:23] saulpw commented on #417
What version are you using, and what version are you grepping through?  This seems to me like it should be undo-able in the current develop branch.

[2019-12-12 13:58] vapniks commented on #417
I'm using v2.-1dev, and grepping through v1.6-dev... Doh!!! (slaps head)
I forgot that I'd downloaded both versions, and was looking at the wrong one!

[2019-12-12 13:58] vapniks commented on #417
In any case, how would I get undo working with my custom command?

[2019-12-12 17:36] saulpw commented on #417
Try upgrading to v2.-2 and it should just work.

[2019-12-13 04:41] delbs27 opened #418 "Failed to clone new version"
**Small description**
Please make sure you have the correct access rights  Error appears when cloning new version of Visidata
**Expected result**
Package to be installed
**Actual result with screenshot**
pip3 install git+git://github.com/saulpw/visidata@v2.-2
Collecting git+git://github.com/saulpw/visidata@v2.-2
  Cloning git://github.com/saulpw/visidata (to v2.-2) to /tmp/pip-s8p34dzq-build
 The

[2019-12-13 05:52] saulpw commented on #418
Try using `https` instead:

`pip3 install git+https://github.com/saulpw/visidata.git@v2.-2`

[2019-12-13 07:05] anjakefala commented on #418
@delbs27 Please let me know if the above works! I will update the instructions. Thanks for letting us know.

[2019-12-13 20:52] vapniks commented on #417
Hmm.. did that, but when I run the `trim-col-whitespace` command above I get:
[code]
It works if I run this code at the python CLI:
[code]

[2019-12-13 20:57] anjakefala commented on #417
@vapniks, I cannot reproduce the `SyntaxError`. Can you reproduce the error, and then please press `Ctrl+E` then `Ctrl+Q`, and paste the stacktrace?

[2019-12-13 21:28] vapniks commented on #417
Ah.. just figured out what the problem was. I used a different source when I tried it with ```vd``` directly. I was replaying a .vd file in which the original source was a URL, and the column I was trying to trim didn't have a name.
However, after setting the column name to "Country" and trying again I get:
[code]
If I then try saving the sheet, I get:
[code]
however the sheet appears to have been

[2019-12-13 21:33] saulpw commented on #417
You can get around this with `g'` to freeze the values in the sheet.  The proper alternative is to replace the current column with a derived column that does the .split() (e.g. use `=` instead of `g=`').  The only reason to make it like `g=` as you have it, is if you want the results propagated back to the source sheet from a derived sheet.  But as you're seeing, the source column is not actually

[2019-12-14 13:55] #417 closed, assigned to nobody

[2019-12-15 10:27] delbs27 commented on #418
Hey there, thanks for getting back to me. I have tried with https and apologies i should have mentioned i tried that before i posted here also.  but here is my terminal output trying https.

pip3 install git+https://github.com/saulpw/visidata.git@v2.-2
Collecting git+https://github.com/saulpw/visidata.git@v2.-2
  Cloning https://github.com/saulpw/visidata.git (to v2.-2) to /tmp/pip-05nuih2f-build

[2019-12-15 20:09] anjakefala commented on #418
Hi @delbs27!

Thanks for giving us a heads up about the exploit! The exploit is *thankfully* not relevant for VisiData. The malicious code was placed in a very similarly named package: https://gbhackers.com/malicious-python-packages/.

I have checked, and the only reference to `python3-dateutil` is in our debian packaging of VisiData. Debian does have a .deb regretfully called `python3-dateutil`.

[2019-12-15 20:19] anjakefala commented on #418
HI @delbs27!

I pushed a fix to `2.-2` that changed the protocols on all of the submodules to https. Can you give it a try now?

[2019-12-15 20:37] delbs27 commented on #418
Hey that works! Thanks so much for taking the time to respond. Now using v2.-2. Big fan of this project since hearing about it via python podcast.

[2019-12-15 20:51] delbs27 commented on #418
Tested a json file thats 22G in size and works great! Thanks again

[2019-12-16 00:52] anjakefala commented on #418
:blush:

[2019-12-16 00:52] #418 closed, assigned to nobody

[2019-12-16 13:23] vapniks opened #420 "How to unbind a keybinding"
In my config file I have:
[code]
and when I start visidata v2.-2 I get this message in bright yellow at the bottom of the screen:
[code]
There is no mention of the ```g^S``` binding in my config, but it is set in the ```defermods``` plugin which I have installed. When I press ```^_``` it calls ```undo-last``` which is what I wanted, but if I could unbind the default binding before creating the new

[2019-12-16 16:35] saulpw commented on #420
Use `BaseSheet.unbindkey('^_')`.  Unfortunately for now you have to know which Sheet type the key was already bound on.

[2019-12-16 18:36] anjakefala commented on #420
@saulpw, where do you unbind if the original was a `globalCommand` (which is the case for `g^S`)?

[2019-12-16 18:44] saulpw commented on #420
global `unbindkey` should work in that case for now.  Ultimately global commands will either be on BaseSheet, or on VisiData itself.

[2019-12-16 20:55] sfranky commented on #420
all this time i saw something similar on the status row and i thought it was some kind of super inner joke i will never get!!!

[2019-12-16 21:05] anjakefala commented on #420
I mean... the inner joke is

![image](https://user-images.githubusercontent.com/7489659/70943039-c24cea00-2004-11ea-8169-ebdeed98b797.png)

[2019-12-16 21:09] sfranky commented on #420
i see Ted Danson, I upvote

[2019-12-17 08:00] anjakefala commented on #420
[code]

This has been updated in the most recent version of the defermods plugin! I am going to close this issue since the question has been answered. =)

[2019-12-17 08:00] #420 closed, assigned to nobody

[2019-12-18 20:11] pigmonkey opened #421 "Navigating to the nth column"
I have a script which loads a sheet and extracts the 26th column. The script is not working as expected with some sheets. I loaded one of those sheets with visidata so that I can manually inspect it.

Is there a way to tell visidata to navigate to the 26th column? I don't know what the header of that column is, so I can't do a regex search. I was hoping to do something vim-like, such as `26l` to m

[2019-12-18 20:20] anjakefala commented on #421
Hi @pigmonkey!

VisiData does not have relative-numbering column navigation (illustrated in your `26l` example), but there is a way to navigate to the 26th column.

`c` navigates to the column by name regex.
`zc` navigates by column number (where the columns are numbered via 0-indexed).'

Hope that helps. =)

[2019-12-18 20:20] #421 closed, assigned to nobody

[2019-12-18 21:02] pigmonkey commented on #421
I see `zc` in the man page now. Thanks. That does what I need.

[2019-12-18 21:04] anjakefala commented on #421
@pigmonkey I should add a how-to for that. Thanks for asking usability questions, it will help me for when I make time to mature those!

[2019-12-19 13:13] vapniks opened #422 "[develop] unable to replay saved cmdlog - row ids not recognized"
When I try to replay a command log I get an error about "no キtable_3 row"
When I delete a sheet, the sheet name is saved with a "キ" prefix char in the command log, and visidata v2.-2 is unable to recognise it on replay. I had no such problems with v1.5.2
Here is the .vd file:

[code]

[2019-12-19 17:44] anjakefala commented on #422
Confirmed bug @vapniks, thanks for reporting!

[2019-12-19 21:41] sfranky opened #423 "[vddedupe] not working"
**Small description**
plugin vddedupe's dedupe-rows command not working  (no sheet change upon execution), with vanilla visidatarc.

example file dloaded from docs (https://jsvine.github.io/intro-to-visidata/advanced/extending-visidata/) not working , although select-duplicate-ows working normally.
Running on last develop commit.

[2019-12-22 22:34] frosencrantz opened #424 "fixed format gets an extra leading column with header&column value '[1]'"
**Small description**
fixed format gets an extra leading column with header&column value '[1]' in the UI.  It looks like the value might an array with a string that is input the line.

**Expected result**
No extra column

**Actual result with screenshot**
No stack trace.  If this is not reproducible I'll work on getting a screenshot.

[code]

Saving the output to csv loses the extra leading column

[2019-12-23 00:45] anjakefala commented on #424
Thanks for the bug report @frosencrantz!

I have been able to reproduce this with `ls -al | vd -f fixed`.

This is the commit of origin for the issue 78944377ee6874969a05b07000a01dd27907b3aa.

[2019-12-23 01:54] saulpw commented on #424
This is interesting, thanks for the bug report @frosencrantz.  7894437 was to make it easier to debug loaders which clear `columns` but for whatever reason don't add any useful columns. This was the issue with the jsonl loader, if it was given arrays instead of hashmaps.  With 7894437 at least it kept the raw column and showed the rows as their raw objects.

This apparently keeps the raw column in

[2019-12-23 07:02] saulpw commented on #415
Thanks @sfranky.  I added an unbound command `save-col-keys` that does this now.  We need to update the docs to reflect the expected behavior of `save-col` and the new command.

Also if anyone can think of a better name for either or both of these commands, I would love to hear them.

[2019-12-23 07:10] saulpw commented on #424
Should be fixed, let us know if it doesn't work or if similar issues arise in the future.

[2019-12-23 07:10] #424 closed, assigned to nobody

[2019-12-23 07:12] #415 closed, assigned to nobody

[2019-12-23 14:52] anjakefala commented on #334
Modified tag to [develop] because this is an issue even when the `defermods` plugin is not installed.

[2019-12-23 15:02] anjakefala opened #425 "[develop] assignment of sheet shortcuts is faulty"
**Small description**
The automated assignment of sheet shortcuts is currently faulty.

**Edit** The manual assignment also does not work.

**Expected result**
The first sheet would get assigned shortcut 1, the second shortcut 2, etc.

**Actual result with screenshot**
The second sheet got assigned shortcut `o`.
![Screenshot from 2019-12-23 10-00-36](https://user-images.githubusercontent.com/74896

[2019-12-23 15:04] anjakefala commented on #425
Origin commit: ac259e5cf66b4acb2dc28e9a57dbae793aa44b5d

[2019-12-23 15:12] anjakefala opened #426 "[develop] options set internally or by plugins should not show up on cmdlog"
**Small description**
We have a few internal hard-coded options for specific loaders. These options will always apply, and thus should not show up in the cmdlog.

**Expected result**
The cmdlog only contains options that have been configured by the user for the current session.

**Actual result with screenshot**
`cmdlog-sheet`
![D](https://user-images.githubusercontent.com/7489659/71365290-879b028

[2019-12-24 04:40] osunderdog opened #427 "--config command line option does not appear to work"
**Small description**
vd --config {filename} does not execute python code in {filename}.

**Expected result**
From the help documentation `vd --config {filename}` should exec {filename} on startup.

**Actual result with screenshot**
The only way I can get a config file to execute is if the config file is saved at `$HOME/.visidatarc`.

**Steps to reproduce with sample data and a .vd**
Create config

[2019-12-24 08:39] saulpw commented on #427
Thanks for the bug report, @osunderdog.  Your expectations were correct, this was a good bug.  The commit above should both fix it and explain it.

[2019-12-24 08:39] #427 closed, assigned to nobody

[2019-12-30 06:45] anjakefala opened #429 "[jsonl] load and save round-trip (minimal diff)"
When a user does `vd -b file.jsonl -o file.jsonl`, the output file should be identical to the input file.

[2019-12-31 23:43] frosencrantz opened #430 "[colorizer] how to get row index"
From within a colorizer it is not clear how to get context about what we are coloring.  Currently you get the row/col/cell.  But, it is not clear what the current row or col index is.  Or what is the value of the previous/next row/cell.

My Goal: add a command that adds a colorizer to a table that alternates colors on different rows:
   * option 1: alternate rows have alternating colors.
      * E

[2020-01-02 08:25] saulpw commented on #430
Hi @frosencrantz, unfortunately that isn't supported in core VisiData.  However, the [`rownum` plugin](https://github.com/saulpw/visidata/blob/develop/plugins/rownum.py) maintains a row-number index and provides a `Sheet.rowindex(row)` function that you can call to get the row number.

If you need the column index, use `Sheet.visibleCols.index(col)`.  (Almost always a user extension should use `vi

[2020-01-03 19:20] frosencrantz commented on #430
Thanks @saulpw that seems to partially work for option 1.

Trying something like:
[code]
Problems:
   * many times rowindex returns None.  Gets lot of tracebacks, it is not easy to tell the real source of problem. The tracebacks  all start from line sheets.py:208.  Is this being called on non-rows?
   * The colorizer appears to apply to all sheets, not just the current sheet.  Why? How do I add a

[2020-01-03 19:26] saulpw commented on #430
This is a known issue with Colorizers.  I've tried a few times to improve the API, but the more cases I wanted to handle the more complicated it got.  So the way it works, the colorizer function gets called with a `None` row for the header, and a `None` column for the separators.  This way if you want to color a row completely you can ignore the column, and it will apply as you'd expect (and same

[2020-01-03 19:35] frosencrantz opened #431 "[howto] hide invariant columns"
This is a request to the visidata community.  I would like a plugin that hides invariant columns.

I look at data with many columns.  Sometimes the columns have only a single value. Sometimes this happens after drilling down into the data.

It would be useful if these invariant columns could be hidden with a single command. Now, I just visit the frequency table to see if what values are in a colum

[2020-01-03 20:53] anjakefala commented on #431
@frosencrantz, can you define for me "invariant columns" in this context?

[2020-01-03 20:59] frosencrantz commented on #431
In this context  an "invariant column" is a column that has same value in all rows.  There needs to be more than one row.

[2020-01-03 22:25] frosencrantz commented on #430
Is the assumption that a RowColorizer's value doesn't change for an entire row? And likewise for a ColumnColorizer?  And are those values cached for a given row/column?  It doesn't look like it to me.

For the option 2  I mentioned above is there a similar method to look at the previous row?  Or is it easy and efficient to go from a rowindex to a row?

[2020-01-03 23:07] saulpw commented on #430
In actuality, there is no difference between RowColorizer, ColumnColorizer, and CellColorizer.  VisiData currently makes no assumptions about how they are used, and calls the full set of colorizers for each interface element.

It is easy and efficient to go from a rowindex to a row with `self.rows[rowindex]`.  To get the value of a cell using that row use `col.getTypedValue(row)`.

[2020-01-04 00:50] anjakefala opened #432 "[develop] -P longname is not working"
**Small description**
`vd -P longname` was introduced in v2.-2. It replays *longname*.

Since 751de48351533b3f5fb0ebde35ec638129dc09fd it instead resuts in this stacktrace:
[code]

**Steps to reproduce with sample data and a .vd**
`vd -P open-plugins`

**Additional context**
`develop` branch

[2020-01-04 15:31] frosencrantz commented on #330
@saulpw Thanks this is useful, it took me while to understand that command line flags and options are the same.

One additional thing that would help me is if there was some context as to where each option is coming from.  For example tsv and csv each have their own delimiter options.  It would be useful to know where an option was defined.  Not sure how easy is to show that additional bit of info

[2020-01-04 17:44] frosencrantz commented on #430
How do you set the text color and the background color independently?

[2020-01-04 19:41] saulpw commented on #430
The background color cannot be set except with the `reverse` attribute.

[2020-01-04 19:41] #430 closed, assigned to nobody

[2020-01-05 05:49] saulpw commented on #330
The location of the option definition isn't stored internally.  I use `git grep 'option(' | grep optname` when I want to see where an option is defined.  (`theme(` for `disp_' and `color_` options, but I think `theme()` will be deprecated for 2.0 anyway).

For loader-specific options we've tried to standardize on `ext_opt_name` where `ext` is the filetype, with `delimiter` and `row_delimiter` just

[2020-01-05 19:40] frosencrantz opened #433 "[colorizer] Adding a colorizer applies to all sheets not just the sheet the colorizer was added to."
**Small description**
From https://github.com/saulpw/visidata/issues/430#issuecomment-570672955
@saulpw says:
sheet.addColorizer seems like it should only add the colorizer to the current sheet, I agree. This is probably just a bug, though it may prove difficult to fix in the short term. We'll look into this, esp as we finalize the API for 2.0.

**Expected result**
Apply only to the sheet that she

[2020-01-05 19:48] frosencrantz opened #434 "[wishlist] delete an added colorizer"
**Small description**
This might just be a question, rather than a bug.

It is not clear what the correct way to remove a colorizer that was added via sheet.addColorizer()
If I add one via a command mapping it would be useful to be able to remove it with a command.

[2020-01-05 19:58] frosencrantz opened #435 "[wishlist] Add ability to set both foreground and background colors independently"
**Small description**
sheet.addColorizer() only allow you to see the fg or bg color (via the reverse attribute).  But there is no way to independently set both.   It would be nice to have control of both these independently.

It looks like part of the issue is that the curses color_pairs are all created at start up, and there are no free spots.  Perhaps these can be changed later.

I know this is

[2020-01-05 20:02] frosencrantz commented on #430
Thanks for the help, @saulpw  I was able to add a colorizer that would add coloring on the row when a timestamp column changed date boundaries.  Making it easier to navigate and understand some log data I'm looking at.

I've created a few bugs based on this exercise.  Hopefully they are helpful feedback.

[2020-01-06 06:18] WesleyAC opened #437 ""No module named 'requests'" when loading wikipedia URL on NixOS"
**Small description**

I ran `vd https://en.wikipedia.org/wiki/New_York_City_Subway_stations`, on NixOS (using the `visidata` nixOS package).

**Expected result**

visidata runs and opens the tables in the requested wikipedia page

**Actual result with screenshot**

[code]

**Additional context**

`vd --version`: `saul.pw/VisiData v1.5.2`

CC @7c6f434c, who's listed as the maintainer of the visida

[2020-01-06 13:36] frosencrantz opened #438 "[reload] Reload deletes tables created in visidata"
**Small description**
Created a table with "A" command, added some rows, and hit reload table.  All rows were deleted, columns appeared untouched.

**Expected result**
Unclear.  Perhaps the behavior is correct.
I think doing nothing would have been correct.  Reloading a table from STDIN appears to do nothing.  So was surprised to lose data entered directly to visidata.

If this actually was correc

[2020-01-06 15:58] anjakefala commented on #437
Hi! =)

There are a lot of data format loaders, most with their own dependencies, and we made a decision to not have any of the dependencies install by default. We left it with the package maintainers to decide which they wanted to include in the various packages.

If you think `requests` should be included in the NixOS one by default, their repo is the place [to write the issue](https://github.co

[2020-01-06 15:58] #437 closed, assigned to nobody

[2020-01-06 16:06] anjakefala commented on #438
Hi @frosencrantz!

If you are trying to see if a "refresh" of some kind will help with an aesthetic issue, `Ctrl+L` will "redraw" the current visible view. That is a safer bet than `reload` for your use-case.

Unfortunately, this is expected behaviour. `Reload` by design "restarts" the sheet. It goes through the steps that each sheet went through when it was initially loaded. With sheets associate

[2020-01-06 16:06] #438 closed, assigned to nobody

[2020-01-06 20:18] frosencrantz opened #439 "[develop fixed format] Fixed format has a traceback if --fixed_rows is less than --skip"
**Small description**
Fixed format has a traceback  if --fixed_rows is less than --skip 15

This command gives a traceback: vd -f fixed --fixed-rows 10 --skip 15

**Expected result**
Fixed-rows applies after the initial lines are skipped.

**Actual result with screenshot**
[code]

**Steps to reproduce with sample data and a .vd**
vd -f fixed --fixed-rows 10 --skip 15

**Additional context**
Please

[2020-01-08 06:36] frosencrantz commented on #438
Hi @anjakefala   I think that is a reasonable take, and partly expected it.  I'm fine with it.   I do have a couple comments below for some additional thoughts.

Yes, what I should have used was redraw, thanks for pointing that out. It did not occur to me then.

I'll mention being on the losing end of the data (just a couple rows) is shocking.  Even though my data in this case was only to debug so

[2020-01-08 07:08] anjakefala opened #441 "[feature-request] Add repeat-command"
Aim is to have something spiritually similar to vim's `.` (dot) command.

Design from @ajkerrigan: If there was a repeat command, my intuition would be for it to run the previous cmd longname with any previous input. A z-prefix alternative would run the last command longname with empty, queried input.

## Example Workflow

User runs `z+` *sum* on current column **Units**.
User moves cursor to colu

[2020-01-08 07:21] anjakefala commented on #438
[code]

I did:

[code]
and then modified a cell, pressed `^R`, and it reloaded to what I had originally piped in. Can you walk me through what you did and saw? (I did this all on the `develop` branch.)

[2020-01-08 07:44] anjakefala commented on #438
[code]

@saulpw?

[2020-01-08 08:04] ghost opened #442 "[feature-request] Add way to compare rows to visidata"
Add a way to compare a bunch of rows easily. Here, if a column have the same value for all rows in a sheet, they should be hidden.

[2020-01-08 09:52] 7c6f434c commented on #437
@WesleyAC `visidata.overrideAttrs (x: { propagatedBuildInputs = x.propagatedBuildInputs ++ (with python3Packages; [requests]);})` (I would comment in a Nixpkgs issue if there was one…)

[2020-01-08 11:51] tkossak opened #443 "[wishlist] fixed format - column definitions?"
Is it possible to define exact column positions/lengths for fixed format? I have a fixed file and it is impossible for visidata to properly recognize where column begins and where it ends without proper defintion.
It would be good if we were able to pass columns definition to visidata eg:

column 1 - from char 0 to 5
column 2 - from char 6 to 10
column 3 - from char 25 to 30
etc...

[2020-01-08 16:59] anjakefala commented on #442
Hi @nabeel-ms!
I cannot find an issue where @saulpw talks about it (:disappointed:), so this is based on my understanding of the roadmap.

[code]
My gut instinct is that what you are asking for is a way to specify "rows" as an entity in formulas and perform operations on them. Being able to easily write formulas that compare rows to each other within the VisiData interface is out of scope for 2.0.

[2020-01-08 16:59] #442 closed, assigned to nobody

[2020-01-09 06:08] frosencrantz commented on #438
Yes, looks like I was wrong about the table from stdin.  I had not made any edits, so the table appeared unchanged.  But trying again now it appears that reload on stdin loses all edits (including new columns.)

[2020-01-09 06:15] frosencrantz commented on #442
I'm not sure I understand the request.  But part of what you are requesting sounds like my recent plugin request: https://github.com/saulpw/visidata/issues/431 to hide columns that only have a single value.

Your request sounds like a special case, where it would only hide columns if they have a single value in the selected rows (vs all rows).

[2020-01-10 05:16] saulpw commented on #431
To hide columns which have the same value in all rows, open the Describe Sheet (`Shift+I`), select columns using `z|` where `distinct <= 1`, and then hide them with `g-`.

[2020-01-10 05:16] #431 closed, assigned to nobody

[2020-01-11 01:31] frosencrantz commented on #431
Thanks, @saulpw!  That works.
Is there a way to make that into a single shortcut?

[2020-01-14 07:00] saulpw commented on #443
Hi @tkossak, you can get column on a fixed sheet from position `i` to `j` with `FixedWidthColumn(name, i, j)`, which you could make into a little command to add the right columns for your filetype (this can probably go straight into your .visidatarc):

[code]

or if you wanted something more generic, you could do something like this:

[code]

`vd -f fixed --fixed-cols="0-5 6-10 24-30"` and then ex

[2020-01-16 11:35] tkossak commented on #443
I tried second solution (more generic option) and in visidata v1.5.2 I get:
[code]

So I tried latest 2.0 version (`vd -f fixed --fixed-cols="0-2 3-5 6-8" test.txt`) (this is the file: [test.txt](https://github.com/saulpw/visidata/files/4070939/test.txt)) and got this in status bar:

`1〉--fixed-cols=0-2_3-5_6-8| --fixed-cols=0-2 3-5 6-8 does not exist, creating new sheet | saul.pw/VisiData v2.-2.1

[2020-01-16 15:56] ajkerrigan opened #444 "Display columns are duplicated when loading JSON with a single object"
**Small description**

If I open a JSON file which contains a single JSON object rather than an array of objects, its columns are duplicated in the VisiData window. Sample contents (`singleitem.json`):

[code]

**Expected result**

Opening a JSON file with a single object should appear the same as opening a JSON file containing an _array_ containing only that object.

In VisiData 1.5.2, this works

[2020-01-16 16:24] ajkerrigan commented on #444
For the record, this feels like a pretty low priority issue and I'm happy to take a peek at it myself. Just wanted to get it documented before I forgot!

[2020-01-21 07:11] saulpw commented on #444
Nice find, @ajkerrigan, and thanks for fixing it!

[2020-01-21 07:11] #444 closed, assigned to nobody

[2020-01-21 07:42] saulpw commented on #443
Ah, the core problem here is that plugin options don't get added to the cmdline parser--we need to parse the cmdline args to find any '-c <config>' to specify alternate .visidatarc, which then import plugins.  So it should work if you specify it in your .visidatarc:

        options.fixed_cols="0-2 3-5 6-8"

I added a re-parsing step for cli args so that plugins can have their options on the cli o

[2020-01-21 18:23] tsibley opened #448 "[develop] Install plugin dependencies in an accessible location"
**Small description**
I tried to install the vds3 plugin via the Plugins Sheet by pressing `a`.

**Expected result**
Plugin is installed successfully.

**Actual result with screenshot**
![image](https://user-images.githubusercontent.com/79913/72830885-8bd34200-3c36-11ea-8542-4ff8fa05a11c.png)

Note permission denied error at the bottom. Pressing `^E`, `g^E`, and `z^E` all said there were no errors

[2020-01-21 19:01] anjakefala commented on #448
@tsibley, this is such a wonderful overview of the bug, the complexities of how it came about, and some possible approaches to resolving it.

Thank you :blush: :tada:

[2020-01-21 19:45] saulpw commented on #448
I like the idea of installing the deps into the .visidata dir, especially because it's configurable.

[2020-01-21 19:45] anjakefala opened #449 "[wishlist] add notification for useful plugins"
The VisiData ecosystem is growing, and it would be useful to have ways to teach people about it through the terminal.

@tsibley proposed in https://github.com/saulpw/visidata/pull/445:

Additionally, educational messages can be added to the motd.

[2020-01-21 19:50] saulpw commented on #449
I love the idea of adding a default `openurl_s3` that refers users to the vds3 plugin.  Maybe we can find a good way to make it updateable apart from actual vd releases.  Like if there were a `provides` column in plugins.tsv that had `openurl_s3` in this case, and then vd created a stub for each of those that weren't already available.

[2020-01-21 20:16] ajkerrigan commented on #448
Thanks for this report @tsibley - it covers a case some of us have hit or resolved in a few different ways. Thanks for putting this together! 👍

In the meantime, handling the dependency install manually (a `--user` install of `s3fs` from outside of the VisiData plugin tool) feels a bit tedious but should work. Another option is creating a managed, isolated VisiData environment with a tool like [pi

[2020-01-21 20:35] ajkerrigan commented on #449
That seems like a neat idea - so when checking for loaders, VisiData could do a fallback check for plugin recommendations based on that `provides` column before "really" giving up?

[2020-01-21 22:47] saulpw commented on #449
More like, if plugins.tsv is available (and maybe it should either be downloaded automatically like motd, or both could be combined into a larger vdnews.json or something), then on startup vd automatically creates stub `provides` functions if they don't already exist (i.e. the plugin hasn't been loaded):

[code]

[2020-01-21 23:33] ajkerrigan commented on #449
Ohhhh neat, that'd work nicely.

[2020-01-22 16:42] jonathangrolleau opened #450 "[wishlist diff] select rows with diffs from another sheet"
Hi all,

I've been trying to find a way to :

-	Compare two CSV files
-	Export only the different rows or columns between those two CSV files in an outputted CSV file

(For the technical environment part, I’m using Debian 10)
If I’m right I should start by doing :

`vd –diff xxx.csv yyy.csv`

This will display me the differences between the files (if I understood the manual right).
Then from that

[2020-01-23 05:27] saulpw commented on #450
Hi @jonathangrolleau, unfortunately the `diff` option is a hack that just adds a colorizer, and there's not really any way in stock VisiData to use that for selection or anything else.  It's a good idea, though, and I'd love to see it implemented myself, probably as a plugin or app (`vdiff`).  There's a lot we could do with it.  If you know Python, it wouldn't be too hard to make a plugin that doe

[2020-01-23 05:27] #450 closed, assigned to nobody

[2020-01-23 06:27] frosencrantz commented on #439
@anjakefala  & @saulpw  This stack trace also happens if there is no input in fixed mode:
[code]

[2020-01-23 06:32] saulpw commented on #439
Thanks @frosencrantz, it's amazing what the right repro can do ;)

[2020-01-23 06:32] #439 closed, assigned to nobody

[2020-01-23 06:36] saulpw commented on #448
We can use `--visidata-dir`, so let's not use a `<slug>`.  Would it be more palatable if a `VISIDATA_DIR` envvar could be set?  maybe `VD_CONFIG` too?

[2020-01-23 06:48] frosencrantz commented on #345
@saulpw and @anjakefala

What are the current plans for the next release?

Also, what are the plans to promote the new release?  I hope the new release helps increase interest and usage of Visidata.

Jeremy Singer-Vine's tutorial is quite helpful.  It helped me learn how to use Visidata.  Is Jeremy's tutorial still correct with the new version?  I've recently re-read it, and it seems to still work

[2020-01-23 07:00] saulpw commented on #443
I believe this should work as expected now.  Let me know if this does not work for you, @tkossak.

[2020-01-23 07:00] #443 closed, assigned to nobody

[2020-01-23 07:00] #432 closed, assigned to nobody

[2020-01-23 08:35] jonathangrolleau commented on #450
Thank you for you answer Saul, do you know any other tool I could be using (and unfortunately I cannot use Python for this to my deepest regret) on linux ?

[2020-01-23 08:41] saulpw commented on #450
I'm sorry, I don't know what other tool you might use to diff csvs.  If you come across one that works well, please post a link here.

[2020-01-23 08:42] aborruso commented on #450
@jonathangrolleau a tool you can use could be https://github.com/paulfitz/daff

[2020-01-23 17:33] jsvine commented on #345
Hi @frosencrantz, and thanks for the kind words! I plan on updating the tutorial once 2.x is the main public-facing version. If you notice particular things that tripped you up in the transition from 1.5.2 to 2.x, I'd be very interested to hear about it, so I can account for those things in the update. Feel free to drop an issue at  https://github.com/jsvine/intro-to-visidata or [contact me
direct

[2020-01-24 07:54] ghost commented on #442
@frosencrantz  Thanks. That fits my requirements perfectly.

[2020-01-24 13:38] tkossak commented on #443
Yes it works after I installed https://github.com/saulpw/visidata/commit/3bcee8b4bc8095a7d61f760ff4996b2239a5690f version.

Ideally it should work without people modifying their `.visidatarc` and running `addcols-fixed` manually after starting `vd` (CLI option should be enough). But nonetheless it works so thank you very much.

[2020-01-28 05:17] anjakefala opened #452 "[develop csv] "_csv.Error" exception should not halt loading of a csv file"
**Small description**
We have a [test errors.vd](https://raw.githubusercontent.com/saulpw/visidata/develop/tests/errors.vd) which checks that VisiData reasonably loads a [csv file that has several problems](https://github.com/saulpw/visidata/issues/376). This test has been failing to load the file, upon hitting a row with a NUL byte. Instead of catching the error, and storing it as the value for t

[2020-01-29 21:35] jsvine opened #454 "[wishlist] Convert epoch integer string to date with `@`"
I often encounter *seconds since the Unix epoch* dates in datasets. Currently, casting these columns with `@` does not seem to convert these values into datetimes. I can, of course, achieve my goals by creating a new column, `=datetime.datetime.fromtimestamp(epoch)`, but it'd be neat if I could just press `@`.

I'm don't know quite enough, though, about VisiData's date-casting to tell whether this

[2020-02-01 16:07] frosencrantz opened #455 "[wishlist] Add ability to set the default alignment of values and scroll the values within a column."
If the values of a column are too wide for the width of the column there is no way to scroll the value within the column.

Some values are wide, but only seeing one (or both) edge(s) of the value is enough, but it is not possible to tell visidata the values in a column should be left, right, or center aligned.  If the width of the column becomes too narrow for the column, the alignment would contr

[2020-02-02 05:56] #452 closed, assigned to nobody

[2020-02-02 06:30] saulpw commented on #455
Yeah this would be really cool!  I can't think of an interface for it though.  How would it work?

[2020-02-02 06:30] #455 closed, assigned to nobody

[2020-02-02 20:56] frosencrantz commented on #455
I think for regular alignment it would need to be another metadata field about columns, there are already  properties like type and width.  For values wider than the column, we would also need an offset to where to start showing the value.   The default for wide values would be such that center alignment would elide the center of the value, so you could see as much as you can of the left and right

[2020-02-02 21:08] frosencrantz commented on #454
Yes, please make it part of the default date type.

As a workaround now, it is possible with the devel version with about three or four lines in your `.visidatarc` to create a custom type, if the whole column is epoch ints.

Per instructions from @saulpw in https://github.com/saulpw/visidata/issues/331#issuecomment-529310553  (and https://stackoverflow.com/questions/9744775/how-to-convert-integer-

[2020-02-03 02:07] saulpw commented on #454
This has already been in VisiData for a long time, but it's a bit hidden.  If the underlying type is int or float, then the date 'parser' uses `fromtimestamp` to convert from an epoch timestamp.  So for string epoch timestamps, you have to first convert the column to `int` type, then freeze the values into a new column with `'` (tick), then convert that column to a `date` type, and it will interpr

[2020-02-04 17:34] anjakefala opened #458 "[develop] reverse history for commands is being strange"
**Small description**
Since commit e2cd508610e82f1cf12189b64c3676f39c31f548, scrolling through a command's history started displaying `"num columns for new sheet: "` instead of the command's history.

**Steps to reproduce**
Press `/`. Type a search.
Press `/` again. Scroll up to see your previous searched query. Instead see "num columns for new sheet: ".

**Additional context**
Develop branch.

[2020-02-05 11:43] aborruso opened #459 "[tsv] Problem reading file that contains a CRLF within a quoted cell"
**Small description**

When I read [this](https://github.com/saulpw/visidata/files/4159251/input.zip) TSV file, that has inside cells some CRLF, visidata does not map correctly cells.

**Expected result**

Using LibreOffice I have no problem

![image](https://user-images.githubusercontent.com/30607/73838760-b9161780-4814-11ea-8685-8af81387df74.png)

**Actual result with screenshot**

Using VisiDat

[2020-02-05 17:22] #458 closed, assigned to nobody

[2020-02-05 20:28] anjakefala commented on #459
Thank you so much for the detailed bug report @aborruso!

From a glance, the tsv loader code does not seem to support a quotechar.

The csv loader does!

A current workaround, until we have an opportunity to give this issue more attention, is to load these files with the csv loader, and specify a tab delimiter. You can do that:

[code]

[2020-02-05 22:17] khughitt opened #460 "[wishlist] Autodetect file extensions only supported by pandas?"
Currently, the method for interacting with files differs, depending on the format, e.g.:

[code]

One can easily alias the later to something like `vp`, but it still requires a little mental effort each time visidata is called to choose the right command.

Is there any reason that the main visidata ui cannot attempt to detect the file format, at least for some common formats that are only supporte

[2020-02-06 06:59] sfranky commented on #459
I didn't know about the dollar sign @anjakefala, I always typed ctrl-v<tab> to put a literal tab !! nice !!

[2020-02-06 09:25] aborruso commented on #459
hi @anjakefala `$'\t'` is the ANSI C way to write the tab char?

[2020-02-06 15:07] aborruso opened #461 "[wishlist] long to wide command (a sort of specialized pivot)"
Hi,
if I need to transform long to wide [this TSV](https://gist.github.com/aborruso/bd1017a9cb9d765932b0bbb59617c069), starting from the columns "key" and "value",  the steps are these:

- set all the fields as key (excluding "key" and "value" fields);
- add max aggregator to "value" field ;
- select "key" field and click Shift+W.

![long2wide](https://user-images.githubusercontent.com/30607/73948

[2020-02-06 16:16] ajkerrigan commented on #460
Interesting idea @khughitt! It does seem like a convenience win to make pandas the default loader when it's the only option. Another possibility is declaring your own defaults in `~/.visidatarc`:

[code]

That's perhaps a middle of the road option between default native support and needing the `-f` option.

Since `~/.visidatarc` settings trump the defaults, you'd also be able to override ambiguous

[2020-02-06 18:50] jsvine commented on #461
Interesting! I was just thinking the same, while working through a "long" dataset. I'd defer to @saulpw and @anjakefala, but it seems to me that a tricky part might be how to handle non-unique indexes/keycol-sets. For instance:

[code]

... should transform to:

[code]

But what should trying to do the same with this table, which has two `species` keys for `fido`?:

[code]

Some possibilities:

-

[2020-02-06 19:02] anjakefala commented on #459
:joy:

Saul taught me this! It blew my mind, too. I asked him how to pass a tab just before commenting on this issue.

From what I understand, the `$` tells the shell to interpret `\` escapes. Instead of literally taking the `"\"`  as string, it interpets the `\t` as a backslash'd entity.

[2020-02-06 19:21] aborruso commented on #461
Hi @jsvine,
I think that it's especially up to the user to check for duplicates key value, for the same item (here it's "fido", and "name" is the one and only key field), before thinking to run long to wide transformation.

A check could be to add in background count as aggregator for the value field: if in the output there is some cell with value >1, then there is some duplicates key coupled with

[2020-02-07 10:47] paulklemm commented on #461
Maybe it's a good idea to learn from the behavior of `tidyr` in these special cases:

https://tidyr.tidyverse.org/reference/pivot_longer.html
https://tidyr.tidyverse.org/reference/pivot_wider.html

[2020-02-07 10:51] paulklemm opened #463 "[wishlist] Create new column from row index"
How can I add a new column involving the current row index?

For example from

| Brands |
| - |
| Mazda |
| Mercedes |
| BMW |

to

| Brands | ID |
| - | - |
| Mazda | 1 |
| Mercedes | 2 |
| BMW | 3 |

This is probably already trivial. Maybe we can add an example here: https://jsvine.github.io/intro-to-visidata/intermediate/creating-new-columns/

[2020-02-07 13:31] Geoffrey42 opened #464 "[batch] AttributeError in batch replay"
**Small description**

Hi, I want to automate some CSV files edition using **vd** replays. To be more specific:
From an existing CSV, I add a new column and save the sheet as a new file. That's it.

I believe it's probably some simple task I can't wrap my mind on it.

**Expected result**

If I replay the log file using the interface (```--play``` option) everything works fine and the newly edited

[2020-02-07 13:52] aborruso commented on #463
Hi @paulklemm you could do in this way https://github.com/saulpw/visidata/issues/215#issuecomment-443544587

[2020-02-07 14:36] khughitt commented on #460
@ajkerrigan Great suggestion!

[2020-02-07 15:35] anjakefala commented on #464
Hi @Geoffrey42! I am sorry that the docs were not clear about this. I will make a note to ensure they are more clear. I really appreciate how thorough you were with your report.

There are two ways batch mode is currently used:
1. To convert between file formats (`vd -b input.tsv -o output.tsv`).
2. To replay .vds in non-interactive mode (`vd -b -p replay.vd`). You were missing the `-p` flag. It i

[2020-02-07 15:39] khughitt commented on #460
@ajkerrigan Do you know if this will should in the current stable version of visidata? I tried it out, but it doesn't look like "filetype" is defined for `visidata.vdtui.VisiData` in this version.

I tried installing the latest version from the development branch the other day, but couldn't get visidata and vsh to work together, so I reverted to stable.

[2020-02-07 15:40] Geoffrey42 commented on #464
Oh I was sure I was missing some point !

Unfortunately I still get this error, but it's a real good sign !
[code]

Thanks for the relabeling, bug wasn't appropriate.

[2020-02-07 15:44] anjakefala commented on #460
The `stable` branch indeed has a different api!

Could you please try:

[code]

and if that does not work:

[code]

The pandas code is in `visidata/loaders/_pandas.py`, and the examples I am looking at are for `stata`/ `.dta`, which we did enable autodetection for.

Would you mind sharing what issues were you having with vsh and visidata working together?

[2020-02-07 16:01] anjakefala commented on #464
I have been able to reproduce the above! *Now*, we have a batch bug. ^^;

The replay is fine in live mode, but throws this Exception on batch.

I can take a look at this, soon! @saulpw, is there a way to get full stack traces in batch mode?

[2020-02-07 16:10] Geoffrey42 commented on #464
@anjakefala Thanks for the quick reply, I was already looking at the csv loader to understand what could be wrong.

Well if it's a bug I will try some workaround to get what I want but I'll stick to **vd** since it's so dope.

[2020-02-07 16:11] khughitt commented on #460
@anjakefala Thanks - the first approach did the trick! Tested with both feather and parquet and works fine.

Do you happen to know if there is any appropriate way to query the version of the API from the config? I didn't see anything like `vd.__version__`.

I could just use `try...except` blocks, but figured it's better to be explicit if possible.

I'll try and reproduce the issues I was having th

[2020-02-07 16:26] khughitt commented on #460
@anjakefala Ha! Sure enough, the issues with the dev branch were all on my end.. I forgot that I had a system-wide stable installation of visidata, and it was conflicts with my `pip --user`-installed dev version..

I was thrown off by the `NameError: name 'vdtui' is not defined` error message and didn't even think to check for multiple installations.. Also makes me realize my `$PATH` order needs t

[2020-02-07 16:39] anjakefala commented on #460
Oy! @khughitt. Python environments are not fun. =(

By the way, I would stick with `stable`, if your primary use-case is pandas! There are a few develop-pandas issues on the board. Unless, you want to help out by taking a look. =D

I do happen to know!

[code]

An example is in visidata/motd.py ^^.

[2020-02-07 17:00] ajkerrigan commented on #460
Good call @anjakefala !

@khughitt if you're looking for a way to decide which API to use at runtime, it _might_ be easier to check for the features you need rather than keeping track of versions. I'm not sure, but worth a shot:

[code]

On the topic of pandas, I wonder if we'd be able to tag team some of those issues @khughitt and/or @anjakefala ? I'm an infant when it comes to pandas, but slowly

[2020-02-07 17:50] khughitt commented on #460
@ajkerrigan Sure thing! I probably can't dedicate too much time at the moment, and I still need to spend some time getting more familiar with visidata's API, first, but I'll try and start flagging issues as I come across them / submitting PR's when I'm able to.

Currently I use vd for a mix of files: tsv, feather, and parquet. I used to just use gzipped-tsv files for everything for consistency / s

[2020-02-07 19:11] saulpw commented on #464
I think maybe in batch mode we should make `--debug` abort with stack trace.  However, aborting on every single exceptionCaught would make this useless; the trick is to only re-raise internal errors like this, and not  exceptions which are 'natural' and just part of working with the data.

[2020-02-08 02:33] anjakefala commented on #464
@Geoffrey42, I changed this issue back to a bug report!

I am ++ for that, @saulpw. That would make debugging stuff like this a lot simpler.

[2020-02-08 02:50] anjakefala commented on #460
@ajkerrigan, that is *really* clever! Saul was considering reverting back to the `open_` framework, and this would ensure that that `.visidatarc` continues to work if we do revert.

Thanks so much for sharing your workflow @khughitt. =)

I would definitely like to tag team on approaching them. I am also uncomfortable with pandas.

I am going to outline the collection of thoughts I have on the matt

[2020-02-08 15:31] sfranky commented on #463
@paulklemm if you're willing to switch to the develop branch, there's a plugin that does that, rownum.
If you install the plugin, then all you have to do is [space]addcol-rownum[enter]

[2020-02-08 15:45] frosencrantz opened #465 "[wishlist] Ability to load from a the contents of a cell."
A cell can have contents that could be interpreted as a data file.  Add the ability to load the contents of a cell as a particular type, which could be different from the type of the data file it is part of.

For example, there are json files called har files that web browsers can create.  These json files can have strings that have the contents of a independent file.  It is possible to save the c

[2020-02-08 16:16] anjakefala commented on #463
Thanks so much @aborruso and @sfranky for thoroughly answering the question. <3 :blush:

[2020-02-08 16:16] #463 closed, assigned to nobody

[2020-02-08 16:18] anjakefala commented on #463
And yes, @paulklemm, it would definitely be good to document this. I will add it to our docs at least. This is intro to visidata's repo: https://github.com/jsvine/intro-to-visidata

[2020-02-08 22:53] jsvine commented on #454
Thanks, @saulpw! Those steps work for me on `v2.-3dev`. FWIW, however, on `v1.5.2`, I get this:

[code]

Given the focus on v2, I’m not sure this is necessary to fix, but flagging in case it’s relevant. Command log [here](https://github.com/saulpw/visidata/files/4175487/epoch-cmdlog.vd.zip).

[2020-02-08 23:40] saulpw commented on #454
Thanks for confirming, @jsvine.  You're right that we're focused on v2 right now, so we won't backport a fix for that format/freeze bug to 1.5.2.

It would be neat to have the date type auto-convert epoch string times to dates, but as there is the reasonable workaround detailed above, for now it's going to sit as a wishlist item.  If anyone wants to put some effort towards this, a PR would be most

[2020-02-08 23:40] #454 closed, assigned to nobody

[2020-02-09 04:48] saulpw commented on #465
Interesting idea!  Maybe `z ENTER` or `zo` would be a reasonable keybinding for such a command.  I guess you'd have to input the filetype it would open as.  Should be reasonably straightforward to cobble something together using visidata.Path and openSource; left as an exercise for the reader (who should post their solution(s) here).

[2020-02-09 04:48] #465 closed, assigned to nobody

[2020-02-09 05:46] anjakefala commented on #464
[addresses.zip](https://github.com/saulpw/visidata/files/4176520/addresses.zip)

Contains addresses.csv and addresses_cmdlog.vd

[2020-02-09 06:44] saulpw commented on #464
Thanks for the excellent bug report, @Geoffrey42!  Should be fixed now in develop.

[2020-02-09 06:44] #464 closed, assigned to nobody

[2020-02-09 06:47] saulpw commented on #459
This is the correct solution, as quoted newlines aren't allowed in 'true' tsv files.

[2020-02-09 06:47] #459 closed, assigned to nobody

[2020-02-10 05:26] anjakefala commented on #441
Feature added! ^^
https://www.visidata.org/blog/2020/repeat/

Thank you, @saulpw . :blush:

[2020-02-10 05:26] #441 closed, assigned to nobody

[2020-02-10 21:03] anjakefala commented on #425
This was fixed at some mysterious point! =)

[2020-02-10 21:03] #425 closed, assigned to nobody

[2020-02-11 14:45] frosencrantz opened #466 "[user pref] if columns are too narrow and `g_` is annoying, increase options.default_width"
There was a request on twitter for rough edges:

When loading data, visidata uses set columns sizes.  I look at data that could easily fit within the width of the screen, but is has values wider than the default columns. So the data hides in narrow columns, cowering on the left side of the screen. Easy for me to fix with a 'g_'.

Still feels like a rough edge.

[2020-02-12 04:51] frosencrantz opened #467 "[rough edges] Unhiding a column takes a lot more keystrokes than hiding"
Hiding a column is easy is and fast:
- Navigate to column
- Type "-"

Unhiding a column takes a lot more work:
 - A couple special cases are nice and easy:
    - There is 'gv' to unhide all hidden columns
    - There is undo, if you just hid the column.
 - But the general uses a lot of keystrokes:
   - Type 'C', go to column sheet.
   - Navigate to the width column, navigate to column of interest

[2020-02-12 04:59] #435 closed, assigned to nobody

[2020-02-12 06:49] saulpw commented on #466
In the context of discovered column widths, `options.default_width` serves as a maximum.  It's set to 20 by default but I chose this arbitrarily; you can set it higher if you want.  There needs to be a maximum to avoid pathological layouts.

[2020-02-12 06:49] #466 closed, assigned to nobody

[2020-02-12 06:56] saulpw commented on #467
This is definitely a command you could make yourself, @frosencrantz.  I'd love to see the result when you get it working!  And probably others would too.

[2020-02-12 06:56] #467 closed, assigned to nobody

[2020-02-13 05:37] anjakefala commented on #422
Closing, since this has been fixed on develop since 0704339bae.

The commit will be in the next 2.x release. =)

[2020-02-13 05:37] #422 closed, assigned to nobody

[2020-02-14 19:59] tsibley opened #468 "[wishlist] Keep history files for the various kinds of prompts"
VisiData does a great job of preserving history for various kinds of readline-based prompts it issues, like the ones for Python expressions or regex searches. The histories only last the lifetime of the vd process, however, and it'd be nice if they were more permanently written to history files, the way shell history generally works.

[2020-02-14 20:03] tsibley commented on #460
I was reading this issue and wanted to chime in on this point: [Pandas 1.0.0](https://pandas.pydata.org/docs/whatsnew/v1.0.0.html) was just released recently and as part of that finally adopted a [versioning policy](https://pandas.pydata.org/docs/development/policies.html#policies-version) which should make the API much less volatile.

[2020-02-16 01:30] anjakefala commented on #460
Thanks, @tsibley! I retract my comment. I had no idea they had shipped 1.0. =D Good for them!

[2020-02-16 23:24] #334 closed, assigned to nobody

[2020-02-17 01:12] saulpw commented on #468
This is a good idea!  I'd love to have this be an option, though I'm not sure it should be enabled by default.  We could even use the information already being captured with `options.cmdlog_histfile`, though then it wouldn't be according to history "type" (unless we did something else to annotate the histfile).

[2020-02-17 21:23] frosencrantz commented on #467
@saulpw this issue was in response to your tweet: https://twitter.com/saulfp/status/1222033912597073920

It has been on my list, and I will get to it at some point. It seemed to be what you were requesting.

[2020-02-17 21:56] frosencrantz commented on #465
Thanks, @saulpw ! That was very helpful.  It looks like there is already a good example in the code  for loading data from a string:

https://github.com/saulpw/visidata/blob/dd93954a4baeefefeb5fec49c0ae5fa8acab13bb/visidata/main.py#L26-L29

log can be replaced with cursorValue
the type can be replaced with input("type", value="json")
The name could be: name + "_cell"

[2020-02-18 06:02] frosencrantz commented on #467
I do not know how to get a list of the hidden column names. It would useful to know that.

[2020-02-18 06:14] anjakefala commented on #467
I think you might need to make a new property that tracks that? https://github.com/saulpw/visidata/blob/develop/visidata/layout.py#L27

[2020-02-18 06:51] saulpw commented on #467
@frosencrantz `[c.name for c in sheet.columns if c.hidden]`

[2020-02-18 12:33] baogorek opened #470 "View Pandas DataFrames while in iPython [wishlist]"
Seven months ago I started a project called [datascroller](https://github.com/baogorek/datascroller) and recruited two fine developers to help me. Last week I discovered Visidata and absolutely, positively could not believe that this existed.

While the existence of Visidata has taken the wind out of datascroller developent, I wanted to share a feature of datascroller that will keep me using it in

[2020-02-18 17:53] saulpw commented on #470
Hi @baogorek!  This is a really useful feature, I agree.  In fact it's # 7 on the list of "10 Ways to Use VisiData" on the front page of [visidata.org](https://visidata.org): `vd.view_pandas(df)`.   Where did you look in the docs that you couldn't find it?  We should probably put a reference to it there.

As for datascroller, I know how hard is it to stumble across a 'competing' project for someth

[2020-02-18 18:37] anjakefala commented on #470
Welcome @baogorek! ^^

I wanted to sneak this in: https://github.com/saulpw/visidata/issues/460

If you are planning to engage with the pandas loader, this is the issue where we began chatting about that!

[2020-02-18 20:31] ajkerrigan opened #471 "Errors while calculating sheet name in view/view_pandas"
**Small description**

When opening VisiData from a REPL using `visidata.view()` or `visidata.view_pandas()`, errors evaluating the `sheet.name` property prevent VisiData from loading properly.

**Expected result**

VisiData can be used from a REPL to view arbitrary Python objects with `visidata.view()`, or Pandas DataFrames with `visidata.view_pandas()`.

**Actual result with screenshot**

Error

[2020-02-18 20:43] anjakefala commented on #471
I want a label for bug reports that are works of art.

[2020-02-19 05:08] saulpw commented on #429
This is pretty important, but I'm not quite sure how to do it!  If anyone wants to make an attempt, the code should all be in visidata/loaders/json.py.

[2020-02-19 13:35] baogorek commented on #470
Hi @saulpw , @anjakefala ,

Yes, mine is clearly reader error, as on the front page I now see `visidata.view_pandas(df)`. I think what happened was that I didn't scroll down all the way on the front page, looked at the gifs for a minute, and then clicked the "docs" link. The first things I saw were shell commands, and instead of scrolling down, I went back to Google to search for new pages about V

[2020-02-19 16:27] sfranky commented on #471
When you what now ?!!?
you can DO that ?!?!

[2020-02-19 16:55] ajkerrigan commented on #471
Haha @sfranky I had the same reaction, I just learned about that feature yesterday!

[2020-02-19 18:08] saulpw commented on #471
`if not self.source` could probably be `if self.source is None`.

[2020-02-20 06:00] #470 closed, assigned to nobody

[2020-02-20 06:22] anjakefala commented on #429
Accomplished a minimal diff!

[2020-02-20 06:22] #429 closed, assigned to nobody

[2020-02-20 07:26] #400 closed, assigned to nobody

[2020-02-21 06:45] anjakefala commented on #471
Fixed in #472, thanks to @ajkerrigan!

[2020-02-21 06:45] #471 closed, assigned to nobody

[2020-02-21 13:24] aborruso opened #473 "[wishlist] .ods loader (LibreOffice/OpenOffice spreadsheet)"
ODS it's one of the "classic" table format.

It could be enabled using [pyexcel](https://github.com/pyexcel/pyexcel) and pyexcel-ods.

I'm not able to implement it as extension, but I'm writing here because I think it would be great to have it in vd.

Thank you

[2020-02-21 16:37] WesleyAC opened #474 "[date] error with "date" column type and python expressions"
Pressing `@` will set the column type "date". However, this doesn't seem to play well with using `=` to operate on that column. I expect that, if I have two date columns, `foo` and `bar`, and I press `=` and type `foo > bar`, i will get output showing if the date in column foo is further towards the future relative to the date in column `bar` (specifically, what I'd expect is for `foo` and `bar` t

[2020-02-21 17:38] anjakefala commented on #474
![Screenshot from 2020-02-21 09-36-26](https://user-images.githubusercontent.com/7489659/75057363-b0b51200-548d-11ea-9c63-06a9005987a8.png)

I agree it is reasonable! We actually already support it, so I am really curious about your error.

Can you please walk me through the steps you took in more detail or upload a gif?

To obtain the contents of an error in a cell, you press `z Ctrl+E` on the ce

[2020-02-21 17:39] anjakefala commented on #474
(More information about your environment would also be nice.) :angel:

[2020-02-21 18:33] WesleyAC commented on #474
Ah, indeed. Looks like I mistyped one of my column names, sorry for the noise :(

It'd be useful if the tip about `z Ctrl+e` was displayed somewhere upon error - I think I was expecting a note about what the error was in the statusbar (I've definitely seen that before, presumably for other categories of errors) - displaying either the error or instructions to see the stack trace (or both) in the s

[2020-02-21 18:33] #474 closed, assigned to nobody

[2020-02-21 18:51] saulpw commented on #474
Whether and where to offer hints about how to diagnose errors is a larger topic and is not a directly actionable issue.  After the API settles and we release 2.0, we'll probably turn some of our attention to better usability for newcomers.  For now though this powerful secret magic will just have to be passed by word-of-mouth :)

[2020-02-23 19:33] frosencrantz commented on #467
Thanks @saulpw!

That could be combined with chooseMany() like is done for aggregators:
   https://github.com/saulpw/visidata/blob/a65b464118fbcb66e46e89da22a81b8e48c61b2d/visidata/aggregators.py#L145-L147

Untested:
[code]

Not sure how to unhide a column.  Either that or set a base width.  `c.width = 10`

[2020-02-23 19:40] frosencrantz opened #475 "[key columns] If a key column is wider than the screen no other columns can be seen"
**Small description**
If a key column is wider than the screen no other columns can be seen or scrolled on the the screen.
It is non-obvious what is wrong.

**Expected result**
See some part of non-key columns.

**Actual result with screenshot**
Sorry no screen shot.   But you would see that all you can see is the wide key column, but you can move the cursor to other non-key columns, but you can't

[2020-02-23 20:04] saulpw commented on #475
In bug reports, please include the exact version you're using.

[2020-02-23 20:40] frosencrantz opened #476 "[wishlist] Build automated column renaming into visidata"
There is already a useful plugin already by @jsvine:
    https://github.com/jsvine/visidata-plugins/blob/master/plugins/vdnormcol.py

It renames columns in way that makes them valid python identifiers.

It has some limitations:

  *  empty column names are left empty
  * it doesn't check column names for conflicts with globals (https://github.com/jsvine/visidata-plugins/issues/5)

It is possible t

[2020-02-23 20:51] anjakefala commented on #476
[code]

Could you please elaborate on this point? What are the difficulties you face in adapting a plugin like jsvine's to handle global namespace conflicts and unnamed columns?

[2020-02-23 22:11] frosencrantz opened #477 "[wishlist] `ls` format: Multiple columns of columns."
When you run the `ls` command, if the names are narrow enough, you get rows and columns of the file names.   It would be useful to be able to have a similar mode in Visidata.

Maybe this could be done via repeated columns.  So if the columns are narrow enough, instead of scrolling off the bottom, display the next rows to the right.  Repeat as much as there is space to the right.

To make the data

[2020-02-23 22:23] frosencrantz commented on #476
Yes, my last paragraph was to sort of ask what do I really mean.  I'm not sure what "easier" would be.
This may be too ambiguous.

I guess the main steps involved with making good names are:
  1) Determine if you want to even change a name (e.g. vdnormcol doesn't change empty strings.)
  2) scrub names of unwanted characters.  (spaces,dashes to underscores, upper case to lower)
  3) change names i

[2020-02-23 23:14] frosencrantz commented on #476
Also, making it easier is for extra credit.

I think having a basic renamer than can change every column into a usable name from a python expression without conflicts with other columns or globals is the basic functionality.

I felt any solution would be subjective, and so it seemed like allowing users to customize would also be important. Though any such customization would be extra credit.

[2020-02-23 23:18] saulpw commented on #477
This is antithetical to the design of VisiData.

[2020-02-23 23:18] #477 closed, assigned to nobody

[2020-02-23 23:21] saulpw commented on #476
I don't see anything directly actionable here, so closing for now.  Put together a workable solution in plugin form and we can consider whether it belongs in stock VisiData.

[2020-02-23 23:21] #476 closed, assigned to nobody

[2020-02-23 23:23] saulpw commented on #475
This would be a lot of code for an edge case that has a reasonable workaround already (use `z-` or `z_` on the keycol to make it small enough).

[2020-02-23 23:23] #475 closed, assigned to nobody

[2020-02-24 05:07] saulpw commented on #473
Yes, this would be nice.

[2020-02-24 05:07] #473 closed, assigned to nobody

[2020-02-28 19:45] jtrakk opened #478 "[pandas] Sorting a table from a pandas-loader supported format raises an error"
**Small description**
Sorting a table from a parquet file raises an error.
**Expected result**
The table is sorted.
**Actual result with screenshot**
If you get an unexpected error, please include the full stack trace that you get with `Ctrl-E`.

[code]

**Steps to reproduce with sample data and a .vd**

Create a parquet file.

[code]

Read the parquet file into visidata.

[code]

Sort the table b

[2020-02-28 20:06] anjakefala commented on #478
Thanks @jtrakk!

[2020-02-29 15:09] frosencrantz opened #479 "[sqlite cosmetic] Sqlite index sheet polish items"
**Small description**
Two small polish items on the sqlite index sheet:
  * sqlite items name "sheets" →"tables"
  * initial row&col columns counts are incorrect for unloaded tables
      * For unloaded tables it has row counts of 0, and column counts 1.
      * vd doesn't make it clear that it hasn't loaded the tables, it just has names.

**Expected result**
*  items should be named "tables"
* co

[2020-02-29 15:23] frosencrantz commented on #477
Hi @saulpw, would you be willing to explain more about why?

I am very surprised by this answer. VisiData is able to handle graphs in the terminal and hierarchical data.  It seemed like it could work with thin/long tables/data by wrapping them vertically.  But I don't know VisiData as well as you.  This was an earnest suggestion.

[2020-03-01 06:36] saulpw commented on #477
I'm not sure I can really explain it.  Rows are objects, columns are functions.  Changing that element of the design is like changing Euclid's 5th postulate in planar geometry.  Consider that you'd have to think through nearly every interaction in this mode and ask "how would this have to work differently to be compatible?"  Like pick any command.  What would `d` (delete-row) do, for example?  or

[2020-03-01 07:29] saulpw commented on #479
Yes, I agree, `tables` is a more precise term. `sheets` is pretty embedded in the docs though and it will be a lot of work to look at every usage and determine whether it means `table` (with columns) or `sheet` (either table or canvas).  Are you willing to do any of this work?

As for your second item, you could try a CellColorizer and see how it feels: `lambda s,c,r,v: s.rows is UNLOADED`

[2020-03-02 18:40] geekscrapy opened #480 "[wishlist] HTTP API pagination loader"
I'd love to know if this was possible and maybe have a crack myself but I'm unsure if it is.

I have a graphql API which supplies tabular data that I would like to analyse. The data should be streamed as it could be updated in the database, and could be from 1, to millions of rows. The API has pagination and an offset value.

Question is, could I build a loader which would be able to load data fro

[2020-03-02 19:50] saulpw commented on #480
Hi @geekscrapy!  Yes this should be doable, and probably pretty easily.  If you have some standalone Python code that can generate the "rows" of data, then it is straightforward to make a loader to get it into VisiData and work with it how you like.  I might also like to use an HTTP API loader for some things myself.  Come by the #visidata channel on freenode, or we can try to have the discussion

[2020-03-02 22:37] anjakefala commented on #480
VisiData makes use of the [curses module](https://docs.python.org/3/howto/curses.html), which is part of the standard library. =) The only dependency for core VisiData is [dateutil](https://pypi.org/project/python-dateutil/) for the `date` type. @saulpw wrote the terminal interface.

[2020-03-06 07:00] saulpw commented on #434
Added `sheet.removeColorizer` for 2.0.  Now you can do e.g.:

[code]

which makes an undo-able command to add a colorizer which applies `reverse` to all cells equal to 3.

[2020-03-06 07:00] #434 closed, assigned to nobody

[2020-03-06 07:01] saulpw commented on #433
Fixed now.

[2020-03-06 07:01] #433 closed, assigned to nobody

[2020-03-06 07:01] saulpw commented on #433
Fixed now so that `sheet.addColorizer` only applies to `sheet`.  To apply to an entire class of sheets, use e.g.:

[code]

The `dw == 3` works now too.

[2020-03-06 13:35] verajosemanuel opened #481 "unable to open a CVS using pipe as delimiter"
**Small description**
unable to open CSV using pipe as delimiter

**sample file**
[code]

**command**
[code]
**obtained result**
![visi1](https://user-images.githubusercontent.com/15836677/76088109-c2330980-5fb7-11ea-898c-691c4857e8e0.png)

[2020-03-06 14:01] ajkerrigan commented on #481
Hey @verajosemanuel - thanks for providing sample input, your command and a screenshot! Out of curiosity which version of VisiData are you using though? I've tried reproducing this with the latest stable release (v1.5.2) and the current `develop` branch, and in both cases I get this:

[code]

[2020-03-07 04:22] saulpw commented on #480
Closed without prejudice.

[2020-03-07 04:22] #480 closed, assigned to nobody

[2020-03-07 05:13] saulpw commented on #479
I would love it if you submitted a PR for either or both of these.  In particular the first item is trivial: just add `rowtype = 'tables'` to SqliteIndexSheet.

[2020-03-07 05:13] #479 closed, assigned to nobody

[2020-03-07 09:48] verajosemanuel commented on #481
saul.pw/VisiData v1.5.2

[2020-03-07 12:54] ajkerrigan commented on #481
Ok thanks. I'm not sure what's going on, but there are some things we can try to help track it down:

* Try running with `vd --csv-delimiter='|' -f csv global.csv` to be sure that vd isn't accidentally using a different loader for some reason.

* After you open the file, check and share the info from status history (`^P`). There should be a version line and then a few status messages, including so

[2020-03-07 15:45] frosencrantz commented on #477
@saulpw  you are suggesting a very deep solution.  It might be possible to do something superficial and useful.

If you have a long, thin column, would it be difficult to wrap it on the screen but in other respects treat it as that long column.

So if we only had a 3line by 10column screen and a long 9 row column with name N:

[code]

Could it be presented on screen like so (not sure if the column

[2020-03-08 17:18] frosencrantz commented on #434
I haven't tried it, yet.

It occurs to me is that the only name for a colorizer is a reference to it.  That works with the undo example.  It's not clear how I would remove it as a user after doing other operations without a name. Oh... maybe a table of the installed colorizers.

I like the example you gave, I hadn't noticed the decorator format before.

Thanks, @saulpw!

[2020-03-08 17:21] frosencrantz commented on #433
Thanks, @saulpw. I like that it can be done either way now.

[2020-03-09 00:46] saulpw commented on #389
Looking at this one again.  I implemented the title fix (confirm quits while thread still in progress), but I don't like it, as the vast majority of the time I quit with threads running, it is inconsequential (e.g. a sheet is still loading but I can tell it's the wrong file/format; or a long-running operation like sort), or intentional (I started too many threads and want to quit immediately befor

[2020-03-09 00:54] saulpw commented on #406
Any progress on this, @layertwo?

[2020-03-09 01:11] anjakefala commented on #389
I think you hit the nail on the hand, and saving is the primary use-case! I agree that the other scenarios would be frustrating.

Further input: https://twitter.com/phil_yen/status/1222043080582238210

[2020-03-09 06:08] saulpw commented on #389
Instead of adding another confirm(), I decided that saving was important enough that `vd` should simply wait for `save_` threads to finish before quitting.  Then if you still want to abort the save, Ctrl+C works.

[2020-03-09 06:08] #389 closed, assigned to nobody

[2020-03-09 06:10] saulpw opened #483 "[wishlist trackmods] confirm quit for sheets with modifications"
What about confirming any time the file has unsaved work? This is another thing that I find a little odd about vd coming from other programs.

_Originally posted by @dbandstra in https://github.com/saulpw/visidata/issues/389#issuecomment-552170204_

[2020-03-09 08:47] verajosemanuel commented on #481
^P
![error](https://user-images.githubusercontent.com/15836677/76196520-a9f70080-61ea-11ea-961f-526ad040f07d.png)

^E
No error

sed s/\|/,/g global.csv | vd -f csv

![noerror](https://user-images.githubusercontent.com/15836677/76196736-0c500100-61eb-11ea-801d-d4fe99f0efdf.png)

[2020-03-09 14:27] layertwo commented on #406
Sorry for the delay, yeah, I figured out what was wrong. I'll get your a PR this week.

[2020-03-09 16:06] ajkerrigan commented on #481
Thanks, unfortunately I'm not sure where to go from there. Those tests confirm that VisiData is using the CSV loader, and seem to rule out some edge case "similar-looking character" issues. One remaining thing I can think to check is trying to pipe the file to vd rather than reading it directly:

[code]

That would help highlight a file format/encoding issue, which the `sed` test may have worked a

[2020-03-09 16:16] saulpw commented on #481
@verajosemanuel what platform/shell are you using?

[2020-03-09 16:23] verajosemanuel commented on #481
Ubuntu Eoan. Zsh

[2020-03-09 18:05] anjakefala commented on #481
Am I missing something or does @verajosemanuel VisiData screen after the sed look like expected?

[2020-03-09 18:06] anjakefala commented on #481
I was missing something, nvm!

[2020-03-09 19:26] zachvalenta opened #484 "link broken on homepage"
On homepage (https://www.visidata.org/) link for 'instant histogram' (https://www.visidata.org/docs/freqtbl) is broken.

[2020-03-14 10:34] sfranky opened #485 "[develop] Can't connect to postgresql db"
**Small description**

I try to connect to a postgresql database with
[code]

**Actual result with screenshot**

[code]

**Additional context**
Latest dev version, installed with pipx. and all dependencies.
Python 3.6.8
CentOS 7

[2020-03-14 15:01] frosencrantz commented on #473
@saulpw  or @anjakefala  do you keep a list of approved/closed issues?  In case there are volunteers who are looking to help contribute code?  There are many closed issues due to different reasons.  In this case, you are saying good idea, but you won't implement it.  Or maybe an issue tag?

@aborruso hope you are doing well.

[2020-03-14 15:05] frosencrantz commented on #479
Thanks @saulpw .  The first item might be a one line change. Sorry no code at this point.

I can give you words...

[2020-03-14 15:49] aborruso commented on #473
@frosencrantz thank you very much. I'm fine!

How are you?

It's a good idea to create a list for "how to help" section

[2020-03-14 16:41] anjakefala commented on #473
@aborruso, I am really glad that you are okay. :purple_heart: I hope everyone here has their needs taken care of

We have this list on the develop page: https://github.com/saulpw/visidata/tree/develop#help-and-support. I do not actually remember what happened to that maybe someday list. I think what likely happened is that we got such an overwhelming influx of feature requests at some point that w

[2020-03-14 16:44] anjakefala commented on #481
@verajosemanuel, I am going to close this issue soon due to lack of reproducibility/activity! @ajkerrigan, you made a heroic attempt to try to debug it.

[2020-03-14 16:45] anjakefala commented on #473
I just remembered that is what the `[wishlist]` tag is for. I will add a link to a filter for the `[wishlist]` tag.

[2020-03-14 16:53] anjakefala commented on #473
Done: https://github.com/saulpw/visidata/commit/ae0f2aaa0bb97ad738d1239498e78e5fe632f41d

Sorry everyone for the spam. =( I am a bit frazzled this morning.

[2020-03-14 18:39] saulpw commented on #479
Yes, it's a one-line change.  Most of the effort involved is going through the process.  Anyone is welcome to contribute to make the software better as they see it, but as a volunteer open-source project we aren't excited about make-work tasks created by people who want awesome free software but aren't willing to do any of the work.

[2020-03-16 04:15] #481 closed, assigned to nobody

[2020-03-17 15:18] layertwo commented on #406
Ok, I've looked at this again. The last time I reviewed (it was a few months ago), there was definitely an issue with how the markdown loader saves unexpanded lists or dictionaries, however I'm not seeing that behavior anymore running the latest commit from develop.

There may be improvements to the markdown loader in the future, but nothing that should hold up 2.0. I'll go ahead and close this is

[2020-03-17 15:18] #406 closed, assigned to nobody

[2020-03-20 08:48] geekscrapy opened #486 "[wishlist] ordering by date adds a hr line between rows having a distinct difference to the previous row (e.g. visual group by day)"
Something that helps a lot with time based analysis is to be able to see distinct groups of rows based on a specific time delta between the previous and next row. It's a simple concept, but likely harder to implement 😬

A really simple example of this as below, where lines are highlighted between the rows when the next row falls on the next day:
![IMG-20200320-WA0000-01](https://user-images.github

[2020-03-21 07:15] saulpw commented on #486
Interesting idea, @geekscrapy !  There might be a way to do this with a colorizer, which would apply the underline attribute if the value in a certain column was different in the next row.  `c.getTypedValue(r) != c.getTypedValue(rows[rowindex[rowid(r)]])` or something like that, using the `rownum` plugin possibly (for the rowindex).

Closing as per wishlist policy.  Please update here if you or an

[2020-03-21 07:17] #486 closed, assigned to nobody

[2020-03-21 18:45] frosencrantz commented on #486
I tried something similar, in https://github.com/saulpw/visidata/issues/430
The feedback from Saul on that thread might be helpful. It was for me.

And anjakefala added docs here:
    https://github.com/saulpw/visidata-book/blob/master/colorizers.md

And a simple colorizer from Saul here:
   https://github.com/saulpw/visidata/issues/434#issuecomment-595629536

These details were the develop versio

[2020-03-23 02:08] anjakefala commented on #413
Updating issue. Testing discovered that all `SettableColumn`s are not copy-paste-able. This includes frozen columns, which are also SettableColumns.

[2020-03-23 02:22] anjakefala commented on #413
The essence is that `SettableColumn`'s `putValue` adds rows and columns to `sheet.cache`, instead of `sheet.rows`.

`copyRows` grabs the `cliprows` from `sheet.rows`.

Proposals, based on my understanding:
* we also check `sheet.cache` when we are copying rows
or
* it is an aspect of `SettableColumn` that its contents are not copyable.

[2020-03-23 02:23] anjakefala commented on #413
Feedback for how to progress desired @saulpw :blush:

[2020-03-23 13:58] teto opened #487 "[wishlist] xdg support"
hi,

I've just discovered visidata and this might very well become one of my favorite programs as I develop/look into data files quite a bit.

I see a v2 is coming so I believe it would a good time to support the XDG spec, wouldnt it ? I see it was removed some time ago`remove .visidatarc support in PWD or XDG; only $HOME/.visidatarc supported now`

[2020-03-23 14:21] anjakefala commented on #487
The issue that references the conversation where it was originally removed: https://github.com/saulpw/visidata/issues/93

[2020-03-23 16:52] geekscrapy commented on #293
An FYI, lnav does a good job of this as well: https://github.com/tstack/lnav

Can maybe take examples from there

[2020-03-23 16:54] anjakefala commented on #487
:blush: :blush: :blush:

[2020-03-24 16:16] meddulla opened #488 "[wishlist] Correlation matrix"
This is an absolutely awesome tool. Thank you for developing it.

A good addition to the summarizing data section would be a correlation matrix between (numeric) columns.

This would allow for a quick check of columns to exclude for example.

[2020-03-24 18:01] saulpw commented on #488
Hi @meddulla, thanks for the suggestion!  I agree, that would be a nice feature, and would be reasonably easy to do for someone who knows how to generate a correlation matrix.  If you or anyone is interested in putting together some Python code for this, we could turn it into a plugin in short order.

Closing for now as per wishlist policy.

[2020-03-24 18:01] #488 closed, assigned to nobody

[2020-03-25 07:08] geekscrapy opened #489 "[Bug] [v2.-4dev] dup-rows/-deep does not copy rows"
I found that if I try and do a `dup-rows-deep` with a DirSheet I get the following error with no rows in the sheet (columns are correct and as expected).

This only appears to happen with a DirSheet, I just tried with a TextSheet which works as expected.

[code]
### Replicate:

1. Use v2.-4dev branch
2. Open a DirSheet with `vd .`
3. Do a deep copy of the sheet with `dup-rows-deep`

### Result:
A

[2020-03-25 14:40] PaulHiemstra opened #490 "[wishlist] Add support to visidata for powerline"
I really like working with [powerline](https://github.com/b-ryan/powerline-shell), which greatly improves the visual style of the bash shell. In addition, there are plugins for vim and tmux which look really great.

I would like to see support for powerline in visidata.

[2020-03-25 20:47] saulpw commented on #490
Hi @PaulHiemstra, this is a really cool idea!  It could pretty easily be a plugin for VisiData as well.  We'd love to check it out when you've put something together, and we can add it to the list of plugins for 2.0 when it's ready.

Closing for now as per our wishlist policy.

[2020-03-25 20:47] #490 closed, assigned to nobody

[2020-03-25 20:52] saulpw commented on #489
Hi @geekscrapy, thanks for this bug report, I'll take a look when I get a chance.

No; a deep copy explicitly copies all the values, so that any modifications are *not* reflected on the source sheet.  For modifications to propagate, use `"` which pulls selected rows only into a new sheet, or `g"` which pulls all rows into a copy of the sheet, keeping the same set of rows selected.  Note that in bo

[2020-03-26 07:02] geekscrapy commented on #489
Thanks. My apologies, in that last statement I got mixed up and meant " or g" copy. Tested with other sheets and see how it works now.

I presume I might be able to take the logic from freq table and add that to my own sheet (as it's a needed feature for me).

Thanks again!

[2020-03-27 04:46] anjakefala commented on #489
Fixed!

Here is the really complicated explanation for why this awesome bug was happening:

- previously assumed that every time vd`Path` does not have the
attribute, `_path` (`pathlib.Path`) would
- when `_path` lacked the attribute, `AttributeError` was not being raised
- instead VisiData would look for that attribute in an additional layer
of `_path` (since looking for it would invoke `__getatt

[2020-03-27 04:46] #489 closed, assigned to nobody

[2020-03-29 07:43] saulpw commented on #487
Hi @teto, thanks for the note!

I agree in principle with XDG and de-cluttering dotfiles, but XDG proved to be more complicated than I was willing to implement (and I don't want to take on a dependency for it).  `$HOME/.visidatarc` seems to work reasonably well for most people, and XDG people can make a symlink which should suffice.  (That's what I do with [my dotfiles](https://github.com/saulpw/d

[2020-03-29 07:43] #487 closed, assigned to nobody

[2020-03-30 14:30] geekscrapy opened #492 "[bug:v2.-4dev] First row+col of table switches with second row if double clicked"
With version v2.-4dev, if the top row or first column (I believe of any sheet) is double clicked with a mouse, it switches with the second row. Unsure if this is intentional, but doesn't happen in earlier versions.

This bug was tested, and existed with, DirSheet, TsvSheet and FreqTable using OSX and iTerm3

[2020-03-30 14:55] anjakefala commented on #492
Mouse click-and-drag was added since v1.5.2!

So that is why it does not show up in previous versions. I am not sure if this specific way it expresses is a bug.

[2020-03-30 18:31] geekscrapy commented on #492
Unsure if you were asking me to test, but I did, and I'm definitely not click dragging, just double clicking 😁

[2020-03-31 18:20] teto opened #494 "[wishlist pcap] add SLL support"
**Small description**
 I am not able to load packets from this pcap in visidata 2.-3
https://github.com/teto/mptcpanalyzer/blob/master/examples/client_2_filtered.pcapng
(because of a missing ethernet layer ?)
as discussed on irc CC @layertwo

`--debug` shows errors about the inability to download files such from wireshark.org. The output is garbled (very annoying, can I redirect to a file ? like `

[2020-03-31 22:01] anjakefala commented on #494
Those files have now been re-added, and their new urls updated on the `develop` branch. Can you update your local version of `vd`, and let us know if you are still having issues?

[2020-03-31 22:06] teto commented on #494
so I now see the vd interface with `dpkt.dpkt.NeedData` (e.g., no packet is loaded).

[2020-03-31 23:44] layertwo commented on #494
The issue stems from a different type of packet structure in the pcap. We expect to have an actual Ethernet layer in the capture, but the with the sample capture @teto provided it has a pseudo-Ethernet layer known as SLL (or reported as Linux cooked capture). See more here: https://wiki.wireshark.org/SLL

The good news is that dpkt has an SLL option, so there's a little bit of work needed to imple

[2020-04-01 02:58] ajkerrigan opened #495 "Errors sorting pandas sheet in 2.x"
**Small description**

When attempting to sort a pandas sheet, I get a `RecursionError` followed by a `TypeError`.

**Expected result**

Pandas sheets are sortable.

**Actual result with screenshot**

Sorting a pandas sheet produces this stack trace:

[code]

Working through that error with local modifications reveals a new error:

[code]

**Steps to reproduce with sample data and a .vd**

`vd -f

[2020-04-02 05:20] #495 closed, assigned to nobody

[2020-04-02 05:21] #360 closed, assigned to nobody

[2020-04-02 05:21] anjakefala commented on #478
Fixed in #496!

[2020-04-02 05:21] #478 closed, assigned to nobody

[2020-04-02 05:26] anjakefala commented on #360
Fixed in #496!

[2020-04-07 05:18] anjakefala opened #500 "[defermods] move back into vdcore"
We are going to bring back defermods and `vsh` into vdcore. `vsh` will possibly be a plugin.

Defermods is going to be integrated with:
* DirSheet
* SqliteSheet

# Design Proposals
`z^S` will save to original source. `^S` will save to provided input source.

* We set `defer = True` in Sheets whose deferred modifications we want to track.
    * Pros: If we regret this later, it will be easier to pu

[2020-04-07 05:20] anjakefala commented on #383
This bug has not been fixed, but I am not sure if there is going to be future development on trackmods. (It is a tricky plugin.)

Closing for now.

[2020-04-07 05:20] #383 closed, assigned to anjakefala

[2020-04-07 05:26] saulpw commented on #264
Looks like this is expected behavior from pandas.  Workaround as per @anjakefala above is Ctrl+R to reload the sheet.

[2020-04-07 05:26] #264 closed, assigned to nobody

[2020-04-07 17:40] #483 closed, assigned to nobody

[2020-04-08 07:52] geekscrapy opened #501 "[html saver] Saving typed columns as html (int/vlen/bool) causes exception"
I tried to copy (yank) a couple of rows from the frequency sheet and it provided me the following error. I believe this is due to the html parser expecting strings? A similar error also occurs in other sheets when using unexpected py types (e.g. bool).

FrequencySheet error
[code]

Sheet with a bool column error:
[code]

[2020-04-08 14:56] anjakefala commented on #501
Hey @geekscrapy!

Thanks for the bug report. I was sadly unable to reproduce this with the information you gave me.

I took the `sample_data/sunshinelist.html`. I opened up one of the tables, I performed a frequency table.

I yanked, and it successfully yanked. No error.

Can you please provide me with:
* sample data
* the steps you took on this data
* the version of VisiData you are using

[2020-04-09 07:58] geekscrapy commented on #501
Hey @anjakefala

Details of my environment:
* Python 3.7.6 (running in venv)
* saul.pw/VisiData v2.-4dev : commit 9e89a6071cf5cc3910988658830583a4c85028bf

I can replicate given the following steps:

Save the following command log to: html_exp.vd
[code]

`echo -e "int,bool\n123,True" | vd -f csv --play html_exp.vd`

Now `Y` the first row and save as html. I get the following exception:
[code]

[2020-04-09 15:56] jsvine opened #502 "VisiData ignores final character of stdin if no newline"
**Small description**

[code]

**Expected result**
[code]
**Actual result with screenshot**

[code]

<img width="58" alt="Screen Shot 2020-04-09 at 11 53 55 AM" src="https://user-images.githubusercontent.com/534702/78914736-d8b9fe00-7a58-11ea-881f-ef18b962cee6.png">

If you get an unexpected error, please include the full stack trace that you get with `Ctrl-E`.

**Steps to reproduce with sample da

[2020-04-11 22:39] frosencrantz opened #504 "[xml loader] Exception thrown for path column"
**Small description**
When reading XML files the path column has an exception.

**Expected result**
The path value for that xml element.

I don't always read xml data, but when I do I see that this column has an error.
Also, it looks like there are no xml tests for the xml loader to catch an error like this.

**Actual result with screenshot**
Sorry no screenshot.  But if there was you would see th

[2020-04-11 22:48] frosencrantz opened #505 "[wishlist html] Provide way to access non-table elements"
When loading XML or HTML files the modules used to load the data have a native format.  Within Visidata it is not possible to get to the native data structure of the data for HTML or XML files.

For HTML files you can only see the tables.  If you wanted  to pull out data from a list or some other HTML structure you can't do it with Visidata.  For HTML it might be useful to also expose the whole HT

[2020-04-13 02:10] saulpw commented on #505
I agree, @frosencrantz, it'd be great if the XML and HTML loaders had this functionality (and a lot more!).  We'll add it to the wishlist.

[2020-04-13 02:10] #505 closed, assigned to nobody

[2020-04-13 02:23] saulpw commented on #504
Thanks @frosencrantz, that was a good repro.  There were bound to be other problems with that code too.  Should be fixed now.

[2020-04-13 02:23] #504 closed, assigned to nobody

[2020-04-13 03:54] saulpw commented on #502
Thanks for the bug report, @jsvine!  Should be fixed now.

[2020-04-13 03:54] #502 closed, assigned to nobody

[2020-04-13 04:42] anjakefala commented on #485
This should now be fixed on the `develop` branch! https://github.com/saulpw/visidata/commit/984b03a9049c9803b09f1e80735e4424832f7307

Can you please verify, @sfranky? =)

[2020-04-13 04:42] #485 closed, assigned to nobody

[2020-04-13 06:21] saulpw commented on #468
Kondo'ed

[2020-04-13 06:51] anjakefala commented on #223
I am going to close this, per the Kondo policy. If anyone wants to champion this, they are more than welcome to!

[2020-04-13 06:51] #223 closed, assigned to nobody

[2020-04-13 06:58] saulpw commented on #492
Nice catch, @geekscrapy.  Should be fixed now.

[2020-04-13 06:58] #492 closed, assigned to nobody

[2020-04-13 12:48] jsvine commented on #502
Awesome, thanks!

[2020-04-15 03:25] anjakefala opened #507 "Design a loader compatibility chart, and write tests for core loaders"
It would be nice to come up with criteria for vdcore loaders.

E.g.:
1. A user should be able to `add-row`.
2. A user should be able to use clipboard commands.

This way:
* we know which functionality to write tests for the current loaders
* have criteria to distinguish plugins from core loaders
* will be able to provide folks who are making PRs for new loaders guidance
* will be able to set expec

[2020-04-15 04:46] ajkerrigan commented on #507
Some that come to mind:

* Select/unselect/toggle rows
* Add/delete rows (individually or in bulk)
* Edit cells
* Sort

[2020-04-16 07:05] geekscrapy opened #508 "[v2.-4dev/3702790/unexpected] Columns move left when a key column is clicked"
Scenario: You have more columns than the screen is able to show, and at least one key column

Expected: Move to the far right column (g->) and then click on a key column with the mouse. Columns should stay in place (visually), only with the key column now selected.

Actual: Move to the far right column (g->) and then click on a key column with the mouse. The columns visually jump back to the first

[2020-04-16 07:39] saulpw commented on #508
Fixed.

[2020-04-16 07:39] #508 closed, assigned to nobody

[2020-04-18 16:42] frosencrantz commented on #507
This is a great idea.  When implemented it should help increase the quality and stability of the code.  I've encountered a few breakages that I think might have been caught by basic and standard tests like you are suggesting.

Some that come to mind:
  - Safe round trip of data, load and save.
      - Do a simple round trip
      -  Make multiple and different types of edits, then undo all, and sa

[2020-04-19 01:44] anjakefala commented on #507
:sleepy:

[2020-04-19 04:13] anjakefala commented on #507
Thanks @frosencrantz and @ajkerrigan for helping me put together an attribute list!

[2020-04-19 04:21] anjakefala commented on #507
@frosencrantz My initial instinct was :sleepy: because that feels like a major infrastructure addition and a lot of work.

I do think these lists are useful, and I do agree having automation would be useful. Here are the various levels this can go:
* A manual testing checklist, based on our curation of which traits are essential for core loaders
* A selection of core loaders
* A series of .vds tha

[2020-04-19 04:31] anjakefala commented on #501
This should be fixed on `develop` now!

[2020-04-19 04:31] #501 closed, assigned to nobody

[2020-04-19 05:14] anjakefala opened #510 "[develop] 2.x gD CommandLog should behave similar to the 1.5.2 CommandLog"
**Small description**
The `gD` `commandlog-all` is meant to be a comprehensive CommandLog for the full session. It provides the functionality of what was the standard CommandLog in 1.5.2.

However, it has some logs that are unexpected.

Examples include:
*  `delete-row` when performed on a CommandLog sheet
*  `cmdlog-all`

**Expected result**
I think that the command filters that are configured to

[2020-04-19 20:54] geekscrapy commented on #486
I'm glad to say I have a working version of this that I'm happy to share in the next few days! I'm just doing some testing as best I can and working out some (mainly options related) niggles. Then happy to submit it somewhere (as a plugin?) and get some feedback on it 👍

[2020-04-19 21:36] anjakefala commented on #486
Yes, please submit it as a plugin! ^^

[2020-04-20 04:47] frosencrantz commented on #507
@anjakefala, I'm glad you are feeling better about this.   I like having the spectrum of manual to complete automation.  It allows your idea of compatibility chart and testing to move forward over time as effort can be applied.

[2020-04-20 05:26] frosencrantz opened #512 "[cell display] A column with a width of 1, with data of a single character always displays ellipsis"
**Small description**
Set the width of a column to 1.  If the data in the column is only 1 character wide, I see only an ellipsis.

**Expected result**
See the single character data vaue.

**Actual result with screenshot**
Sorry no screenshot.  If this is not reproducible let me know.

**Steps to reproduce with sample data and a .vd**
Create a new table (A) with 1 column
Change the column width to

[2020-04-20 06:10] saulpw commented on #512
Do you have an actual use case for this, @frosencrantz ?  IIRC it was a mild pain to get a minimum column width of 2 working, and I decided not to spend the effort on 1 because it would be too much work for zero reward.  I've never had a need for it myself.

[2020-04-20 11:54] geekscrapy opened #513 "'v' (wrap text) reloads from source, undoing sheet modifications"
I've noticed some odd side effects when using 'v' (text wrapping).
- When a row has been deleted (d), and then wrapping applied (v) the row will reappear

To test:
echo -e "abc\nDELETEME\n123\n456" | vd -
- delete the row DELETEME with 'd'
- Now apply wrapping with 'v'
The DELETEME row appears

[2020-04-21 02:45] anjakefala commented on #513
++ for your reproducing steps @geekscrapy

[2020-04-21 02:52] anjakefala commented on #513
Ah, I see what is happening. I do not think this will be an easy fix.

The `v` (`textwrap`) reloads the source data in order to do its thing,

You may notice that the row you cut is still available in the clipboard (just try `paste`ing it). The clipboard has not been undone, the sheet reloaded. Try modifying any of the cells, or adding a row. Those will also get reloaded.

I think the idea was tha

[2020-04-21 03:19] saulpw commented on #513
Thanks the bug report, @geekscrapy, and @anjakefala for preliminary investigation.  Multi-line row functionality should completely supplant the TextSheet 'v' command, so we should just remove this command entirely.  Then the `wrap` option could be set on the CLI, or you could toggle it manually and reload (as with other loader options).  And if you wanted more fluid textwrapping toggle, you'd use

[2020-04-21 04:31] frosencrantz commented on #512
I do. I have data with many rows and columns.  The columns are ordered in a sequence, and the value of each column has been boiled down to a single character.   Example of single character data would be T/F for True/False, or *nix file permissions rwx.   Other examples might be a Mindsweeper board or a crossword puzzle with just the letters.

I also would like to be able to remove the column separ

[2020-04-21 04:39] anjakefala commented on #513
:+1: That makes sense to me. I can make the change, and we can see how we feel.

I think moving textwrap to commandline is more upfront about the fact that it is a upon-reload command, regardless of if we end up committing to multi-line rows.

~~Do we want to keep an unbound variant of it for users who know how it behaves, and want to go for it anyway?~~

**EDIT**: Nevermind, re-read your comment

[2020-04-21 05:45] saulpw commented on #512
Ah, I see.  You can remove the column separators by setting `options.disp_col_sep=''`.  I've used that myself in vdgalcon to get an exact column width of 2, which I agree, is useful.

If you want columns of width 1 to display the first character instead of ellipsis, you can [subscribe to my Patreon](https://patreon.com/saulpw) and I'll make it happen.

[2020-04-21 05:45] #512 closed, assigned to nobody

[2020-04-21 06:18] anjakefala commented on #513
This work has been done on the develop branch! `v` now toggles multi-line rows on **TextSheet**s.

[2020-04-21 06:18] #513 closed, assigned to nobody

[2020-04-21 21:59] anjakefala opened #516 "[build] Package into VisiData a set up of unit tests + basic functionality tests"
We want a set of tests to help catch packaging errors. These are part of the requirements for packaging authorities like Debian, GNU Guix, and Homebrew.

Basics:
* Test that `Ctrl+H` works
* package in the unit tests
* benchmark.csv + some test .vd to make sure it loads and maybe saves

[2020-04-21 22:01] anjakefala opened #517 "[loader] Investigate replacing requests with urllib for the open_url loader"
This would allow us to incorporate open_url as a core loader.

[2020-04-22 08:54] geekscrapy opened #518 "[SheetsSheet] sorting list of sheets jumps away from SheetsSheet"
I've found the the sorting keys do not work as expected on the Shift+S (sheetsIndex) sheet.

I was expecting to be able to sort by name (as the default selected column) however [ opens a sheet. In my case it's the same sheet all the time irrelevant of the order.
I've also found that this isn't consistent. Sometimes [ _does_ sort as expected, and ] opens a sheet.

To be honest I'm unsure what is go

[2020-04-22 14:57] anjakefala commented on #518
Hi @geekscrapy!

Believe it or not, there is no bug. ^^;

`Shift+S` is actually the **Sheets Sheet** for the  **Sheets Stack**, which is why you are seeing funky behaviour when you move rows around. **This is the actual stack for your sheets.** When play with a metasheet, you are directly affecting VisiData's understanding of the session.

Since the top sheet is the sheet at the top of the stack,

[2020-04-22 14:57] #518 closed, assigned to nobody

[2020-04-23 04:27] anjakefala commented on #510
:)

[2020-04-23 04:27] #510 closed, assigned to nobody

[2020-04-23 06:05] saulpw commented on #500
If possible, something like this would be ideal:

[code]

This is how plugins should extend functions in general, calling the original for the base case.

[2020-04-23 15:38] aborruso opened #519 "vd 2.develop: installed plugins not listed"
Hi,
I have just installed the 2.develop version, and then installed via bazar (great thing) vddedupe plugin.

Then I have closed vd and opened it again and I have no check in the installed column. If I try to install again vd alerts me ("plugin path already exists ...").

Is it normal?

Thank you

![image](https://user-images.githubusercontent.com/30607/80118662-050d6880-8589-11ea-9716-b0b54719685

[2020-04-23 16:07] aborruso commented on #214
Hi @saulpw if I run

[code]

vd does not open the table_e. What's wrong in my command?

vd 2 is really great!

[2020-04-23 16:29] anjakefala commented on #519
It bug.

Thank you for posting!

[2020-04-23 16:38] anjakefala commented on #214
Hey @aborruso!

Can you please open a bug report, and link to this issue?

There is not a good way for me to remember to check up on this potential bug, otherwise. :sweat_smile:

[2020-04-23 16:41] aborruso opened #521 "vd 2.develop: impossible to open html sub-sheet"
Hi,
if I run

[code]

vd does not open `table_2`. What's wrong in my command?

Thank you

[2020-04-23 18:44] ryanprior commented on #516
If you can ping me when this lands I'd appreciate it!

[2020-04-23 19:14] danielcynerio opened #522 "[wishlist] Add support for specifying postgres connection paramaters not over URL"
Currently all paramaters for postgres are over a URL, this is problematic for passwords for that can sometimes not be encoded over the URL.

When trying to access RDS using an AWS access token the password is a whole URL of itself and this clashes with url parsing for passwords.

I think this can be fixed by adding support for an rds:// url that will support the parameters that RDS needs and use t

[2020-04-23 20:46] saulpw commented on #522
Hi @danielcynerio,

I think this is a reasonable suggestion.  If you can get it working as a patch to the postgres loader (adding an `openurl_rds` function that recomposes the postgres url for the postgres loader), then that should work fine.

In the meantime, one possible workaround is to put the password in quotes:

`postgres://you:"the whole password"@...`

This worked for me with the recent im

[2020-04-24 02:43] anjakefala commented on #521
It was a bug! >___>

Very nice catch! Should be fixed on develop.

[2020-04-24 04:25] anjakefala opened #523 "[wishlist] have vd foo.zip -f fixed apply to the inner files"
:grinning:

[2020-04-24 04:54] saulpw commented on #521
Also, @aborruso, note that `vd https://en.wikipedia.org/wiki/Olympic_medal` will also work (don't need curl or even `-f html`).

[2020-04-24 05:51] aborruso commented on #521
@anjakefala @saulpw it works great.

Thank you very much

[2020-04-24 06:07] aborruso commented on #519
@anjakefala after installing a plugin using the vd bazar, I have the plugin file in `~/.visidata/plugins` folder, but I do not have any `.visidatarc` file.
Probably in vd 2, you do not use this file for plugins and the right file is `__init__.py`. Am I right?

Thank you

[2020-04-24 06:25] anjakefala commented on #519
As it stands, you do need a `from plugins import *` in your `~/.visidatarc`, but I think we are going to change that. Stay tuned! :eyes:

[2020-04-24 06:28] aborruso commented on #519
@anjakefala I'm testing a plugin and I do not know if it does not work properly because I do not have `~/.visidatarc` file. I have only `__init__.py`. For this reason I'm asking about it.

[2020-04-24 06:29] anjakefala opened #524 "[wishlist] Load plugins without requiring any changes in a .visidatarc"
Right now, a user needs to add:
[code]

to their `~/.visidatarc`  in order for plugins to load.

Note, that we should load the ~/.visidatarc first. That way if there is an error loading a plugin, the user's options will still successfully be set.

[2020-04-24 06:32] anjakefala commented on #519
Yeah! You need a `~/.visidatarc` with a `from plugins import *` within it.

But I just made an issue that will hopefully remove that requirement in the future. But for now, yes you totes need that.

[2020-04-24 06:37] aborruso commented on #519
@anjakefala in the [jeremy guide](https://jsvine.github.io/intro-to-visidata/advanced/extending-visidata/#how-to-install-a-plugin) I read that I can write simply `import myplugin`. Is it this also a right way?

[2020-04-24 09:02] dufferzafar opened #525 "[develop] postgres: cannot open rows on this sheet"
**Small description**
Can't view postgres tables properly. When pressing enter on a row, error message `cannot open rows on this sheet` shows up.

**Expected result**
Deep dive into a row.

**Actual result with screenshot**
![image](https://user-images.githubusercontent.com/1449512/80194750-77895180-8638-11ea-8c00-fb47f535b9f4.png)

**Additional context**
`saul.pw/VisiData v2.-3`

[2020-04-24 17:37] saulpw commented on #525
Hi @dufferzafar, those are the actual rows in your `ticket_items` table.  How would you want them to be "opened"?  This acts just like any other data source (csv, json, etc); source rows in general can't be dived into.

[2020-04-24 17:39] dufferzafar commented on #525
For one, I'd like to be able to view the data in the `action_data` column. Which shows `[1]`

I thought diving into that row would show me that data.

[2020-04-24 18:41] aswan89 commented on #524
Not to balloon this before it gets started, but I have a feeling this might need to involve a bigger rethink on how plugins are being loaded.

In PR #503 I migrated a new set of loaders out of native Visidata into a plugin, and didn't do any testing of it being loaded via the plugin bazaar as I'm running nixos and didn't want to start troubleshooting pip as well :/

However, this means that in ord

[2020-04-24 19:16] saulpw commented on #525
At the moment there is no standard meaning of 'dive' for source rows.  Things you might want to try are `Ctrl+Y`, which opens the row as a Python object,  or `z Ctrl+Y`, which opens the cell as a Python object, or `(`, which expands the column if it contains a list or a dict.

[2020-04-24 19:16] #525 closed, assigned to nobody

[2020-04-24 22:11] aborruso opened #526 "Is it possible to disable tables rows and columns counting?"
Hi,
I'm testing the very [useful plugin](https://github.com/aswan89/visidata_plugin_genericSQL) of @aswan89, using an Oracle database.

In this db there are some very big tables, and vd cannot complete reading the list of tables inside it, because it must read the number of rows and columns of each table. It probably could do it, but it seems like it takes too long. It would be enough for me to ha

[2020-04-24 22:14] anjakefala commented on #524
Hey @aswan89!

We are really hoping to approach this with: https://github.com/saulpw/visidata/issues/448

And yes, I think these two issues are going to be related.

 Right now code in `~/.visidata` is actually not being actively imported. What you are seeing is the import statements being written into `~/.visidata/plugins/__init__.py`. Folks then can import *that* into their `~/.visidatarc`. Yes,

[2020-04-25 03:02] jsvine opened #527 "[develop bug] Undo has trouble when multiple sheets have the same name"
**Small description**

On `v2.-4dev`, VisiData gets confused when an undo references a non-unique sheet name.

**Expected result**

Undo should work as expected.

**Actual result with screenshot**

A screenshot here doesn't quite demonstrate the issue; see reproduction below.

**Steps to reproduce with sample data and a .vd**

Data: [test-100-nums.csv.zip](https://github.com/saulpw/visidata/files/

[2020-04-25 03:07] jsvine opened #528 "[wishlist] Allow undo-ing a reload?"
Command log and data: [undo-reload-log-and-data.zip](https://github.com/saulpw/visidata/files/4532253/undo-reload-log-and-data.zip)

(Note: To fully reproduce, you'll have to press `U` to run the final step, which  seems not to have been logged.)

In the command log above, I load a minimal CSV, `addcol-expr ="a"`, press reload, and then try to undo. My expectation had been that the reload would ha

[2020-04-25 03:12] jsvine opened #529 "Plain JSON lists cannot be loaded"
**Small description**

VisiData seems unable to load/render JSON files that are "plain" lists, such as:

[code]

**Expected result**

VisiData should be able to handle any valid JSON file.

**Actual result with screenshot**

See below.

**Steps to reproduce with sample data and a .vd**

[test.json.zip](https://github.com/saulpw/visidata/files/4532256/test.json.zip)

[code]

When I try running this

[2020-04-25 03:15] jsvine opened #530 "VisiData only recognizes keys present in the first object of JSON/YAML lists"
**Small description**

As described in issue title; details below.

**Expected result**

VisiData should render all key-value information for top-level JSON/YAML dicts.

**Actual result with screenshot**

See below.

**Steps to reproduce with sample data and a .vd**

Command: `vd https://raw.githubusercontent.com/simonw/museums/master/museums.yaml -f yaml`

Compare the keys for the VisiData-loaded

[2020-04-25 03:24] jsvine opened #531 "[wishlist] When fetching data from URL, have format default to file extension"
Currently, when VisiData fetches data from a URL, it defaults to using the HTTP response's mimetype to determine the the file format and loader.

One problem with this is that users rarely know what the mimetype of an HTTP response will be. They do know, however, what the file extension is! So it seems preferable, at least in my opinion, to use the file extension — if present and if matching a kno

[2020-04-25 03:28] jsvine opened #532 "[poll] Should `O` go to the global options and `zO` to the local options?"
I find myself more wanting to set options __globally__ more often than than locally.

For instance, with the numeric binning options in `v2.x`. At first, I was setting those options via `O` on my base sheet, and the creating a frequency sheet ... only to be perplexed why there were no numeric bins! Ultimately, I realized that the binning is a property of the frequency sheet, not the base sheet, an

[2020-04-25 05:04] ajkerrigan commented on #530
I can take a look at this. I ran into similar behavior when expanding columns, so the changes from #497 could be useful as a reference here.

[2020-04-25 15:35] aswan89 commented on #526
@aborruso you should probably open this within my plugin repo since this functionality is contained entirely within the plugin, not visidata itself.

[2020-04-25 15:38] aborruso commented on #526
ok, thank you @aswan89

[2020-04-25 15:38] #526 closed, assigned to nobody

[2020-04-25 15:43] frosencrantz commented on #528
If possible, it would be useful if reload could be undone.  I really like this idea.
Losing changes due to reload is a pain. I've also reported it: https://github.com/saulpw/visidata/issues/438
I feel a warning prompt would be helpful if undo is not implemented.

[2020-04-25 15:46] anjakefala commented on #532
I would *also* like to expand this issue to encompass `D` and `gD`.

[2020-04-25 16:23] frosencrantz commented on #526
The builtin sqlite loader by default  doesn't give row and column counts.  The issue I have is that for tables that haven't been opened, it reports tables have row counts of 0, and column counts 1. I found this misleading.  https://github.com/saulpw/visidata/issues/479

@aswan89 if you do change the behavior of your plugin, it might be good to make it clearer that the tables haven't yet been loade

[2020-04-25 17:09] anjakefala commented on #526
*for unloaded sheets.

Decision was made for the sake of performance. This is consistent behaviour for all of the loaders.
https://www.visidata.org/blog/2020/unloaded/

Can you please move this part of the conversation to @aswan89's plugin repo, as requested. Thanks @aswan89 for helping us out with that!

[2020-04-26 01:32] anjakefala commented on #528
Hi!

I agree that undo-ing a reload would be convenient. I am going to give a quick overview of why this has not been implemented yet.

Undo works by keeping track of the previous state. Here is an example of one of the undo functions:

[code]

Reload is not a modification. It is not comparing the current rows to source, and making updates where it sees differences. It empties the existing rows an

[2020-04-26 02:10] anjakefala commented on #532
Thank you for starting this discussion @jsvine!

Here is the tension behind why this decision was made.

|Command | z-Prefix| Standard | g-Prefix|
|---------------| ------------- | ---------|------------|
| Shift+S  | N/A  | Sheet Stack | All sheets |
| Shift+C  | N/A  | Current sheet | All sheets |
| Shift+D  | Current sheet only | Current sheet + recursive | All sheets |
| Shift+O | N/A | Curren

[2020-04-26 02:16] anjakefala commented on #423
Hi @sfranky! Can you please move this issue to the plugin repo, and mark that changes are required for the plugin once VisiData 2.x is shipping?

We are cleaning up our issues, and this is not really actionable from the VisiData repo's end.

[2020-04-26 02:16] #423 closed, assigned to nobody

[2020-04-26 02:19] anjakefala commented on #519
Jeremy's guide is for how things work from the table branch. =) Closing this for now because we figured out the cause! You were not actually importing the plugins.

[2020-04-26 02:19] #519 closed, assigned to nobody

[2020-04-26 02:40] anjakefala commented on #449
Is there anything left here for @saulpw to do, or is it up to the community now to add "provides" columns/stubs in for their plugins?

[2020-04-26 03:18] anjakefala commented on #293
This is not going to be done for 2.0, so wishlist'd for exploration later!

[2020-04-26 03:18] #293 closed, assigned to nobody

[2020-04-26 07:28] geekscrapy opened #534 "[wishlist] Highlight search result match"
Wondering thoughts on if it was possible to highlight the matched value(string) when '/' or the like is used. This would really assist when looking at

Is there the ability in the API to highlight/format certain characters?

[2020-04-26 07:38] geekscrapy opened #535 "[wishlist] ';' to utilise named capturing groups"
it would be very useful to be able to use named capturing groups to automatically name columns based on the capture group name. This would significantly decrease the time to rename all the columns when a lot of regex groups are captured.

Another very useful aspect is this: I am building up a library of regex matches for different log formats. when I open one of these log files currently I have to

[2020-04-26 08:29] danielcynerio commented on #522
Hey @saulpw,
I added a openurl_rds function. The current format of the URL is:
 rds://db_user@hostname:port/region/dbname
since RDS needs a region in addition to the db name.

Currently it only supports Postgres over RDS. Maybe the URL should account for different DBs (f.e. MySQL) in the future?

I haven't made any changes to the documentation or anything like that. Say if you need anything else.

[2020-04-26 15:12] anjakefala commented on #535
Hi @geekscrapy! Thanks for making a feature request.

SInce we are really trying to get 2.0 out, our current procedure is to kondo wishlist items that are not on the 2.0 roadmap. @saulpw may revert this decision, but I am going to close for now.

If you could please add an example (i.e. these are the columns, this was my capture-group regex, these should be the resulting column names), that will h

[2020-04-26 15:12] #535 closed, assigned to nobody

[2020-04-26 15:18] anjakefala commented on #534
Hi @geekscrapy!

Thanks for making a feature request. :blush:

I agree that this would be a cute idea. I am going to Kondo it for now, since we are trying to focus on getting 2.0 out, and kondo-ing wishlists that do not make it on the roadmap. @saulpw might revert this decision.

The api right now supports colouring cells, rows, and columns! Not individual characters within a cell.

[2020-04-26 15:18] #534 closed, assigned to nobody

[2020-04-26 16:13] frosencrantz commented on #534
Even without the individual character highlighting, it seems like highlighting matching cells would be useful.  @geekscrapy,  if you do create a plugin for colorizers, this seems like a useful addition.

Using the colorizers it would be possible to change the color of matching cells:
https://github.com/saulpw/visidata-book/blob/master/colorizers.md

You would need to get the value of the last sear

[2020-04-26 16:30] frosencrantz commented on #512
Thanks for the tip about empty `options.disp_col_sep`.  That works and helps.

I would like to help increase the number of sponsors.  I'm looking forward to you hitting your goal of 100 sponsors.  Right now I can't contribute as a sponsor, I'll wait until a real sponsor does become interested in this feature.

[2020-04-26 16:49] anjakefala commented on #534
Thanks for linking relevant documentation @frosencrantz!

[2020-04-26 17:52] geekscrapy commented on #534
Thanks for the tips, I'll look into it. This said though my main motivation behind this was due to having a very long values in a cell, so coloring the whole cell wouldn't be too helpful (for me) 😁. Also character coloring isn't actually available right now

[2020-04-26 21:36] frosencrantz opened #537 "[wishlist] Allow rows and columns to span over duplicate values (or empty values)"
Provide a switch to allow cells to span multiple columns when the value in neighboring cells have the same value.  This can be helpful when a cell's width is too narrow to show the value this is duplicated over multiple columns.  It can also helpful to see when a value changes.

Some additional options would be to allow value to span over to neighboring cell if the cells to the right are empty.  T

[2020-04-26 21:45] anjakefala commented on #537
Sorry, @frosencrantz, I know you really want to optimise the terminal real-estate, but I doubt something like this will ever get implemented in vdcore...

This feels like a VIsiData anti-thesis to me. I welcome @saulpw to correct me. But from my impression, there are too many intersecting parts that assume the tabular structure visually. (e.g. type notes).

[2020-04-26 21:45] #537 closed, assigned to nobody

[2020-04-27 01:59] jsvine commented on #528
Thanks for explaining, @anjakefala! Would a reasonable compromise be to prompt users on reload to ask whether to save the previous sheet in the undo-history? I feel like this might solve two things at once:

- The issue at hand
- Allowing people to cancel an unintentional reload (which in the past I have sometimes done when instead trying to run `random-rows` ... though it looks like that particul

[2020-04-27 02:20] jsvine commented on #532
Thanks, @anjakefala! A few questions and thoughts:

- It seems the third and fifth rows of the table above both say "Shift+D". Is one supposed to be something different?

- As much as I see the beauty in a logically-consistent design, it seems like there might always be a bit of discrepancy. For instance: `Shift+S` arguably *does* apply to all sheets. It doesn't apply to deleted sheets ... but `g-

[2020-04-27 02:28] anjakefala commented on #532
Hehehe. One was supposed to be for the **DescribeSheet**.

[2020-04-27 02:41] saulpw commented on #532
[This is why we should try to use longnames when discussing commands :)]

I'm fine with either, and I've gone back and forth, most recently to `O`/`gO` back in November 2019 because it seemed like it was more consistent and easier to explain.  But if we're considering newbs at all, then `Shift+O` is a much easier first entry-point than `g Shift+O` anyway--and let's give them the chainsaw before we

[2020-04-27 03:14] anjakefala commented on #532
:")

[2020-04-27 03:20] saulpw commented on #532
Also, going back go `zO`/`O` leaves `gO` open for another command, maybe `open-visidatarc`?

[2020-04-27 04:49] geekscrapy commented on #532
In my head g=global (as it's probably designed!), z is cell related. So therefore zO would make me think I'm changing options to the cell, which doesn't make sense. "G"lobal "O"ptions sounds and does what I would expect as it is now. Just my two cents! 👍

[2020-04-27 14:43] frosencrantz commented on #537
Using that example, why do type notes make this a difficult thing to do?

[2020-04-27 14:50] frosencrantz commented on #534
Yes, I've felt the ability to color parts of a cell would be helpful.  In addition to search terms, it would be useful to be able to build color bar graphs under the words, so you could combine the frequency values right into a column.  The htop program has color bar graphs showing memory and swap usage combined with the values.

[2020-04-27 18:34] anjakefala commented on #537
@frosencrantz Please, accept my nos.

It takes a toll to have "no"s consistently challenged or confronted. Especially, during this time.

****

What happens visually if one column is typed, and the other is not? The question is rhetorical.

 It is an example of all of the little decisions similar to that one, that we would have to make, write code for, and test in order to implement something like

[2020-04-29 04:07] saulpw commented on #522
Wow, that is really gross :(

[2020-04-29 04:16] anjakefala commented on #530
@ajkerrigan @jsvine Can this be closed? =)

[2020-04-29 04:17] #522 closed, assigned to danielcynerio

[2020-04-29 04:21] jsvine commented on #530
Yes, thanks! And my apologies: I appear to have been mistaken re. the JSON aspect. Thank you both!

[2020-04-29 04:21] #530 closed, assigned to ajkerrigan

[2020-04-29 07:59] geekscrapy commented on #535
Np about closing the issue, just wanted it to be logged!

Use cases for this would be to auto parse logs (which could be an awesome plugin that's floating around in my head) to vd rows.

A simple example would be this:
`127.0.0.1 - frank [10/Oct/2000:13:55:36 -0700] "GET /apache_pb.gif HTTP/1.0" 200 2326`

The regex for this with named groups would be:
`(?P<src_ip>.*?)\s(?P<ident>.*?)\s(?P<user>.*

[2020-04-30 00:30] jsvine opened #538 "[wishlist] Sheet protection?"
The undo/redo features in 2.x have created a new VisiData use-case for me: data entry! In the course of using 2.x more for that sort of thing, I've come to desire a particular feature: sheet protection.

I.e., I'd like to be able to mark a sheet as "protected," in which case I would not be able to `q`/quit it without confirming (much like I can't save it without confirming).

If this doesn't fit i

[2020-04-30 01:47] jsvine commented on #532
Hmmm, there _is_ something nice about that, @geekscrapy. Maybe it's just a matter of me drilling into my own head that `options == gO`, `options == gO`, `options == gO`. I guess it's just one of those rare instances when the `g`-prefixed version of a command is the more common use-case than the solo command.

[2020-04-30 04:38] saulpw commented on #538
Design idea: a command `guard-sheet` that sets `options.quitguard=True` on the sheet.

Then we make it confirm whenever a sheet is quit() which has quitguard set, even if the program itself isn't exiting.  Ideally we this could be all quitguard behavior (since the global option will make it set on all sheets), but I think that's annoying in most cases and so when set globally quitguard should beha

[2020-04-30 04:45] geekscrapy commented on #538
@jsvine When I've accidentally quit a sheet in the past I've just give to gS (sheets graveyard) and reopened it. This, joined with the confirm quit option has saved me in the past (for data entry too!)
Maybe, to also add, a read-only option for the sheet might be good? Just a variance on this

[2020-04-30 05:13] anjakefala commented on #500
[code]

Do I then have to figure out which ones to add it to?

I am willing to do that, of course! I feel insecure about adding it in all these places, and want to make sure it is the right thing to do.

[2020-04-30 06:10] saulpw commented on #500
That's a good question.  Typically when posed with a list like this, each case must be considered individually and carefully.  Basically, for `newRow` this is all about asking, could a user of this sheet (or a subclass of the sheet, if something else extends it) want to have additions be marked in 'options.color_add_pending` until they are saved?

- `plugins/defermods.py:def newRow(self):`  this i

[2020-04-30 08:57] geekscrapy commented on #293
This kind of simple popup would be a good start? https://github.com/prompt-toolkit/python-prompt-toolkit/raw/master/docs/images/ptpython.png

From: https://github.com/prompt-toolkit/python-prompt-toolkit

(UPDATE) - Think I read the post wrong :) but I do think this kind of popup may help in the intermediate term when entering a long command.

[2020-04-30 09:00] geekscrapy commented on #293
This idea may also replace the ^H help page to a certain extent, and a byproduct of this would be that it would be dynamic/encompass additional plugin commands!

[2020-04-30 13:41] jsvine commented on #538
@saulpw That would work for me, thanks!

@geekscrapy Ah, yes, the global quit-guard used in tandem with the sheets graveyard would do the trick. (Thanks!) But maybe the sheet-specific quit-guard would still be a useful improvement, especially for newer users unfamiliar with the graveyard?

And re. the read-only option: Would that prevent in-memory changes, or just saving changes to file? And if th

[2020-04-30 14:05] geekscrapy commented on #538
read-only: I was meaning to prevent in memory changes 🤗 so prevent 'e' edit cell, add col, add row, new col via expression '=', etc. anything that modifies the source data basically

[2020-04-30 14:15] geekscrapy opened #540 "[wishlist] row tagging"
Have there been any thoughts on tagging rows?

I'd love to see it utilize the number keys with 't/s/u' etc.
So for example 's1' would apply tag 1 to a row, and 't2' would toggle tag 2 on the row.

Other suggestions:
- tags have an associated row colorizer
- custom tag values
- rows can have multiple tags
- tags have priorities (helps with above)
- rows with tag X can be selected, copied to a new s

[2020-05-01 04:17] ajkerrigan commented on #529
Let me take a look at this one - I just ran into the same error in a few cases where I'm piping JSON output to VisiData. Saving the same JSON and opening it as a file worked with no trouble. Could be related.

[2020-05-01 04:23] anjakefala commented on #529
![image](https://user-images.githubusercontent.com/7489659/80781878-de22d980-8b28-11ea-8b06-7cf1b39098fc.png)
                             :1st_place_medal:

[2020-05-01 18:07] anjakefala commented on #500
More notes from saul:

[2020-05-02 22:33] saulpw commented on #540
That's an interesting idea, @geekscrapy .  I was thinking the other night about "marking" locations (like vim with `m`), so that you could easily jump the cursor to the sheet/row/col/cell).  If it's designed properly, I think most of the ideas you had could be implemented within that framework too (though I don't understand "tag priorities" that you mentioned).  Some of these would make it pretty

[2020-05-02 22:33] #540 closed, assigned to nobody

[2020-05-02 22:40] saulpw commented on #532
Ok, the poll didn't get much traction, but @jsvine, I think you're right anyway.  The `g` and `z` prefixes are more "relative" mnemonics, and the most common version of a command should be the unprefixed version.  We'll make the change and get it into the next pre-release version.

[2020-05-03 00:49] saulpw commented on #538
@jsvine There is now an unbound `guard-sheet` command you can play with.  Let me know how it works for you.

[2020-05-03 00:49] #538 closed, assigned to nobody

[2020-05-03 14:09] ajkerrigan commented on #529
Hey @jsvine I think with #541 landed this should be kicked, but let me know if you notice any fishiness :)

[2020-05-03 15:28] #529 closed, assigned to ajkerrigan

[2020-05-03 18:03] geekscrapy opened #544 "[wishlist] focus sheet"
This sheet is a meta sheet which has some associated conditions related to row contents. If a condition is met the row is included and shown in the sheet.

For example rules could be defined by a python lambda such as:

`lambda columns, row: c["randomcol"].getDisplayValue(r) == 'test'`

Therefore, if "test" is displayed in a Column named "randomcol", the row will appear in the Filter sheet.

Prefe

[2020-05-03 18:05] geekscrapy commented on #544
This would auto populate on vd load while sheets are loading. So if a large file is loading, the focus sheet will gradually populate with matching rows

[2020-05-03 18:07] geekscrapy commented on #540
@saulpw not sure about the vim functionality (I'm a nano user for my sins) but from what I've just read it looks something like I'm thinking!

Priorities: if the tags are user defined, and colour assigned, what happens when a user applies more than one tag to the row? The tags would need to be prioritized so that the highest priority tag color is shown.

A couple of other things that I thought of

[2020-05-03 20:08] anjakefala commented on #532
How do we feel about this when it comes to the cmdlog commands?

[2020-05-03 21:34] saulpw commented on #532
@anjakefala Let's not conflate the two. If there's a concrete proposal for cmdlog bindings let's open up a new issue for discussion. (Unless you think that the cmdlog commands are reason enough to veto the options proposal, in which case, try and convince me!)

[2020-05-03 21:45] anjakefala commented on #532
@saulpw Nope! :)

[2020-05-03 23:15] frosencrantz commented on #512
There is exuberant joy in Whoville!  Thanks @saulpw!

[2020-05-04 02:35] anjakefala commented on #544
This is a pretty fun idea!

Closed for now as per wishlist policy. :)

[2020-05-04 02:35] #544 closed, assigned to nobody

[2020-05-04 07:32] geekscrapy opened #546 "[v2.-4dev] -f filetype is ignored if a directory is given (always opens DirSheet)"
If I want to create a new "file" type / loader which consumes a directory argument but it always opens a `DirSheet`. I have created a loader which consumes a directory and will create sheets based on the files in that directory. However, if I do this on the command line `vd -f xloader /path/to/dir` it loads a DirSheet. I expect this is given, but it restricts creating new loaders which use directo

[2020-05-04 15:54] anjakefala commented on #546
Hm. This may be a little tricky considering the nature of folders compared to files.

I will take a look at this when I re-integrate `vls`.

[2020-05-05 02:55] jsvine commented on #529
A big thanks!

[2020-05-05 02:57] jsvine commented on #538
Awesome, and thank you! Just gave it a test-spin, and works as expected.

[2020-05-07 16:15] aborruso opened #547 "[develop] concatenating selected source columns, from the Columns Sheet, does not work"
**Small description**

Hi opening the below CSV file, and then the Columns Sheet, if I select the two columns and then click on `&` I have an error.
I should have a column from concatenating selected source columns.

I'm using saul.pw/VisiData v2.-4dev

My input

[code]

**Actual result with screenshot**

![image](https://user-images.githubusercontent.com/30607/81318146-1167ea00-908e-11ea-9f7a-dcf

[2020-05-07 18:11] anjakefala commented on #547
Hey @aborruso!

Joins happen on the level of sheets, not columns, but I am curious about the thing you wanted to do!

Given this input

[code]

What was your expected output?

[2020-05-07 18:15] aborruso commented on #547
hey @anjakefala simply concatenate the two columns.

Are you sure?

![image](https://user-images.githubusercontent.com/30607/81329875-7a0b9280-909f-11ea-83b2-4eeae80dea00.png)

[2020-05-07 19:04] saulpw commented on #547
Ah yeah, that's overloaded on the columns sheet.  It's a bug, we can fix it.  Though I'm not sure that it should stay bound to the `&` key.  Do you use this feature often in 1.5.2, @aborruso ?

[2020-05-07 19:08] aborruso commented on #547
To concatenate in vd way, fast and smart, it seems to me a great feature.

Thank you

[2020-05-07 21:17] anjakefala commented on #547
Whoops @aborruso! Sorry for the confusion.

[2020-05-07 21:18] anjakefala commented on #547
Thank you especially for making this bug report!

[2020-05-07 21:41] geekscrapy opened #548 "[wishlist loader] HexSheet for unknown/binary files"
I may have a crack myself, as I come across this a bit, but it'd be great to have a hex viewer (maybe editor?!) as the default sheet instead of a TextSheet (or maybe if the source doesn't decode successfully as text). Or alternatively, the user would have the option to reopen the file in a different sheet at runtime (can't remember if this is possible)

[2020-05-08 06:12] anjakefala commented on #547
This should be fixed on develop now, @aborruso! =)

[2020-05-08 06:17] #547 closed, assigned to nobody

[2020-05-08 06:18] aborruso commented on #547
It works, thank you!!

@anjakefala  you took away my pleasure to close the issue :)

[2020-05-08 06:25] aborruso commented on #547
@anjakefala is there a way to set in the options the column join separator ? If yes what's the name of the option?

Thank you

[2020-05-08 14:34] frosencrantz commented on #547
@aborruso it looks like it written only as space with the `ch=' '`
https://github.com/saulpw/visidata/commit/44dc5ce51ca1a91ae2f7f5fc98c822bcc00f8ee2#diff-1f5a50f1a6c5a6bb7b3ae35017e52b63R166

You would need another code change.

[2020-05-08 15:40] aborruso commented on #547
@frosencrantz I'm not able to do it. I'm opening a feature request.

Thank you

[2020-05-08 15:45] aborruso opened #550 "[wishlist] concatenate columns, value separator option"
In VisiData it's possible to concatenate columns, using `&` in Columns Sheet.

The results values will be [separated by space](https://github.com/saulpw/visidata/commit/44dc5ce51ca1a91ae2f7f5fc98c822bcc00f8ee2#diff-1f5a50f1a6c5a6bb7b3ae35017e52b63R165). Then if your source columns contain already some space, it's impossible to have idea of the source distinction.

My request is to add a "value sep

[2020-05-08 15:48] aborruso commented on #547
I have added a feature request https://github.com/saulpw/visidata/issues/550

[2020-05-08 15:52] pigreco commented on #550
Just in these days I am using `&` to concatenate columns, it would be really useful to be able to choose a separator other than space

[2020-05-09 16:38] geekscrapy opened #551 "[wishlist] Save session state exactly"
The idea is that vd can be quit and reopened with all settings, rows, sheets etc. as they were before closing.

This would have been useful a couple of times recently when I had to reboot or pass share analysis with a colleague. I ended up saving the interesting rows out as CSV, but I actually wanted to save the steps I took to get there as well.

Appreciate I could dump the command log, but that

[2020-05-09 21:22] saulpw commented on #551
If the command log doesn't work for you for this purpose, then in truth it would be easier to make a utility that saved the entire state of any process and allowed it to be restored.  Which would be pretty cool, but outside the scope of VisiData.

Removing the wishlist tag because this doesn't seem very feasible for VisiData feature with its current architecture.

[2020-05-09 21:22] #551 closed, assigned to nobody

[2020-05-09 21:28] anjakefala commented on #532
Change is now in develop!

[2020-05-09 21:28] #532 closed, assigned to nobody

[2020-05-09 21:32] saulpw commented on #550
This is no problem to implement.  There are still a few design points to consider though:

1) What should the option be called?

2) Should this option (or a different option) be used for joining sheet names also?  Both for JoinSheets and for diving into subsheets.

These may be different cases but I don't like having 3 or more different options.  By default, column names and joined sheet names are

[2020-05-10 09:46] aborruso commented on #244
How to create an histogram for numeric columns? I do not find it in https://www.visidata.org/v2.x/

Thank you

[2020-05-10 13:42] frosencrantz commented on #244
Hi @aborruso,  it is on the website (5th item for new features for v2.-1): \
If you set the option `numeric_binning` to `True`, Freqency and Pivot tables with numeric columns will bin the values into ranges.

[2020-05-10 13:46] aborruso commented on #244
Ok, @frosencrantz I didn't understand the goal.

I thought that starting from a numeric column there was a command to generate a new histogram column, without it being necessary to use  Freqency and Pivot tables, but starting from any table. But is not so.

Thank you

[2020-05-10 16:42] aborruso commented on #244
@frosencrantz is there any example use case? Because I don't seem to be able to use it or understand how it works

I'm trying to apply it in the below CSV input file, but I'm not able to create something similar the output example.

Thank you

Input example

[code]

Output example

[code]

[2020-05-10 17:14] anjakefala commented on #244
1. Make sure `n` is typed as `int`.
2. Make sure that you are on the most recent `develop` branch. =)

[2020-05-10 17:27] aborruso commented on #244
ok @anjakefala it works in another (great) way, it counts the items in bin. I have misinterpreted the subject of this issue.

My goal was to create bars proportional to a specific field. As the histogram column does in frequency table: it's a bars field, whose length are proportional to the percent column.

Instead it counts

[code]

[2020-05-11 03:30] saulpw commented on #551
Maybe I'm being too closed-minded here.  If someone can dream up a way to make it work, it would be a cool feature and we'd look into merging it in.

[2020-05-11 04:41] #550 closed, assigned to nobody

[2020-05-11 04:43] saulpw commented on #548
A HexSheet is a super cool idea, @geekscrapy!  I'd love to have this myself sometimes.  Ping me on #visidata and I can help with the design and whatnot.

[2020-05-11 04:43] #548 closed, assigned to nobody

[2020-05-11 06:03] aborruso commented on #550
As usual you are very kind.

Thank you very much

[2020-05-11 06:40] saulpw commented on #531
This is probably the right move.  If anyone wants to make it happen, we'll take a PR, but I probably won't put time into it myself before 2.0.

[2020-05-11 06:40] #531 closed, assigned to nobody

[2020-05-11 06:46] pigreco commented on #550
wow, thank you very much!

[2020-05-11 08:28] aborruso commented on #550
@saulpw I have set `value_joiner="|"` in `.visidatarc` file, but when I do columns join I have always the standard value_joiner value, a white space.

If I set it via options sheet, it works.

I'm using saul.pw/VisiData v2.-4dev

[2020-05-11 08:34] aborruso opened #553 "[develop] gO does not open the .visidatarc file"
**Small description**

In vd [it's possible](https://github.com/saulpw/visidata/releases/tag/v1.5.1) to open `.visidatarc` file via `gO`. If I use it in `saul.pw/VisiData v2.-4dev` I have "no command for gO".

**Expected result**

To open the `.visidatarc` file

**Actual result with screenshot**

![image](https://user-images.githubusercontent.com/30607/81541100-e671e480-9372-11ea-84e9-ef188c47d021

[2020-05-11 09:42] shadiakiki1986 opened #554 "should not allow quit while save is in progress"
**Small description**
Sometimes I would be saving a file, and then I press q to quit, but don't notice that the file saving is still in progress, so the csv file ends up being truncated.

**Expected result**
Do not allow quit until done

**Steps to reproduce with sample data and a .vd**
Open a large csv, save, press q while it is saving

**Additional context**
Please include the version of VisiDat

[2020-05-11 15:01] anjakefala commented on #554
Thanks for the report @shadiakiki1986!

This is already in the `develop` branch. =) We added it in before closing that issue. The fix is linked within the issue.

 It does require a code change, so this will be part of VisiData 2.0, once it is released. You are of course welcome to install the `develop` branch, or apply the code change to your local version.

[2020-05-11 15:01] #554 closed, assigned to nobody

[2020-05-11 17:58] anjakefala commented on #550
Did you do `options.value_joiner="|"` @aborruso?

[2020-05-11 18:14] aborruso commented on #550
No, I'm stupid I wrote only `value_joiner="|"`

Thank you @anjakefala, it works

[2020-05-12 05:36] saulpw commented on #527
Sorry for taking awhile on this one, it slipped through the cracks.  Thanks for reporting it!

[2020-05-12 06:33] anjakefala commented on #553
Nice catch @aborruso! =) @saulpw has fixed this on the latest `develop`.

[2020-05-12 06:33] #553 closed, assigned to nobody

[2020-05-12 06:37] aborruso commented on #553
Thank you very much @saulpw and @anjakefala

[2020-05-14 04:41] ajkerrigan opened #556 "Timing issue (?) replaying select-col-regex followed by delete-selected"
**Small description**
When replaying a cmdlog that does a selection followed by a bulk delete, the delete intermittently begins before the selection is finished.

**Expected result**
A bulk delete (`delete-selected`, `gD`) should not disrupt an in-progress selection thread.

**Actual result with screenshot**
Intermittent index errors and inconsistent deletion results, with a traceback like:

[code

[2020-05-16 02:21] frosencrantz opened #557 "[bug] load_pyobj() missing 1 required positional argument: 'obj" `"
**Small description**
Getting stack trace with latest version from develop branch:
[code]
**Expected result**
No trace.

*Steps to reproduce with sample data and a .vd**
Attempt to dive-row into a row of csv data.

**Additional context**
Latest version of Visidata b9ff312

[2020-05-16 17:16] frosencrantz opened #558 "[question] How do you debug visidata?"
One does not simply debug visidata using pdb or print commands.   How do you debug visidata?flag
It's possible to see stack traces.

[2020-05-16 17:22] frosencrantz opened #559 "[wishlist] Commands for scroll-to-top, bottom, left right"
There is currently a zz command to scroll the current row to the middle of the window.
Vim has the 'z-Enter' and 'z-' commands which will scroll the current line to the top or bottom of the window.

This feature request is to add similar commands to scroll the current cell to the top, bottom, right and left of the screen without changing the cell the cursor is pointing to.

[2020-05-16 17:26] frosencrantz opened #560 "[wishlist] Expand -P to cover all longnames"
It seems like the vd -P command flag is close to what I want.  But it didn't work when running a command from a plugin.

Kondo as quietly as wanted.

[2020-05-16 19:28] anjakefala commented on #560
I am a bit confused!

The feature exists on `develop`, the case you wanted just did not seem to work.

That seems more like a bug report?

I think what is happening here is that some subset of commands are not being loaded before `-P` is running.

[2020-05-16 19:52] saulpw commented on #559
`scroll-leftmost` and `scroll-rightmost` are already available, but unbound.  Feel free to bind them as you like. `scroll-top` and `scroll-bottom` are trivial and can be derived from `scroll-middle`:

        Sheet.addCommand(None, 'scroll-top', 'sheet.topRowIndex = cursorRowIndex', 'scroll current row to top of screen')
        Sheet.addCommand(None, 'scroll-bottom', 'sheet.topRowIndex = cursorRo

[2020-05-16 19:52] #559 closed, assigned to nobody

[2020-05-16 20:57] saulpw commented on #558
I use `Ctrl+E` to view errors that appear on the status line, and `z Ctrl+E` to view errors that appear in cells (noted with `!` or `?` in the cell).  If I've introduced an error so egregious that it prevents even the error from being displayed, `Ctrl+Q` will quit and dump the last error to the console.

In addition, `Ctrl+Y` will open the current row as a Python object, and `g Ctrl+Y` opens the c

[2020-05-16 22:04] frosencrantz commented on #560
This is what I'm seeing for a command added in a plugin loaded from the .visidatarc file, I run:

`vd -P longcommand data.json`

Visidata reports: `no binding for longcommand`

The command is defined as: `Sheet.addCommand('', 'longcommand', 'vd....', 'help...')`

There is no stack trace from ^E

I'm using the latest version from the `develop`.

[2020-05-16 22:06] anjakefala commented on #560
Yah! That sounds like a bug. Nice catch. I will re-label this when I am done gaming for the day. :angel:

[2020-05-16 22:08] frosencrantz commented on #558
Do you ever drop into a debugger like pdb?

[2020-05-16 22:33] saulpw commented on #558
Not in VisiData, no.  It sounds nice to be able to use pdb or another similar debugger, but I haven't put the time into integrating it.  I think vd itself could be a wonderful debugger interface, both for Python pdb and for e.g. gdb with other languages.  Maybe someday.

[2020-05-16 23:40] #558 closed, assigned to nobody

[2020-05-17 05:13] geekscrapy opened #561 "[wishlist] center scrolling"
I work with datasets that are usually ordered by date and the importance of that data is influenced by other rows surrounding it. For example, http log data, do you see a login followed by a /admin/ request?

Currently, when paging through the data I have to use zz to align the current row to the middle so I can see rows surrounding it (which are as important as the row itself). This also occurs w

[2020-05-17 07:14] anjakefala commented on #557
Definitely a bug. Thanks. =)

Should be fixed on `develop` now.

[2020-05-17 17:44] frosencrantz opened #562 "[bug] vd without args stack traces"
**Small description**
Running vd crashes

**Expected result**
The main menu of sheets.

**Actual result with screenshot**
If you get an unexpected error, please include the full stack trace that you get with `Ctrl-E`.
[code]

**Steps to reproduce with sample data and a .vd**
Run: vd

**Additional context**
Please include the version of VisiData. latest version from develop

[2020-05-17 17:44] frosencrantz commented on #557
Seeing a related stack trace when diving into a json file row.

[code]

[2020-05-17 17:46] anjakefala commented on #557
Why don't you open a small PR where you add these in?

[2020-05-17 17:55] anjakefala commented on #562
Nice catch!

Thanks for the bug report. =)

[2020-05-17 18:09] anjakefala commented on #562
That should be fixed on develop now.

[2020-05-17 18:09] #562 closed, assigned to nobody

[2020-05-17 18:16] frosencrantz commented on #561
Saul's response in #559 contains a good part of what you would need to change.  Up&down bindings that change both sheet.topRowIndex and sheet.cursorRowIndex  until you are half a screen from the top or bottom of the file.  And nScreenRows would tell you the row count of the screen.

[2020-05-18 04:15] anjakefala commented on #556
Thanks for the wonderful bug report @ajkerrigan! I loved the sample data and .vd.

I think that replay mode, outside of batch, did not complete a task before starting the next one.

Replay mode should block similarly to batch, per @saulpw,  so I am going to look into making that change, and see how we feel about it.

[2020-05-18 04:58] anjakefala commented on #556
I have more information!

Replay *does* block (runs one command directly after another) the actual cmdlog execution. The main difference between it + batch mode, is that replay mode has a draw cycle that runs asynchronously along with the cmdlog replay.

This stacktrace references `status()`, which makes me think that something went wrong when it was trying to display the `progress()` meter, and p

[2020-05-18 05:18] anjakefala commented on #557
Nvm =)

[2020-05-18 05:18] #557 closed, assigned to nobody

[2020-05-18 05:24] anjakefala commented on #560
Okay! Some debugging info.

I found the catch. `globalCommands()` exist when vd tries to execute the `-P` longname. Sheet bound commands are not available at that point.

[2020-05-18 05:27] geekscrapy commented on #561
is topRowIndex the row that is at the top of the screen?
I'll look at creating a plugin for this, I always find its good to have an alternative way to scroll through data

[2020-05-18 05:27] #561 closed, assigned to nobody

[2020-05-19 06:15] ajkerrigan commented on #556
Thanks for digging into this @anjakefala! It does seem like a tricky one, but reproducible helps 😁.

I'm going to want to come back and dig into this again, but it's not at the top of my list so I don't expect it to be at the top of yours either!

[2020-05-20 16:20] jtf621 opened #564 "defermods plugin SHA256 does not match"
When I try to activate the defermods plugin I get the error message `defermods plugin SHA256 does not match!`

Screenshot:
![image](https://user-images.githubusercontent.com/2312781/82470941-ff297b00-9a93-11ea-9aaf-b8c4baa3205f.png)

`vd --version` output:  saul.pw/VisiData v2.-3 version

I checked out the develop branch and the same error occurs.

I am really looking forward to the ability to edi

[2020-05-20 17:52] anjakefala commented on #564
@jtf621 I need to clean up those shas. For now, I have excellent news. =) I integrated defermods into VisiData, so you should be able to edit sqlite on `develop`.

Type `z Ctrl+S` to commit your changes to the source sqlite file. Let me know how it works out for you!

[2020-05-20 17:52] #564 closed, assigned to nobody

[2020-05-20 19:23] jtf621 commented on #564
@anjakefala Thanks for the quick response.  Using the `develop` branch, I can get visidata to save a sqlite file, but editing simple files leads to a bunch of different issues.  Is there a part of the docs or code I can look at to better understand what is possible and that I am using vd correctly for editing sqlite files?  If I still have issues should I open a new issue?

Thank you for visidata,

[2020-05-20 19:30] anjakefala commented on #564
@jtf621 Ah sorry, this is a very new feature, and there are no docs at the moment.

You can take a look at this commit https://github.com/saulpw/visidata/commit/4b5c4401df510c1d3414dfc555edb40dadecf0cd along with the `putChanges()` method in `visidata/loaders/sqlite.py`. We should support adding a row, deleting a row, and editing a cell in pre-existing tables.

You are very welcome to open issues,

[2020-05-20 19:39] geekscrapy commented on #523
Are you able to change the format once the format is already loaded? I use the zip loader a lot but I don't always know what file type in it until I open it. Could be a log file, could be a binary file, it would be nice to be able to change the loader for the particular sheet! I guess that would solve this issue too?

[2020-05-20 19:41] geekscrapy opened #565 "[loader] text loader to support utf8 decoding"
Is there scope/need for adding an option to toggle between text decoding? It'd be great if it did it automatically, but I think the user should be told that it's happening

[2020-05-20 19:44] saulpw commented on #565
You can set the `encoding` option to change the decoding method.  By default it is utf-8 and that should be used for any loader that supports variable encodings.

[2020-05-21 14:20] geekscrapy opened #567 "[2.4-dev] no user feedback or async for search-col, searchr-cols, search-expr etc."
I've noticed, there is no user feedback given in the form of % searched for either forwards or backwards regex searches. These two also freeze the user interface when used on large files

I have noticed, they also don't react to ^C (cancel / bail out)

Longnames of the commands I believe are affected:

- search-col
- search-cols
- search-expr
- searchr-col
- searchr-cols
- searchr-expr

[2020-05-21 14:22] geekscrapy opened #568 "[2.4-dev] When scrolling with mouse, if the top of the sheet is hit, vd freezes for a few seconds"
I've noticed that if I scroll down a little, then scroll up with the mouse, if the selected row hits the top of the sheet (row 1) vd will freeze for a few seconds, then come back to normal.

[2020-05-22 16:58] jtf621 opened #569 "Sqlite editing - delete row - NameError on commit-sheet"
When I delete a row in a sqlite file and try to save `z ^S` to commit-sheet, I get a `NameError: free variable 'row' referenced before assignment in enclosing scope`.  Appending a row or updating a row works as expected.

I am testing the current HEAD of the develop branch (d21918247df128027f1fa661ed43f4177bb037ca).  See #564 for background.

![image](https://user-images.githubusercontent.com/2312

[2020-05-22 17:04] anjakefala commented on #569
Interesting! I wonder how that got missed. Should be fixed now. =)

Thanks for the bug report!

[2020-05-22 17:04] #569 closed, assigned to nobody

[2020-05-22 17:11] jtf621 commented on #569
@anjakefala, it works now.  Thanks for the quick fix.  Visidata is awesome and I appreciate all the work you all have done to create it.

[2020-05-22 17:49] jtf621 opened #570 "[v2.-4] Sqlite InterfaceError when saving Nones"
When I open a sqlite file and try to save-all `g^S` as a new sqlite file, I get an `sqlite3.InterfaceError: Error binding parameter 3 - probably unsupported type.`

I am testing the current HEAD of the develop branch (f5513187098ad1068ee5096f2d77d0024cc4d2db).

**Expected result**
An unchanged copy of the original file saved with the new name.

**Actual result with screenshot**

![image](https://u

[2020-05-23 05:51] anjakefala commented on #500
This has been done. C:

[2020-05-23 05:51] #500 closed, assigned to anjakefala

[2020-05-24 14:50] frosencrantz commented on #557
Thanks for the fixes for the last couple bug of reports!

Sorry not to be more helpful on the fixing side of things.  I don't know the code well enough.  I try to help by providing timely bug reports, and checking that things are working afterwards.  Hopefully you consider that helpful.

I looked at your first fix on this issue and didn't understand, and asked a question.  Thanks for the feedback.